@{
    ViewBag.Title = "게시판";
    Layout = "~/Views/Shared/Layouts/_Layout2Flex.cshtml";
}

@section Styles {
    <!-- Page -->
    @Styles.Render("~/bundle/vendor/css/pages/messages")
    @Styles.Render("~/bundle/vendor/css/jstree/themes/default/style")
    @Styles.Render("~/bundle/vendor/css/perfect-scrollbar/perfect-scrollbar")

}

@section Scripts {
    @Scripts.Render("~/bundle/js/pages_messages")
    @Scripts.Render("~/bundle/vendor/js/sidenav")
    @Scripts.Render("~/bundle/js/ui_sidenav")
    @Scripts.Render("~/bundle/vendor/js/bootbox/bootbox")

    @Scripts.Render("~/bundle/js/ui_modals")
    @Scripts.Render("~/bundle/vendor/js/jstree/jstree")

    @Scripts.Render("~/bundle/js/ui_treeview")
    @Scripts.Render("~/bundle/vendor/js/perfect-scrollbar/perfect-scrollbar")

    @Scripts.Render("~/bundle/js/misc_perfect-scrollbar")
}


<style>
    .waves-effect {
        position: relative;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        vertical-align: middle;
        z-index: 1;
        will-change: opacity, transform;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

        .waves-effect .waves-ripple {
            position: absolute;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            margin-top: -10px;
            margin-left: -10px;
            opacity: 0;
            background: rgba(0, 0, 0, 0.2);
            -webkit-transition: all 0.7s ease-out;
            -moz-transition: all 0.7s ease-out;
            -o-transition: all 0.7s ease-out;
            -ms-transition: all 0.7s ease-out;
            transition: all 0.7s ease-out;
            -webkit-transition-property: -webkit-transform, opacity;
            -moz-transition-property: -moz-transform, opacity;
            -o-transition-property: -o-transform, opacity;
            transition-property: transform, opacity;
            -webkit-transform: scale(0);
            -moz-transform: scale(0);
            -ms-transform: scale(0);
            -o-transform: scale(0);
            transform: scale(0);
            pointer-events: none;
        }

        .waves-effect.waves-light .waves-ripple {
            background-color: rgba(255, 255, 255, 0.45);
        }

        .waves-effect.waves-red .waves-ripple {
            background-color: rgba(244, 67, 54, 0.7);
        }

        .waves-effect.waves-yellow .waves-ripple {
            background-color: rgba(255, 235, 59, 0.7);
        }

        .waves-effect.waves-orange .waves-ripple {
            background-color: rgba(255, 152, 0, 0.7);
        }

        .waves-effect.waves-purple .waves-ripple {
            background-color: rgba(156, 39, 176, 0.7);
        }

        .waves-effect.waves-green .waves-ripple {
            background-color: rgba(76, 175, 80, 0.7);
        }

        .waves-effect.waves-teal .waves-ripple {
            background-color: rgba(0, 150, 136, 0.7);
        }

    /* Firefox Bug: link not triggered */
    a.waves-effect .waves-ripple {
        z-index: -1;
    }
</style>

<script>

    ; (function (window) {
        'use strict';

        var Waves = Waves || {};
        var $$ = document.querySelectorAll.bind(document);

        // Find exact position of element
        function isWindow(obj) {
            return obj !== null && obj === obj.window;
        }

        function getWindow(elem) {
            return isWindow(elem) ? elem : elem.nodeType === 9 && elem.defaultView;
        }

        function offset(elem) {
            var docElem, win,
                box = { top: 0, left: 0 },
                doc = elem && elem.ownerDocument;

            docElem = doc.documentElement;

            if (typeof elem.getBoundingClientRect !== typeof undefined) {
                box = elem.getBoundingClientRect();
            }
            win = getWindow(doc);
            return {
                top: box.top + win.pageYOffset - docElem.clientTop,
                left: box.left + win.pageXOffset - docElem.clientLeft
            };
        }

        function convertStyle(obj) {
            var style = '';

            for (var a in obj) {
                if (obj.hasOwnProperty(a)) {
                    style += (a + ':' + obj[a] + ';');
                }
            }

            return style;
        }

        var Effect = {

            // Effect delay
            duration: 750,

            show: function (e, element) {

                // Disable right click
                if (e.button === 2) {
                    return false;
                }

                var el = element || this;

                // Create ripple
                var ripple = document.createElement('div');
                ripple.className = 'waves-ripple';
                el.appendChild(ripple);

                // Get click coordinate and element witdh
                var pos = offset(el);
                var relativeY = (e.pageY - pos.top);
                var relativeX = (e.pageX - pos.left);
                var scale = 'scale(' + ((el.clientWidth / 100) * 10) + ')';

                // Support for touch devices
                if ('touches' in e) {
                    relativeY = (e.touches[0].pageY - pos.top);
                    relativeX = (e.touches[0].pageX - pos.left);
                }

                // Attach data to element
                ripple.setAttribute('data-hold', Date.now());
                ripple.setAttribute('data-scale', scale);
                ripple.setAttribute('data-x', relativeX);
                ripple.setAttribute('data-y', relativeY);

                // Set ripple position
                var rippleStyle = {
                    'top': relativeY + 'px',
                    'left': relativeX + 'px'
                };

                ripple.className = ripple.className + ' waves-notransition';
                ripple.setAttribute('style', convertStyle(rippleStyle));
                ripple.className = ripple.className.replace('waves-notransition', '');

                // Scale the ripple
                rippleStyle['-webkit-transform'] = scale;
                rippleStyle['-moz-transform'] = scale;
                rippleStyle['-ms-transform'] = scale;
                rippleStyle['-o-transform'] = scale;
                rippleStyle.transform = scale;
                rippleStyle.opacity = '1';

                rippleStyle['-webkit-transition-duration'] = Effect.duration + 'ms';
                rippleStyle['-moz-transition-duration'] = Effect.duration + 'ms';
                rippleStyle['-o-transition-duration'] = Effect.duration + 'ms';
                rippleStyle['transition-duration'] = Effect.duration + 'ms';

                rippleStyle['-webkit-transition-timing-function'] = 'cubic-bezier(0.250, 0.460, 0.450, 0.940)';
                rippleStyle['-moz-transition-timing-function'] = 'cubic-bezier(0.250, 0.460, 0.450, 0.940)';
                rippleStyle['-o-transition-timing-function'] = 'cubic-bezier(0.250, 0.460, 0.450, 0.940)';
                rippleStyle['transition-timing-function'] = 'cubic-bezier(0.250, 0.460, 0.450, 0.940)';

                ripple.setAttribute('style', convertStyle(rippleStyle));
            },

            hide: function (e) {
                TouchHandler.touchup(e);

                var el = this;
                var width = el.clientWidth * 1.4;

                // Get first ripple
                var ripple = null;
                var ripples = el.getElementsByClassName('waves-ripple');
                if (ripples.length > 0) {
                    ripple = ripples[ripples.length - 1];
                } else {
                    return false;
                }

                var relativeX = ripple.getAttribute('data-x');
                var relativeY = ripple.getAttribute('data-y');
                var scale = ripple.getAttribute('data-scale');

                // Get delay beetween mousedown and mouse leave
                var diff = Date.now() - Number(ripple.getAttribute('data-hold'));
                var delay = 350 - diff;

                if (delay < 0) {
                    delay = 0;
                }

                // Fade out ripple after delay
                setTimeout(function () {
                    var style = {
                        'top': relativeY + 'px',
                        'left': relativeX + 'px',
                        'opacity': '0',

                        // Duration
                        '-webkit-transition-duration': Effect.duration + 'ms',
                        '-moz-transition-duration': Effect.duration + 'ms',
                        '-o-transition-duration': Effect.duration + 'ms',
                        'transition-duration': Effect.duration + 'ms',
                        '-webkit-transform': scale,
                        '-moz-transform': scale,
                        '-ms-transform': scale,
                        '-o-transform': scale,
                        'transform': scale,
                    };

                    ripple.setAttribute('style', convertStyle(style));

                    setTimeout(function () {
                        try {
                            el.removeChild(ripple);
                        } catch (e) {
                            return false;
                        }
                    }, Effect.duration);
                }, delay);
            },

            // Little hack to make <input> can perform waves effect
            wrapInput: function (elements) {
                for (var a = 0; a < elements.length; a++) {
                    var el = elements[a];

                    if (el.tagName.toLowerCase() === 'input') {
                        var parent = el.parentNode;

                        // If input already have parent just pass through
                        if (parent.tagName.toLowerCase() === 'i' && parent.className.indexOf('waves-effect') !== -1) {
                            continue;
                        }

                        // Put element class and style to the specified parent
                        var wrapper = document.createElement('i');
                        wrapper.className = el.className + ' waves-input-wrapper';

                        var elementStyle = el.getAttribute('style');

                        if (!elementStyle) {
                            elementStyle = '';
                        }

                        wrapper.setAttribute('style', elementStyle);

                        el.className = 'waves-button-input';
                        el.removeAttribute('style');

                        // Put element as child
                        parent.replaceChild(wrapper, el);
                        wrapper.appendChild(el);
                    }
                }
            }
        };


        /**
         * Disable mousedown event for 500ms during and after touch
         */
        var TouchHandler = {
            /* uses an integer rather than bool so there's no issues with
             * needing to clear timeouts if another touch event occurred
             * within the 500ms. Cannot mouseup between touchstart and
             * touchend, nor in the 500ms after touchend. */
            touches: 0,
            allowEvent: function (e) {
                var allow = true;

                if (e.type === 'touchstart') {
                    TouchHandler.touches += 1; //push
                } else if (e.type === 'touchend' || e.type === 'touchcancel') {
                    setTimeout(function () {
                        if (TouchHandler.touches > 0) {
                            TouchHandler.touches -= 1; //pop after 500ms
                        }
                    }, 500);
                } else if (e.type === 'mousedown' && TouchHandler.touches > 0) {
                    allow = false;
                }

                return allow;
            },
            touchup: function (e) {
                TouchHandler.allowEvent(e);
            }
        };


        /**
         * Delegated click handler for .waves-effect element.
         * returns null when .waves-effect element not in "click tree"
         */
        function getWavesEffectElement(e) {
            if (TouchHandler.allowEvent(e) === false) {
                return null;
            }

            var element = null;
            var target = e.target || e.srcElement;

            while (target.parentElement !== null) {
                if (!(target instanceof SVGElement) && target.className.indexOf('waves-effect') !== -1) {
                    element = target;
                    break;
                } else if (target.classList.contains('waves-effect')) {
                    element = target;
                    break;
                }
                target = target.parentElement;
            }

            return element;
        }

        /**
         * Bubble the click and show effect if .waves-effect elem was found
         */
        function showEffect(e) {
            var element = getWavesEffectElement(e);

            if (element !== null) {
                Effect.show(e, element);

                if ('ontouchstart' in window) {
                    element.addEventListener('touchend', Effect.hide, false);
                    element.addEventListener('touchcancel', Effect.hide, false);
                }

                element.addEventListener('mouseup', Effect.hide, false);
                element.addEventListener('mouseleave', Effect.hide, false);
            }
        }

        Waves.displayEffect = function (options) {
            options = options || {};

            if ('duration' in options) {
                Effect.duration = options.duration;
            }

            //Wrap input inside <i> tag
            Effect.wrapInput($$('.waves-effect'));

            if ('ontouchstart' in window) {
                document.body.addEventListener('touchstart', showEffect, false);
            }

            document.body.addEventListener('mousedown', showEffect, false);
        };

        /**
         * Attach Waves to an input element (or any element which doesn't
         * bubble mouseup/mousedown events).
         *   Intended to be used with dynamically loaded forms/inputs, or
         * where the user doesn't want a delegated click handler.
         */
        Waves.attach = function (element) {
            //FUTURE: automatically add waves classes and allow users
            // to specify them with an options param? Eg. light/classic/button
            if (element.tagName.toLowerCase() === 'input') {
                Effect.wrapInput([element]);
                element = element.parentElement;
            }

            if ('ontouchstart' in window) {
                element.addEventListener('touchstart', showEffect, false);
            }

            element.addEventListener('mousedown', showEffect, false);
        };

        window.Waves = Waves;

        document.addEventListener('DOMContentLoaded', function () {
            Waves.displayEffect();
        }, false);

    })(window);

</script>


<!DOCTYPE html>

<!-- `.messages-wrapper` fills all available space of container -->
<div class="messages-wrapper">

    <!-- Messages sidebox -->
    <div class="messages-sidebox messages-scroll bg-body border-right">

        <div class="pt-3 pb-0 px-4">
            <div class="media align-items-center">
                <div class="media-body">
                    <button type="button" class="btn btn-teal rounded-pill btn-block waves-effect waves-light" data-toggle="modal" data-target="#app-modal-1">양식작성</button>

                    <!--modal approval-->
                    <div id="app-modal-1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="app-modalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="app-modalLabel">양식선택</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-xl-3 col-lg-3 mb-2">
                                            <div class="input-group">
                                                <input type="text" class="form-control form-control-sm" placeholder="검색">
                                                <span class="input-group-append">
                                                    <button class="btn btn-sm btn-secondary" type="button"><i class="fas fa-search"></i></button>
                                                </span>
                                            </div>

                                            <div id="jstree-example-1" class="border bg-transparent" style="margin-top:20px;min-height:200px;padding:20px;">
                                                <ul>
                                                    <li>
                                                        css
                                                        <ul>
                                                            <li data-jstree="{&quot;icon&quot; : &quot;jstree-file&quot;}">app.css</li>
                                                            <li data-jstree="{&quot;icon&quot; : &quot;jstree-file&quot;}">style.css</li>
                                                        </ul>
                                                    </li>
                                                    <li class="jstree-open">
                                                        img
                                                        <ul>
                                                            <li data-jstree="{&quot;icon&quot; : &quot;jstree-file&quot;}">bg.jpg</li>
                                                            <li data-jstree="{&quot;icon&quot; : &quot;jstree-file&quot;}">logo.png</li>
                                                            <li data-jstree="{&quot;icon&quot; : &quot;jstree-file&quot;}">avatar.png</li>
                                                        </ul>
                                                    </li>
                                                    <li class="jstree-open">
                                                        js
                                                        <ul>
                                                            <li data-jstree="{&quot;icon&quot; : &quot;jstree-file&quot;}">jquery.js</li>
                                                            <li data-jstree="{&quot;icon&quot; : &quot;jstree-file&quot;}">app.js</li>
                                                        </ul>
                                                    </li>
                                                    <li class="text-primary" data-jstree="{&quot;icon&quot; : &quot;jstree-file&quot;}"> index.html</li>
                                                    <li class="text-primary" data-jstree="{&quot;icon&quot; : &quot;jstree-file&quot;}"> page-one.html</li>
                                                    <li data-jstree="{&quot;icon&quot; : &quot;jstree-file&quot;}"> page-two.html</li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="col-xl-5 col-lg-5">
                                            <div class="card mb-2">
                                                <div class="card-header py-1">
                                                    공통양식
                                                </div>
                                                <div class="card-body py-2 px-1" style="overflow: auto; height: 500px;" data-simplebar>
                                                    <ul class="list-group mx-2">

                                                        <li class="list-group-item list-group-item-action row d-flex py-2 border-0">
                                                            <i class="far fa-file-alt text-info" style="vertical-align: text-top;">
                                                                <span class="ml-1 text-dark" style="font-family:'Noto Sans CJK KR',sans-serif;">개선제안서</span>
                                                            </i>

                                                        </li>
                                                        <li class="list-group-item list-group-item-action row d-flex py-2 border-0">
                                                            <i class="far fa-file-alt text-info" style="vertical-align: text-top;">
                                                                <span class="ml-1 text-dark" style="font-family:'Noto Sans CJK KR',sans-serif;">거래처정보등록신청서</span>
                                                            </i>
                                                        </li>
                                                        <li class="list-group-item list-group-item-action row d-flex py-2 border-0">
                                                            <i class="far fa-file-alt text-info" style="vertical-align: text-top;">
                                                                <span class="ml-1 text-dark" style="font-family:'Noto Sans CJK KR',sans-serif;">전산시스템계정삭제요청서(DELETE)</span>
                                                            </i>

                                                        </li>
                                                        <li class="list-group-item list-group-item-action row d-flex py-2 border-0">
                                                            <i class="far fa-file-alt text-info" style="vertical-align: text-top;">
                                                                <span class="ml-1 text-dark" style="font-family:'Noto Sans CJK KR',sans-serif;">거래처정보변경신청서</span>
                                                            </i>
                                                        </li>
                                                        <li class="list-group-item list-group-item-action row d-flex py-2 border-0">
                                                            <i class="far fa-file-alt text-info" style="vertical-align: text-top;">
                                                                <span class="ml-1 text-dark" style="font-family:'Noto Sans CJK KR',sans-serif;">개선제안서</span>
                                                            </i>

                                                        </li>
                                                        <li class="list-group-item list-group-item-action row d-flex py-2 border-0">
                                                            <i class="far fa-file-alt text-info" style="vertical-align: text-top;">
                                                                <span class="ml-1 text-dark" style="font-family:'Noto Sans CJK KR',sans-serif;">거래처정보등록신청서</span>
                                                            </i>
                                                        </li>
                                                        <li class="list-group-item list-group-item-action row d-flex py-2 border-0">
                                                            <i class="far fa-file-alt text-info" style="vertical-align: text-top;">
                                                                <span class="ml-1 text-dark" style="font-family:'Noto Sans CJK KR',sans-serif;">전산시스템계정삭제요청서(DELETE)</span>
                                                            </i>

                                                        </li>
                                                        <li class="list-group-item list-group-item-action row d-flex py-2 border-0">
                                                            <i class="far fa-file-alt text-info" style="vertical-align: text-top;">
                                                                <span class="ml-1 text-dark" style="font-family:'Noto Sans CJK KR',sans-serif;">거래처정보변경신청서</span>
                                                            </i>
                                                        </li>
                                                        <li class="list-group-item list-group-item-action row d-flex py-2 border-0">
                                                            <i class="far fa-file-alt text-info" style="vertical-align: text-top;">
                                                                <span class="ml-1 text-dark" style="font-family:'Noto Sans CJK KR',sans-serif;">개선제안서</span>
                                                            </i>

                                                        </li>
                                                        <li class="list-group-item list-group-item-action row d-flex py-2 border-0">
                                                            <i class="far fa-file-alt text-info" style="vertical-align: text-top;">
                                                                <span class="ml-1 text-dark" style="font-family:'Noto Sans CJK KR',sans-serif;">거래처정보등록신청서</span>
                                                            </i>
                                                        </li>
                                                        <li class="list-group-item list-group-item-action row d-flex py-2 border-0">
                                                            <i class="far fa-file-alt text-info" style="vertical-align: text-top;">
                                                                <span class="ml-1 text-dark" style="font-family:'Noto Sans CJK KR',sans-serif;">전산시스템계정삭제요청서(DELETE)</span>
                                                            </i>

                                                        </li>
                                                        <li class="list-group-item list-group-item-action row d-flex py-2 border-0">
                                                            <i class="far fa-file-alt text-info" style="vertical-align: text-top;">
                                                                <span class="ml-1 text-dark" style="font-family:'Noto Sans CJK KR',sans-serif;">거래처정보변경신청서</span>
                                                            </i>
                                                        </li>
                                                        <li class="list-group-item list-group-item-action row d-flex py-2 border-0">
                                                            <i class="far fa-file-alt text-info" style="vertical-align: text-top;">
                                                                <span class="ml-1 text-dark" style="font-family:'Noto Sans CJK KR',sans-serif;">개선제안서</span>
                                                            </i>

                                                        </li>
                                                        <li class="list-group-item list-group-item-action row d-flex py-2 border-0">
                                                            <i class="far fa-file-alt text-info" style="vertical-align: text-top;">
                                                                <span class="ml-1 text-dark" style="font-family:'Noto Sans CJK KR',sans-serif;">거래처정보등록신청서</span>
                                                            </i>
                                                        </li>
                                                        <li class="list-group-item list-group-item-action row d-flex py-2 border-0">
                                                            <i class="far fa-file-alt text-info" style="vertical-align: text-top;">
                                                                <span class="ml-1 text-dark" style="font-family:'Noto Sans CJK KR',sans-serif;">전산시스템계정삭제요청서(DELETE)</span>
                                                            </i>

                                                        </li>
                                                        <li class="list-group-item list-group-item-action row d-flex py-2 border-0">
                                                            <i class="far fa-file-alt text-info" style="vertical-align: text-top;">
                                                                <span class="ml-1 text-dark" style="font-family:'Noto Sans CJK KR',sans-serif;">거래처정보변경신청서</span>
                                                            </i>
                                                        </li>
                                                        <li class="list-group-item list-group-item-action row d-flex py-2 border-0">
                                                            <i class="far fa-file-alt text-info" style="vertical-align: text-top;">
                                                                <span class="ml-1 text-dark" style="font-family:'Noto Sans CJK KR',sans-serif;">개선제안서</span>
                                                            </i>

                                                        </li>
                                                        <li class="list-group-item list-group-item-action row d-flex py-2 border-0">
                                                            <i class="far fa-file-alt text-info" style="vertical-align: text-top;">
                                                                <span class="ml-1 text-dark" style="font-family:'Noto Sans CJK KR',sans-serif;">거래처정보등록신청서</span>
                                                            </i>
                                                        </li>
                                                        <li class="list-group-item list-group-item-action row d-flex py-2 border-0">
                                                            <i class="far fa-file-alt text-info" style="vertical-align: text-top;">
                                                                <span class="ml-1 text-dark" style="font-family:'Noto Sans CJK KR',sans-serif;">전산시스템계정삭제요청서(DELETE)</span>
                                                            </i>

                                                        </li>
                                                        <li class="list-group-item list-group-item-action row d-flex py-2 border-0">
                                                            <i class="far fa-file-alt text-info" style="vertical-align: text-top;">
                                                                <span class="ml-1 text-dark" style="font-family:'Noto Sans CJK KR',sans-serif;">거래처정보변경신청서</span>
                                                            </i>
                                                        </li>

                                                    </ul>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="col-xl-4 col-lg-4">
                                            <div class="card">
                                                <div class="card-header py-1">
                                                    서식정보
                                                </div>
                                                <div class="card-body py-2 px-1">

                                                    <form class="form-horizontal" role="form">
                                                        <div class="row">
                                                            <div class="col-md-4 col-form-label ml-2 pt-1">
                                                                양식명
                                                            </div>
                                                            <div class="col-md-7">
                                                                <input type="text" class="form-control form-control-sm">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4 col-form-label ml-2 pt-1">
                                                                버젼
                                                            </div>
                                                            <div class="col-md-7">
                                                                <input type="text" class="form-control form-control-sm">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4 col-form-label ml-2 pt-1">
                                                                담당부서
                                                            </div>
                                                            <div class="col-md-7">
                                                                <input type="text" class="form-control form-control-sm mb-1">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4 col-form-label ml-2 pt-1">
                                                                담당자
                                                            </div>
                                                            <div class="col-md-7">
                                                                <select multiple class="form-control form-control-sm mb-1">
                                                                    <option value="1">과장 이경아</option>
                                                                    <option value="2">대리 임지숙</option>
                                                                    <option value="3">대리 신건용</option>
                                                                    <option value="3">대리 신건용</option>
                                                                    <option value="3">대리 신건용</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4 col-form-label ml-2 pt-1">
                                                                설명
                                                            </div>
                                                            <div class="col-md-7">
                                                                <input type="text" class="form-control form-control-sm">
                                                            </div>
                                                        </div>
                                                    </form>


                                                </div>

                                            </div>
                                        </div>
                                    </div>




                                </div>
                                <div class="modal-footer align-items-center">
                                    <button type="button" class="btn btn-primary">확인</button>
                                    <button type="button" class="btn btn-light" data-dismiss="modal">닫기</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                </div>
                <a href="javascript:void(0)" class="messages-sidebox-toggler d-lg-none d-block text-muted text-large font-weight-light pl-4">&times;</a>

            </div>
            <div class="row mt-3">
                <div class="col-6 text-center">
                    <h6 class="font-weight-bold">개인결재선</h6>
                </div>
                <div class="col-6 text-center">
                    <h6 class="font-weight-bold">결재 현황</h6>
                </div>
            </div>
        </div>
        <hr class="border-light mx-4 mt-0 mb-0">







        <div id="sidenav-1" class="sidenav sidenav-vertical">
            <ul class="sidenav-inner py-3">

                <li class="sidenav-item">
                    <a href="javascript:void(0)" class="sidenav-link sidenav-toggle">
                        <div class="font-weight-bold text-teal">개인문서함</div>
                    </a>
                    <ul class="sidenav-menu">
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link font-weight-semibold" style="background: #f0f8ff;">
                                <div>예정함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>결재함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidenav-item">
                    <a href="javascript:void(0)" class="sidenav-link sidenav-toggle">
                        <div class="font-weight-bold">시스템문서함</div>
                    </a>
                    <ul class="sidenav-menu">
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>예정함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>결재함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="sidenav-item">
                    <a href="javascript:void(0)" class="sidenav-link sidenav-toggle">
                        <div class="font-weight-bold">추가문서함</div>
                    </a>
                    <ul class="sidenav-menu">
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>예정함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>결재함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>



        <hr class="border-light m-4">

        <!-- Labels -->
        <h6 class="text-tiny font-weight-bold px-4">LABELS</h6>
        <a href="javascript:void(0)" class="d-block text-muted py-1 px-4">
            <span class="badge badge-dot badge-success"></span> &nbsp; Clients
        </a>
        <a href="javascript:void(0)" class="d-block text-muted py-1 px-4">
            <span class="badge badge-dot badge-danger"></span> &nbsp; Important
        </a>
        <a href="javascript:void(0)" class="d-block text-muted py-1 px-4">
            <span class="badge badge-dot badge-info"></span> &nbsp; Social
        </a>
        <a href="javascript:void(0)" class="d-block text-muted py-1 px-4">
            <span class="badge badge-dot badge-warning"></span> &nbsp; Other
        </a>
        <!-- / Labels -->

    </div>
    <!-- / Messages sidebox -->
    <!-- Messages content wrapper -->
    <div class="d-flex flex-column w-100">

        <!-- Header -->
        <div class="flex-grow-0">

            <h4 class="media align-items-center font-weight-bold container-p-x py-3 m-0">
                <a href="javascript:void(0)" class="messages-sidebox-toggler d-lg-none d-block align-self-center text-muted px-3 mr-3"><i class="ion ion-md-more"></i></a>
                <div class="media-body">
                    <i class="ion ion-ios-filing"></i> &nbsp; 게시판
                </div>
                <input type="text" class="form-control form-control-sm" placeholder="Search..." style="max-width: 10rem;">
            </h4>
            <hr class="border-light m-0">

            <!-- Controls -->
            <div class="media flex-wrap align-items-center py-2 px-3 px-lg-4">
                <div class="media-body d-flex flex-wrap flex-basis-100 flex-basis-sm-auto">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default borderless text-teal md-btn-flat icon-btn messages-tooltip" title="Refresh"><span class="ion ion-md-refresh"></span></button>
                        <button type="button" class="btn btn-default borderless text-teal md-btn-flat icon-btn messages-tooltip" title="Mark as unread"><i class="ion ion-md-mail-unread"></i></button>
                        <button type="button" class="btn btn-default borderless text-teal md-btn-flat icon-btn messages-tooltip" title="Mark as important"><i class="ion ion-md-alert"></i></button>
                        <button type="button" class="btn btn-default borderless text-teal md-btn-flat icon-btn messages-tooltip" title="Move to spam"><i class="ion ion-md-folder-open"></i></button>
                        <button type="button" class="btn btn-default borderless text-teal md-btn-flat icon-btn messages-tooltip" title="Move to trash"><i class="ion ion-md-trash"></i></button>
                    </div>

                </div>

                <div class="text-muted mr-3 ml-auto">1-25 of 91</div>

                <div class="d-flex flex-wrap">
                    <button type="button" class="btn btn-default borderless md-btn-flat icon-btn text-muted"><i class="ion ion-ios-arrow-back"></i></button>
                    <button type="button" class="btn btn-default borderless md-btn-flat icon-btn text-muted"><i class="ion ion-ios-arrow-forward"></i></button>
                </div>
            </div>
            <hr class="border-light m-0">
            <!-- / Controls -->

        </div>
        <!-- / Header -->

        <div class="flex-grow-0 d-none d-md-block">

            <ul class="list-group">
                <li class="list-group-item list-group-item-action d-flex app-thead text-truncate" style="border:none; background-color:whitesmoke">
                    <div class="message-checkbox ml-2 mr-1">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-label"></span>
                        </label>
                    </div>
                   
                    <a href="javascript:void(0)" class="fe-paperclip d-block text-lighter" style="margin-top:3px"></a>

                    <div class="col order-md-1 wd-xl-6 wd-lg-8 wd-md-7 t-sm text-center">
                        <span class="flex-fill">순번</span>
                    </div>
                      

                    <div class="col order-md-4 wd-xl-9 wd-lg-7 wd-md-8 text-center">
                        <span class="flex-fill">작성자</span>
                    </div>
                                        

                    <div class="col order-md-last wd-xl-7 wd-lg-7 wd-md-7 text-center">조회수</div>

                    <div class="subject col order-md-3 wd-xl-60 wd-lg-58 wd-md-54 t-lg m-l-24 text-center">
                        <span>제목</span>
                    </div>

                    <div class="col order-md-5 wd-xl-13 wd-lg-14 wd-md-17 text-center">
                        <span class="flex-fill">작성일자</span>

                    </div>

                </li>


            </ul>
        </div>
        <!-- Wrap `.messages-scroll` to properly position scroll area. Remove this wrapper if you don't need scroll -->
        <div class="flex-grow-1 position-relative">

            <!-- Remove `.messages-scroll` and add `.flex-grow-1` if you don't need scroll -->
            <div class="messages-content messages-scroll">

                <ul class="list-group messages-list">
                    <li class="list-group-item list-group-item-action d-flex">
                        <div class="message-checkbox ml-2 mr-1">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-label"></span>
                            </label>
                        </div>

                        <a href="javascript:void(0)" class="fe-paperclip d-block text-blue"></a>

                        <div class="subject col order-md-3 order-sm-3 wd-xl-60 wd-lg-58 wd-md-54 wd-65">
                            <a href="" class="font-weight-bold text-blue t-lg">CT(HS) 2017년 11월 월재고조사결과보고</a><span class="ml-1 d-none d-sm-inline">[1]</span><i class="ml-1 mdi mdi-alpha-n-circle text-primary"></i>
                        </div>

                        <div class="col mt-1 text-center wd-18 d-xl-none d-lg-none d-md-none d-sm-none comment-inner t-sm">댓글 1</div>

                        <div class="col order-md-1 order-sm-1 wd-xl-6 wd-lg-8 wd-md-7 wd-20 t-sm docu m-l-18 d-none d-sm-block text-center">
                            <span class="flex-fill text-blue">123</span>
                        </div>


                        <div class="col order-md-4 order-sm-4 wd-xl-9 wd-lg-7 wd-md-8 wd-18 docu t-sm m-l-24">
                            <span class="flex-fill text-blue text-center d-none d-sm-block">이병록</span>
                            <span class="flex-fill text-blue d-xl-none d-lg-none d-md-none d-sm-none px-0">이병록</span>

                        </div>


                        <div class="col order-md-last order-sm-last wd-xl-7 wd-lg-7 wd-md-7 wd-22 t-sm text-blue">
                            <span class="d-xl-none d-lg-none d-md-none d-sm-none">조회 111</span>
                            <span class="text-center d-none d-sm-block">111</span>
                        </div>



                        <div class="col order-md-6 order-sm-6 wd-xl-13 wd-lg-14 wd-md-17 wd-32 t-sm docu">
                            <span class="d-xl-none d-lg-none d-md-none d-sm-none text-blue">21-01-15 16:45</span>
                            <span class="text-center d-none d-sm-block text-blue">21-01-15 16:45</span>

                        </div>

                    </li>
                    <li class="list-group-item list-group-item-action d-flex">
                        <div class="message-checkbox ml-2 mr-1">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-label"></span>
                            </label>
                        </div>

                        <a href="javascript:void(0)" class="fe-paperclip d-block"></a>

                        <div class="subject col order-md-3 order-sm-3 wd-xl-60 wd-lg-58 wd-md-54 wd-65">
                            <a href="" class="font-weight-bold t-lg">CT(HS) 2017년 11월 월재고조사결과보고</a><span class="ml-1 d-none d-sm-inline"></span><i class="ml-1 mdi mdi-alpha-n-circle text-primary"></i>
                        </div>

                        <div class="col mt-1 text-center wd-18 d-xl-none d-lg-none d-md-none d-sm-none t-sm"></div>

                        <div class="col order-md-1 order-sm-1 wd-xl-6 wd-lg-8 wd-md-7 wd-20 t-sm docu m-l-18 d-none d-sm-block text-center">
                            <span class="flex-fill">123</span>
                        </div>


                        <div class="col order-md-4 order-sm-4 wd-xl-9 wd-lg-7 wd-md-8 wd-18 docu t-sm m-l-24">
                            <span class="flex-fill text-center d-none d-sm-block">이병록</span>
                            <span class="flex-fill d-xl-none d-lg-none d-md-none d-sm-none px-0">이병록</span>

                        </div>


                        <div class="col order-md-last order-sm-last wd-xl-7 wd-lg-7 wd-md-7 wd-22 t-sm">
                            <span class="d-xl-none d-lg-none d-md-none d-sm-none">조회 111</span>
                            <span class="text-center d-none d-sm-block">111</span>
                        </div>



                        <div class="col order-md-6 order-sm-6 wd-xl-13 wd-lg-14 wd-md-17 wd-32 t-sm docu">
                            <span class="d-xl-none d-lg-none d-md-none d-sm-none">21-01-15 16:45</span>
                            <span class="text-center d-none d-sm-block">21-01-15 16:45</span>

                        </div>

                    </li>








                </ul>


            </div><!-- / .messages-content -->

        </div>

    </div>

</div><!-- / .messages-wrapper -->
