@{
    ViewBag.Title = "조직도";
    Layout = "~/Views/Shared/Layouts/_Layout2Flex.cshtml";
}
@section Styles {
    <!-- Page -->
    @Styles.Render("~/bundle/vendor/css/pages/messages")
    @Styles.Render("~/bundle/vendor/css/jstree/themes/default/style")
    @Styles.Render("~/bundle/vendor/css/perfect-scrollbar/perfect-scrollbar")
    @Styles.Render("~/bundle/vendor/css/pages/contacts")
}

@section Scripts {
    @Scripts.Render("~/bundle/js/pages_messages")
    @Scripts.Render("~/bundle/vendor/js/sidenav")
    @Scripts.Render("~/bundle/js/ui_sidenav")
    @Scripts.Render("~/bundle/vendor/js/bootbox/bootbox")

    @Scripts.Render("~/bundle/js/ui_modals")
    @Scripts.Render("~/bundle/vendor/js/jstree/jstree")

    @Scripts.Render("~/bundle/js/ui_treeview")
    @Scripts.Render("~/bundle/vendor/js/perfect-scrollbar/perfect-scrollbar")

    @Scripts.Render("~/bundle/js/misc_perfect-scrollbar")
    @Scripts.Render("~/bundle/js/pages_contacts")
}



<!DOCTYPE html>

<!-- `.messages-wrapper` fills all available space of container -->
<div class="messages-wrapper">

    <!-- Messages sidebox -->
    <div class="messages-sidebox messages-scroll bg-body border-right">

        <div class="pt-3 pb-0 px-4">
            <div class="media align-items-center">
                <div class="media-body">
                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#app-modal-1">양식작성</button>

                    <!--modal approval-->
                    <div id="app-modal-1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="app-modalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="app-modalLabel">양식선택</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-xl-3 col-lg-3 mb-2">
                                            <div class="input-group">
                                                <input type="text" class="form-control form-control-sm" placeholder="검색">
                                                <span class="input-group-append">
                                                    <button class="btn btn-sm btn-secondary" type="button"><i class="fas fa-search"></i></button>
                                                </span>
                                            </div>

                                            <div id="jstree-example-1" class="border bg-transparent" style="margin-top:20px;min-height:200px;padding:20px;">
                                                <ul>
                                                    <li>
                                                        css
                                                        <ul>
                                                            <li data-jstree="{&quot;icon&quot; : &quot;jstree-file&quot;}">app.css</li>
                                                            <li data-jstree="{&quot;icon&quot; : &quot;jstree-file&quot;}">style.css</li>
                                                        </ul>
                                                    </li>
                                                    <li class="jstree-open">
                                                        img
                                                        <ul>
                                                            <li data-jstree="{&quot;icon&quot; : &quot;jstree-file&quot;}">bg.jpg</li>
                                                            <li data-jstree="{&quot;icon&quot; : &quot;jstree-file&quot;}">logo.png</li>
                                                            <li data-jstree="{&quot;icon&quot; : &quot;jstree-file&quot;}">avatar.png</li>
                                                        </ul>
                                                    </li>
                                                    <li class="jstree-open">
                                                        js
                                                        <ul>
                                                            <li data-jstree="{&quot;icon&quot; : &quot;jstree-file&quot;}">jquery.js</li>
                                                            <li data-jstree="{&quot;icon&quot; : &quot;jstree-file&quot;}">app.js</li>
                                                        </ul>
                                                    </li>
                                                    <li class="text-primary" data-jstree="{&quot;icon&quot; : &quot;jstree-file&quot;}"> index.html</li>
                                                    <li class="text-primary" data-jstree="{&quot;icon&quot; : &quot;jstree-file&quot;}"> page-one.html</li>
                                                    <li data-jstree="{&quot;icon&quot; : &quot;jstree-file&quot;}"> page-two.html</li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="col-xl-5 col-lg-5">
                                            <div class="card mb-2">
                                                <div class="card-header py-1">
                                                    공통양식
                                                </div>
                                                <div class="card-body py-2 px-1" style="overflow: auto; height: 500px;" data-simplebar>
                                                    <ul class="list-group mx-2">

                                                        <li class="list-group-item list-group-item-action row d-flex py-2 border-0">
                                                            <i class="far fa-file-alt text-info" style="vertical-align: text-top;">
                                                                <span class="ml-1 text-dark" style="font-family:'Noto Sans CJK KR',sans-serif;">개선제안서</span>
                                                            </i>

                                                        </li>
                                                        <li class="list-group-item list-group-item-action row d-flex py-2 border-0">
                                                            <i class="far fa-file-alt text-info" style="vertical-align: text-top;">
                                                                <span class="ml-1 text-dark" style="font-family:'Noto Sans CJK KR',sans-serif;">거래처정보등록신청서</span>
                                                            </i>
                                                        </li>
                                                        <li class="list-group-item list-group-item-action row d-flex py-2 border-0">
                                                            <i class="far fa-file-alt text-info" style="vertical-align: text-top;">
                                                                <span class="ml-1 text-dark" style="font-family:'Noto Sans CJK KR',sans-serif;">전산시스템계정삭제요청서(DELETE)</span>
                                                            </i>

                                                        </li>
                                                        <li class="list-group-item list-group-item-action row d-flex py-2 border-0">
                                                            <i class="far fa-file-alt text-info" style="vertical-align: text-top;">
                                                                <span class="ml-1 text-dark" style="font-family:'Noto Sans CJK KR',sans-serif;">거래처정보변경신청서</span>
                                                            </i>
                                                        </li>
                                                        <li class="list-group-item list-group-item-action row d-flex py-2 border-0">
                                                            <i class="far fa-file-alt text-info" style="vertical-align: text-top;">
                                                                <span class="ml-1 text-dark" style="font-family:'Noto Sans CJK KR',sans-serif;">개선제안서</span>
                                                            </i>

                                                        </li>
                                                        <li class="list-group-item list-group-item-action row d-flex py-2 border-0">
                                                            <i class="far fa-file-alt text-info" style="vertical-align: text-top;">
                                                                <span class="ml-1 text-dark" style="font-family:'Noto Sans CJK KR',sans-serif;">거래처정보등록신청서</span>
                                                            </i>
                                                        </li>
                                                        <li class="list-group-item list-group-item-action row d-flex py-2 border-0">
                                                            <i class="far fa-file-alt text-info" style="vertical-align: text-top;">
                                                                <span class="ml-1 text-dark" style="font-family:'Noto Sans CJK KR',sans-serif;">전산시스템계정삭제요청서(DELETE)</span>
                                                            </i>

                                                        </li>
                                                        <li class="list-group-item list-group-item-action row d-flex py-2 border-0">
                                                            <i class="far fa-file-alt text-info" style="vertical-align: text-top;">
                                                                <span class="ml-1 text-dark" style="font-family:'Noto Sans CJK KR',sans-serif;">거래처정보변경신청서</span>
                                                            </i>
                                                        </li>
                                                        <li class="list-group-item list-group-item-action row d-flex py-2 border-0">
                                                            <i class="far fa-file-alt text-info" style="vertical-align: text-top;">
                                                                <span class="ml-1 text-dark" style="font-family:'Noto Sans CJK KR',sans-serif;">개선제안서</span>
                                                            </i>

                                                        </li>
                                                        <li class="list-group-item list-group-item-action row d-flex py-2 border-0">
                                                            <i class="far fa-file-alt text-info" style="vertical-align: text-top;">
                                                                <span class="ml-1 text-dark" style="font-family:'Noto Sans CJK KR',sans-serif;">거래처정보등록신청서</span>
                                                            </i>
                                                        </li>
                                                        <li class="list-group-item list-group-item-action row d-flex py-2 border-0">
                                                            <i class="far fa-file-alt text-info" style="vertical-align: text-top;">
                                                                <span class="ml-1 text-dark" style="font-family:'Noto Sans CJK KR',sans-serif;">전산시스템계정삭제요청서(DELETE)</span>
                                                            </i>

                                                        </li>
                                                        <li class="list-group-item list-group-item-action row d-flex py-2 border-0">
                                                            <i class="far fa-file-alt text-info" style="vertical-align: text-top;">
                                                                <span class="ml-1 text-dark" style="font-family:'Noto Sans CJK KR',sans-serif;">거래처정보변경신청서</span>
                                                            </i>
                                                        </li>
                                                        <li class="list-group-item list-group-item-action row d-flex py-2 border-0">
                                                            <i class="far fa-file-alt text-info" style="vertical-align: text-top;">
                                                                <span class="ml-1 text-dark" style="font-family:'Noto Sans CJK KR',sans-serif;">개선제안서</span>
                                                            </i>

                                                        </li>
                                                        <li class="list-group-item list-group-item-action row d-flex py-2 border-0">
                                                            <i class="far fa-file-alt text-info" style="vertical-align: text-top;">
                                                                <span class="ml-1 text-dark" style="font-family:'Noto Sans CJK KR',sans-serif;">거래처정보등록신청서</span>
                                                            </i>
                                                        </li>
                                                        <li class="list-group-item list-group-item-action row d-flex py-2 border-0">
                                                            <i class="far fa-file-alt text-info" style="vertical-align: text-top;">
                                                                <span class="ml-1 text-dark" style="font-family:'Noto Sans CJK KR',sans-serif;">전산시스템계정삭제요청서(DELETE)</span>
                                                            </i>

                                                        </li>
                                                        <li class="list-group-item list-group-item-action row d-flex py-2 border-0">
                                                            <i class="far fa-file-alt text-info" style="vertical-align: text-top;">
                                                                <span class="ml-1 text-dark" style="font-family:'Noto Sans CJK KR',sans-serif;">거래처정보변경신청서</span>
                                                            </i>
                                                        </li>
                                                        <li class="list-group-item list-group-item-action row d-flex py-2 border-0">
                                                            <i class="far fa-file-alt text-info" style="vertical-align: text-top;">
                                                                <span class="ml-1 text-dark" style="font-family:'Noto Sans CJK KR',sans-serif;">개선제안서</span>
                                                            </i>

                                                        </li>
                                                        <li class="list-group-item list-group-item-action row d-flex py-2 border-0">
                                                            <i class="far fa-file-alt text-info" style="vertical-align: text-top;">
                                                                <span class="ml-1 text-dark" style="font-family:'Noto Sans CJK KR',sans-serif;">거래처정보등록신청서</span>
                                                            </i>
                                                        </li>
                                                        <li class="list-group-item list-group-item-action row d-flex py-2 border-0">
                                                            <i class="far fa-file-alt text-info" style="vertical-align: text-top;">
                                                                <span class="ml-1 text-dark" style="font-family:'Noto Sans CJK KR',sans-serif;">전산시스템계정삭제요청서(DELETE)</span>
                                                            </i>

                                                        </li>
                                                        <li class="list-group-item list-group-item-action row d-flex py-2 border-0">
                                                            <i class="far fa-file-alt text-info" style="vertical-align: text-top;">
                                                                <span class="ml-1 text-dark" style="font-family:'Noto Sans CJK KR',sans-serif;">거래처정보변경신청서</span>
                                                            </i>
                                                        </li>

                                                    </ul>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="col-xl-4 col-lg-4">
                                            <div class="card">
                                                <div class="card-header py-1">
                                                    서식정보
                                                </div>
                                                <div class="card-body py-2 px-1">

                                                    <form class="form-horizontal" role="form">
                                                        <div class="row">
                                                            <div class="col-md-4 col-form-label ml-2 pt-1">
                                                                양식명
                                                            </div>
                                                            <div class="col-md-7">
                                                                <input type="text" class="form-control form-control-sm">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4 col-form-label ml-2 pt-1">
                                                                버젼
                                                            </div>
                                                            <div class="col-md-7">
                                                                <input type="text" class="form-control form-control-sm">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4 col-form-label ml-2 pt-1">
                                                                담당부서
                                                            </div>
                                                            <div class="col-md-7">
                                                                <input type="text" class="form-control form-control-sm mb-1">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4 col-form-label ml-2 pt-1">
                                                                담당자
                                                            </div>
                                                            <div class="col-md-7">
                                                                <select multiple class="form-control form-control-sm mb-1">
                                                                    <option value="1">과장 이경아</option>
                                                                    <option value="2">대리 임지숙</option>
                                                                    <option value="3">대리 신건용</option>
                                                                    <option value="3">대리 신건용</option>
                                                                    <option value="3">대리 신건용</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4 col-form-label ml-2 pt-1">
                                                                설명
                                                            </div>
                                                            <div class="col-md-7">
                                                                <input type="text" class="form-control form-control-sm">
                                                            </div>
                                                        </div>
                                                    </form>


                                                </div>

                                            </div>
                                        </div>
                                    </div>




                                </div>
                                <div class="modal-footer align-items-center">
                                    <button type="button" class="btn btn-primary">확인</button>
                                    <button type="button" class="btn btn-light" data-dismiss="modal">닫기</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                </div>
                <a href="javascript:void(0)" class="messages-sidebox-toggler d-lg-none d-block text-muted text-large font-weight-light pl-4">&times;</a>

            </div>
            <div class="row mt-3">
                <div class="col-6 text-center">
                    <h6 class="font-weight-bold">개인결재선</h6>
                </div>
                <div class="col-6 text-center">
                    <h6 class="font-weight-bold">결재 현황</h6>
                </div>
            </div>
        </div>
        <hr class="border-light mx-4 mt-0 mb-0">







        <div id="sidenav-1" class="sidenav sidenav-vertical">
            <ul class="sidenav-inner py-3">

                <li class="sidenav-item">
                    <a href="javascript:void(0)" class="sidenav-link sidenav-toggle">
                        <div class="font-weight-bold">개인문서함</div>
                    </a>
                    <ul class="sidenav-menu">
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>예정함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>결재함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidenav-item">
                    <a href="javascript:void(0)" class="sidenav-link sidenav-toggle">
                        <div class="font-weight-bold">시스템문서함</div>
                    </a>
                    <ul class="sidenav-menu">
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>예정함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>결재함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="sidenav-item">
                    <a href="javascript:void(0)" class="sidenav-link sidenav-toggle">
                        <div class="font-weight-bold">추가문서함</div>
                    </a>
                    <ul class="sidenav-menu">
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>예정함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>결재함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>



        <hr class="border-light m-4">

        <!-- Labels -->
        <h6 class="text-tiny font-weight-bold px-4">LABELS</h6>
        <a href="javascript:void(0)" class="d-block text-muted py-1 px-4">
            <span class="badge badge-dot badge-success"></span> &nbsp; Clients
        </a>
        <a href="javascript:void(0)" class="d-block text-muted py-1 px-4">
            <span class="badge badge-dot badge-danger"></span> &nbsp; Important
        </a>
        <a href="javascript:void(0)" class="d-block text-muted py-1 px-4">
            <span class="badge badge-dot badge-info"></span> &nbsp; Social
        </a>
        <a href="javascript:void(0)" class="d-block text-muted py-1 px-4">
            <span class="badge badge-dot badge-warning"></span> &nbsp; Other
        </a>
        <!-- / Labels -->

    </div>
    <!-- / Messages sidebox -->
    <!-- Messages content wrapper -->
    <div class="d-flex flex-column w-100">

        <!-- Header -->
        <div class="flex-grow-0">

            <h4 class="media align-items-center font-weight-bold container-p-x py-3 py-lg-4 m-0">
                <a href="javascript:void(0)" class="messages-sidebox-toggler d-lg-none d-block align-self-center text-muted px-3 mr-3"><i class="ion ion-md-more"></i></a>
                <div class="media-body">
                    <i class="ion ion-ios-filing"></i> &nbsp; 조직도
                </div>
                <input type="text" class="form-control form-control-sm" placeholder="Search..." style="max-width: 10rem;">
            </h4>
            <hr class="border-light m-0">

            <!-- Controls -->
            <div class="media flex-wrap align-items-center py-1 px-1 px-lg-4">
                <div class="media-body d-flex flex-wrap flex-basis-100 flex-basis-sm-auto">
                    <!-- View toggle -->
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-default icon-btn md-btn-flat active">
                            <input type="radio" name="contacts-view" value="contacts-col-view" checked> <span class="ion ion-md-apps"></span>
                        </label>
                        <label class="btn btn-default icon-btn md-btn-flat">
                            <input type="radio" name="contacts-view" value="contacts-row-view"> <span class="ion ion-md-menu"></span>
                        </label>
                    </div>
                    <!-- / View toggle -->


                </div>

                <div class="text-muted mr-3 ml-auto">1-25 of 91</div>

                <div class="d-flex flex-wrap">
                    <button type="button" class="btn btn-default borderless md-btn-flat icon-btn text-muted"><i class="ion ion-ios-arrow-back"></i></button>
                    <button type="button" class="btn btn-default borderless md-btn-flat icon-btn text-muted"><i class="ion ion-ios-arrow-forward"></i></button>
                </div>
            </div>
            <hr class="border-light m-0">
            <!-- / Controls -->

        </div>
        <!-- / Header -->
        <!-- Wrap `.messages-scroll` to properly position scroll area. Remove this wrapper if you don't need scroll -->
       

        <!-- Set `.contacts-col-view` or '.contacts-row-view' to control view mode -->



        <div class="row contacts-col-view">
            <div class="contacts-col col-12">

                <div class="card mb-4">
                    <div class="card-body">
                        <div class="contacts-dropdown btn-group">
                            <button type="button" class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow" data-toggle="dropdown">
                                <i class="ion ion-ios-more"></i>
                            </button>
                            <div class="contacts-dropdown-menu dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                                <a class="dropdown-item" href="javascript:void(0)">Remove</a>
                            </div>
                        </div>

                        <div class="contact-content">
                            <img src="~/images/users/hyjung.jpg" class="contact-content-img rounded-circle" alt="">
                            <div class="contact-content-about">
                                <h5 class="contact-content-name mb-2"><a href="javascript:void(0)" class="text-body">정해열 상무</a></h5>
                                <div class="contact-content-user text-muted small mb-2">인사총무팀</div>
                                <div class="small">
                                    hyjung@cresyn.com
                                </div>
                                <hr class="border-light">
                                <div>
                                    <a href="javascript:void(0)" class="text-secondary"><span class="ion ion-md-mail"></span></a> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-secondary"><span class="ion ion-ios-chatbubbles"></span></a> &nbsp;&nbsp;
                                    <span class="text-lighter">|</span> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-twitter"><span class="ion ion-logo-twitter"></span></a> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-facebook"><span class="ion ion-logo-facebook"></span></a> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-instagram"><span class="ion ion-logo-instagram"></span></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="contacts-col col-12">

                <div class="card mb-4">
                    <div class="card-body">
                        <div class="contacts-dropdown btn-group">
                            <button type="button" class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow" data-toggle="dropdown">
                                <i class="ion ion-ios-more"></i>
                            </button>
                            <div class="contacts-dropdown-menu dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                                <a class="dropdown-item" href="javascript:void(0)">Remove</a>
                            </div>
                        </div>

                        <div class="contact-content">
                            <img src="~/Images/avatars/5.png" class="contact-content-img rounded-circle" alt="">
                            <div class="contact-content-about">
                                <h5 class="contact-content-name mb-1"><a href="javascript:void(0)" class="text-body">Nelle Maxwell</a></h5>
                                <div class="contact-content-user text-muted small mb-2">@("@")nmaxwell</div>
                                <div class="small">
                                    Company Inc. <br>
                                    +0 (123) 456 7891
                                </div>
                                <hr class="border-light">
                                <div>
                                    <a href="javascript:void(0)" class="text-secondary"><span class="ion ion-md-mail"></span></a> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-secondary"><span class="ion ion-ios-chatbubbles"></span></a> &nbsp;&nbsp;
                                    <span class="text-lighter">|</span> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-twitter"><span class="ion ion-logo-twitter"></span></a> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-facebook"><span class="ion ion-logo-facebook"></span></a> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-instagram"><span class="ion ion-logo-instagram"></span></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="contacts-col col-12">

                <div class="card mb-4">
                    <div class="card-body">
                        <div class="contacts-dropdown btn-group">
                            <button type="button" class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow" data-toggle="dropdown">
                                <i class="ion ion-ios-more"></i>
                            </button>
                            <div class="contacts-dropdown-menu dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                                <a class="dropdown-item" href="javascript:void(0)">Remove</a>
                            </div>
                        </div>

                        <div class="contact-content">
                            <img src="~/Images/avatars/4.png" class="contact-content-img rounded-circle" alt="">
                            <div class="contact-content-about">
                                <h5 class="contact-content-name mb-1"><a href="javascript:void(0)" class="text-body">Kenneth Frazier</a></h5>
                                <div class="contact-content-user text-muted small mb-2">@("@")kfrazier</div>
                                <div class="small">
                                    Company Inc. <br>
                                    +0 (123) 456 7891
                                </div>
                                <hr class="border-light">
                                <div>
                                    <a href="javascript:void(0)" class="text-secondary"><span class="ion ion-md-mail"></span></a> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-secondary"><span class="ion ion-ios-chatbubbles"></span></a> &nbsp;&nbsp;
                                    <span class="text-lighter">|</span> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-twitter"><span class="ion ion-logo-twitter"></span></a> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-facebook"><span class="ion ion-logo-facebook"></span></a> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-instagram"><span class="ion ion-logo-instagram"></span></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="contacts-col col-12">

                <div class="card mb-4">
                    <div class="card-body">
                        <div class="contacts-dropdown btn-group">
                            <button type="button" class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow" data-toggle="dropdown">
                                <i class="ion ion-ios-more"></i>
                            </button>
                            <div class="contacts-dropdown-menu dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                                <a class="dropdown-item" href="javascript:void(0)">Remove</a>
                            </div>
                        </div>

                        <div class="contact-content">
                            <img src="~/Images/avatars/6.png" class="contact-content-img rounded-circle" alt="">
                            <div class="contact-content-about">
                                <h5 class="contact-content-name mb-1"><a href="javascript:void(0)" class="text-body">Mae Gibson</a></h5>
                                <div class="contact-content-user text-muted small mb-2">@("@")mgibson</div>
                                <div class="small">
                                    Company Inc. <br>
                                    +0 (123) 456 7891
                                </div>
                                <hr class="border-light">
                                <div>
                                    <a href="javascript:void(0)" class="text-secondary"><span class="ion ion-md-mail"></span></a> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-secondary"><span class="ion ion-ios-chatbubbles"></span></a> &nbsp;&nbsp;
                                    <span class="text-lighter">|</span> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-twitter"><span class="ion ion-logo-twitter"></span></a> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-facebook"><span class="ion ion-logo-facebook"></span></a> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-instagram"><span class="ion ion-logo-instagram"></span></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="contacts-col col-12">

                <div class="card mb-4">
                    <div class="card-body">
                        <div class="contacts-dropdown btn-group">
                            <button type="button" class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow" data-toggle="dropdown">
                                <i class="ion ion-ios-more"></i>
                            </button>
                            <div class="contacts-dropdown-menu dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                                <a class="dropdown-item" href="javascript:void(0)">Remove</a>
                            </div>
                        </div>

                        <div class="contact-content">
                            <img src="~/Images/avatars/12.png" class="contact-content-img rounded-circle" alt="">
                            <div class="contact-content-about">
                                <h5 class="contact-content-name mb-1"><a href="javascript:void(0)" class="text-body">Arthur Duncan</a></h5>
                                <div class="contact-content-user text-muted small mb-2">@("@")aduncan</div>
                                <div class="small">
                                    Company Inc. <br>
                                    +0 (123) 456 7891
                                </div>
                                <hr class="border-light">
                                <div>
                                    <a href="javascript:void(0)" class="text-secondary"><span class="ion ion-md-mail"></span></a> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-secondary"><span class="ion ion-ios-chatbubbles"></span></a> &nbsp;&nbsp;
                                    <span class="text-lighter">|</span> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-twitter"><span class="ion ion-logo-twitter"></span></a> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-facebook"><span class="ion ion-logo-facebook"></span></a> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-instagram"><span class="ion ion-logo-instagram"></span></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="contacts-col col-12">

                <div class="card mb-4">
                    <div class="card-body">
                        <div class="contacts-dropdown btn-group">
                            <button type="button" class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow" data-toggle="dropdown">
                                <i class="ion ion-ios-more"></i>
                            </button>
                            <div class="contacts-dropdown-menu dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                                <a class="dropdown-item" href="javascript:void(0)">Remove</a>
                            </div>
                        </div>

                        <div class="contact-content">
                            <img src="~/Images/avatars/11.png" class="contact-content-img rounded-circle" alt="">
                            <div class="contact-content-about">
                                <h5 class="contact-content-name mb-1"><a href="javascript:void(0)" class="text-body">Belle Ross</a></h5>
                                <div class="contact-content-user text-muted small mb-2">@("@")bross</div>
                                <div class="small">
                                    Company Inc. <br>
                                    +0 (123) 456 7891
                                </div>
                                <hr class="border-light">
                                <div>
                                    <a href="javascript:void(0)" class="text-secondary"><span class="ion ion-md-mail"></span></a> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-secondary"><span class="ion ion-ios-chatbubbles"></span></a> &nbsp;&nbsp;
                                    <span class="text-lighter">|</span> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-twitter"><span class="ion ion-logo-twitter"></span></a> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-facebook"><span class="ion ion-logo-facebook"></span></a> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-instagram"><span class="ion ion-logo-instagram"></span></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="contacts-col col-12">

                <div class="card mb-4">
                    <div class="card-body">
                        <div class="contacts-dropdown btn-group">
                            <button type="button" class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow" data-toggle="dropdown">
                                <i class="ion ion-ios-more"></i>
                            </button>
                            <div class="contacts-dropdown-menu dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                                <a class="dropdown-item" href="javascript:void(0)">Remove</a>
                            </div>
                        </div>

                        <div class="contact-content">
                            <img src="~/Images/avatars/3.png" class="contact-content-img rounded-circle" alt="">
                            <div class="contact-content-about">
                                <h5 class="contact-content-name mb-1"><a href="javascript:void(0)" class="text-body">Allie Rodriguez</a></h5>
                                <div class="contact-content-user text-muted small mb-2">@("@")arodriguez</div>
                                <div class="small">
                                    Company Inc. <br>
                                    +0 (123) 456 7891
                                </div>
                                <hr class="border-light">
                                <div>
                                    <a href="javascript:void(0)" class="text-secondary"><span class="ion ion-md-mail"></span></a> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-secondary"><span class="ion ion-ios-chatbubbles"></span></a> &nbsp;&nbsp;
                                    <span class="text-lighter">|</span> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-twitter"><span class="ion ion-logo-twitter"></span></a> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-facebook"><span class="ion ion-logo-facebook"></span></a> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-instagram"><span class="ion ion-logo-instagram"></span></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="contacts-col col-12">

                <div class="card mb-4">
                    <div class="card-body">
                        <div class="contacts-dropdown btn-group">
                            <button type="button" class="btn btn-sm btn-default icon-btn borderless rounded-pill md-btn-flat dropdown-toggle hide-arrow" data-toggle="dropdown">
                                <i class="ion ion-ios-more"></i>
                            </button>
                            <div class="contacts-dropdown-menu dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                                <a class="dropdown-item" href="javascript:void(0)">Remove</a>
                            </div>
                        </div>

                        <div class="contact-content">
                            <img src="~/Images/avatars/7.png" class="contact-content-img rounded-circle" alt="">
                            <div class="contact-content-about">
                                <h5 class="contact-content-name mb-1"><a href="javascript:void(0)" class="text-body">Alice Hampton</a></h5>
                                <div class="contact-content-user text-muted small mb-2">@("@")ahampton</div>
                                <div class="small">
                                    Company Inc. <br>
                                    +0 (123) 456 7891
                                </div>
                                <hr class="border-light">
                                <div>
                                    <a href="javascript:void(0)" class="text-secondary"><span class="ion ion-md-mail"></span></a> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-secondary"><span class="ion ion-ios-chatbubbles"></span></a> &nbsp;&nbsp;
                                    <span class="text-lighter">|</span> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-twitter"><span class="ion ion-logo-twitter"></span></a> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-facebook"><span class="ion ion-logo-facebook"></span></a> &nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="text-instagram"><span class="ion ion-logo-instagram"></span></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div><!-- / .row -->

    </div>

</div><!-- / .messages-wrapper -->
