@using System.Data;
@{

    //HttpContext.Current.Session["UseWorkTime"] = "N";
}
<div class="messages-sidebox messages-scroll bg-body border-right">
    <div class="z-mobile-navbar"></div>

    @if (ViewBag.R.ctalias == "bboard" || ViewBag.R.ctalias == "board.depart")
    {
        <div class="py-3 px-4">
            <div class="media align-items-center">
                <div class="media-body">
                    <a id="__NewMessage" href="javascript:void(0)" class="btn btn-teal rounded-pill btn-block" onclick="_zw.mu.writeMsg('bbs');"><i class="fas fa-plus mr-2"></i>@Resources.Global.ComposeNew</a>
                </div>
                <a href="javascript:void(0)" class="messages-sidebox-toggler d-none text-muted text-large font-weight-light pl-4">&times;</a>
            </div>
            <div class="row mt-3">
                <div class="col-6 text-center px-0">
                    <a class="" href="/Board/Recent"><i class="mdi mdi-clock-check-outline"></i> @Resources.Global.RecentPosts</a>
                </div>
                <div class="col-6 text-center px-1">
                    <a class="" href="/Board/Save"><i class="mdi mdi-circle-edit-outline"></i> @Resources.Global.TempBox2</a>
                </div>
            </div>
        </div>
    }
    else if (ViewBag.R.ctalias == "kdoc")
    {
        <div class="py-3 px-4">
            <div class="media align-items-center">
                <div class="media-body">
                    <a id="__NewMessage" href="javascript:void(0)" class="btn btn-facebook rounded-pill btn-block" onclick="_zw.mu.writeMsg('doc');"><i class="fas fa-plus mr-2"></i>@Resources.Global.ComposeDoc</a>
                </div>
                <a href="javascript:void(0)" class="messages-sidebox-toggler d-none text-muted text-large font-weight-light pl-4">&times;</a>
            </div>
        </div>
    }
    else if (ViewBag.R.ctalias == "kms")
    {
        <div class="py-3 px-4">
            <div class="media align-items-center">
                <div class="media-body">
                    <a id="__NewMessage" href="javascript:void(0)" class="btn btn-third rounded-pill btn-block opacity-75" onclick="_zw.mu.writeMsg('knowledge');"><i class="fas fa-plus mr-2"></i>@Resources.Global.ComposeKnowledge</a>
                </div>
                <a href="javascript:void(0)" class="messages-sidebox-toggler d-none text-muted text-large font-weight-light pl-4">&times;</a>
            </div>
            <div class="row mt-3">
                <div class="col-6 text-center px-0">
                    <a class="" href="/Docs/Kms/Recent"><i class="mdi mdi-clock-check-outline"></i> @Resources.Global.RecentKnowledges</a>
                </div>
                <div class="col-6 text-center px-1">
                    <a class="" href="/Docs/Kms/Save"><i class="mdi mdi-circle-edit-outline"></i> @Resources.Global.TempBox2</a>
                </div>
            </div>
        </div>
    }
    else if (ViewBag.R.ctalias == "booking")
    {
        <div class="py-3 px-4">
            <div class="media align-items-center">
                <div class="media-body">
                    <a id="__NewMessage" href="javascript:void(0)" class="btn btn-linkedin rounded-pill btn-block" onclick="_zw.mu.writeMsg('booling');"><i class="fas fa-plus mr-2"></i>예약하기</a>
                </div>
                <a href="javascript:void(0)" class="messages-sidebox-toggler d-none text-muted text-large font-weight-light pl-4">&times;</a>
            </div>
            <div class="row mt-3">
                @if (ViewBag.R.current["operator"].ToString() == "Y")
                {
                    <div class="col-6 text-center px-0">
                        <a class="" href="javascript:void(0)" data-zl-menu="List"><i class="fas fa-chalkboard"></i> 전체예약현황</a>
                    </div>
                    <div class="col-6 text-center px-0">
                        <a class="" href="javascript:void(0)" data-zl-menu="MyList"><i class="fe-calendar fs-14"></i> 예약현황</a>
                    </div>
                }
                else
                {
                    <div class="col-12 text-center px-0">
                        <a class="" href="javascript:void(0)" data-zl-menu="MyList"><i class="fe-calendar fs-14"></i> 내 예약현황</a>
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <div class="pt-3 px-3">
            <div class="media align-items-center px-1">
                <div class="media-body">
                </div>
                <a href="javascript:void(0)" class="messages-sidebox-toggler d-none text-muted text-large font-weight-light pl-4">&times;</a>
            </div>
        </div>
    }

    @*<div class="px-1 font-weight-bold">
            <div class="d-flex justify-content-between mb-1">
                <div class="">21.8.17 근무</div>
                <div><span class="text-primary">5시간 21분</span></div>
            </div>
            <div class="d-flex justify-content-between">
                <div class="">주 평균 근무</div>
                <div><span class="text-primary">7시간 54분</span></div>
            </div>
        </div>*@

    @*<hr class="border-light m-0 mt-3">*@

    @Html.Partial("~/Views/Common/_WorkTime.cshtml")

    @*<hr class="border-secondary mx-3 mt-1 mb-2">*@

    <!-- sidebox tree -->
    <div id="__FolderTree" class="px-3"></div>
    <!-- / sidebox tree -->
</div>




