<!DOCTYPE html>
<html lang="en" class="light-style layout-fixed">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">

    <title>@ViewBag.Title</title>

    <!-- Main font -->
    @*<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900" rel="stylesheet" crossorigin="anonymous" />*@
    @Styles.Render("~/bundle/vendor/fonts")

    <!-- Icons. Uncomment required icon fonts -->
    @Styles.Render("~/bundle/vendor/fonts/fontawesome")
    @*@Styles.Render("~/bundle/vendor/fonts/ionicons")
    @Styles.Render("~/bundle/vendor/fonts/linearicons")
    @Styles.Render("~/bundle/vendor/fonts/open-iconic")
    @Styles.Render("~/bundle/vendor/fonts/pe-icon-7-stroke")*@
    @Styles.Render("~/bundle/vendor/fonts/materialdesignicons")
    @Styles.Render("~/bundle/vendor/fonts/feather")
    @*@Styles.Render("~/bundle/vendor/icons")*@

    <!-- Core stylesheets -->
    @Styles.Render("~/bundle/vendor/css/bootstrap")
    @Styles.Render("~/bundle/vendor/css/appwork")
    @*@Styles.Render("~/bundle/vendor/css/zumworks")*@
    @*@Styles.Render("~/bundle/vendor/css/theme-twitlight-dark")*@
    @Styles.Render("~/bundle/css/theme-cresyn")
    @*@Styles.Render("~/bundle/vendor/css/colors")
        @Styles.Render("~/bundle/vendor/css/uikit")
        @Styles.Render("~/bundle/vendor/css/waves/waves")*@
    @Styles.Render("~/bundle/vendor/css/csskit")

    <!-- Load polyfills -->
    @Scripts.Render("~/bundle/vendor/js/polyfills")
    <script>document['documentMode'] === 10 && document.write('<script src="https://polyfill.io/v3/polyfill.min.js?features=Intl.~locale.en"><\/script>')</script>

    <!-- Layout helpers -->
    @Scripts.Render("~/bundle/vendor/js/layout-helpers")

    <!-- Core scripts -->
    @Scripts.Render("~/bundle/vendor/js/pace")

    <!-- `perfect-scrollbar` library required by SideNav plugin -->
    @Styles.Render("~/bundle/vendor/css/perfect-scrollbar/perfect-scrollbar")

    <!-- Application stylesheets -->
    @Styles.Render("~/bundle/css/site")

    @RenderSection("styles", required: false)
</head>
<body>
    <div class="page-loader"><div class="bg-info"></div></div>
    @RenderBody()

    <!-- Modal Loader -->
    <div class="modal modal-ajaxloader" id="ajaxLoader" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="d-flex justify-content-center align-items-center">
                        @*<div class="sk-circle-fade sk-primary">
                            <div class="sk-circle-fade-dot"></div><div class="sk-circle-fade-dot"></div><div class="sk-circle-fade-dot"></div><div class="sk-circle-fade-dot"></div><div class="sk-circle-fade-dot"></div><div class="sk-circle-fade-dot"></div><div class="sk-circle-fade-dot"></div><div class="sk-circle-fade-dot"></div><div class="sk-circle-fade-dot"></div><div class="sk-circle-fade-dot"></div><div class="sk-circle-fade-dot"></div><div class="sk-circle-fade-dot"></div>
                        </div>*@
                        <div><img alt="loader" src="/Images/loader.gif" /></div>
                        @*<div class="spinner-border text-success" role="status"><span class="sr-only"></span></div>*@
                        <div class="modal-title h4 pl-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="modal-ajaxloader">
        <div class="d-flex justify-content-center align-items-center">
            <div class="sk-circle-fade sk-primary">
                    <div class="sk-circle-fade-dot"></div><div class="sk-circle-fade-dot"></div><div class="sk-circle-fade-dot"></div><div class="sk-circle-fade-dot"></div><div class="sk-circle-fade-dot"></div><div class="sk-circle-fade-dot"></div><div class="sk-circle-fade-dot"></div><div class="sk-circle-fade-dot"></div><div class="sk-circle-fade-dot"></div><div class="sk-circle-fade-dot"></div><div class="sk-circle-fade-dot"></div><div class="sk-circle-fade-dot"></div>
                </div>
            <div><img alt="loader" src="/Images/loader.gif" /></div>
            <div class="spinner-border text-success" role="status"><span class="sr-only"></span></div>
            <div class="modal-title h4 pl-4 text-muted"></div>
        </div>
    </div>*@

    <!-- Core scripts -->
    @Scripts.Render("~/bundle/jquery")

    <!-- Uncomment the following line to enable unobtrusive validation -->
    @*@Html.Partial("_ValidationScriptsPartial")*@
    @Scripts.Render("~/bundle/vendor/js/popper/popper")
    @Scripts.Render("~/bundle/vendor/js/bootstrap")
    @Scripts.Render("~/bundle/vendor/js/sidenav")

    <!-- Libs -->
    <!-- `perfect-scrollbar` library required by SideNav plugin -->
    @Scripts.Render("~/bundle/vendor/js/perfect-scrollbar/perfect-scrollbar")

    <!-- Application javascripts -->
    @Scripts.Render("~/bundle/js/site")

    @RenderSection("scripts", required: false)
</body>
</html>