@using System.Data;

@{
    string currentPage = ViewBag.R.ft.ToString();

    string[,] vBox = {
        //page, title, bold, count
        { "WorkPlan", "근무계획", "", "" }, { "PersonStatus", "근무현황", "", "" }, { "PersonRequest", "근무조정 신청현황", "Y", "Y" },
        { "MemberPlan", "부서원 근무계획", "", "" }, { "MemberStatus", "부서원 근무현황", "", "" }, { "MemberRequest", "부서원 신청현황", "Y", "Y" },
        { "StatusMgr", "근무 현황 관리", "", "" }, { "RequestMgr", "전사 신청 현황", "Y", "Y" }, { "LedgerMgr", "야근·특근 대장", "", "" },
        { "WorkTimeMgr", "근무시간 설정", "", "" }

    };

    //Response.Write("======" + currentPage);
}

@functions {
    private string GetQueryString(string page, string ttl)
    {
        return "?qi=" + Server.UrlEncode("{ct:\"" + ViewBag.R.ct + "\",ctalias:\"" + ViewBag.R.ctalias + "\",ttl:\"" + ttl + "\",opnode:\"\",ft:\"" + page + "\"}");
    }
}

<div class="messages-sidebox messages-scroll bg-body border-right">
    <div class="z-mobile-navbar"></div>

    <div class="pt-3 px-3">
        <div class="media align-items-center px-1">
            <div class="media-body">
            </div>
            <a href="javascript:void(0)" class="messages-sidebox-toggler d-none text-muted text-large font-weight-light pl-4">&times;</a>
        </div>
    </div>

    @*<hr class="border-light mx-4 mt-0 mb-1">*@

    @Html.Partial("~/Views/Common/_WorkTime.cshtml")

    <!-- sidebox tree -->
    <div id="__LeftMenu" class="sidenav-vertical z-lm">
        <ul class="sidenav-inner">

            <li class="sidenav-item open">
                <a href="javascript:void(0)" class="sidenav-link font-weight-bold sidenav-toggle"><i class="fe-user-check sidenav-icon"></i><span>@Session["URName"]</span></a>

                <ul class="sidenav-menu my-0">
                    @for (int i = 0; i < 3; i++)
                    {
                        <li class="sidenav-item@(currentPage.ToLower().IndexOf(vBox[i, 0].ToLower()) != -1 ? " active" : "")">
                            <a href="@GetQueryString(vBox[i, 0], vBox[i, 1])" class="sidenav-link@(vBox[i, 2] == "Y" ? " font-weight-bold" : "")" data-toggle="tooltip" data-placement="bottom" title="@Html.Raw(vBox[i, 1])">
                                <span>@Html.Raw(vBox[i, 1])</span>
                                @if (vBox[i, 3] == "Y")
                                {
                                    <span class="z-lm-cnt"></span>
                                }
                            </a>
                        </li>
                    }
                </ul>
            </li>
            @if (ViewBag.R.current["chief"].ToString() == "Y")
            {
                <li class="sidenav-item open">
                    <a href="javascript:void(0)" class="sidenav-link font-weight-bold sidenav-toggle"><i class="fe-users sidenav-icon"></i><span>부서원</span></a>

                    <ul class="sidenav-menu my-0">
                        @for (int i = 3; i < 6; i++)
                        {
                            <li class="sidenav-item@(currentPage.ToLower().IndexOf(vBox[i, 0].ToLower()) != -1 ? " active" : "")">
                                <a href="@GetQueryString(vBox[i, 0], vBox[i, 1])" class="sidenav-link@(vBox[i, 2] == "Y" ? " font-weight-bold" : "")" data-toggle="tooltip" data-placement="bottom" title="@Html.Raw(vBox[i, 1])">
                                    <span>@Html.Raw(vBox[i, 1])</span>
                                    @if (vBox[i, 3] == "Y")
                                    {
                                        <span class="z-lm-cnt"></span>
                                    }
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }
            @if (ViewBag.R.current["operator"].ToString() == "Y")
            {
                <li class="sidenav-item open">
                    <a href="javascript:void(0)" class="sidenav-link font-weight-bold sidenav-toggle"><i class="far fa-building sidenav-icon"></i><span>전사 현황</span></a>

                    <ul class="sidenav-menu my-0">
                        @for (int i = 6; i < 9; i++)
                        {
                            <li class="sidenav-item@(currentPage.ToLower().IndexOf(vBox[i, 0].ToLower()) != -1 ? " active" : "")">
                                <a href="@GetQueryString(vBox[i, 0], vBox[i, 1])" class="sidenav-link@(vBox[i, 2] == "Y" ? " font-weight-bold" : "")" data-toggle="tooltip" data-placement="bottom" title="@Html.Raw(vBox[i, 1])">
                                    <span>@Html.Raw(vBox[i, 1])</span>
                                    @if (vBox[i, 3] == "Y")
                                    {
                                        <span class="z-lm-cnt"></span>
                                    }
                                </a>
                            </li>
                        }
                    </ul>
                </li>


                <li class="sidenav-item@(currentPage.ToLower().IndexOf(vBox[9, 0].ToLower()) != -1 ? " active" : "")">
                    <a href="@GetQueryString(vBox[9, 0], vBox[9, 1])" class="sidenav-link@(vBox[9, 2] == "Y" ? " font-weight-bold" : "")" data-toggle="tooltip" data-placement="bottom" title="@Html.Raw(vBox[9, 1])">
                        <i class="fe-calendar sidenav-icon"></i><span>@Html.Raw(vBox[9, 1])</span>
                        @if (vBox[9, 3] == "Y")
                        {
                            <span class="z-lm-cnt"></span>
                        }
                    </a>
                </li>
            }
        </ul>
    </div>
    <!-- / sidebox tree -->
</div>




