@{
    double lMinPer = Math.Round((Convert.ToDouble(ViewBag.r.current.minhour) / Convert.ToDouble(ViewBag.r.current.maxhour)) * 100);
}

<div id="" class="flex-fill d-flex align-items-center">
    <div class="w-100 pl-3 pl-md-5 pr-0">
        <div class="progress">
            <div class="progress-bar bg-light" style="width: @(lMinPer.ToString())%">
                <div class="progress" style="border-top-right-radius: 0; border-bottom-right-radius: 0">
                    <div class="progress-bar progress-bar-striped bg-info" data-for="minhour"></div>
                </div>
            </div>
            <div class="progress-bar bg-light" style="width: @((100 - lMinPer).ToString())%">
                <div class="progress" style="border-top-left-radius: 0; border-bottom-left-radius: 0">
                    <div class="progress-bar progress-bar-striped bg-warning" data-for="extrahour"></div>
                </div>
            </div>
        </div>
        <div class="progress mt-1" style="height: 6px">
            <div class="progress-bar bg-info" style="width: @(lMinPer.ToString())%"></div>
            <div class="progress-bar bg-warning" style="width: @((100 - lMinPer).ToString())%"></div>
        </div>
        <div class="progress mt-1 text-small">
            <div class="progress-bar bg-white text-secondary" style="width: @(lMinPer.ToString())%">최소 근무 @ViewBag.r.current.minhour 시간</div>
            <div class="progress-bar bg-white text-secondary" style="width: @((100 - lMinPer).ToString())%">잔업 근무 @ViewBag.r.current.extrahour 시간</div>
        </div>
    </div>
</div>

