@using Newtonsoft.Json;

@{
    ViewBag.Title = ViewBag.R["ttl"];
    Layout = "~/Views/Shared/Layouts/_Layout2Flex.cshtml";

    string sPatialView = "_" + ViewBag.R.ft.ToString();
    string sListScroll = "";

    //if (ViewBag.R.ft.ToString().ToLower() == "memberplan" || ViewBag.R.ft.ToString().ToLower() == "requestmgr")
    //{
    //    sListScroll = " z-list-scroll";
    //}
    sListScroll = " z-list-scroll";
}

@section Styles {
    @Styles.Render("~/bundle/vendor/css/pages/messages")

    @Styles.Render("~/Content/worktime.css")
}

@section Scripts {
    @Scripts.Render("~/Scripts/ExS/worktime.js")
    <script type="text/javascript">(function () {_zw.V = @Html.Raw(JsonConvert.SerializeObject(ViewBag.R))}());</script>
}
<!--
=================================================================
**************************** CONTENT ****************************
-->
<!-- `.messages-wrapper` fills all available space of container -->
<div class="messages-wrapper">

    <!-- sidebox -->
    @Html.Partial("_LeftMenu")
    <!-- / sidebox -->
    <!-- content -->
    <div class="d-flex flex-column w-100">
        <!-- Header -->
        <div class="flex-grow-0">
            <div class="d-flex justify-content-between m-0 px-3 pt-3" style="padding-bottom: .65rem !important">
                <div class="d-flex align-items-center font-weight-bold">
                    <div class="h5 mb-0">
                        <a href="javascript:void(0)" class="messages-sidebox-toggler d-none d-md-block d-lg-none align-self-center px-2 mr-3" data-toggle="modal" data-target=".messages-sidebox"><i class="fe-more-vertical"></i></a>
                    </div>

                    <div class="h5 mb-0 z-ttl text-truncate">
                        <i class="mdi mdi-file-table-box-multiple-outline"></i> &nbsp;<span>@ViewBag.Title</span>
                    </div>
                </div>
                @Html.Partial("_WorkTimeBar")
            </div>
        </div>
        <!-- / Header -->

        <div class="flex-grow-1 position-relative" style="border-top: 2px solid #eee">
            <!-- Remove `.messages-scroll` and add `.flex-grow-1` if you don't need scroll -->
            <div class="px-3@(sListScroll)">
                <div class="z-list">
                    <div class="z-list-head d-flex justify-content-between my-2">
                        <div class="z-lv-page"></div>
                        @if (ViewBag.R.ft.ToString() == "PersonRequest" || ViewBag.R.ft.ToString() == "MemberRequest" || ViewBag.R.ft.ToString() == "RequestMgr")
                        {
                            <div class="input-group z-lv-cond d-flex justify-content-end">
                                <select class="custom-select" id="_SearchYear" style="margin-left: 4px; width: 100px">
                                    @Html.Raw(ZumNet.Web.Bc.CommonUtils.OptionYear(DateTime.Now.Year, 2020))
                                </select>
                                <div class="input-group-text">
                                    @if (ViewBag.R.ft.ToString() == "PersonRequest")
                                    {
                                        <label class="custom-control custom-radio m-0 mr-2" for="rdo01">
                                            <input type="radio" class="custom-control-input" name="rdoSearch" id="rdo01" value="go" checked>
                                            <span class="custom-control-label">처리대기</span>
                                        </label>
                                    }
                                    else
                                    {
                                        <label class="custom-control custom-radio m-0 mr-2" for="rdo01">
                                            <input type="radio" class="custom-control-input" name="rdoSearch" id="rdo01" value="do" checked>
                                            <span class="custom-control-label">처리대기</span>
                                        </label>
                                    }
                                    <label class="custom-control custom-radio m-0 mr-2" for="rdo02">
                                        <input type="radio" class="custom-control-input" name="rdoSearch" id="rdo02" value="av">
                                        <span class="custom-control-label">승인</span>
                                    </label>
                                    <label class="custom-control custom-radio m-0 mr-2" for="rdo03">
                                        <input type="radio" class="custom-control-input" name="rdoSearch" id="rdo03" value="rj">
                                        <span class="custom-control-label">미승인</span>
                                    </label>
                                    @if (ViewBag.R.ft.ToString() == "RequestMgr")
                                    {
                                        <label class="custom-control custom-radio m-0" for="rdo04">
                                            <input type="radio" class="custom-control-input" name="rdoSearch" id="rdo04" value="all">
                                            <span class="custom-control-label">전체</span>
                                        </label>
                                    }
                                    else
                                    {
                                        <label class="custom-control custom-radio m-0" for="rdo04">
                                            <input type="radio" class="custom-control-input" name="rdoSearch" id="rdo04" value="cm">
                                            <span class="custom-control-label">전체</span>
                                        </label>
                                    }

                                </div>
                                <span class="input-group-append">
                                    <button class="btn btn-secondary" type="button" data-zv-menu="search"><i class="fe-search"></i></button>
                                </span>
                            </div>
                        }
                        else if (ViewBag.R.ft.ToString() == "StatusMgr")
                        {
                            <div class="input-group z-lv-cond d-flex justify-content-end" style="width: 400px">
                                <select class="custom-select" id="_SearchYear" style="margin-left: 4px; width: 100px">
                                    @Html.Raw(ZumNet.Web.Bc.CommonUtils.OptionYear(DateTime.Now.Year, 2020))
                                </select>
                                <select class="custom-select" id="_SearchMonth" style="width: 85px">
                                    @Html.Raw(ZumNet.Web.Bc.CommonUtils.OptionMonth(DateTime.Now.Month))
                                </select>
                                <input type="text" class="form-control" id="_SearchText" placeholder="성명 + 부서">
                                <span class="input-group-append">
                                    <button class="btn btn-secondary" type="button" data-zv-menu="search"><i class="fe-search"></i></button>
                                </span>
                            </div>
                        }
                        else if (ViewBag.R.ft.ToString() == "LedgerMgr")
                        {
                            <div class="input-group z-lv-cond d-flex justify-content-end">
                                <select class="custom-select" id="_SearchYear" style="margin-left: 4px; width: 100px">
                                    @Html.Raw(ZumNet.Web.Bc.CommonUtils.OptionYear(DateTime.Now.Year, 2020))
                                </select>
                                <select class="custom-select" id="_SearchMonth" style="width: 85px">
                                    @Html.Raw(ZumNet.Web.Bc.CommonUtils.OptionMonth(DateTime.Now.Month))
                                </select>
                                <div class="input-group-text">
                                    <div class="alert alert-info m-0 px-2 py-0 text-blue" role="alert">전월 21일 ~ 당월 20일</div>
                                </div>
                                <input type="text" class="form-control" id="_SearchText" placeholder="성명 + 부서">
                                <span class="input-group-append">
                                    <button class="btn btn-secondary" type="button" data-zv-menu="search"><i class="fe-search"></i></button>
                                </span>
                            </div>
                        }
                        else
                        {
                            <div class="input-group z-lv-cond d-flex justify-content-end">
                                <select class="custom-select" id="_SearchYear" style="margin-left: 4px; width: 100px">
                                    @Html.Raw(ZumNet.Web.Bc.CommonUtils.OptionYear(DateTime.Now.Year, 2020))
                                </select>
                                @if (ViewBag.R.ft.ToString() != "WorkTimeMgr")
                                {
                                    <select class="custom-select" id="_SearchMonth" style="width: 85px">
                                        @Html.Raw(ZumNet.Web.Bc.CommonUtils.OptionMonth(DateTime.Now.Month))
                                    </select>
                                }
                                <span class="input-group-append">
                                    <button class="btn btn-secondary" type="button" data-zv-menu="search"><i class="fe-search"></i></button>
                                </span>
                            </div>
                        }
                    </div>
                    <div class="z-list-body" id="__ListView">
                        @Html.Partial(sPatialView)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / content -->

</div><!-- / .messages-wrapper -->
