@{
    ViewBag.Title = "접속 이력(근무정보)";
}

@section Styles {
    @Styles.Render("~/bundle/vendor/css/bootstrap-datepicker/bootstrap-datepicker")
    @Styles.Render("~/bundle/vendor/css/datatables/datatables")
}

@section Scripts {
    @Scripts.Render("~/bundle/vendor/js/moment/moment")
    @Scripts.Render("~/bundle/vendor/js/bootstrap-datepicker/bootstrap-datepicker")
    @Scripts.Render("~/bundle/vendor/js/datatables/datatables")

    <script type="text/javascript">
		var prevSortColumn = "";
		var prevSortType = "";
		var tbl_list;

		$(document).ready(function () {
			$("#datepicker-range").datepicker({
				closeText: "닫기",
				currentText: "오늘",
				prevText: '이전 달',
				nextText: '다음 달',
				monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
				monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
				dayNames: ['일', '월', '화', '수', '목', '금', '토'],
				dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
				dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
				weekHeader: "주",
				yearSuffix: "년",
                dateFormat: "yyyy-mm-dd"
			});

			searchList();

            $("#txtSearch").on("keyup", function (e) {
				if (e.keyCode == 13 && $.trim($(this).val()) != "") {
					searchList();
				}
			});

			$("#btnSearch").on("click", function () {
				searchList();
			});
		});

		function searchList() {
            if (tbl_list) {
                tbl_list.destroy();
			}

            tbl_list = $('#tbl_list').DataTable({
                "serverSide": true,
                "ajax": {
                    "url": '@Url.Action("SearchConnectLogList", "Event")',
					"type": "POST",
					"data": function (p) {
						p.prevSortColumn = prevSortColumn;
						p.prevSortType = prevSortType;
						p.eventViewName = "ph_VIEW_BASE_WORKTIME_LIST";
						p.searchColumn = $("#selSearchType").val();
						p.searchText = $("#txtSearch").val();
						p.searchStartDate = $("#datepicker-range input[name='start']").val();
						p.searchEndDate = $("#datepicker-range input[name='end']").val();
					},
					"dataSrc": function (result) {
						prevSortColumn = result.sortColumn;
                        prevSortType = result.sortType;

                        return result.data;
                    }
				},
                "columns": [
                    { data: "UserName" },
                    { data: "DeptName" },
                    { data: "EventTime" },
                    { data: "UserID" },
                    { data: "LogonID" },
					{ data: "StartTime" },
                    { data: "EndTime" }
                ],
                "language": dataTable_lang_kor,
				"searching": false,
				"lengthChange": false,
				"info": false,
				"displayLength": 20,
                "order": []
            });
		}
    </script>
}

<h4 class="font-weight-bold py-3 mb-4">
    접속 이력(근무정보)
</h4>

<div class="card mb-4">
    <div class="card-body">
        <form class="form-inline">
            <label class="form-label">날짜 : </label>
            <div class="input-daterange input-group mx-sm-3" id="datepicker-range">
                <input type="text" class="form-control" name="start">
                <div class="input-group-prepend">
                    <span class="input-group-text">to</span>
                </div>
                <input type="text" class="form-control" name="end">
            </div>
            <label class="form-label mx-sm-3">검색타입 : </label>
            <select class="custom-select" id="selSearchType">
                <option selected value="">선택</option>
                <option value="UserName">이름</option>
                <option value="DeptName">부서(팀점)</option>
                <option value="UserID">사용자 ID</option>
                <option value="LogonID">로그온 ID</option>
                <option value="StartTime">시작시간</option>
                <option value="EndTime">종료시간</option>
            </select>
            <label class="form-label mx-sm-3">검색어 : </label>
            <input type="search" id="txtSearch" class="form-control mx-sm-3" placeholder="" aria-controls="product-list">
            <button type="button" id="btnSearch" class="btn btn-default">조회</button>
        </form>
    </div>
</div>

<div class="card">
    <div class="card-datatable table-responsive">
        <table id="tbl_list" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>이름</th>
                    <th>부서(팀점)</th>
                    <th>작업일자</th>
                    <th>사용자ID</th>
                    <th>로그온ID</th>
                    <th>시작시간</th>
                    <th>종료시간</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


