@{
    ViewBag.Title = "문서 등록 로그";
}

@section Styles {
    @Styles.Render("~/bundle/vendor/css/bootstrap-datepicker/bootstrap-datepicker")
    @Styles.Render("~/bundle/vendor/css/datatables/datatables")
}

@section Scripts {
    @Scripts.Render("~/bundle/vendor/js/moment/moment")
    @Scripts.Render("~/bundle/vendor/js/bootstrap-datepicker/bootstrap-datepicker")
    @Scripts.Render("~/bundle/vendor/js/datatables/datatables")

    <script type="text/javascript">
		var tbl_list;

		$(document).ready(function () {
			$("#datepicker-range").datepicker({
				language: "KO",
                format: "yyyy-mm-dd"
            });

			searchList();

            $("#txtSearch").on("keyup", function (e) {
				if (e.keyCode == 13 && $.trim($(this).val()) != "") {
					searchList();
				}
			});

			$("#btnSearch").on("click", function () {
				searchList();
			});
		});

		function searchList() {
            if (tbl_list) {
                tbl_list.destroy();
			}

            tbl_list = $('#tbl_list').DataTable({
				"serverSide": true,
                "ajax": {
                    "url": '@Url.Action("SearchDocumentWriteLogList", "Event")',
					"type": "POST",
					"data": function (p) {
						p.eventViewName = "ph_VIEW_BASE_REGISTRATION_LIST";
						p.searchColumn = $("#selSearchType").val();
						p.searchText = $("#txtSearch").val();
						p.searchStartDate = $("#datepicker-range input[name='start']").val();
						p.searchEndDate = $("#datepicker-range input[name='end']").val();
					},
                    "dataSrc": function (result) {
						if (result.code != "OK") {
						    alert(result.message);

						    return [];
					    }

                        $("#tbl_list_wrapper").find("div.row:eq(0)").find("div:eq(0)").empty();
						$("#tbl_list_wrapper").find("div.row:eq(0)").find("div:eq(0)").append("<div class=\"dataTables_length\"><label>" + result.recordsTotal + "건의 문서 등록 로그가 존재합니다.</label></div>");

						return result.data;
                    }
				},
                "columns": [
                    { data: "UserName" },
                    { data: "DeptName" },
                    { data: "EventTime" },
                    { data: "UserID" },
                    { data: "ActType" },
					{ data: "XFAlias" },
					{ data: "MessageID" },
					{ data: "Subject" },
					{ data: "FD_ID" },
                    { data: "FDName" }
                ],
                "language": dataTable_lang_kor,
				"searching": false,
				"lengthChange": false,
				"info": false,
				"displayLength": 15,
                "order": [],
                "createdRow": function (row, data, index) {
					var eventTime = data["EventTime"];

                    if ((data["EventTime"] != null && data["EventTime"] != "") && data["EventTime"].length >= 19) {
                        eventTime = data["EventTime"].substring(2, 10) + " " + data["EventTime"].substring(11, 16);
					}

					$('td', row).eq(2).html('').append(eventTime);
				}
            });
		}
    </script>
}

<h4 class="font-weight-bold py-3 mb-4">
    문서 등록 로그
</h4>

<div class="card mb-4">
    <div class="card-body">
        <form class="form-inline">
            <label class="form-label">날짜 : </label>
            <div class="input-daterange input-group mx-sm-3" id="datepicker-range">
                <input type="text" class="form-control" name="start">
                <div class="input-group-prepend">
                    <span class="input-group-text"> ~ </span>
                </div>
                <input type="text" class="form-control" name="end">
            </div>
            <label class="form-label mx-sm-3">검색타입 : </label>
            <select class="custom-select" id="selSearchType">
                <option selected value="">선택</option>
                <option value="UserName">이름</option>
                <option value="DeptName">부서(팀점)</option>
                <option value="UserID">등록자ID</option>
                <option value="ActType">등록형태</option>
                <option value="XfAlias">스키마</option>
                <option value="MessageID">게시물ID</option>
                <option value="Subject">제목</option>
                <option value="FD_ID">폴더ID</option>
                <option value="FDName">폴더이름</option>
            </select>
            <label class="form-label mx-sm-3">검색어 : </label>
            <input type="search" id="txtSearch" class="form-control mx-sm-3" placeholder="" aria-controls="product-list">
            <button type="button" id="btnSearch" class="btn btn-default">조회</button>
        </form>
    </div>
</div>

<div class="card">
    <div class="card-datatable table-responsive">
        <table id="tbl_list" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>이름</th>
                    <th>부서(팀점)</th>
                    <th>등록 시간</th>
                    <th>등록자 ID</th>
                    <th>등록형태</th>
                    <th>스키마</th>
                    <th>게시물 ID</th>
                    <th>제목</th>
                    <th>폴더 ID</th>
                    <th>폴더이름</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


