@{
    ViewBag.Title = "문서 등록 로그";
}

@section Styles {
    @Styles.Render("~/bundle/vendor/css/bootstrap-datepicker/bootstrap-datepicker")
    @Styles.Render("~/bundle/vendor/css/datatables/datatables")
}

@section Scripts {
    @Scripts.Render("~/bundle/vendor/js/moment/moment")
    @Scripts.Render("~/bundle/vendor/js/bootstrap-datepicker/bootstrap-datepicker")
    @Scripts.Render("~/bundle/vendor/js/datatables/datatables")

    <script type="text/javascript">
		var prevSortColumn = "";
		var prevSortType = "";
		var tbl_list;

		$(document).ready(function () {
			$('#datepicker-range').datepicker({
				closeText: "닫기",
				currentText: "오늘",
				prevText: '이전 달',
				nextText: '다음 달',
				monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
				monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
				dayNames: ['일', '월', '화', '수', '목', '금', '토'],
				dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
				dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
				weekHeader: "주",
				yearSuffix: "년",
                dateFormat: "yyyy-mm-dd"
			});

			searchList();

            $("#txtSearch").on("keyup", function (e) {
				if (e.keyCode == 13 && $.trim($(this).val()) != "") {
					searchList();
				}
			});

			$("#btnSearch").on("click", function () {
				searchList();
			});
		});

		function searchList() {
            if (tbl_list) {
                tbl_list.destroy();
			}

            tbl_list = $('#tbl_list').DataTable({
                "serverSide": true,
                "ajax": {
                    "url": '@Url.Action("SearchDocumentWriteLogList", "Event")',
					"type": "POST",
					"data": function (p) {
						p.prevSortColumn = prevSortColumn;
						p.prevSortType = prevSortType;
						p.eventViewName = "ph_VIEW_BASE_REGISTRATION_LIST";
						p.searchColumn = $("#selSearchType").val();
						p.searchText = $("#txtSearch").val();
						p.searchStartDate = $("#datepicker-range input[name='start']").val();
						p.searchEndDate = $("#datepicker-range input[name='end']").val();
					}
				 //   },
					//complete: function (result) {
					//	prevSortColumn = result.responseJSON.sortColumn;
     //                   prevSortType = result.responseJSON.sortType;
     //               }
				},
                "columns": [
                    { data: "UserName" },
                    { data: "DeptName" },
                    { data: "EventTime" },
                    { data: "UserID" },
                    { data: "ActType" },
					{ data: "XFAlias" },
					{ data: "MessageID" },
					{ data: "Subject" },
					{ data: "FD_ID" },
                    { data: "FDName" }
                ],
                "language": dataTable_lang_kor,
                "searching": false
            });
		}

        // Korean
        var dataTable_lang_kor = {
            "decimal" : "",
            "emptyTable" : "데이터가 없습니다.",
            "info" : "_START_ - _END_ (총 _TOTAL_ 명)",
            "infoEmpty" : "0명",
            "infoFiltered" : "(전체 _MAX_ 명 중 검색결과)",
            "infoPostFix" : "",
            "thousands" : ",",
            "lengthMenu" : "_MENU_ 개씩 보기",
            "loadingRecords" : "로딩중...",
            "processing" : "처리중...",
            "search" : "검색 : ",
            "zeroRecords" : "검색된 데이터가 없습니다.",
            "paginate" : {
                "first" : "첫 페이지",
                "last" : "마지막 페이지",
                "next" : "다음",
                "previous" : "이전"
            },
            "aria" : {
                "sortAscending" : " :  오름차순 정렬",
                "sortDescending" : " :  내림차순 정렬"
            }
        };
    </script>
}

<h4 class="font-weight-bold py-3 mb-4">
    문서 등록 로그
</h4>

<!-- Filters -->
<div class="ui-bordered px-4 pt-4 mb-4">
    <div class="form-row align-items-center">
        <div class="col-md mb-4">
            <label class="form-label">날짜</label>
            <div class="input-daterange input-group" id="datepicker-range">
                <input type="text" class="form-control" name="start">
                <div class="input-group-prepend">
                    <span class="input-group-text">to</span>
                </div>
                <input type="text" class="form-control" name="end">
            </div>
        </div>
        <div class="col-md mb-4">
            <label class="form-label">검색타입</label>
            <select class="custom-select" id="selSearchType">
                <option selected value="">선택</option>
                <option value="UserName">이름</option>
                <option value="DeptName">부서(팀점)</option>
                <option value="UserID">등록자ID</option>
                <option value="ActType">등록형태</option>
                <option value="XfAlias">스키마</option>
                <option value="MessageID">게시물ID</option>
                <option value="Subject">제목</option>
                <option value="FD_ID">폴더ID</option>
                <option value="FDName">폴더이름</option>
            </select>
        </div>
        <div class="col-md mb-4">
            <label class="form-label">검색어</label>
            <input type="search" id="txtSearch" class="form-control form-control-sm" placeholder="" aria-controls="product-list">
        </div>
        <div class="col-md col-xl-2 mb-4">
            <label class="form-label d-none d-md-block">&nbsp;</label>
            <button type="button" id="btnSearch" class="btn btn-secondary btn-block">검색</button>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-datatable table-responsive">
        <table id="tbl_list" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>이름</th>
                    <th>부서(팀점)</th>
                    <th>등록 시간</th>
                    <th>등록자 ID</th>
                    <th>등록형태</th>
                    <th>스키마</th>
                    <th>게시물 ID</th>
                    <th>제목</th>
                    <th>폴더 ID</th>
                    <th>폴더이름</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


