@using System.Data;
@using ZumNet.Web.Bc;
@{
    DataRow rowInfo = ViewBag.PersonInfo != null && ViewBag.PersonInfo.Tables.Count > 0 && ViewBag.PersonInfo.Tables[0].Rows.Count > 0 ? ViewBag.PersonInfo.Tables[0].Rows[0] : null;
}

@functions {
    private string GetOrgUserImageEx(string logonId)
    {
        string imagepath = Server.MapPath("~/Storage/cresyn/PersonPhoto/" + logonId + ".jpg");
        string imageFormat = "image/jpg";
        string imageOpacity = "";

        if (!File.Exists(imagepath))
        {
            imagepath = Server.MapPath("~/images/plugins/user.png");
            imageFormat = "image/png";
            imageOpacity = " opacity-50";
        }
        FileStream fs = new FileStream(imagepath, FileMode.Open);
        byte[] byData = new byte[fs.Length];
        fs.Read(byData, 0, byData.Length);
        fs.Close();

        var base64 = Convert.ToBase64String(byData);

        return String.Format("<img src=\"data:{0};base64,{1}\" alt=\"User Image\" class=\"mb-2 contact-content-img{2}\">", imageFormat, base64, imageOpacity);
    }

    private string GetOrgUserImage(string logonId)
    {
        string imagepath = "/Storage/cresyn/PersonPhoto/" + logonId + ".jpg";
        string imageOpacity = "";

        if (!File.Exists(Server.MapPath(imagepath)))
        {
            imagepath = "/images/plugins/user.png";
            imageOpacity = " opacity-50";
        }

        //return String.Format("<img src=\"{0}\" alt=\"User Image\" class=\"contact-content-img{1}\" onerror=\"this.src='/images/plugins/user.png'\">", imagepath, imageOpacity);
        return String.Format("<img src=\"{0}\" alt=\"User Image\" class=\"contact-content-img{1}\">", imagepath, imageOpacity);
    }
}

<div class="modal-dialog modal-sm">
    <div class="modal-content bg-white">
        <div class="modal-header border">
            <h6 class="modal-title">사용자 세부 정보</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            @if (rowInfo == null)
            {
                <p class="mt-4 mb-5 fs-16 text-muted text-center">@Resources.Global.Auth_NoDB</p>
            }
            else
            {
                <div class="media contact-content">
                    @Html.Raw(GetOrgUserImage(rowInfo["LogonID"].ToString()))
                    <div class="media-body">
                        @if (rowInfo["Description"].ToString() == "")
                        {
                            <p class="text-primary pt-3 text-center">입력된 소개글이 없습니다.</p>
                        }
                        else
                        {
                            <p class="pt-3 text-center">@rowInfo["Description"]</p>
                        }
                    </div>
                </div>
                <div class="border">
                    <table class="table table-bordered table-sm mb-0">
                        <tr>
                            <th class="table-secondary text-nowrap">@Resources.Global.Name</th>
                            <td class="">@rowInfo["UserName"]</td>
                        </tr>
                        <tr>
                            <th class="table-secondary text-nowrap">@Resources.Global.Department</th>
                            <td class="">@rowInfo["TeamName"]</td>
                        </tr>
                        <tr>
                            <th class="table-secondary text-nowrap">@Resources.Global.Jikwi</th>
                            <td class="">@rowInfo["Position"]</td>
                        </tr>
                        <tr>
                            <th class="table-secondary text-nowrap">담당업무</th>
                            <td class="">@rowInfo["BusinessMain"]</td>
                        </tr>
                        <tr>
                            <th class="table-secondary text-nowrap">핸드폰</th>
                            <td class="">@rowInfo["Mobile"]</td>
                        </tr>
                        <tr>
                            <th class="table-secondary text-nowrap">Mail</th>
                            <td class="">@rowInfo["MainMail"]</td>
                        </tr>
                        <tr>
                            <th class="table-secondary text-nowrap">연락처</th>
                            <td class="">@rowInfo["InterPhone"]</td>
                        </tr>
                        @if (Session["LogonID"].ToString() == "ojseo" || Session["LogonID"].ToString() == "hyjung" || Session["LogonID"].ToString() == "jblee")
                        {
                            <tr>
                                <th class="table-secondary text-nowrap">생년월일</th>
                                <td class="">@rowInfo["Birthday"]</td>
                            </tr>
                            <tr>
                                <th class="table-secondary text-nowrap">입사일</th>
                                <td class="">@rowInfo["Indate"]</td>
                            </tr>
                            <tr>
                                <th class="table-secondary text-nowrap">학력</th>
                                <td class="">@rowInfo["SecondBusiness5"]</td>
                            </tr>
                        }
                    </table>
                </div>
            }

        </div>
        @*<div class="modal-footer">
            <div class="text-center">
                <button type="button" class="flex-fill btn btn-default" data-dismiss="modal">@Resources.Global.Close</button>
            </div>
        </div>*@
    </div>
</div>