@using System.Data;
@using System.Text;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@using ZumNet.Web.Bc;
@using ZumNet.Framework.Util;
@{
    ViewBag.Title = Resources.Global.OrganChart;

    string _widthClass_l = "wd-99 wd-lg-45 wd-xl-45";
    string _widthClass_m = "";
    string _widthClass_r = "wd-99 wd-lg-55 wd-xl-55";

    if (ViewBag.JPost["M"].ToString() == "user")
    {
        ViewBag.Title += " - 사용자 선택";
    }
    else if (ViewBag.JPost["M"].ToString() == "group")
    {
        ViewBag.Title += " - 부서 선택";
        _widthClass_l = "wd-99 wd-lg-42 wd-xl-42";
        _widthClass_m = "wd-99 wd-lg-6 wd-xl-6";
        _widthClass_r = "wd-99 wd-lg-52 wd-xl-52";
    }
    else if (ViewBag.JPost["M"].ToString() == "all")
    {
        _widthClass_l = "wd-99 wd-lg-42 wd-xl-42";
        _widthClass_m = "wd-99 wd-lg-6 wd-xl-6";
        _widthClass_r = "wd-99 wd-lg-52 wd-xl-52";
    }
}
@functions{
    private string CheckAbsence(string isAbsent)
    {
        if (isAbsent == "Y") return "<span class=\"text-danger\">부재중</span>";
        else return "";
    }

    private string CheckAbsence(string isAbsent, string fromDate, string toDate)
    {
        bool b = (isAbsent == "Y" && DateTime.Compare(DateTime.Now, Convert.ToDateTime(fromDate)) >= 0 && DateTime.Compare(DateTime.Now, Convert.ToDateTime(toDate)) <= 0) ? true : false;
        if (b) return "<span class=\"text-danger\">부재중</span>";
        else return "";
    }

    private string GetMemberAttr(DataRow dr)
    {
        JObject j = JObject.Parse("{}");
        j["id"] = dr["UserID"].ToString();
        j["logonid"] = dr["LogonID"].ToString();
        j["smail"] = dr["SecondMail"].ToString();
        j["grid"] = dr["GR_ID"].ToString();
        j["gralias"] = dr["GRAlias"].ToString();
        j["grdn"] = dr.Table.Columns.Contains("GRName") ? dr["GRName"].ToString() : dr["GroupName"].ToString();
        j["empid"] = dr["EmpID"].ToString();
        j["grade"] = dr["Grade1"].ToString();
        j["role"] = dr["Role"].ToString();
        j["mobile"] = dr["Mobile"].ToString();

        return JsonConvert.SerializeObject(j);
    }

    private string GetUserInfo(DataSet ds)
    {
        DataRow dr = (ds != null && ds.Tables.Count > 0 && ds.Tables[0].Rows.Count > 0) ? ds.Tables[0].Rows[0] : null;
        StringBuilder sb = new StringBuilder();
        sb.Append("<tr>");
        sb.AppendFormat("<td rowspan=\"4\">{0}</td>", GetOrgUserImage(dr["LogonID"].ToString()));
        sb.Append("<th>성명</th>");
        sb.AppendFormat("<td>{0}</td>", DataHelper.GetFieldValueToString(dr, "UserName"));
        sb.Append("<th>직위</th>");
        sb.AppendFormat("<td>{0} / {1}</td>", DataHelper.GetFieldValueToString(dr, "CodeName"), DataHelper.GetFieldValueToString(dr, "DeptName"));
        sb.Append("</tr><tr>");
        sb.Append("<th rowspan=\"3\">담당업무</th>");
        sb.AppendFormat("<td rowspan=\"3\">{0}</td>", DataHelper.GetFieldValueToString(dr, "사무분담"));
        sb.Append("<th>연락처</th>");
        sb.AppendFormat("<td>{0}</td>", DataHelper.GetFieldValueToString(dr, "Mobile"));
        sb.Append("</tr><tr>");
        if (dr != null && dr["AbsentDate2"].ToString().Trim() != "" && Convert.ToDateTime(dr["AbsentDate2"].ToString().Trim()) >= DateTime.Today)
        {
            sb.Append("<th>부재</th>");
            sb.AppendFormat("<td>{0} ~ {1}</td>", DataHelper.GetFieldValueToString(dr, "AbsentDate1"), DataHelper.GetFieldValueToString(dr, "AbsentDate2"));
            sb.Append("</tr><tr>");
            sb.Append("<th>대결자</th>");
            sb.AppendFormat("<td>{0}</td>", DataHelper.GetFieldValueToString(dr, "Deputy"));
            sb.Append("</tr>");
        }
        else
        {
            sb.Append("<th>부재</th><td></td>");
            sb.Append("</tr><tr>");
            sb.Append("<th>대결자</th><td></td>");
            sb.Append("</tr>");
        }


        return sb.ToString();
    }

    private string GetOrgUserImageEx(string logonId)
    {
        string imagepath = "";
        string imageFormat = "";
        string imageOpacity = "";

        if (logonId != "")
        {
            imagepath = Server.MapPath("~/Storage/cresyn/PersonPhoto/" + logonId + ".jpg");
            imageFormat = "image/jpg";
            imageOpacity = "";
        }

        if (imagepath == "" || !File.Exists(imagepath))
        {
            imagepath = Server.MapPath("~/images/plugins/user.png");
            imageFormat = "image/png";
            imageOpacity = " opacity-50";
        }
        FileStream fs = new FileStream(imagepath, FileMode.Open);
        byte[] byData = new byte[fs.Length];
        fs.Read(byData, 0, byData.Length);
        fs.Close();

        var base64 = Convert.ToBase64String(byData);
        return String.Format("<img src=\"data:{0};base64,{1}\" alt=\"User Image\" class=\"{2}\">", imageFormat, base64, imageOpacity);
    }

    private string GetOrgUserImage(string logonId)
    {
        string imagepath = "/Storage/cresyn/PersonPhoto/" + logonId + ".jpg";
        string imageOpacity = "";

        if (!File.Exists(Server.MapPath(imagepath)))
        {
            imagepath = "/images/plugins/user.png";
            imageOpacity = " opacity-50";
        }

        //return String.Format("<img src=\"{0}\" alt=\"User Image\" class=\"contact-content-img{1}\" onerror=\"this.src='/images/plugins/user.png'\">", imagepath, imageOpacity);
        return String.Format("<img src=\"{0}\" alt=\"User Image\" class=\"contact-content-img{1}\">", imagepath, imageOpacity);
    }
}
@if (ViewBag.JPost["M"].ToString() == "member" || ViewBag.JPost["M"].ToString() == "search")
{
    if (ViewBag.MemberList != null && ViewBag.MemberList.Tables.Count > 0)
    {
        foreach (DataRow dr in ViewBag.MemberList.Tables[0].Rows)
        {
            <div class="d-flex align-items-center mb-2">
                <div class="wd-50 wd-lg-50 wd-xl-50">
                    <label class="flex-fill custom-control custom-checkbox mb-0">
                        <input type="checkbox" class="custom-control-input" data-for="ur.@dr["UserID"]" data-attr="@GetMemberAttr(dr)">
                        <span class="custom-control-label">@dr["DisplayName"]</span>
                    </label>
                </div>
                <div class="wd-25 wd-lg-25 wd-xl-25 text-muted text-nowrap">@dr["Grade1"]</div>
                @if (ViewBag.JPost["M"].ToString() == "member")
                {
                    <div class="wd-25 wd-lg-25 wd-xl-25 text-muted text-nowrap">@Html.Raw(CheckAbsence(dr["NowAbsent"].ToString()))</div>
                }
                else
                {
                    <div class="wd-25 wd-lg-25 wd-xl-25 text-muted text-nowrap">@Html.Raw(CheckAbsence(dr["IsAbsent"].ToString(), dr["AbsentStartDate"].ToString(), dr["AbsentEndDate"].ToString()))</div>
                }
            </div>
        }
    }
    else
    {
        <p class="text-center mt-5">@Resources.Global.NoItemShow</p>
    }
}
else if (ViewBag.JPost["M"].ToString() == "user" || ViewBag.JPost["M"].ToString() == "group" || ViewBag.JPost["M"].ToString() == "all")
{
    <div class="modal-dialog modal-lg modal-dialog-scrollable" style="max-width: 35rem">
        <div class="modal-content bg-white" style="box-shadow: 0px 5px 15px rgba(0,0,0,0.5)">
            <div class="modal-header bg-light py-2">
                <h6 class="modal-title">@ViewBag.Title</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="zf-org modal-body p-2">
                <div class="d-sm-flex">
                    <div class="nav-tabs-top @_widthClass_l">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link py-2 active" data-toggle="tab" role="tab" href="#orgmaptree" aria-controls="orgmaptree" aria-selected="true">@Resources.Global.OrganChart</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link py-2" data-toggle="tab" role="tab" href="#orgmapsearch" aria-controls="orgmapsearch" aria-selected="false">@Resources.Global.Search</a>
                            </li>
                        </ul>
                        <!-- sidebox tree -->
                        <div class="tab-content p-2">
                            <div class="tab-pane fade show active" id="orgmaptree" role="tabpanel" aria-labelledby="orgtree-tab">
                                <div id="__OrgMapTree"></div>
                            </div>
                            <div class="tab-pane fade show" id="orgmapsearch" role="tabpanel" aria-labelledby="orgsearch-tab">
                                <form id="__OrgMapSearch">
                                    <div class="form-group row mx-0 mb-2">
                                        <label class="col-form-label col-4 text-truncate">@Resources.Global.PersonName</label>
                                        <div class="col-8 px-0">
                                            <input type="text" class="form-control" placeholder="@Resources.Global.PersonName" data-for="ur">
                                        </div>
                                    </div>
                                    <div class="form-group row mx-0 mb-2">
                                        <label class="col-form-label col-4 text-truncate">@Resources.Global.ID</label>
                                        <div class="col-8 px-0">
                                            <input type="text" class="form-control" placeholder="@Resources.Global.ID" data-for="urcn">
                                        </div>
                                    </div>
                                    <div class="form-group row mx-0 mb-2">
                                        <label class="col-form-label col-4 text-truncate">@Resources.Global.Department</label>
                                        <div class="col-8 px-0">
                                            <input type="text" class="form-control" placeholder="@Resources.Global.Department" data-for="dept">
                                        </div>
                                    </div>
                                    <div class="form-group row mx-0">
                                        <label class="col-form-label col-4 text-truncate">@Resources.Global.Jikwi</label>
                                        <div class="col-8 px-0">
                                            <select class="custom-select" data-for="grade">
                                                <option value="">@Resources.Global.Select</option>
                                                @foreach (DataRow row in ViewBag.GradeCode)
                                                {
                                                    <option value="@row["Code"]">@row["CodeName"]</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button class="btn btn-outline-success py-1 mr-1">@Resources.Global.Search</button>
                                        <button class="btn btn-outline-secondary py-1 ml-1" type="reset">@Resources.Global.Reset</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- / sidebox tree -->
                    </div>
                    @if (_widthClass_m != "")
                    {
                        <div class="@_widthClass_m">
                            <div class="zf-org-menu d-none d-sm-flex flex-sm-column align-items-center justify-content-end h-75">
                                <button type="button" class="btn btn-outline-success icon-btn btn-sm mb-2" data-toggle="tooltip" data-placement="bottom" title="부서 추가" data-zm-menu="addGroup"><i class=" fas fa-arrow-right"></i></button>
                                <button type="button" class="btn btn-outline-secondary icon-btn btn-sm" data-toggle="tooltip" data-placement="bottom" title="부서 삭제" data-zm-menu="removeGroup"><i class=" fas fa-arrow-left"></i></button>
                            </div>
                            <div class="zf-org-menu d-flex d-sm-none align-items-center justify-content-center my-2">
                                <button type="button" class="btn btn-outline-success icon-btn btn-sm mr-2" data-toggle="tooltip" data-placement="bottom" title="부서 추가" data-zm-menu="addGroup"><i class=" fas fa-arrow-down"></i></button>
                                <button type="button" class="btn btn-outline-secondary icon-btn btn-sm" data-toggle="tooltip" data-placement="bottom" title="부서 삭제" data-zm-menu="removeGroup"><i class=" fas fa-arrow-up"></i></button>
                            </div>
                        </div>
                    }
                    <div class="@_widthClass_r">
                        <div class="@(_widthClass_m == "" ? "ml-sm-2 mt-2 mt-sm-0" : "")">
                            <div class="card">
                                <div class="card-header py-2 font-weight-bold">구성원</div>
                                <div class="zf-org-list card-body p-2">
                                    @foreach (DataRow dr in ViewBag.MemberList.Tables[0].Rows)
                                    {
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="wd-50 wd-lg-50 wd-xl-50">
                                                <label class="flex-fill custom-control custom-checkbox mb-0">
                                                    <input type="checkbox" class="custom-control-input" data-for="ur.@dr["UserID"]" data-attr="@GetMemberAttr(dr)">
                                                    <span class="custom-control-label">@dr["DisplayName"]</span>
                                                </label>
                                            </div>
                                            <div class="wd-25 wd-lg-25 wd-xl-25 text-muted text-nowrap">@dr["Grade1"]</div>
                                            <div class="wd-25 wd-lg-25 wd-xl-25 text-muted text-nowrap">@Html.Raw(CheckAbsence(dr["NowAbsent"].ToString()))</div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="card mt-2">
                                <div class="card-header py-2 d-flex justify-content-between">
                                    <div class="font-weight-bold">선택목록</div>
                                    <div class="zf-org-menu">
                                        @if (ViewBag.JPost["M"].ToString() != "group")
                                        {
                                            <button type="button" class="btn btn-outline-success icon-btn btn-sm" data-toggle="tooltip" data-placement="bottom" title="사용자 추가" data-zm-menu="addUser"><i class="fas fa-user-plus"></i></button>
                                            <button type="button" class="btn btn-outline-secondary icon-btn btn-sm" data-toggle="tooltip" data-placement="bottom" title="사용자 삭제" data-zm-menu="removeUser"><i class="fas fa-user-minus"></i></button>
                                        }
                                    </div>
                                </div>
                                <div class="zf-org-select card-body p-2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="zf-org-info d-none d-sm-block mt-2">
                    <table class="table table-sm mb-0">
                        <colgroup>
                            <col style="width: 16%" />
                            <col style="width: 12%" />
                            <col style="width: 28%" />
                            <col style="width: 12%" />
                            <col style="width: 34%" />
                        </colgroup>
                        <tbody>
                            @Html.Raw(GetUserInfo(ViewBag.UserInfo))
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer py-1">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Global.Close</button>
                <button type="button" class="btn btn-primary" data-zm-menu="confirm">@Resources.Global.Confirm</button>
            </div>
        </div>
    </div>
}

@if (ViewBag.JPost["M"].ToString() == "user" || ViewBag.JPost["M"].ToString() == "all")
{
    <script type="text/template" class="zf-org-template">
        <div class="d-flex align-items-center mb-2">
            <div class="wd-35 wd-lg-35 wd-xl-35">
                <label class="flex-fill custom-control custom-checkbox mb-0">
                    <input type="checkbox" class="custom-control-input" data-for="{$id}" data-attr="{$attr}">
                    <span class="custom-control-label">{$user}</span>
                </label>
            </div>
            <div class="wd-25 wd-lg-25 wd-xl-25 text-muted text-nowrap">{$grade}</div>
            <div class="wd-40 wd-lg-40 wd-xl-40 text-muted text-nowrap">{$dept}</div>
        </div>
    </script>
}

@if (ViewBag.JPost["M"].ToString() == "group" || ViewBag.JPost["M"].ToString() == "all")
{
    <script type="text/template" class="zf-org-template-group">
        <div class="d-flex align-items-center mb-2">
            <div class="">
                <label class="flex-fill custom-control custom-checkbox mb-0">
                    <input type="checkbox" class="custom-control-input" data-for="{$id}" data-attr="{$attr}">
                    <span class="custom-control-label">{$group}</span>
                </label>
            </div>
        </div>
    </script>
}

@if (ViewBag.JPost["M"].ToString() == "userinfo")
{
    @Html.Raw(GetUserInfo(ViewBag.UserInfo))
}

