@using System.Data;
@using System.Text;
@using Newtonsoft.Json;

@{
    ViewBag.Title = ViewBag.SiteMap != null && ViewBag.SiteMap != "" ? ViewBag.SiteMap.ToString().Replace(">", "/") : Resources.Global.OrganChart;
    Layout = "~/Views/Shared/Layouts/_Layout2Flex.cshtml";

    //string sIconType = "";
    //StringBuilder sb = new StringBuilder();
    //sb.Append("{");
    //sb.AppendFormat("selected:\"{0}\"", ViewBag.TreeOpenNode);
    //sb.Append(",data:[");

    //int i = 0;
    //string[] v = ViewBag.TreeOpenNode.Split(';');

    //foreach (DataRow row in ViewBag.OrgTree)
    //{
    //    if (row["NodeLevel"].ToString() == "0")
    //    {
    //        sIconType = "root";
    //    }
    //    else
    //    {
    //        sIconType = "";
    //    }

    //    if (i > 0) { sb.Append(",{"); }
    //    else { sb.Append("{"); }

    //    sb.AppendFormat("id:\"{0}\"", row["GR_ID"].ToString());
    //    sb.AppendFormat(",parent:\"{0}\"", row["MemberOf"].ToString() == "0" ? "#" : row["MemberOf"].ToString());
    //    sb.AppendFormat(",text:\"{0}\"", row["DisplayName"].ToString());
    //    //sb.AppendFormat(",icon:\"{0}\"", "");
    //    sb.AppendFormat(",type:\"{0}\"", sIconType);

    //    if (v.Contains(row["GR_ID"].ToString()))
    //    {
    //        if (v[v.Length - 1] == row["GR_ID"].ToString())
    //        {
    //            sb.Append(",state:{opened:true,disabled:false,selected:true}");
    //        }
    //        else
    //        {
    //            sb.Append(",state:{opened:true,disabled:false,selected:false}");
    //        }
    //    }
    //    else
    //    {
    //        sb.Append(",state:{opened:false,disabled:false,selected:false}");
    //    }
    //    sb.Append(",li_attr:{");
    //    sb.AppendFormat("level:\"{0}\"", row["NodeLevel"].ToString());
    //    sb.AppendFormat(",gralias:\"{0}\"", row["GRAlias"].ToString());
    //    sb.AppendFormat(",policy:\"{0}\"", row["Policy"].ToString());
    //    sb.AppendFormat(",history:\"{0}\"", row["HasHistory"].ToString());
    //    sb.AppendFormat(",inuse:\"{0}\"", row["InUse"].ToString());
    //    sb.AppendFormat(",hasmember:\"{0}\"", row["HasMember"].ToString());
    //    sb.AppendFormat(",rcv:\"{0}\"", row["Reserved1"].ToString());
    //    sb.Append("}");
    //    sb.Append(",a_attr:{}");
    //    sb.Append("}");

    //    i++;
    //}
    //sb.Append("]");
    //sb.Append("}");

    //ViewBag.R.tree = Newtonsoft.Json.Linq.JObject.Parse(sb.ToString());

}

@section Styles {
    @Styles.Render("~/bundle/vendor/css/pages/messages")
    @*@Styles.Render("~/bundle/vendor/css/pages/contacts")*@
    @Styles.Render("~/Content/organ.css")
}

@section Scripts {
    <script type="text/javascript">
    (function () {
        _zw.V = @Html.Raw(JsonConvert.SerializeObject(ViewBag.R));

        $('#__OrgSearch input[data-for]').keyup(function (e) {
            if (e.which == 13) _zw.fn.goSearch();
        });

        $('#__OrgSearch .btn-outline-success').click(function () {
            _zw.fn.goSearch();
        });

        _zw.fn.bindCtrl = function () {
            $('#__ListViewPage li a.page-link').click(function () {
                _zw.V.lv.page = $(this).attr('data-for');
                _zw.fn.loadList();
            });

            $('.z-lv-cnt select').change(function () {
                _zw.V.lv.count = $(this).val();
                _zw.V.lv.page = 1;
                _zw.ut.setCookie('orgLvCount', $(this).val(), 365);
                _zw.fn.loadList();
            });
        }

        _zw.fn.goSearch = function () {
            var s = "['\\%^&\"*]";
            var reg = new RegExp(s, 'g');
            var bSearch = false;
            $('#__OrgSearch [data-for]').each(function () {
                if ($(this).val() != '') {
                    if ($(this).val().search(reg) >= 0) {
                        //bootbox.alert(s + " 문자는 사용될 수 없습니다!", function () { $(this).val(''); $(this).focus(); });
                        alert(s + " 문자는 사용될 수 없습니다!");
                        $(this).val(''); $(this).focus();
                        return false;
                    } else bSearch = true;
                }
            });

            if (bSearch) {
                $('.z-ttl').find('span').html('검색 결과');

                _zw.fn.initLv('');
                _zw.fn.loadList();
            }
        }

        _zw.fn.loadList = function () {
            var qi = _zw.fn.getLvQuery();

            $.ajax({
                type: "POST",
                url: "?qi=",
                data: JSON.stringify(qi),
                success: function (res) {
                    if (res.substr(0, 2) == "OK") {//console.log(res)
                        var v = res.substr(2).split(_zw.V.lv.boundary);

                        $('#__OrgList').html(v[0]);
                        $('#__ListCount').html(v[1]);
                        $('#__ListViewPage').html(v[2]);

                        _zw.fn.bindCtrl();

                    } else bootbox.alert(res);

                    _zw.ut.hideRightBar();
                },
                beforeSend: function () {//jstree ajax event와 충돌하는 듯....pace.js가 이벤트 종료가 안됨!!
                    //$('#ajaxLoader').modal('show');
                }
            });
        }

        _zw.fn.getLvQuery = function () {
            var j = {};
            j["M"] = _zw.V.mode;
            j["opnode"] = _zw.V.opnode;
            j["tgt"] = _zw.V.lv.tgt;
            j["page"] = _zw.V.lv.page;
            j["count"] = _zw.V.lv.count;
            j["boundary"] = _zw.V.lv.boundary;

            if ($('#orgsearch').hasClass('active')) {//검색창 활성화 여부
                $('#__OrgSearch [data-for]').each(function () {
                    j[$(this).attr('data-for')] = $(this).val();
                });
            }

            return j;
        }

        _zw.fn.initLv = function (tgt) {
            var sCnt = _zw.ut.getCookie('orgLvCount') || $('.z-lv-page select').val();

            _zw.V.mode = '';
            _zw.V.lv.tgt = tgt;
            _zw.V.opnode = tgt == '' || tgt == '0' ? '' : '7777.' + tgt;
            _zw.V.lv.page = '1';
            _zw.V.lv.count = sCnt == undefined || sCnt == '' ? '20' : sCnt;
        }

        _zw.fn.exportExcel = function () {
            var postData = _zw.fn.getLvQuery(); console.log(postData)
            window.open('/Organ/Excel?qi=' + encodeURIComponent(_zw.base64.encode(JSON.stringify(postData))), 'ifrView');
        }

        _zw.fn.bindCtrl();

    }());
    </script>
}

<!--
=================================================================
**************************** CONTENT ****************************
-->
<!-- `.messages-wrapper` fills all available space of container -->
<div class="messages-wrapper">

    <!-- sidebox -->
    <div class="messages-sidebox messages-scroll bg-body border-right">
        <div class="z-mobile-navbar"></div>

        <div class="py-3 px-3">
            <ul class="nav nav-tabs tabs-alt justify-content-center font-weight-bold">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" role="tab" href="#orgtree" aria-controls="orgtree" aria-selected="true">@Resources.Global.OrganChart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" role="tab" href="#orgsearch" aria-controls="orgsearch" aria-selected="false">@Resources.Global.Search</a>
                </li>
            </ul>
            <a href="javascript:void(0)" class="messages-sidebox-toggler d-none text-muted text-large font-weight-light">&times;</a>
        </div>
        <!-- sidebox tree -->
        <div class="tab-content px-3">
            <div class="tab-pane fade show active" id="orgtree" role="tabpanel" aria-labelledby="orgtree-tab">
                <div id="__OrgTree"></div>
            </div>
            <div class="tab-pane fade show" id="orgsearch" role="tabpanel" aria-labelledby="orgsearch-tab">
                <form id="__OrgSearch">
                    <div class="form-group row">
                        <label class="col-form-label col-sm-4 text-truncate">@Resources.Global.PersonName</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="@Resources.Global.PersonName" data-for="ur">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-4 text-truncate">@Resources.Global.ID</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="@Resources.Global.ID" data-for="urcn">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-4 text-truncate">@Resources.Global.Department</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="@Resources.Global.Department" data-for="dept">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-4 text-truncate">@Resources.Global.Jikwi</label>
                        <div class="col-sm-8">
                            <select class="custom-select" data-for="grade">
                                <option value="">@Resources.Global.Select</option>
                                @foreach (DataRow row in ViewBag.GradeCode)
                                {
                                    <option value="@row["Code"]">@row["CodeName"]</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-outline-success py-1 mr-1">@Resources.Global.Search</button>
                        <button type="reset" class="btn btn-outline-secondary py-1 ml-1">@Resources.Global.Reset</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- / sidebox tree -->
    </div>
    <!-- / sidebox -->
    <!-- content -->
    <div class="d-flex flex-column w-100">
        <!-- Header -->
        <div class="flex-grow-0">
            <div class="d-flex justify-content-between container-p-x m-0 mt-1 pt-3" style="padding-bottom: .65rem !important">
                <div class="d-flex align-items-center font-weight-bold text-truncate w-100">
                    <div class="h5 mb-0">
                        <a href="javascript:void(0)" class="messages-sidebox-toggler d-none d-md-block d-lg-none align-self-center px-2 mr-3" data-toggle="modal" data-target=".messages-sidebox"><i class="fe-more-vertical"></i></a>
                    </div>

                    <div class="h5 font-weight-bold mb-0 z-ttl text-truncate w-100">
                        <i class="mdi mdi-account-box-multiple-outline"></i> &nbsp;<span>@ViewBag.Title</span>
                    </div>
                </div>
                <div class="d-flex align-items-center z-lv-page" id="__ListCount">
                    @Html.Partial("~/Views/Common/_ListCount.cshtml")
                </div>

            </div>

            <hr class="border-light m-0 d-none">

            <div class="d-flex align-items-center container-p-x" style="padding-bottom: .6rem !important">
                <div class="d-none d-sm-flex align-items-center z-lv-menu pl-1 pt-2">
                    <a href="javascript:void(0)" class="text-success" data-toggle="tooltip" data-placement="bottom" title="엑셀 내보내기" onclick="_zw.fn.exportExcel();"><i class="fe-download"></i> 엑셀</a>
                </div>
                <div class="px-1 flex-grow-1"></div>
                <ul class="pagination pagination-sm justify-content-center mb-0" id="__ListViewPage">
                    @Html.Partial("~/Views/Common/_ListPagination.cshtml")
                </ul>
            </div>
        </div>
        <!-- / Header -->
        <!-- Set `.contacts-col-view` or '.contacts-row-view' to control view mode -->
        <div id="__OrgList" class="flex-grow-0 row contacts-col-view mx-1">
            @Html.Partial("_MemberList")
        </div>
    </div>
    <!-- / content -->

</div><!-- / .messages-wrapper -->
