@using Newtonsoft.Json;
@{
    Layout = "~/Views/Shared/Layouts/_LayoutBlank.cshtml";


    HtmlAgilityPack.HtmlDocument doc = new HtmlAgilityPack.HtmlDocument();
    doc.LoadHtml(ViewBag.FormHtml);

    HtmlAgilityPack.HtmlNode bodyNode = doc.DocumentNode.SelectSingleNode("//body");
    HtmlAgilityPack.HtmlNode styleNode = doc.DocumentNode.SelectSingleNode("//style");

    //_zw.V = @Html.Raw(JsonConvert.SerializeObject(ViewBag.JForm))}()
}

@section Styles {
    @Styles.Render("~/bundle/vendor/css/bootstrap-datepicker/bootstrap-datepicker")
    @Styles.Render("~/Content/Forms/xform.2.0_debug.css")
<style type="text/css">
        @if (styleNode != null)
        {
            @Html.Raw(styleNode.InnerHtml)
        }
</style>
}
@section Scripts {
    @Scripts.Render("~/bundle/vendor/js/bootstrap-datepicker/bootstrap-datepicker")
    @Scripts.Render("~/bundle/vendor/js/bootstrap-maxlength/bootstrap-maxlength")
    @Scripts.Render("~/bundle/vendor/js/vanilla-text-mask/vanilla-text-mask")
    @Scripts.Render("~/bundle/vendor/js/vanilla-text-mask/text-mask-addons")


    @Scripts.Render("~/External/dext5editor/js/dext5editor.js")
    @Scripts.Render("~/External/dext5upload/js/dext5upload.js")
    @Scripts.Render("~/Scripts/EA/form.js")

<script type="text/javascript">
(function () {
    _zw.V = @Html.Raw(ViewBag.JForm);

    if ($('#__DextUpload').length > 0) {
        DEXT5UPLOAD.config.ButtonBarEdit = 'add,remove,remove_all';

        DEXT5UPLOAD.config.UploadHolder = "__DextUpload";
        new Dext5Upload(_zw.T.uploader.id);

        $('.btn[data-zf-menu="toggleUploader"]').click(function () {
        });
    }

    if ($('#__DextEditor').length > 0) {
        _zw.T.editor.top = $('.zf-editor').prev().outerHeight() + 8; //alert(posTop)
        $('#__DextEditor').css('top', _zw.T.editor.top + 'px');

        DEXT5.config.EditorHolder = "__DextEditor";
        //DEXT5.config.FocusInitObjId = "txtSubject";

        new Dext5editor(_zw.T.editor.id);

        $('.btn[data-zf-menu="toggleEditor"]').click(function () {
            var vText = ['@Resources.Global.EditorExpand', '@Resources.Global.EditorFold'], vIcon = ['fe-arrow-down', 'fe-arrow-up'];
            var p = $('#__FormView .m');
            var orgHeight = p.find('.fm-editor').outerHeight(), maxHeight = p.outerHeight() - p.find('.fh').outerHeight(); //alert(orgHeight + " : " + maxHeight)

            if ($(this).attr('aria-expanded') == 'false') {
                $(this).attr('data-original-title', vText[1]).attr('aria-expanded', true).find('i').removeClass(vIcon[1]).addClass(vIcon[0]);
                p.find('.fm-editor').css('height', maxHeight + 'px'); p.find('.ff, .fb, .fm, .fm-lines, .fm-file').hide();
            } else {
                $(this).attr('data-original-title', vText[0]).attr('aria-expanded', false).find('i').removeClass(vIcon[0]).addClass(vIcon[1]);
                p.find('.fm-editor').css('height', ''); p.find('.ff, .fb, .fm, .fm-lines, .fm-file').show();
            }
        });
    }
}());
</script>
}

<div class="" id="__FormView">
    <!-- Header -->
    <div class="flex-grow-0">
        <div class="zf-menu d-flex justify-content-between container-p-x m-0 py-2">
            <div class="d-flex align-items-center font-weight-bold">

                <div class="btn-group">
                    <button class="btn btn-default font-weight-bold" onclick="_zw.mu.writeMsg('');" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.New"><i class="fe-edit-2"></i><span class="d-none d-sm-inline-block ml-1">@Resources.Global.New</span></button>
                    <button class="btn btn-default font-weight-bold" onclick="_zw.mu.editMsg('');" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.Modify"><i class=" far fa-edit"></i><span class="d-none d-sm-inline-block ml-1">@Resources.Global.Modify</span></button>
                    <button class="btn btn-default font-weight-bold" onclick="_zw.mu.deleteMsg();" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.Delete"><i class="fe-trash-2"></i><span class="d-none d-sm-inline-block ml-1">@Resources.Global.Delete</span></button>
                </div>
            </div>
            <div>
                <div class="btn-group">
                    <button class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.EditorExpand" data-zf-menu="toggleEditor" aria-expanded="false"><i class="fe-arrow-up"></i></button>
                    <button class="btn btn-default" onclick="_zw.mu.preview();" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.TempSave"><i class="fe-save"></i></button>
                    <button class="btn btn-default" onclick="_zw.mu.preview();" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.Print"><i class="fe-printer"></i></button>
                    <button class="btn btn-default" onclick="window.close();" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.Close"><i class="fe-log-out"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- / Header -->

    <div class="flex-grow-1" style="border-top: 2px solid #dee2e6 ">
        <div class="z-list-scroll pb-2" style="top: 47px; border-left: 0.5rem solid #999999; border-right: 0.5rem solid #999999">
            @Html.Raw(bodyNode.InnerHtml)
        </div>
    </div>
</div>


