@using System;
@{ 
    string sDesc = "";
    if (ViewBag.R.ft.ToString() == "Week")
    {
        sDesc = (ViewBag.Monday.Year == DateTime.Now.Year ? "" : ViewBag.Monday.Year.ToString() + "년 ") + ViewBag.Monday.Month.ToString() + "월"
                + " " + ViewBag.Monday.Day.ToString() + " ~ " + (ViewBag.Monday.Month == ViewBag.Monday.AddDays(6).Month ? "" : ViewBag.Monday.AddDays(6).Month.ToString() + "월 ")
                + ViewBag.Monday.AddDays(6).Day.ToString();
    }
    else if (ViewBag.R.ft.ToString() == "Month")
    {
        DateTime dtTraget = Convert.ToDateTime(ViewBag.R.lv["tgt"]);
        sDesc = (dtTraget.Year == DateTime.Now.Year ? "" : dtTraget.Year.ToString() + "년 ") + dtTraget.Month.ToString() + "월";
    }
}
@functions{
    private string GetQueryString(string page, string ot, string target, string ttl)
    {
        return "?qi=" + ZumNet.Framework.Util.SecurityHelper.ToBase64("{ct:\"" + ViewBag.R.ct + "\",ctalias:\"" + ViewBag.R.ctalias + "\",fdid:\"" + target + "\",ot:\"" + ot + "\",ttl:\"" + ttl + "\",opnode:\"" + ot + "." + target + "\",ft:\"" + page + "\"}");
    }
}
<div class="d-flex d-sm-none align-items-center justify-content-center mb-2">
    <button class="btn btn-outline-primary icon-btn btn-sm rounded-circle" data-zv-menu="prev"><i class="fas fa-arrow-left"></i></button>
    <span class="text-big font-weight-bold mx-3" data-for="DateDesc">@sDesc</span>
    <button class="btn btn-outline-primary icon-btn btn-sm rounded-circle" data-zv-menu="next"><i class="fas fa-arrow-right"></i></button>
</div>

<div class="d-flex align-items-center">
    <ul class="nav nav-tabs col-4 col-sm-4 px-0 text-truncate">
        <li class="nav-item">
            <a class="nav-link@(ViewBag.R.ft.ToString() == "Week" ? " active" : "") px-2 px-sm-4" href="@GetQueryString("Week", ViewBag.R.ot.ToString(), ViewBag.R.fdid.ToString(), ViewBag.R.ttl.ToString())">주간</a>
        </li>
        <li class="nav-item">
            <a class="nav-link@(ViewBag.R.ft.ToString() == "Month" ? " active" : "") px-2 px-sm-4" href="@GetQueryString("Month", ViewBag.R.ot.ToString(), ViewBag.R.fdid.ToString(), ViewBag.R.ttl.ToString())">월간</a>
        </li>
    </ul>

    <div class="d-none d-sm-flex col-4 col-sm-4 justify-content-center align-items-center">
        <button class="btn btn-outline-primary icon-btn btn-sm rounded-circle" data-zv-menu="prev"><i class="fas fa-arrow-left"></i></button>
        <span class="text-big font-weight-bold mx-3" data-for="DateDesc">@sDesc</span>
        <button class="btn btn-outline-primary icon-btn btn-sm rounded-circle" data-zv-menu="next"><i class="fas fa-arrow-right"></i></button>
    </div>

    @if (ViewBag.R.ft.ToString() == "Week")
    {
        <ul class="nav d-flex justify-content-end col-8 col-sm-4 px-0 text-truncate">
            <li class="nav-item mr-2"><i class="@ViewBag.State["cs_0"][1] @ViewBag.State["cs_0"][2]"></i> @ViewBag.State["cs_0"][0]</li>
            <li class="nav-item mr-2"><i class="@ViewBag.State["cs_1"][1] @ViewBag.State["cs_1"][2]"></i> @ViewBag.State["cs_1"][0]</li>
            <li class="nav-item mr-2"><i class="@ViewBag.State["cs_7"][1] @ViewBag.State["cs_7"][2]"></i> @ViewBag.State["cs_7"][0]</li>
            <li class="nav-item mr-2"><i class="@ViewBag.State["cs_4"][1] @ViewBag.State["cs_4"][2]"></i> @ViewBag.State["cs_4"][0]</li>
        </ul>
    }
    else if (ViewBag.R.ft.ToString() == "Month")
    {
        <ul class="nav d-flex justify-content-end col-8 col-sm-4 px-0 text-truncate">
            <li class="nav-item mr-2"><i class="@ViewBag.State["s_0"][1] @ViewBag.State["s_0"][2]"></i> @ViewBag.State["s_0"][0]</li>
            <li class="nav-item mr-2"><i class="@ViewBag.State["s_1"][1] @ViewBag.State["s_1"][2]"></i> @ViewBag.State["s_1"][0]</li>
            <li class="nav-item mr-2"><i class="@ViewBag.State["s_7"][1] @ViewBag.State["s_7"][2]"></i> @ViewBag.State["s_7"][0]</li>
            <li class="nav-item mr-2"><i class="@ViewBag.State["s_4"][1] @ViewBag.State["s_4"][2]"></i> @ViewBag.State["s_4"][0]</li>
        </ul>
    }


</div>
