@using System.Data;
@using System.Text;
@using System.Threading;
@using Newtonsoft.Json;
@{
    ViewBag.Title = "업무일지 - " + (ViewBag.R.fdid.ToString() == Session["URID"].ToString() ? Session["URName"].ToString() : ViewBag.R["ttl"]);
    Layout = "~/Views/Shared/Layouts/_Layout2Flex.cshtml";

    string sCurrentLocale = Thread.CurrentThread.CurrentUICulture.Name;
    string sPatialView = "_" + ViewBag.R.ft.ToString();
    string sListScroll = " z-list-scroll";

    //Response.Write(Server.MapPath("~/Areas/ExS/Views/Lcm/" + sPatialView + ".cshtml") + "--" + ViewBag.Error);
    //Response.End();

    //ViewBag.State["s_0"][0] = "시작전";
    //ViewBag.State["s_0"][1] = "<i class=\"far fa-check-square fs-16 text-light\"></i> ";

    //ViewBag.State["s_1"][0] = "진행중";
    //ViewBag.State["s_1"][1] = "<i class=\"fas fa-check-square fs-16 text-warning\"></i> ";

    //ViewBag.State["s_4"][0] = "지연";
    //ViewBag.State["s_4"][1] = "<i class=\"fas fa-check-square fs-16 text-success\"></i> ";

    //ViewBag.State["s_7"][0] = "완료";
    //ViewBag.State["s_7"][1] = "<i class=\"fas fa-check-square fs-16 text-danger\"></i> ";

    //ViewBag.State["cs_0"][0] = "미확인";
    //ViewBag.State["cs_0"][1] = "<i class=\"far fa-check-square fs-16 text-light\"></i> ";

    //ViewBag.State["cs_1"][0] = "확인";
    //ViewBag.State["cs_1"][1] = "<i class=\"fas fa-check-square fs-16\"></i> ";

    //ViewBag.State["cs_4"][0] = "보류";
    //ViewBag.State["cs_4"][1] = "<i class=\"fas fa-exclamation-triangle fs-16 text-secondary\"></i> ";

    //ViewBag.State["cs_7"][0] = "완료";
    //ViewBag.State["cs_7"][1] = "<i class=\"fas fa-check-square fs-16 text-success\"></i> ";
}
@functions{

}
@section Styles {
    @Styles.Render("~/bundle/vendor/css/bootstrap-datepicker/bootstrap-datepicker")
    @Styles.Render("~/bundle/vendor/css/pages/messages")
    @Styles.Render("~/Content/todo.css")
}

@section Scripts {
    @Scripts.Render("~/bundle/vendor/js/bootstrap-datepicker/bootstrap-datepicker")
    @Scripts.Render("~/bundle/vendor/js/bootstrap-maxlength/bootstrap-maxlength")
    @Scripts.Render("~/bundle/vendor/js/vanilla-text-mask/vanilla-text-mask")
    @Scripts.Render("~/bundle/vendor/js/vanilla-text-mask/text-mask-addons")

    @Scripts.Render("~/Scripts/TnC/todo.js")
    @if (sCurrentLocale != "" && sCurrentLocale.Substring(0, 2) != "en")
    {
        <script src="/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.@(sCurrentLocale.Substring(0, 2)).js" charset="UTF-8"></script>
    }

    <script type="text/javascript">(function () {_zw.V = @Html.Raw(JsonConvert.SerializeObject(ViewBag.R))}());</script>
}

<!--
=================================================================
**************************** CONTENT ****************************
-->
<!-- `.messages-wrapper` fills all available space of container -->
<div class="messages-wrapper">
        
    <!-- sidebox -->
    @Html.Partial("_LeftMenu")
    <!-- / sidebox -->
    <!-- content -->
    <div class="d-flex flex-column w-100 bg-white" data-controls="vw-full-fill">
        <!-- Header -->
        <div class="flex-grow-0">
            <div class="d-flex justify-content-between container-p-x m-0 mt-1 pt-3" style="padding-bottom: .65rem !important">
                <div class="d-flex align-items-center font-weight-bold">
                    <div class="h5 mb-0">
                        <a href="javascript:void(0)" class="messages-sidebox-toggler d-none d-md-block d-lg-none align-self-center px-2 mr-3" data-toggle="modal" data-target=".messages-sidebox"><i class="fe-more-vertical"></i></a>
                    </div>

                    <div class="h5 mb-0 z-ttl py-0 text-truncate">
                        <i class="mdi mdi-file-table-box-multiple-outline"></i> &nbsp;<span>@ViewBag.Title</span>
                    </div>
                </div>
                <div class="nav d-flex align-items-center justify-content-end z-lv-menu">

                    <button class="btn btn-outline-purple btn-sm mr-2"><i class="fe-calendar"></i> 주간일지</button>
                    <button class="btn btn-outline-secondary btn-sm mr-2"><i class="fe-printer"></i> 인쇄</button>
                    <button class="btn btn-outline-success btn-sm mr-2"><i class="fas fa-file-excel"></i> 보고서</button>

                    @*<a class="z-lnk-navy-n mr-3" href="javascript:void();"><i class="fe-printer" title="인쇄"></i> 인쇄</a>
                    <a class="text-success mr-3" href="javascript:void();"><i class="far fa-file-excel" title="보고서"></i> 보고서</a>*@
                    <button class="btn icon-btn btn-outline-secondary m-0 btn-sm" aria-controls="vw-full-fill" onclick="_zw.ut.ctrls();"><i class="fas fa-expand"></i></button>
                </div>
            </div>
        </div>

        <div class="flex-grow-0" style="border-top: 2px solid #eee">
            <div class="d-flex align-items-center px-3 my-2">
                
            </div>
        </div>
        <!-- / Header -->

        <div class="flex-grow-1 position-relative">
            <!-- Remove `.messages-scroll` and add `.flex-grow-1` if you don't need scroll -->
            <div class="px-3">
                <div class="z-list">
                    <div class="z-list-head">
                        @Html.Partial("_ListHead")
                    </div>
                    <div class="z-list-body" id="__List">
                        @Html.Partial(sPatialView)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / content -->
</div><!-- / .messages-wrapper -->
