@using System.Data;
@using System.Text;
@using System.Threading;

@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;

@using ZumNet.Framework.Util;
@using ZumNet.Web.Bc;
@{
    JObject jApp = ViewBag.R.app;

    //DateTime dtStart = Convert.ToDateTime(jApp["periodfrom"].ToString() + " " + jApp["start"].ToString());
    //DateTime dtEnd = Convert.ToDateTime(jApp["periodto"].ToString() + " " + jApp["end"].ToString());
    string sRptDayMargin = Thread.CurrentThread.CurrentUICulture.Name.Substring(0, 2) == "en" ? "ml-1" : "ml-2";

    bool bEditable = false;
    bool bDeletable = false;
    if (Session["URID"].ToString() == jApp["creurid"].ToString() || ViewBag.R.current["operator"].ToString() == "Y"
        || StringHelper.HasAcl(ViewBag.R.current["appacl"].ToString(), "E"))
    {
        bEditable = true;
    }
    if (Session["URID"].ToString() == jApp["creurid"].ToString() || ViewBag.R.current["operator"].ToString() == "Y"
        || StringHelper.HasAcl(ViewBag.R.current["appacl"].ToString(), "D"))
    {
        bDeletable = true;
    }
}
@functions{
    private string LInkAttachFile(JObject j)
    {
        return String.Format("<a href=\"/Common/Download?fp={0}&fn={1}\" target=\"_blank\" class=\"btn rounded-pill btn-default mr-2\"><i class=\"{2} mr-2\"></i>{3}<span class=\"ml-2\">{4}</span></a>"
                , Server.UrlEncode(SecurityHelper.ToBase64(j["filepath"].ToString() + "\\" + j["savedname"].ToString())), Server.UrlEncode(SecurityHelper.ToBase64(j["filename"].ToString()))
                , CommonUtils.GetFileExt(j["ext"].ToString()), j["filename"].ToString(), ZumNet.Web.Bc.CommonUtils.StrFileSize(j["size"].ToString()));
    }

    private string GetStateIcon(JObject app, JObject part)
    {
        //j["approval"].ToString(), j["confirmed"].ToString(), j["state"].ToString()
        string approval = part["approval"].ToString();
        string confirmed = part["confirmed"].ToString();
        string state = part["state"].ToString();

        if (approval == "Y")
        {
            JObject j = JObject.Parse("{}");
            j["msgid"] = ViewBag.R["appid"].ToString();
            j["state"] = state;
            j["from"] = app["periodfrom"].ToString() + " " + app["start"].ToString();
            j["to"] = app["periodto"].ToString() + " " + app["end"].ToString(); ;
            j["partid"] = part["partid"].ToString();
            j["part"] = part["partdn"].ToString();
            j["ot"] = part["ot"].ToString();
            j["crid"] = app["creurid"].ToString();
            j["cr"] = app["creur"].ToString();
            j["crmail"] = app["cremail"].ToString();

            if (confirmed == "Y")
            {
                if (state == "7") return String.Format("<a class=\"btn btn-sm rounded-pill btn-outline-success ml-2\" title=\"사용 가능\" data-controls=\"md-context-menu\" data-val=\"{0}\"><i class=\"far fa-calendar-check mr-2\"></i>승인</a>", Server.HtmlEncode(JsonConvert.SerializeObject(j)));
                else if (state == "6") return String.Format("<a class=\"btn btn-sm rounded-pill btn-outline-warning ml-2\" title=\"사용 보류\" data-controls=\"md-context-menu\" data-val=\"{0}\"><i class=\"far fa-calendar-minus mr-2\"></i>보류</a>", Server.HtmlEncode(JsonConvert.SerializeObject(j)));
                else return String.Format("<a class=\"btn btn-sm rounded-pill btn-outline-danger ml-2\" title=\"사용 불가\" data-controls=\"md-context-menu\" data-val=\"{0}\"><i class=\"far fa-calendar-times mr-2\"></i>불가</a>", Server.HtmlEncode(JsonConvert.SerializeObject(j)));
            }
            else return String.Format("<a class=\"btn btn-sm rounded-pill btn-outline-secondary ml-2\" title=\"확인 요청중\" data-controls=\"md-context-menu\" data-val=\"{0}\"><i class=\"far fa-question-circle mr-2\"></i>대기</a>", Server.HtmlEncode(JsonConvert.SerializeObject(j)));
        }
        else
        {
            if (state == "7") return "<a class=\"btn btn-sm rounded-pill btn-outline-success ml-2\" title=\"사용 가능\"><i class=\"far fa-calendar-check mr-2\"></i>가능</a>";
            else return "<a class=\"btn btn-sm rounded-pill btn-outline-danger ml-2\" title=\"사용 불가\"><i class=\"far fa-calendar-times mr-2\"></i>불가</a>";
        }
    }

    private string GetDateDesc(JObject j, string selectedDate)
    {
        bool bRpt = j["repeat"]["type"].ToString() == "0" ? false : true;

        StringBuilder sb = new StringBuilder();
        if (!bRpt || selectedDate == "x")
        {
            sb.AppendFormat("{0} {1} ~ ", j["periodfrom"].ToString().Replace("-", "."), j["start"].ToString());
            if (j["periodfrom"].ToString() != j["periodto"].ToString()) sb.AppendFormat("{0}", j["periodto"].ToString().Replace("-", "."));
            sb.AppendFormat("{0} ({1}시간)", j["end"].ToString(), DateHelper.CvtMinToHour(j["term"].ToString()));
        }
        else
        {
            double dDiff = ZumNet.Framework.Util.DateHelper.DateDiff(j["periodfrom"].ToString(), j["periodto"].ToString(), "");
            sb.AppendFormat("{0} {1} ~ ", selectedDate.Replace("-", "."), j["start"].ToString());
            if (dDiff > 0) sb.AppendFormat("{0}", Convert.ToDateTime(selectedDate).AddDays(dDiff).ToString("yyyy.MM.dd"));
            sb.AppendFormat(" {0} ({1}시간)", j["end"].ToString(), DateHelper.CvtMinToHour(j["term"].ToString()));
        }

        return sb.ToString();
    }

    private string GetRepeatDesc(JObject j)
    {
        JObject jRpt = (JObject)j["repeat"];

        string sStart = j["periodfrom"].ToString().Replace("-", ".") + "부터";
        if (jRpt["end"].ToString().Trim() != "") sStart += "&nbsp;" + jRpt["end"].ToString().Replace("-", ".") + "까지";

        string sDay = "";
        if (jRpt["conday"].ToString().Length > 0) //xxxoxxx
        {
            sDay = (jRpt["conday"].ToString().Substring(0, 1) == "o") ? "일" : "";
            if (jRpt["conday"].ToString().Substring(1, 1) == "o")
            {
                if (sDay != "") sDay += ",";
                sDay += "월";
            }
            if (jRpt["conday"].ToString().Substring(2, 1) == "o")
            {
                if (sDay != "") sDay += ",";
                sDay += "화";
            }
            if (jRpt["conday"].ToString().Substring(3, 1) == "o")
            {
                if (sDay != "") sDay += ",";
                sDay += "수";
            }
            if (jRpt["conday"].ToString().Substring(4, 1) == "o")
            {
                if (sDay != "") sDay += ",";
                sDay += "목";
            }
            if (jRpt["conday"].ToString().Substring(5, 1) == "o")
            {
                if (sDay != "") sDay += ",";
                sDay += "금";
            }
            if (jRpt["conday"].ToString().Substring(6, 1) == "o")
            {
                if (sDay != "") sDay += ",";
                sDay += "토";
            }
            if (sDay.Length == 1) sDay += "요일";
        }

        if (jRpt["type"].ToString() == "4") //년
        {
            string sDesc = "매년 ";
            if (jRpt["intervaltype"].ToString() == "A") sDesc += jRpt["interval"].ToString() + "월 " + jRpt["condate"].ToString() + "일";
            else if (jRpt["intervaltype"].ToString() == "B")
            {
                if (jRpt["conweek"].ToString() == "9") sDesc += jRpt["interval"].ToString() + "월 " + "마지막 " + sDay;
                else sDesc += jRpt["interval"].ToString() + "월 " + jRpt["conweek"].ToString() + "번째 " + sDay;
            }

            return sStart + "&nbsp;&nbsp;|&nbsp;&nbsp;" + sDesc;// + " 반복";
        }
        else
        {
            string sInterval = (jRpt["interval"].ToString().Trim() == "1") ? "매" : jRpt["interval"].ToString();
            string sType = "";
            if (jRpt["type"].ToString() == "1") sType = "일마다";
            else if (jRpt["type"].ToString() == "2") sType = "주마다";
            else if (jRpt["type"].ToString() == "3") sType = (jRpt["interval"].ToString().Trim() == "1") ? "월마다" : "개월마다";

            if (jRpt["type"].ToString() == "3") //월
            {
                if (jRpt["intervaltype"].ToString() == "A") sDay = jRpt["condate"].ToString() + "일";
                else if (jRpt["intervaltype"].ToString() == "B")
                {
                    if (jRpt["conweek"].ToString() == "9") sDay = "마지막 " + sDay;
                    else sDay = jRpt["conweek"].ToString() + "번째 " + sDay;
                }
            }

            return sStart + "&nbsp;&nbsp;|&nbsp;&nbsp;" + sInterval + sType + "&nbsp;" + sDay;// + " 반복";
        }
    }

    private string PopupLayer()
    {
        StringBuilder sb = new StringBuilder();

        sb.Append("<div class=\"d-none\" id=\"_LayerRptProc\">");
        sb.Append("<div class=\"modal-dialog modal-sm\">");
        sb.Append("<div class=\"modal-content bg-white\" style=\"box-shadow: 0px 5px 15px rgba(0,0,0,0.5)\">");
        sb.Append("<div class=\"modal-header pt-4 border-bottom-0\">");
        sb.Append("<h4 class=\"modal-title\"></h4>");
        sb.Append("<button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-label=\"Close\"><span aria-hidden=\"true\">×</span></button>");
        sb.Append("</div>"); //modal-header
        sb.Append("<div class=\"modal-body py-0\">");
        sb.Append("<h1 class=\"text-center mb-2\"><i class=\"fas fa-check-square text-purple\"></i></h1>");

        sb.Append("<div class=\"d-none\" data-for=\"rpt-modify\">");
        sb.Append("<h5 class=\"text-center mb-2\">반복일정을 수정하시겠습니까?</h5>");
        sb.Append("<p class=\"mb-2\">전체 및 이후 반복 일정의 주기를 수정하면, 예외 일정들은 삭제됩니다.</p>");
        sb.Append("<div class=\"border p-3\">");
        sb.Append("<label class=\"custom-control custom-radio\">");
        sb.Append("<input name=\"popup_repeat_mode\" type=\"radio\" id=\"_repeat_modify_this\" class=\"custom-control-input\" value=\"this\" checked=\"\">");
        sb.Append("<span class=\"custom-control-label\">이 일정만 수정</span>");
        sb.Append("</label>");
        sb.Append("<label class=\"custom-control custom-radio\">");
        sb.Append("<input name=\"popup_repeat_mode\" type=\"radio\" id=\"_repeat_modify_after\" class=\"custom-control-input\" value=\"after\">");
        sb.Append("<span class=\"custom-control-label\">이 일정부터 이후 일정 모두 수정</span>");
        sb.Append("</label>");
        sb.Append("<label class=\"custom-control custom-radio mb-0\">");
        sb.Append("<input name=\"popup_repeat_mode\" type=\"radio\" id=\"_repeat_modify_all\" class=\"custom-control-input\" value=\"all\">");
        sb.Append("<span class=\"custom-control-label\">전체 반복일정 수정</span>");
        sb.Append("</label>");
        sb.Append("</div>");
        sb.Append("</div>");

        sb.Append("<div class=\"d-none\" data-for=\"rpt-delete\">");
        sb.Append("<h5 class=\"text-center mb-2\">일정을 삭제하시겠습니까?</h5>");
        sb.Append("<p class=\"mb-2\">전체 및 이후 반복 일정을 삭제하면, 예외 일정들도 함께 삭제됩니다.</p>");
        sb.Append("<div class=\"border p-3\">");
        sb.Append("<label class=\"custom-control custom-radio\">");
        sb.Append("<input name=\"popup_repeat_del_mode\" type=\"radio\" id=\"_repeat_del_this\" class=\"custom-control-input\" value=\"this\" checked=\"\">");
        sb.Append("<span class=\"custom-control-label\">이 일정만 삭제</span>");
        sb.Append("</label>");
        sb.Append("<label class=\"custom-control custom-radio\">");
        sb.Append("<input name=\"popup_repeat_del_mode\" type=\"radio\" id=\"_repeat_del_after\" class=\"custom-control-input\" value=\"after\">");
        sb.Append("<span class=\"custom-control-label\">이 일정부터 이후 일정 모두 삭제</span>");
        sb.Append("</label>");
        sb.Append("<label class=\"custom-control custom-radio mb-0\">");
        sb.Append("<input name=\"popup_repeat_del_mode\" type=\"radio\" id=\"_repeat_del_all\" class=\"custom-control-input\" value=\"all\">");
        sb.Append("<span class=\"custom-control-label\">전체 반복일정 삭제</span>");
        sb.Append("</label>");
        sb.Append("</div>");
        sb.Append("</div>");

        sb.Append("</div>"); //modal-body
        sb.Append("<div class=\"modal-footer justify-content-center border-top-0\">");
        sb.AppendFormat("<button type=\"button\" class=\"btn btn-outline-secondary px-3 font-weight-bold\" data-zm-menu=\"confirm\">{0}</button>", Resources.Global.Confirm);
        sb.AppendFormat("<button type=\"button\" class=\"btn btn-default px-3\" data-dismiss=\"modal\">{0}</button>", Resources.Global.Cancel);
        sb.Append("</div>"); //modal-footer
        sb.Append("</div>"); //modal-content
        sb.Append("</div>"); //modal-dialog
        sb.Append("</div>");

        return sb.ToString();
    }

    private string RenderFile(string mode, JArray file)
    {
        StringBuilder sb = new StringBuilder();

        sb.Append("<div class=\"zf-upload w-100\">");
        if (mode != "view")
        {
            sb.Append("<div class=\"zf-upload-select d-flex align-items-center\">");

            sb.Append("<form id=\"uploadForm\" name=\"uploadForm\" action=\"/Common/Upload\" method=\"post\" enctype=\"multipart/form-data\" target=\"ifrView\">");
            sb.Append("<div class=\"custom-file\">");
            sb.Append("<input type=\"file\" class=\"custom-file-input\" id=\"file1\" name=\"file1\" multiple />");
            sb.Append("<input name=\"completed\" type=\"hidden\" value=\"parent._zw.fu.complete\" />");
            sb.Append("<label class=\"custom-file-label\" for=\"customFile\">이미지 / 문서 첨부</label>");
            sb.Append("</div>"); //custom-file
            sb.Append("</form>");
            sb.Append("<div class=\"ml-2\">");
            sb.Append("<button class=\"btn btn-outline-info btn-18 rounded-circle\" data-toggle=\"popover\" data-placement=\"bottom\" data-original-title=\"첨부 가능한 파일 형식은 다음과 같습니다\"><i class=\"fas fa-question fs-11\"></i></button>");
            sb.Append("<div class=\"d-none\" data-help=\"file\">");
            sb.Append("<div>");
            sb.Append("<div class=\"row\">");
            sb.Append("<div class=\"col-3 font-weight-bold\">* 이미지</div>");
            sb.Append("<div class=\"col-9\" data-for=\"ext\">JPEG, JPG, GIF, PNG</div>");
            sb.Append("</div>"); //row
            sb.Append("<div class=\"row\">");
            sb.Append("<div class=\"col-3 font-weight-bold\">* 문서</div>");
            sb.Append("<div class=\"col-9\" data-for=\"ext\">PPT, PPTX, XLS, XLSX, DOC, DOCX, PDF, HWP, TXT</div>");
            sb.Append("</div>"); //row
            //sb.Append("<div class=\"row\">");
            //sb.Append("<div class=\"col-3 font-weight-bold\">* 동영상</div>");
            //sb.Append("<div class=\"col-9\" data-for=\"ext\">MOV, MP4, AVI</div>");
            //sb.Append("</div>"); //row
            sb.Append("</div>");
            sb.Append("</div>"); //data-help
            sb.Append("</div>"); //ml-2
            sb.Append("</div>"); ///zf-upload-select

            sb.Append("<div class=\"zf-upload-bar mt-1 d-none\">");
            sb.Append("<button class=\"btn btn-sm btn-primary px-5\" type=\"button\" disabled=\"\">");
            sb.Append("<span class=\"spinner-border spinner-border-sm\" role=\"status\" aria-hidden=\"true\"></span>");
            sb.Append("<span class=\"ml-2\">uploading...</span>");
            sb.Append("</button>");
            sb.Append("</div>"); //zf-upload-bar
        }

        sb.AppendFormat("<div class=\"zf-upload-list border rounded mt-1 px-2 pt-2 pb-0{0}\">", file == null || file.Count == 0 ? " d-none" : "");

        if (file != null && file.Count > 0)
        {
            foreach (JObject j in file)
            {
                sb.Append("<div class=\"d-flex align-items-center mb-1\">");
                sb.AppendFormat("<div class=\"mr-1\"><i class=\"{0}\"></i></div>", ZumNet.Web.Bc.CommonUtils.GetFileExt(j["ext"].ToString()));
                sb.AppendFormat("<div class=\"mr-1\"><a href=\"/Common/DownloadV?fn={0}&fp={1}\" target=\"_blank\">{2}</a></div>"
                                , Server.UrlEncode(SecurityHelper.ToBase64(j["filename"].ToString()))
                                , Server.UrlEncode(SecurityHelper.ToBase64(j["filepath"].ToString() + "\\" + j["savedname"].ToString()))
                                , j["filename"]);
                sb.AppendFormat("<div class=\"mr-1 text-muted\">{0}</div>", ZumNet.Web.Bc.CommonUtils.StrFileSize(j["size"].ToString()));

                if (mode == "edit")
                {
                    sb.AppendFormat("<div class=\"text-muted\"><button class=\"btn btn-default btn-sm btn-18\" onclick=\"_zw.fu.delete('{0}', '{1}', '{2}');\"><i class=\"fe-x\"></i></button></div>"
                                , j["attachid"].ToString()
                                , Server.UrlEncode(j["filename"].ToString())
                                , Server.UrlEncode(SecurityHelper.ToBase64(j["filepath"].ToString() + "\\" + j["savedname"].ToString())));
                }

                sb.Append("</div>");
            }
        }
        sb.AppendFormat("<textarea id=\"__FILEINFO\" style=\"display:none\">{0}</textarea>", JsonConvert.SerializeObject(file));
        sb.Append("</div>");
        sb.Append("</div>"); //zf-upload

        return sb.ToString();
    }
}
<div class="modal-dialog modal-dialog-scrollable" style="max-width: 40rem">
    <div class="modal-content bg-white" style="box-shadow: 0px 5px 15px rgba(0,0,0,0.5)">
        <div class="modal-header">
            <h5 class="modal-title">자원예약 조회</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group row mb-1 mb-sm-2">
                <label for="txtSubject" class="col-sm-2 col-form-label font-weight-normal">제목</label>
                <div class="col-sm-10 input-group align-items-center">
                    <span class="mr-2"><span class="d-none">중요</span><i class="@(jApp["priority"].ToString() == "H" ? "fas text-success" : "far text-light") fa-star fs-16"></i></span>
                    <input type="text" class="form-control bg-white" id="txtSubject" readonly value="@jApp["subject"]">
                </div>
            </div>
            <div class="form-group row mb-2 mb-sm-2">
                <label for="txtLocation" class="col-sm-2 col-form-label font-weight-normal">장소 / 범주</label>
                <div class="col-sm-10 input-group align-items-center">
                    <input type="text" class="form-control bg-white" id="txtLocation" readonly value="@jApp["location"]">
                    <select class="custom-select bg-white" id="ddlSchType" disabled style="max-width: 120px">
                        @foreach (DataRow dr in ViewBag.SchType)
                        {
                            <option style="color: @dr["Color"]" value="@dr["SchType"]" @(jApp["schtype"].ToString() == dr["SchType"].ToString() ? " selected" : "")>&#9632; @dr["TypeName"]</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row mb-1 mb-sm-2">
                <label for="" class="col-sm-2 col-form-label font-weight-normal">일시</label>
                @*<div class="col-sm-10 input-daterange">
                    <div class="form-group row mb-1">
                        <div class="col-sm-2 d-none d-sm-block col-form-label">시작</div>
                        <div class="col-sm-10  input-group align-items-center">
                            <input type="text" class="form-control mr-2" id="txtStart" value="@Convert.ToDateTime(jApp["periodfrom"]).ToShortDateString()" style="max-width: 100px">
                            <select class="custom-select bg-white" id="cbStart" disabled>
                                @Html.Raw(CommonUtils.OptionTime(dtStart.Hour, dtStart.Minute))
                            </select>
                            <label class="custom-control custom-checkbox m-0 ml-2">
                                <input type="checkbox" class="custom-control-input" name="ckbAllDay" id="ckb02" disabled @(jApp["end"].ToString() == "24:00" ? "checked" : "")>
                                <span class="custom-control-label">종일</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group row mb-0">
                        <div class="col-sm-2 d-none d-sm-block col-form-label">종료</div>
                        <div class="col-sm-10 input-group align-items-center">
                            <input type="text" class="form-control mr-2" id="txtEnd" value="@Convert.ToDateTime(jApp["periodto"]).ToShortDateString()" style="max-width: 100px">
                            <select class="custom-select bg-white" id="cbEnd" disabled>
                                @Html.Raw(CommonUtils.OptionTime(dtEnd.Hour, dtEnd.Minute))
                            </select>
                            <label class="custom-control custom-checkbox m-0 ml-2">
                                <input type="checkbox" class="custom-control-input" name="ckbRepeat" id="ckb03" disabled @(jApp["repeat"]["type"].ToString() != "0" ? "checked" : "")>
                                <span class="custom-control-label">반복</span>
                            </label>
                        </div>
                    </div>
                </div>*@
                <div class="col-sm-10 input-group align-items-center">
                    @Html.Raw(GetDateDesc(jApp, ViewBag.R.lv["tgt"].ToString()))
                </div>
            </div>

            @if (jApp["repeat"]["type"].ToString() != "0")
            {
                <div class="form-group row mb-1 mb-sm-2">
                    <label for="" class="col-sm-2 col-form-label font-weight-normal">반복</label>
                    <div class="col-sm-10 input-group align-items-center">
                        @Html.Raw(GetRepeatDesc(jApp))
                    </div>
                </div>
            }

            <div class="form-group row mb-1 mb-sm-2">
                <div class="col-sm-2 col-form-label dropdown">
                    <label for="txtSubject" class="font-weight-normal mb-0">신청 자원</label>
                </div>
                <div class="col-sm-10">
                    @foreach (JObject j in (JArray)jApp["partlist"])
                    {
                        <div class="col-form-label" data-val="@j["ot"].@j["partid"]">@j["partdn"]@Html.Raw(GetStateIcon(jApp, j))</div>
                    }
                </div>
            </div>
            <div class="form-group row">
                <label for="rdoState" class="col-sm-2 col-form-label font-weight-normal">파일</label>
                <div class="col-sm-10 input-group align-items-center">
                    @*@foreach (JObject j in (JArray)jApp["attachlist"])
                    {
                        @Html.Raw(LInkAttachFile(j))
                    }*@
                    @Html.Raw(RenderFile("view", (JArray)jApp["attachlist"]))
                </div>
            </div>
            <div class="form-group mb-1 mb-sm-2">
                <div class="border p-2 zf-prevbody" id="txtBody" style="min-height: 6rem">@Html.Raw(ZumNet.Framework.Web.HtmlHandler.BodyInnerHtml(jApp["body"].ToString(), true))</div>
            </div>
            <div class="form-group row mb-0">
                <label for="" class="col-sm-2 col-form-label font-weight-normal">작성</label>
                <div class="col-sm-10 input-group align-items-center">
                    <span class="mr-3">@jApp["creur"]</span><span>@CommonUtils.CheckDateTime(jApp["credate"].ToString())</span>
                </div>
            </div>
        </div>
        @Html.Raw(PopupLayer())
        <div class="modal-footer justify-content-center">
            @if (bDeletable)
            {
                if (jApp["repeat"]["type"].ToString() == "0" || ViewBag.R.lv["tgt"].ToString() == "x")
                {
                    <button type="button" class="btn btn-outline-danger position-absolute" style="left: 1.2rem" data-zm-menu="delete">일정삭제</button>
                }
                else
                {
                    <button type="button" class="btn btn-outline-danger position-absolute" style="left: 1.2rem" data-zm-menu="layer-del">일정삭제</button>
                }
            }
            @if (bEditable)
            {
                if (jApp["repeat"]["type"].ToString() == "0" || ViewBag.R.lv["tgt"].ToString() == "x")
                {
                    <button type="button" class="btn btn-outline-secondary px-3 font-weight-bold" data-zm-menu="edit">@Resources.Global.Modify</button>
                }
                else
                {
                    <button type="button" class="btn btn-outline-secondary px-3 font-weight-bold" data-zm-menu="layer-mod">@Resources.Global.Modify</button>
                }
            }
            <button type="button" class="btn btn-default px-3" data-dismiss="modal">@Resources.Global.Close</button>
        </div>
    </div>
</div>
