@using System.Data;

<ul id="__ListView" class="list-group messages-list">
    @*<li class="list-group-item list-group-item-action d-flex container-p-x">
            @DateTime.Now.ToString("d") @DateTime.Now.ToString("t")
        </li>*@
    @if (ViewBag.BoardList != null && ViewBag.BoardList.Count > 0)
    {
        foreach (DataRow row in ViewBag.BoardList)
        {
            string sRead = row["IsRead"].ToString() == "N" ? " font-weight-bold" : "";
            string sTopLine = row["TopLine"].ToString() == "Y" ? " z-lv-topline" : "";

            <li class="list-group-item list-group-item-action d-flex align-items-center container-p-x@(sRead)@(sTopLine)">
                <div class="wd-8 wd-lg-5 wd-xl-4 message-checkbox">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-label"></span>
                    </label>
                </div>

                <div class="d-none d-md-block wd-lg-6 wd-xl-5 text-sm-center pr-2">
                    <span class="flex-fill">@row["SeqID"]</span>
                </div>

                <div class="wd-92 flex-fill text-truncate d-flex align-items-center">
                    @if (Convert.ToInt32(row["Depth"]) > 0)
                    {
                        for (int k = 1; k < Convert.ToInt32(row["Depth"]); k++)
                        {
                            <span class="px-1"></span>
                        }
                        <i class="fe-corner-down-right text-big text-warning font-weight-bold mx-1"></i>
                    }
                    @if (row["Priority"].ToString() == "Y")
                    {
                        @*<i class="fe-award text-big text-danger font-weight-bold mr-1"></i>*@
                        <img src="~/images/plugins/hot.gif" alt="" />
                    }
                    <a class="text-truncate" href="javascript:void(0)">@row["Subject"].ToString()</a>
                    @if (Convert.ToInt32(row["CommentCount"]) > 0)
                    {
                        <span class="badge badge-pill badge-outline-primary text-tiny ml-1 px-1">@row["CommentCount"].ToString()</span>
                    }
                </div>

                <div class="w-100 d-sm-none py-0"></div>

                <div class="wd-99 wd-lg-34 wd-xl-32 d-flex">
                    <div class="wd-8 d-sm-none"></div>
                    @if (row["HasAttachFile"].ToString() != "0")
                    {
                        <div class="wd-5 wd-lg-12 wd-xl-10">
                            <a href="javascript:void(0)" class="text-blue pr-2"><i class="fe-paperclip"></i></a>
                        </div>
                        <div class="wd-15 wd-lg-35 wd-xl-35 t-sm text-sm-center pr-2">
                            <span class="">@row["CreatorName"]</span>
                        </div>
                    }
                    else
                    {
                        <div class="d-none d-sm-block wd-lg-12 wd-xl-10"></div>
                        <div class="wd-20 wd-lg-35 wd-xl-35 t-sm text-sm-center pr-2">
                            <span class="">@row["CreatorName"]</span>
                        </div>
                    }

                    <div class="wd-20 wd-lg-35 wd-xl-30 t-sm text-sm-center pr-2">
                        <span class="">@ZumNet.Web.Bc.CommonUtils.LvDate(row["PublishDate"].ToString())</span>
                    </div>

                    <div class="text-right text-pink flex-fill pr-1">
                        <span class="">@row["ViewCount"]</span>
                    </div>
                </div>
            </li>
        }
    }
    else
    {
        <li class="list-group-item list-group-item-action d-flex align-items-center container-p-x">
            <div class="w-100 text-center pt-3">@Resources.Global.NoItemShow</div>
        </li>
    }
</ul>