@using System.Data;
@using System.Text;
@using Newtonsoft.Json;

@{
    ViewBag.Title = ViewBag.R["ttl"]; //"게시판";
    Layout = "~/Views/Shared/Layouts/_Layout2Flex.cshtml";

    //StringBuilder sb = new StringBuilder();
    //sb.Append("{");
    //sb.Append("current: {");
    //sb.AppendFormat("urid:\"{0}\"", "");
    //sb.AppendFormat(",user:\"{0}\"", "");
    //sb.AppendFormat(",deid:\"{0}\"", "");
    //sb.AppendFormat(",dept:\"{0}\"", "");
    //sb.AppendFormat(",date:\"{0}\"", "");
    //sb.AppendFormat(",page:\"{0}\"", "");
    //sb.AppendFormat(",acl:\"{0}\"", "");
    //sb.AppendFormat(",chief:\"{0}\"", "");
    //sb.AppendFormat(",operator:\"{0}\"", "");
    //sb.Append("}"); //current
    //sb.AppendFormat(",mode:\"{0}\"", "");
    //sb.AppendFormat(",ct:\"{0}\"", "");
    //sb.AppendFormat(",appid:\"{0}\"", "");
    //sb.Append(",query:{page:1,count:0,total:0,sort:\"\",sortcol:\"\"}"); //listview
    //sb.Append(",tree: {");
    ////sb.AppendFormat("selected:\"{0}\"", ViewBag.TreeOpenNode);
    //sb.Append("data:[");

    //int i = 0;
    //string[] v = ViewBag.TreeOpenNode.Split(';');

    //foreach (DataRow row in ViewBag.FolderTree)
    //{
    //    if (i > 0) { sb.Append(",{"); }
    //    else { sb.Append("{"); }

    //    sb.AppendFormat("\"id\":\"{0}\"", row["NodeID"].ToString());
    //    sb.AppendFormat(",\"parent\":\"{0}\"", row["MemberOf"].ToString() == "0.0.0" ? "#" : row["MemberOf"].ToString());
    //    sb.AppendFormat(",\"text\":\"{0}\"", row["DisplayName"].ToString());
    //    sb.AppendFormat(",\"icon\":\"{0}\"", "");

    //    if (v.Contains(row["NodeID"].ToString()))
    //    {
    //        if (v[v.Length - 1] == row["NodeID"].ToString())
    //        {
    //            sb.Append(",\"state\":{\"opened\":true,\"disabled\":false,\"selected\":true}");
    //        }
    //        else
    //        {
    //            sb.Append(",\"state\":{\"opened\":true,\"disabled\":false,\"selected\":false}");
    //        }
    //    }
    //    else
    //    {
    //        sb.Append(",\"state\":{\"opened\":false,\"disabled\":false,\"selected\":false}");
    //    }

    //    if (row["HasSub"].ToString() == "Y")
    //    {
    //        sb.Append(",\"children\": true");
    //    }

    //    sb.Append(",\"li_attr\":{");
    //    sb.AppendFormat("\"level\":\"{0}\"", row["NodeLevel"].ToString());
    //    sb.AppendFormat(",\"objecttype\":\"{0}\"", row["ObjectType"].ToString());
    //    sb.AppendFormat(",\"hassub\":\"{0}\"", row["HasSub"].ToString());
    //    sb.AppendFormat(",\"alias\":\"{0}\"", row["Alias"].ToString());
    //    sb.AppendFormat(",\"xfalias\":\"{0}\"", row["XFAlias"].ToString());
    //    sb.AppendFormat(",\"shared\":\"{0}\"", row["Shared"].ToString());
    //    sb.AppendFormat(",\"attype\":\"{0}\"", row["AttType"].ToString());
    //    sb.AppendFormat(",\"inuse\":\"{0}\"", row["InUse"].ToString());
    //    sb.AppendFormat(",\"permission\":\"{0}\"", row["Permission"].ToString());
    //    sb.AppendFormat(",\"deleted\":\"{0}\"", row["Deleted"].ToString());
    //    sb.Append("}");
    //    sb.Append(",\"a_attr\":{");
    //    sb.AppendFormat("\"url\":\"{0}\"", row["URL"].ToString());
    //    sb.Append("}");
    //    sb.Append("}");

    //    i++;
    //}
    //sb.Append("]");
    //sb.Append("}"); // treeview
    //sb.Append("}");

}

@section Styles {
    @Styles.Render("~/bundle/vendor/css/jstree/themes/default/style")
    @Styles.Render("~/bundle/vendor/css/pages/messages")
}

@section Scripts {
    @Scripts.Render("~/bundle/vendor/js/jstree/jstree")
    <script type="text/javascript">(function () {_zw.V = @Html.Raw(JsonConvert.SerializeObject(ViewBag.R))}());</script>
}

<!--
=================================================================
**************************** CONTENT ****************************
-->
<!-- `.messages-wrapper` fills all available space of container -->
<div class="messages-wrapper">

    <!-- sidebox -->
    <div class="messages-sidebox messages-scroll bg-body border-right">
        <div class="z-mobile-navbar"></div>

        <div class="py-3 px-4">
            <div class="media align-items-center">
                <div class="media-body">
                    <a id="__NewDoc" href="javascript:void(0)" class="btn btn-teal rounded-pill btn-block">게시물작성</a>
                </div>
                <a href="javascript:void(0)" class="messages-sidebox-toggler d-none text-muted text-large font-weight-light pl-4">&times;</a>
            </div>
            <div class="row mt-3">
                <div class="col-6 text-center px-0">
                    <a class="" href="/Board/Recent"><i class="mdi mdi-clock-check-outline"></i> 최근게시물</a>
                </div>
                <div class="col-6 text-center px-1">
                    <a class="" href="/Board/Save"><i class="mdi mdi-circle-edit-outline"></i> 임시저장함</a>
                </div>

            </div>
        </div>

        <hr class="border-light mx-4 mt-0 mb-3">

        <!-- sidebox tree -->
        <div id="__FolderTree" class="px-3"></div>
        <!-- / sidebox tree -->
    </div>
    <!-- / sidebox -->
    <!-- content -->
    <div class="d-flex flex-column w-100">
        <!-- Header -->
        <div class="flex-grow-0">
            <div class="d-flex align-items-center font-weight-bold container-p-x py-3 py-lg-4 m-0">
                <div class="h5 mb-0">
                    <a href="javascript:void(0)" class="messages-sidebox-toggler d-none d-md-block d-lg-none align-self-center px-2 mr-3" data-toggle="modal" data-target=".messages-sidebox"><i class="fe-more-vertical"></i></a>
                </div>

                <div class="h5 font-weight-bold mb-0 z-ttl">
                    <i class="mdi mdi-file-table-box-multiple-outline"></i> &nbsp;<span>@ViewBag.Title</span>
                </div>
            </div>
        </div>
        <!-- / Header -->

        <div class="flex-grow-1 position-relative">
            <!-- Remove `.messages-scroll` and add `.flex-grow-1` if you don't need scroll -->
            <div class="messages-content flex-grow-0">
                <div id="__CtDashboard" class="row container-p-x">
                    <div class="col col-md-7">
                        <div class="font-weight-bold text-black-50">
                            <i class="mdi mdi-clock-check-outline"></i> &nbsp;<span>최근게시물</span>
                        </div>
                        <div>
                            @for(int i = 0; i < ViewBag.RecentBBS.Count; i++)
                            {
                                DataRow row = ViewBag.RecentBBS[i];
                            <div class="d-flex justify-content-between align-items-center py-2">
                                <div class="">
                                    @if (i % 3 == 0)
                                    {
                                        <div class="badge badge-pill badge-teal">@row["DisplayName"]</div>
                                    }
                                    else if (i % 3 == 1)
                                    {
                                        <div class="badge badge-pill badge-warning">@row["DisplayName"]</div>
                                    }
                                    else
                                    {
                                        <div class="badge badge-pill badge-primary">@row["DisplayName"]</div>
                                    }
                                    <div class="mt-1"><a href="javascript:void(0)" class="@(row["IsRead"].ToString() != "N" ? "font-weight-bold" : "")" title="@Html.Raw(row["Subject"])" data-toggle="tooltip" data-placement="bottom">@row["Subject"]</a></div>
                                </div>
                                <div class="text-truncate">
                                    @if (Convert.ToInt32(row["CommentCount"]) > 0)
                                    {
                                        <span class="text-blue">(@row["CommentCount"])&nbsp;</span>
                                    }
                                    @Convert.ToDateTime(row["CreateDate"]).ToShortDateString()
                                </div>
                                
                            </div>
                            }                            
                        </div>
                    </div>
                    @*<div class="col-1 d-none d-md-block"></div>*@
                    <div class="col-5 d-none d-md-block pl-4 pr-0">
                        <div class="font-weight-bold text-black-50">
                            <i class="fe-message-circle"></i> &nbsp;<span>최근공지</span>
                        </div>
                        <div>
                            @foreach(DataRow row in ViewBag.RecentNotice)
                            {
                            <div class="text-truncate py-2">
                                <a href="javascript:void(0)" class="@(row["IsRead"].ToString() != "N" ? "font-weight-bold" : "")" title="@Html.Raw(row["Subject"])" data-toggle="tooltip" data-placement="bottom"><span class="badge badge-pill badge-default">@row["DisplayName"]</span> @row["Subject"]</a>
                            </div>
                            }
                        </div>

                    </div>
                </div>

                <ul id="__ListView" class="list-group messages-list d-none">
                    @*@Html.Partial("_ListView")*@
                </ul>
            </div>
        </div>
    </div>
    <!-- / content -->

</div><!-- / .messages-wrapper -->
