@using System.Data;
@using System.Text;
@using System.Threading;
@using Newtonsoft.Json;

@{
    ViewBag.Title = ViewBag.AppView["Subject"];
    Layout = "~/Views/Shared/Layouts/_Layout2Flex.cshtml";

    string sCurrentLocale = Thread.CurrentThread.CurrentUICulture.Name;

    string sSitePath = "";
    string[] vSiteMap = ViewBag.SiteMap.Split(new char[] { '' });
    foreach (string fd in vSiteMap)
    {
        string[] s = fd.Split(new char[] { '' });
        sSitePath += (sSitePath == "") ? s[1] : " > " + s[1];
    }

    bool bPrevEditorBody = false;
    if (DateTime.Compare(Convert.ToDateTime("2022-01-01"), Convert.ToDateTime(ViewBag.AppView["CreateDate"])) > 0)
    {
        bPrevEditorBody = true;
    }
}

@section Styles {
    @Styles.Render("~/bundle/vendor/css/jstree/themes/default/style")
    @Styles.Render("~/bundle/vendor/css/bootstrap-datepicker/bootstrap-datepicker")
    @Styles.Render("~/bundle/vendor/css/pages/messages")
}

@section Scripts {
    @Scripts.Render("~/bundle/vendor/js/jstree/jstree")
    @Scripts.Render("~/bundle/vendor/js/bootstrap-datepicker/bootstrap-datepicker")
    @Scripts.Render("~/bundle/vendor/js/bootstrap-maxlength/bootstrap-maxlength")
    @Scripts.Render("~/Scripts/Board/list.js")

    @if (sCurrentLocale != "" && sCurrentLocale.Substring(0, 2) != "en")
    {
        <script src="/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.@(sCurrentLocale.Substring(0, 2)).js" charset="UTF-8"></script>
    }
    <script type="text/javascript">(function () {_zw.V = @Html.Raw(JsonConvert.SerializeObject(ViewBag.R))}());</script>
}

<!--
=================================================================
**************************** CONTENT ****************************
-->
<!-- `.messages-wrapper` fills all available space of container -->
<div class="messages-wrapper">

    <!-- sidebox -->
    @Html.Partial("~/Views/Common/_LeftMenu.cshtml")
    <!-- / sidebox -->
    <!-- content -->
    <div class="d-flex flex-column w-100">
        <!-- Header -->
        <div class="flex-grow-0">
            <div class="zf-menu d-flex justify-content-between container-p-x m-0 mt-1 pt-3" style="padding-bottom: .65rem !important">
                <div class="d-flex align-items-center font-weight-bold">
                    <div class="h5 mb-0">
                        <a href="javascript:void(0)" class="messages-sidebox-toggler d-none d-md-block d-lg-none align-self-center px-2 mr-3" data-toggle="modal" data-target=".messages-sidebox"><i class="fe-more-vertical"></i></a>
                    </div>

                    <div class="btn-group">
                        @if (ZumNet.Framework.Util.StringHelper.HasAcl(ViewBag.R.current["acl"].ToString(), "M"))
                        {
                            <button class="btn btn-default font-weight-bold" data-zf-menu="reply" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.ReplyWrite"><i class="fas fa-reply"></i><span class="d-none d-sm-inline-block ml-1">@Resources.Global.ReplyWrite</span></button>
                            <button class="btn btn-default font-weight-bold" data-zf-menu="write" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.New"><i class="fe-edit-2"></i><span class="d-none d-sm-inline-block ml-1">@Resources.Global.New</span></button>
                        }
                        @if (ZumNet.Framework.Util.StringHelper.HasAcl(ViewBag.R.current["acl"].ToString(), "E"))
                        {
                            <button class="btn btn-default font-weight-bold" data-zf-menu="modify" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.Modify"><i class=" far fa-edit"></i><span class="d-none d-sm-inline-block ml-1">@Resources.Global.Modify</span></button>
                        }
                        @if (ZumNet.Framework.Util.StringHelper.HasAcl(ViewBag.R.current["acl"].ToString(), "D"))
                        {
                            <button class="btn btn-default font-weight-bold" data-zf-menu="delete" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.Delete"><i class="fe-trash-2"></i><span class="d-none d-sm-inline-block ml-1">@Resources.Global.Delete</span></button>
                        }
                    </div>
                </div>
                <div>
                    <div class="btn-group">
                        <button class="btn btn-default" data-zf-menu="list" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.List"><i class="fas fa-list"></i><span class="d-none d-sm-inline-block ml-1">@Resources.Global.List</span></button>
                        <button class="btn btn-default" data-zf-menu="previous" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.Previous"><i class="fas fa-chevron-left"></i></button>
                        <button class="btn btn-default" data-zf-menu="next" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.Next"><i class="fas fa-chevron-right"></i></button>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-default" data-zf-menu="print" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.Print"><i class="fe-printer"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Header -->

        <div class="flex-grow-1 position-relative" style="border-top: 2px solid #eee">
            <div class="z-list-scroll">
                <div class="pb-3 border-bottom">
                    <div class="d-block d-sm-none container-p-x mt-3">
                        <div class="mb-2 text-muted">@Html.Raw(sSitePath)</div>
                        <h5 class="mb-0">@ViewBag.AppView["Subject"]</h5>
                    </div>
                    <div class="d-none d-sm-flex justify-content-between container-p-x mt-3 mt-2">
                        <h5 class="mb-0">@ViewBag.AppView["Subject"]</h5>
                        <div class="text-muted">@Html.Raw(sSitePath)</div>
                    </div>
                    <div class="d-flex justify-content-between container-p-x mt-2">
                        <div class="">@ViewBag.AppView["CreatorName"] / @ViewBag.AppView["CreatorDept"] / @ZumNet.Web.Bc.CommonUtils.LvDate(ViewBag.AppView["PublishDate"].ToString(), true)</div>
                        <div>
                            <span class="d-inline-block mr-2 text-info" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.ViewCount"><i class="fe-eye"></i> @ViewBag.AppView["ViewCount"]</span>
                            <span class="d-inline-block text-danger" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.CommentCount"><i class="far fa-comment-dots"></i> @ViewBag.AppView["CommentCount"]</span>
                        </div>
                    </div>
                    @if (ViewBag.AppView["Priority"].ToString() == "Y" || ViewBag.AppView["TopLine"].ToString() == "Y")
                    {
                        <div class="d-flex container-p-x mt-2">
                            @if (ViewBag.AppView["Priority"].ToString() == "Y")
                            {
                                <div class="custom-control custom-checkbox custom-control-inline mb-0">
                                    <input type="checkbox" id="ckbPriority" class="custom-control-input" checked disabled>
                                    <label class="custom-control-label" for="ckbPriority">긴급</label>
                                </div>
                            }
                            @if (ViewBag.AppView["TopLine"].ToString() == "Y")
                            {
                                <div class="custom-control custom-checkbox custom-control-inline mb-0">
                                    <input type="checkbox" id="ckbTopLine" class="custom-control-input" checked disabled>
                                    <label class="custom-control-label" for="ckbTopLine">TOPLINE</label>
                                </div>
                            }
                        </div>
                    }
                </div>

                @if (ViewBag.AppFile != null && ViewBag.AppFile.Rows.Count > 0)
                {
                    <div class="container-p-x pt-3 mb-3">
                        <h6 class="mb-2"><i class="fas fa-paperclip"></i> @Resources.Global.AttachFile <span class="text-danger">@ViewBag.AppFile.Rows.Count</span></h6>
                        <div class="zf-attach">
                            @foreach (DataRow dr in ViewBag.AppFile.Rows)
                            {
                                <div class="d-flex align-items-center border px-2 pt-2 pb-1 mr-1">
                                    <div class="mr-2">
                                        <i class="@ZumNet.Web.Bc.CommonUtils.GetFileExt(dr["FileType"].ToString())"></i>
                                    </div>
                                    <div class=""><a href="/file/download?fn=@Server.UrlEncode(dr["FileName"].ToString())&fp=@Server.UrlEncode(dr["FilePath"].ToString() + "\\" + dr["SavedName"].ToString())">@dr["FileName"]</a></div>
                                    <div class="ml-2 text-muted">@ZumNet.Web.Bc.CommonUtils.StrFileSize(dr["FileSize"].ToString())</div>
                                </div>
                            }
                        </div>
                    </div>
                }

                @if (bPrevEditorBody)
                {
                    <div class="container-p-x py-3 zf-prevbody">
                        @Html.Raw(ZumNet.Framework.Web.Util.WebHelper.BodyInnerHtml(ViewBag.AppView["Body"].ToString()))
                    </div>
                }
                else
                {
                    <div class="container-p-x py-3">
                        @Html.Raw(ViewBag.AppView["Body"])
                    </div>
                }

                @if (ViewBag.AppReply != null && ViewBag.AppReply.Rows.Count > 1)
                {
                    <div class="border-top container-p-x py-3">
                        <h6 class="mb-2"><i class="fas fa-reply"></i> @Resources.Global.ReplyWrite @Resources.Global.List</h6>
                        <ul class="list-group messages-list">
                            @foreach (DataRow dr in ViewBag.AppReply.Rows)
                            {
                                <li class="list-group-item list-group-item-action d-flex align-items-center@(dr["MessageID"].ToString() == ViewBag.AppView["MessageID"].ToString() ? " bg-light" : "")">
                                    <div class="wd-99 flex-fill text-truncate d-flex align-items-center">
                                        @if (Convert.ToInt32(dr["Depth"]) > 0)
                                        {
                                            for (int k = 1; k < Convert.ToInt32(dr["Depth"]); k++)
                                            {
                                                <span class="px-1"></span>
                                            }
                                            <i class="fe-corner-down-right text-big text-warning font-weight-bold mx-1"></i>
                                        }
                                        <a class="text-truncate" href="javascript:void(0)" onclick="_zw.mu.readMsg();">@dr["Subject"].ToString()</a>
                                    </div>
                                    <div class="w-100 d-sm-none py-0"></div>

                                    <div class="wd-99 wd-lg-34 wd-xl-32 d-flex">
                                        @if (Convert.ToInt32(dr["Depth"]) > 0)
                                        {
                                            <div class="d-sm-none">
                                                <span class="d-inline-block">&nbsp;&nbsp;&nbsp;</span>
                                                @for (int k = 0; k < Convert.ToInt32(dr["Depth"]); k++)
                                                {
                                                    <span class="d-inline-block">&nbsp;</span>
                                                }
                                            </div>
                                        }
                                        <div class="wd-20 wd-lg-35 wd-xl-35 t-sm text-sm-center pr-2">
                                            <span class="">@dr["DisplayName"]</span>
                                        </div>

                                        <div class="wd-20 wd-lg-35 wd-xl-30 t-sm text-sm-center pr-2">
                                            <span class="">@ZumNet.Web.Bc.CommonUtils.LvDate(dr["CreateDate"].ToString())</span>
                                        </div>

                                        <div class="text-right text-pink flex-fill pr-1">
                                            <span class="">@dr["ViewCount"]</span>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                }
                <div class="container-p-x my-3">
                    <h6 class="mb-2"><i class="far fa-comment-dots"></i> @Resources.Global.Comment <span class="text-danger">@ViewBag.AppView["CommentCount"]</span></h6>
                    <div class="bg-lighter border p-3">
                        <div id="__CommentList">
                            @if (ViewBag.AppComment != null && ViewBag.AppComment.Rows.Count > 0)
                            {
                                for (int i = ViewBag.AppComment.Rows.Count - 1; i >= 0; i--)
                                {
                                    DataRow dr = ViewBag.AppComment.Rows[i];
                                    <div class="media">
                                        <img src="~/images/users/sjaekim.jpg" class="mr-3 rounded-circle" style="height:32px" alt="user" />
                                        <div class="media-body">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex">
                                                    <div class="font-weight-bold mr-3">@dr["Creator"]</div>
                                                    <div class="text-muted">@ZumNet.Web.Bc.CommonUtils.CheckDateTime(dr["CreateDate"].ToString())</div>
                                                </div>
                                                <div>
                                                    @if (dr["CreatorID"].ToString() == ViewBag.R.current["urid"].ToString() || ViewBag.R.current["operator"].ToString() == "Y")
                                                    {
                                                        <a class="text-dark mr-2" href="javascript:void();">@Resources.Global.Modify</a>
                                                        <a class="text-muted" href="javascript:void();">@Resources.Global.Delete</a>
                                                    }
                                                </div>
                                            </div>
                                            <p>@Html.Raw(dr["Comment"])</p>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <div class="">
                            <div class="">
                                <textarea class="form-control bootstrap-maxlength" rows="3" maxlength="500"></textarea>
                            </div>
                            <div class="text-right mt-2">
                                <button class="btn btn-primary" data-zf-menu="write" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.Register">@Resources.Global.Register</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / content -->

</div><!-- / .messages-wrapper -->
