@using System.Data;
@using System.Text;
@using ZumNet.Framework.Util;
@{
    string sSelected = "";
    string sSelectClass = "";

    StringBuilder sbForm = new StringBuilder();

    int iForm = 0;
    int iCharge = 0;

    //sbForm.Append("[");
    for (int i = 0; i < ViewBag.FormList.Rows.Count; i++)
    {
        DataRow dr = ViewBag.FormList.Rows[i];

        if (dr["Selectable"].ToString() == "Y" && dr["Usage"].ToString() != "9" && dr["ClassID"].ToString() != "0")
        {
            if (iForm > 0)
            {
                sbForm.Append(",");
            }
            sbForm.Append("{");
            sbForm.AppendFormat("fid:\"{0}\",cid:\"{1}\"", dr["FormID"].ToString(), dr["ClassID"].ToString());
            sbForm.AppendFormat(",editor:\"{0}\",limited:\"{1}\"", dr["WebEditor"].ToString(), dr["Limited"].ToString());
            //sbForm.AppendFormat(",selectable:\"{0}\",usage:\"{1}\"", dr["Selectable"].ToString(), dr["Usage"].ToString());
            sbForm.AppendFormat(",defid:\"{0}\",ver:\"{1}\",w:\"{2}\"", dr["ProcessID"].ToString(), dr["Version"].ToString(), dr["Reserved1"].ToString());
            sbForm.AppendFormat(",docname:\"{0}\",defname:\"{0}\"", dr["DocName"].ToString(), dr["ProcessName"].ToString());
            sbForm.AppendFormat(",file:\"{0}\",desc:\"{1}\"", (dr["FormID"].ToString().Length < 30) ? "" : dr["XslName"].ToString().Replace(".xsl", ""), dr["Description"].ToString());
            sbForm.AppendFormat(",chargelist:[");
            if (ViewBag.ChargeGR != null)
            {
                DataRow[] colGR = ViewBag.ChargeGR.Select("FormID='" + dr["FormID"].ToString() + "'");
                foreach (DataRow r1 in colGR)
                {
                    if (iCharge > 0)
                    {
                        sbForm.Append(",");
                    }
                    sbForm.Append("{");
                    sbForm.AppendFormat("ot:\"{0}\",cid:\"{1}\",name:\"{2}\"", r1["ObjectType"].ToString(), r1["ChargeID"].ToString(), r1["DisplayName"].ToString());
                    sbForm.Append("}");
                    iCharge++;
                }
            }
            if (iCharge > 0)
            {
                sbForm.Append(",");
            }
            if (ViewBag.ChargeUR != null)
            {
                DataRow[] colUR = ViewBag.ChargeUR.Select("FormID='" + dr["FormID"].ToString() + "'");
                iCharge = 0;
                foreach (DataRow r2 in colUR)
                {
                    if (iCharge > 0)
                    {
                        sbForm.Append(",");
                    }
                    sbForm.Append("{");
                    sbForm.AppendFormat("ot:\"{0}\",cid:\"{1}\",name:\"{2} {3}\"", r2["ObjectType"].ToString(), r2["ChargeID"].ToString(), r2["Grade1"].ToString(), r2["DisplayName"].ToString());
                    sbForm.Append("}");
                    iCharge++;
                }
            }
            sbForm.AppendFormat("]");
            sbForm.Append("}");

            iForm++;
            iCharge = 0;
        }
    }
    //sbForm.Append("]");
}

<div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title">양식선택</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body py-2 px-1 p-sm-3">
            <div class="row mx-0">
                <div class="col-5 col-md-3 pl-1 pl-sm-2 pr-0">
                    <div class="d-flex mb-2 z-lv-formsearch">
                        <div class="input-group">
                            <input type="search" class="form-control" placeholder="검색...">
                            <button class="btn btn-secondary"><i class="fe-search align-middle"></i></button>
                        </div>
                    </div>
                    <div id="__ClassTree" style="margin-left: -0.5rem; height: 394px; overflow: auto">
                        <ul>
                            @for (int i = 0; i < ViewBag.FormClass.Rows.Count; i++)
                            {
                                DataRow dr = ViewBag.FormClass.Rows[i];

                                if (ViewBag.Tab != "")
                                {
                                    if (ViewBag.Tab == dr["ClassName"].ToString())
                                    {
                                        sSelected = " active";
                                        sSelectClass = dr["ClassName"].ToString();
                                    }
                                    else
                                    {
                                        sSelected = "";
                                    }
                                }
                                else
                                {
                                    if (i == 0)
                                    {
                                        sSelected = " active";
                                        sSelectClass = dr["ClassName"].ToString();
                                    }
                                    else
                                    {
                                        sSelected = "";
                                    }
                                }
                                @*<a class="list-group-item list-group-item-action py-1 pr-1 @sSelected" data-toggle="tab" role="tab" href="#class_@dr["ClassID"]" aria-controls="@dr["ClassName"]">@dr["ClassName"]</a>*@
                                <li data-jstree='{"icon":"fas fa-folder text-warning"}' tgt="class_@dr["ClassID"]">@dr["ClassName"]</li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-7 col-md-5 px-1 px-sm-2">
                    <div class="card w-100 z-lv-newform">
                        <div class="card-header bg-light pt-2 pb-1 px-3">@sSelectClass</div>
                        <div class="card-body tab-content p-0 border-0" style="height: 400px; overflow: auto">
                            <div class="tab-pane" id="class_search">
                                <div class="list-group m-0 p-0"></div>
                            </div>
                            @for (int i = 0; i < ViewBag.FormClass.Rows.Count; i++)
                            {
                                DataRow dr = ViewBag.FormClass.Rows[i];
                                DataRow[] col = ViewBag.FormList.Select("ClassID = " + dr["ClassID"].ToString());

                                if (ViewBag.Tab != "")
                                {
                                    if (ViewBag.Tab == dr["ClassName"].ToString())
                                    {
                                        sSelected = " active";
                                    }
                                    else
                                    {
                                        sSelected = "";
                                    }
                                }
                                else
                                {
                                    if (i == 0)
                                    {
                                        sSelected = " active";
                                    }
                                    else
                                    {
                                        sSelected = "";
                                    }
                                }
                                <div class="tab-pane @sSelected" id="class_@dr["ClassID"]">
                                    @*<ul class="m-0 p-0">
                                            @foreach (DataRow r in col)
                                            {
                                                if (r["Selectable"].ToString() == "Y" && r["Usage"].ToString() != "9" && r["ClassID"].ToString() != "0")
                                                {
                                                    <li class="sidenav-item mb-2">
                                                        @if (r["FormID"].ToString() == "" || r["FormID"].ToString().Length < 30)
                                                        {
                                                            if (r["Description"].ToString() == "GWFILE")
                                                            {
                                                                <a href="javascript:void(0)" class="sidenav-link"><i class="far fa-file-excel text-teal mr-2"></i>@r["DocName"]</a>
                                                            }
                                                            else
                                                            {
                                                                //PDM 사용안함
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <a href="javascript:void(0)" class="sidenav-link"><i class="far fa-edit text-blue mr-2"></i>@r["DocName"]</a>
                                                        }
                                                    </li>
                                                }
                                            }
                                        </ul>*@
                                    <div class="list-group m-0 p-0">
                                        @foreach (DataRow r in col)
                                        {
                                            if (r["Selectable"].ToString() == "Y" && r["Usage"].ToString() != "9" && r["ClassID"].ToString() != "0")
                                            {
                                                if (r["FormID"].ToString() == "" || r["FormID"].ToString().Length < 30)
                                                {
                                                    if (r["Description"].ToString() == "GWFILE")
                                                    {
                                                        <a target="_blank" href="/Common/DownloadV?fp=@Server.UrlEncode(SecurityHelper.ToBase64(r["XslName"].ToString()))&fn=@Server.UrlEncode(SecurityHelper.ToBase64(r["DocName"].ToString()))" class="px-3 py-2 border" data-val="@r["FormID"]"><i aria-controls="text-teal" class="far fa-file-excel text-teal mr-2"></i>@r["DocName"]</a>
                                                    }
                                                    else
                                                    {
                                                        //PDM 사용안함
                                                    }
                                                }
                                                else
                                                {
                                                    <a href="javascript:void(0)" class="list-group-item list-group-item-action py-2" data-toggle="list" data-val="@r["FormID"]"><i aria-controls="text-blue" class="far fa-edit text-blue mr-2"></i>@r["DocName"]</a>
                                                }
                                            }
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 px-1 px-md-2 pt-2 pt-md-0">
                    <div class="card w-100 z-lv-forminfo">
                        <div class="card-header bg-light pt-2 pb-1 px-3">서식정보<span class="ml-1 text-info"></span></div>
                        <div class="card-body border-top p-2" style="height: 400px;">
                            <div class="form-group mb-2">
                                <label class="form-label">양식명</label>
                                <input type="text" class="form-control p-1" data-for="DocName" readonly />
                            </div>
                            <div class="form-group mb-2">
                                <label class="form-label">테이블</label>
                                <input type="text" class="form-control p-1" data-for="File" readonly />
                            </div>
                            <div class="form-group mb-2">
                                <label class="form-label">담당부서</label>
                                <input type="text" class="form-control p-1" data-for="ChargeDept" readonly />
                            </div>
                            <div class="form-group mb-2">
                                <label class="form-label">담당자</label>
                                <textarea class="form-control p-1" data-for="ChargeUser" readonly style="height: 76px;"></textarea>
                            </div>
                            <div class="form-group mb-2">
                                <label class="form-label">설명</label>
                                <textarea class="form-control p-1" data-for="Description" readonly style="height: 60px;"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="flex-fill" data-for="zf-addinfo"></div>
            <div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resources.Global.Close</button>
                <button type="button" class="btn btn-primary" data-zm-menu="confirm">@Resources.Global.Confirm</button>
            </div>
        </div>
        <script type="text/javascript">
            var jFormList = [@Html.Raw(sbForm.ToString())];
        </script>
    </div>
</div>


