@using System.Data;
@using System.Text;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;

@using ZumNet.Web.Bc;
@using ZumNet.Framework.Util;
@using ZumNet.Framework.Entities.Flow;

@{
    ViewBag.Title = "결재선 관리자";
}

@functions{
    private string _attrActId = ""; //참조 탭 activityid
    private string _attrName = "";  //참조 탭 명칭

    private string CheckAbsence(string isAbsent)
    {
        if (isAbsent == "Y") return "<span class=\"text-danger\">부재중</span>";
        else return "";
    }

    private string CheckAbsence(string isAbsent, string fromDate, string toDate)
    {
        bool b = (isAbsent == "Y" && DateTime.Compare(DateTime.Now, Convert.ToDateTime(fromDate)) >= 0 && DateTime.Compare(DateTime.Now, Convert.ToDateTime(toDate)) <= 0) ? true : false;
        if (b) return "<span class=\"text-danger\">부재중</span>";
        else return "";
    }

    private string GetMemberAttr(DataRow dr)
    {
        JObject j = JObject.Parse("{}");
        j["id"] = dr["UserID"].ToString();
        j["logonid"] = dr["LogonID"].ToString();
        j["smail"] = dr["SecondMail"].ToString();
        j["grid"] = dr["GR_ID"].ToString();
        j["gralias"] = dr["GRAlias"].ToString();
        j["grdn"] = dr.Table.Columns.Contains("GRName") ? dr["GRName"].ToString() : dr["GroupName"].ToString();
        j["empid"] = dr["EmpID"].ToString();
        j["grade"] = dr["Grade1"].ToString();
        j["role"] = dr["Role"].ToString();
        j["mobile"] = dr["Mobile"].ToString();

        return JsonConvert.SerializeObject(j);
    }

    private string GetUserInfo(DataSet ds)
    {
        DataRow dr = (ds != null && ds.Tables.Count > 0 && ds.Tables[0].Rows.Count > 0) ? ds.Tables[0].Rows[0] : null;
        StringBuilder sb = new StringBuilder();
        sb.Append("<tr>");
        sb.AppendFormat("<td rowspan=\"4\">{0}</td>", GetOrgUserImage(dr["LogonID"].ToString()));
        sb.Append("<th>성명</th>");
        sb.AppendFormat("<td>{0}</td>", DataHelper.GetFieldValueToString(dr, "UserName"));
        sb.Append("<th>직위</th>");
        sb.AppendFormat("<td>{0} / {1}</td>", DataHelper.GetFieldValueToString(dr, "CodeName"), DataHelper.GetFieldValueToString(dr, "DeptName"));
        sb.Append("</tr><tr>");
        sb.Append("<th rowspan=\"3\">담당업무</th>");
        sb.AppendFormat("<td rowspan=\"3\">{0}</td>", DataHelper.GetFieldValueToString(dr, "사무분담"));
        sb.Append("<th>연락처</th>");
        sb.AppendFormat("<td>{0}</td>", DataHelper.GetFieldValueToString(dr, "Mobile"));
        sb.Append("</tr><tr>");
        if (dr != null && dr["AbsentDate2"].ToString().Trim() != "" && Convert.ToDateTime(dr["AbsentDate2"].ToString().Trim()) >= DateTime.Today)
        {
            sb.Append("<th>부재</th>");
            sb.AppendFormat("<td>{0} ~ {1}</td>", DataHelper.GetFieldValueToString(dr, "AbsentDate1"), DataHelper.GetFieldValueToString(dr, "AbsentDate2"));
            sb.Append("</tr><tr>");
            sb.Append("<th>대결자</th>");
            sb.AppendFormat("<td>{0}</td>", DataHelper.GetFieldValueToString(dr, "Deputy"));
            sb.Append("</tr>");
        }
        else
        {
            sb.Append("<th>부재</th><td></td>");
            sb.Append("</tr><tr>");
            sb.Append("<th>대결자</th><td></td>");
            sb.Append("</tr>");
        }


        return sb.ToString();
    }

    private string GetOrgUserImage(string logonId)
    {
        string imagepath = "";
        string imageFormat = "";
        string imageOpacity = "";

        if (logonId != "")
        {
            imagepath = Server.MapPath("~/Storage/cresyn/PersonPhoto/" + logonId + ".jpg");
            imageFormat = "image/jpg";
            imageOpacity = "";
        }

        if (imagepath == "" || !File.Exists(imagepath))
        {
            imagepath = Server.MapPath("~/images/plugins/user.png");
            imageFormat = "image/png";
            imageOpacity = " opacity-50";
        }
        FileStream fs = new FileStream(imagepath, FileMode.Open);
        byte[] byData = new byte[fs.Length];
        fs.Read(byData, 0, byData.Length);
        fs.Close();

        var base64 = Convert.ToBase64String(byData);
        return String.Format("<img src=\"data:{0};base64,{1}\" alt=\"User Image\" class=\"{2}\">", imageFormat, base64, imageOpacity);
    }

    private string RenderMenuSchemaInfo(string mode, SchemaList schemaActList, Activity currentActivity, WorkItem currentWI, JArray wiList)
    {
        string[] vPartType = null;
        bool bViewMenu = true;
        bool bOnlyOne = false;
        int iCurPart = 0;

        string strScopeLine = "";   // 현단계에 버튼이 보이게 될 단계를 지정 2010-10-07

        string sCurrenetBizRole = "";
        string sCurrenetActRole = "";
        int iCurrentStep = 0;

        if (currentWI != null)
        {
            sCurrenetBizRole = currentWI.BizRole;
            sCurrenetActRole = currentWI.ActRole;
        }

        //2010-08-26 병렬이면 버튼 안보임(병렬 수신부서 처리는 제외) => EngineTx에서 병렬인 경우 참여자 추가가 처리 되지 않음
        if (currentActivity != null)
        {
            iCurrentStep = currentActivity.Step;

            if (currentActivity.Progress == ProcessStateChart.Progress.Parallel && sCurrenetActRole.IndexOf("__") < 0) bViewMenu = false;
            if (currentActivity.Progress == ProcessStateChart.Progress.OnlyOne) bOnlyOne = true;

            if (currentActivity.Progress == ProcessStateChart.Progress.Parallel)
            {
                //foreach (JObject w in wiList)
                //{
                //    if (w["ActivityID"].ToString() == currentActivity.ActivityID && Convert.ToInt32(w["ViewState"].ToString()) != (int)ProcessStateChart.WorkItemViewState.Cancel) iCurPart++;
                //}
                //2010-10-20 병렬이면서 결재자가 하나인 경우 위 단계 버튼 보이기
                if (ViewBag.JPost.ContainsKey("curpart") && Convert.ToInt32(ViewBag.JPost["curpart"].ToString()) == 1) { bViewMenu = true; bOnlyOne = true; }
            }
            //Response.Write("icurp->" + iCurPart.ToString());
            strScopeLine = currentActivity.ScopeLine;
        }

        StringBuilder sb = new StringBuilder();
        foreach (Schema item in schemaActList)
        {
            if (mode == "draft" && item.ActRole == "_drafter") { strScopeLine = item.ScopeLine; }// 현단계에 버튼이 보이게 될 단계를 지정 2010-10-07

            vPartType = item.PartType.Split('_');
            if (bViewMenu && (sCurrenetActRole.IndexOf("__") >= 0 || (sCurrenetActRole.IndexOf("__") < 0
                && ((bOnlyOne && item.Step > iCurrentStep) || (!bOnlyOne && item.Step >= iCurrentStep)))))
            //&& (bOnlyOne && item.Step > this._currentStep || !bOnlyOne && item.Step >= this._currentStep))))
            {
                //sb.AppendFormat("<div>{0}-{1}-{2}</div>", item.DisplayName, vPartType[1], item.Participants);

                if (vPartType[1] == "b" || vPartType[1] == "f" || vPartType[1] == "h" || (vPartType[1] == "g" && item.Participants != null && item.Participants.Count > 0))
                {
                    if (item.BizRole == "normal")
                    {
                        //Response.Write(":::actrole=>" + item.ActRole + "<br />");
                        if (item.ActRole == "_reviewer") sb.Append(RenderMenuControl("검토", "addUser", "검토", item.ActivityID, vPartType[0]));
                        if (item.ActRole == "_approver") sb.Append(RenderMenuControl("승인", "addUser", "승인", item.ActivityID, vPartType[0]));
                    }
                    else if (item.BizRole == "last")
                    {
                        //Response.Write(":::actrole=>" + item.ActRole + "<br />");
                        if (item.ActRole == "_approver") sb.Append(RenderMenuControl("최종승인", "addUser", "최종승인", item.ActivityID, vPartType[0]));
                        if (item.ActRole == "_reviewer") sb.Append(RenderMenuControl("검토", "addUser", "검토", item.ActivityID, vPartType[0]));
                    }
                    else if (item.BizRole == "receive" || item.BizRole == "distribution")
                    {
                        //Response.Write(":::curbiz=>" + currentWI.BizRole + " : " + item.BizRole + "<br />");
                        //Response.Write(":::actrole=>" + item.ActRole + "<br />");
                        if (sCurrenetBizRole == item.BizRole && item.ActRole == "_reviewer") sb.Append(RenderMenuControl("검토", "addUser", "검토", item.ActivityID, vPartType[0]));
                        if (sCurrenetBizRole == item.BizRole && item.ActRole == "_manager") sb.Append(RenderMenuControl("담당", "addUser", "담당", item.ActivityID, vPartType[0]));
                        if (sCurrenetBizRole == item.BizRole && item.ActRole == "_approver") sb.Append(RenderMenuControl("승인", "addUser", "승인", item.ActivityID, vPartType[0]));
                        if (item.ActRole == "__r") sb.Append(RenderMenuControl("수신처", "addGroup", "수신처", item.ActivityID, vPartType[0]));
                        else if (item.ActRole == "__ri") sb.Append(RenderMenuControl("수신처", "addGroup", "수신처", item.ActivityID, vPartType[0]));

                        //if (vPartType[1] == "h")
                        //{
                        //    this.panAddress.Visible = true;
                        //    this.phAttributePart.Visible = true;
                        //}
                    }
                    else if (item.BizRole == "consent")
                    {
                        if (sCurrenetBizRole == item.BizRole && item.ActRole == "_approver") sb.Append(RenderMenuControl("승인", "addUser", "승인", item.ActivityID, vPartType[0]));
                        if (item.ActRole == "__r") sb.Append(RenderMenuControl("합의", "addGroup", "합의", item.ActivityID, vPartType[0]));
                    }
                    else if (item.BizRole == "agree")
                    {
                        sb.Append(RenderMenuControl("합의", "addUser", "합의", item.ActivityID, vPartType[0]));
                    }
                    else if (item.BizRole == "reference")
                    {
                        if (vPartType[0] == "g") sb.Append(RenderMenuControl("참조", "addGroup", "참조", item.ActivityID, vPartType[0]));
                        else sb.Append(RenderMenuControl("참조자", "addUser", "참조자", item.ActivityID, vPartType[0]));
                    }
                    else if (item.BizRole == "audit")
                    {
                        if (sCurrenetBizRole == item.BizRole && item.ActRole == "_approver") sb.Append(RenderMenuControl("결재자", "addUser", "감사결재자 추가", item.ActivityID, vPartType[0]));
                        if (item.ActRole == "__r") sb.Append(RenderMenuControl("감사처", "addGroup", "감사부서 추가", item.ActivityID, vPartType[0]));
                    }
                    else if (item.BizRole == "confirm")
                    {
                        sb.Append(RenderMenuControl("확인", "addUser", "확인", item.ActivityID, vPartType[0]));
                    }
                    else if (item.BizRole == "application")
                    {
                        if (item.ActRole == "__r") sb.Append(RenderMenuControl("접수" + '처', "addGroup", "접수", item.ActivityID, vPartType[0]));
                        if (item.ActRole == "_approver")
                        {
                            if (item.ParentActivityID != "") sb.Append(RenderMenuControl("승인", "addUser", "승인", item.ActivityID, vPartType[0]));
                            else sb.Append(RenderMenuControl("접수", "addUser", "접수", item.ActivityID, vPartType[0]));
                        }
                        if (item.ActRole == "_reviewer") sb.Append(RenderMenuControl("검토", "addUser", "검토", item.ActivityID, vPartType[0]));
                    }
                    else if (item.BizRole == "manage")
                    {
                        //if (item.ActRole == "_approver") RenderMenuControl("담당", "addUser", "담당", item.ActivityID, vPartType[0]);

                        //if (item.ActRole == "__r") RenderMenuControl("접수", "addGroup", "접수", item.ActivityID, vPartType[0]);
                        if (item.ActRole == "_approver")
                        {
                            if (item.ParentActivityID != "") sb.Append(RenderMenuControl("승인", "addUser", "승인", item.ActivityID, vPartType[0]));
                            else sb.Append(RenderMenuControl(item.DisplayName, "addUser", item.DisplayName, item.ActivityID, vPartType[0]));
                            //else RenderMenuControl("접수", "addUser", "접수", item.ActivityID, vPartType[0]);
                        }
                        if (item.ActRole == "_reviewer") sb.Append(RenderMenuControl("검토", "addUser", "검토", item.ActivityID, vPartType[0]));
                    }
                    else
                    {
                        if (item.ActRole == "__r")
                        {
                            sb.Append(RenderMenuControl(item.DisplayName, "addGroup", item.DisplayName, item.ActivityID, vPartType[0]));
                        }
                        else
                        {
                            //if (item.ActRole == "_approver") RenderMenuControl("승인", "addUser", "승인", item.ActivityID, vPartType[0]);
                            if (item.ActRole == "_reviewer") sb.Append(RenderMenuControl("검토", "addUser", "검토", item.ActivityID, vPartType[0]));
                            else if (item.ActRole == "_confirmor") sb.Append(RenderMenuControl("확인", "addUser", "확인", item.ActivityID, vPartType[0]));
                            else
                            {
                                if (item.ActRole != "_redrafter") sb.Append(RenderMenuControl(item.DisplayName, "addUser", item.DisplayName, item.ActivityID, vPartType[0]));
                            }
                        }
                    }
                }
            }

            if (bViewMenu && vPartType[1] == "h")
            {
                //this.phAttributePart.Visible = true;
                //string strAttName = ZumNet.Framework.Entities.Flow.ProcessStateChart.ParsingBizRole(item.BizRole).Substring(0, 2);
                //if (vPartType[0] == "u") strAttName += "자";
                //else strAttName += "처";
                //RenderAttributeTab(item.ActivityID, strAttName);

                _attrName = ProcessStateChart.ParsingBizRole(item.BizRole).Substring(0, 2) + (vPartType[0] == "u" ? "자" : "처");
                _attrActId = item.ActivityID;
            }

            //2010-10-07 크레신 (지정된 ScopeLine까지 결재선을 지정할 수 있게
            if (strScopeLine != "" && strScopeLine == item.ActivityID) break;
        }

        sb.Append(RenderMenuControl("선확인", "addUser", "우선확인목록 추가", "xform_cf", "fas fa-calendar-check text-success opacity-75"));
        sb.Append(RenderMenuControl("배포자", "addUser", "개인배포목록 추가", "xform_dl", "fas fa-tag text-success opacity-75"));
        sb.Append(RenderMenuControl("배포처", "addGroup", "그룹배포목록 추가", "xform_dl", "fas fa-tags text-success opacity-75"));

        if (ViewBag.PersonLine != null)
            sb.Append(RenderMenuControl("결재선", "insertPersonLine", "개인결재선", "", "fas fa-project-diagram text-primary opacity-75"));

        return sb.ToString();
    }

    private string RenderMenuControl(string menuName, string methodName, string toolTip, string param1, string param2)
    {
        string sIcon = "";
        if (param2 == "u") sIcon = "fas fa-user text-indigo opacity-75";
        else if (param2 == "g") sIcon = "fas fa-user-friends text-primary opacity-75";
        else sIcon = param2;

        StringBuilder sb = new StringBuilder();
        sb.AppendFormat("<button type=\"button\" class=\"btn btn-default btn-sm\" data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"{0}\" data-zm-menu=\"{1}\" data-val=\"{2}\">"
                        , toolTip, methodName, param1);
        sb.AppendFormat("<i class=\"{0}{1}\"></i>", sIcon, menuName.Length < 4 ? " mr-1" : "");
        sb.AppendFormat("{0}</button>", menuName);

        return sb.ToString();
    }

    private string BindingSignLinesInDraft(SchemaList schemaActList, WorkItem currentWI)
    {
        string[] vPartType = null;
        bool bEnableSchema = false;
        int iStep = 1;
        //int iSubStep = 0;

        string sCurrenetBizRole = "";
        string sCurrenetActRole = "";

        if (currentWI != null)
        {
            sCurrenetBizRole = currentWI.BizRole;
            sCurrenetActRole = currentWI.ActRole;
        }

        JArray jPart = new JArray();
        foreach (Schema item in schemaActList)
        {
            vPartType = item.PartType.Split('_');

            if ((item.BizRole == "receive" || item.BizRole == "consent" || item.BizRole == "audit") && item.ActRole == "_approver" && sCurrenetBizRole != item.BizRole) bEnableSchema = false;
            else bEnableSchema = true;

            if (bEnableSchema)
            {
                if (item.ActRole == "_drafter")
                {
                    jPart.Add(BindSignLine("1", "", "", iStep, 0, 0
                        , ((int)ProcessStateChart.WorkItemState.InActive).ToString()
                        , ((int)ProcessStateChart.SignStatus.None).ToString()
                        , ((int)ProcessStateChart.SignKind.Normal).ToString()
                        , ((int)ProcessStateChart.WorkItemViewState.InProgress).ToString()
                        , "", ""
                        , item.ActivityID, item.BizRole, item.ActRole, item.PartType
                        , Session["URID"].ToString(), Session["DeptAlias"].ToString()
                        , "", "", "", "", ""
                        , Session["URName"].ToString(), Session["DeptName"].ToString()
                        , Session["LogonID"].ToString(), Session["LogonID"].ToString()
                        , Session["URACCOUNT"].ToString(), Session["GRADE1"].ToString()
                        , "", "", "")
                    );

                    iStep++;
                }
                else
                {
                    //if (item.Random == "N")
                    //{
                    //Response.Write("cnt->" + item.Participants.Count.ToString() + Environment.NewLine);
                    if ((item.Participants != null) && (item.Participants.Count > 0))
                    {
                        //여기에 미리 지정된 참여자를 넣는다.f(혼합),g(담당)만 됨                    
                        foreach (WorkItem wi in item.Participants.Items)
                        {
                            jPart.Add(BindSignLine("1", "", wi.ParentWorkItemID, iStep, wi.SubStep, wi.Seq
                                , wi.State.ToString(), wi.SignStatus.ToString(), wi.SignKind.ToString(), wi.ViewDate
                                , "", "", wi.ActivityID
                                , wi.BizRole, wi.ActRole, wi.PartType, wi.ParticipantID
                                , wi.ParticipantDeptCode, "", "", "", "", ""
                                , wi.ParticipantName, wi.ParticipantInfo1, wi.ParticipantInfo2
                                , wi.ParticipantInfo3, wi.ParticipantInfo4, wi.ParticipantInfo5
                                , wi.ParticipantInfo6, "", "")
                            );
                            if (item.Progress == ProcessStateChart.Progress.Serial) iStep++;
                        }
                        if (item.Progress != ProcessStateChart.Progress.Serial) iStep++;
                    }
                    else
                    {
                        //빈 결재선을 막는다 : 2010-03-10 선도에서
                        //if (item.Progress == ProcessStateChart.Progress.Parallel) iSubStep = 1;
                        //else iSubStep = 0;

                        //if ((vPartType[1] == "b") || (vPartType[1] == "f") || (vPartType[1] == "g") || (vPartType[1] == "h"))
                        //{
                        //    BindSignLine("1", "", "", iStep, iSubStep, 0, "", "", "", "", "", ""
                        //        , item.ActivityID, item.BizRole, item.ActRole, item.PartType
                        //        , "", "", "", "", "", "", "", "", "", "", "", "", "", "", "");
                        //    iStep++;
                        //}
                    }
                    //}
                }
            }
        }

        return JsonConvert.SerializeObject(jPart);
    }

    private string BindingSignLines(SchemaList schemaActList, WorkItem currentWI)
    {
        string[] vPartType = null;
        bool bEnableSchema = false;
        int iStep = 1;
        //int iSubStep = 0;

        string sCurrenetBizRole = "";
        string sCurrenetActRole = "";

        if (currentWI != null)
        {
            sCurrenetBizRole = currentWI.BizRole;
            sCurrenetActRole = currentWI.ActRole;
        }

        JArray jPart = new JArray();
        foreach (Schema item in schemaActList)
        {
            vPartType = item.PartType.Split('_');

            if ((item.BizRole == "receive" || item.BizRole == "consent" || item.BizRole == "audit") && item.ActRole == "_approver" && sCurrenetBizRole != item.BizRole) bEnableSchema = false;
            else bEnableSchema = true;

            if (currentWI.ActRole.IndexOf("__") >= 0)
            {
                //Response.Write("a->" + item.ActRole);
                if (item.ActRole == "_redrafter")
                {
                    jPart.Add(BindSignLine("1", "", currentWI.WorkItemID, iStep, 0, 0
                        , ((int)ProcessStateChart.WorkItemState.InActive).ToString()
                        , ((int)ProcessStateChart.SignStatus.None).ToString()
                        , ((int)ProcessStateChart.SignKind.Normal).ToString()
                        , ((int)ProcessStateChart.WorkItemViewState.InProgress).ToString()
                        , "", "", item.ActivityID, item.BizRole, item.ActRole, item.PartType
                        , Session["URID"].ToString(), Session["DeptAlias"].ToString()
                        , "", "", DateHelper.CheckDateTime(currentWI.ReceivedDate), "", ""
                        , Session["URName"].ToString(), Session["DeptName"].ToString()
                        , Session["LogonID"].ToString(), Session["LogonID"].ToString()
                        , Session["URACCOUNT"].ToString(), Session["GRADE1"].ToString()
                        , "", "", "")
                    );

                    iStep++;
                }
                else
                {
                    if ((item.Participants != null) && (item.Participants.Count > 0))
                    {
                        //Response.Write("actname->" + item.DisplayName + "<br />");
                        //Response.Write("parts->" + item.Participants.Count.ToString() + "<br />");
                        //여기에 미리 지정된 참여자를 넣는다.
                        foreach (WorkItem wi in item.Participants.Items)
                        {
                            jPart.Add(BindSignLine("1", "", wi.ParentWorkItemID, iStep, wi.SubStep, wi.Seq
                                , wi.State.ToString(), wi.SignStatus.ToString(), wi.SignKind.ToString(), wi.ViewDate
                                , "", "", wi.ActivityID
                                , wi.BizRole, wi.ActRole, wi.PartType, wi.ParticipantID
                                , wi.ParticipantDeptCode, "", "", "", "", ""
                                , wi.ParticipantName, wi.ParticipantInfo1, wi.ParticipantInfo2
                                , wi.ParticipantInfo3, wi.ParticipantInfo4, wi.ParticipantInfo5
                                , wi.ParticipantInfo6, "", "")
                            );

                            if (item.Progress == ProcessStateChart.Progress.Serial) iStep++;
                        }
                        if (item.Progress != ProcessStateChart.Progress.Serial) iStep++;
                    }
                    else
                    {
                        //빈 결재선을 막는다 : 2010-03-10 선도에서
                        //if (item.Progress == ProcessStateChart.Progress.Parallel) iSubStep = 1;
                        //else iSubStep = 0;

                        //if ((vPartType[1] == "b") || (vPartType[1] == "f") || (vPartType[1] == "g") || (vPartType[1] == "h"))
                        //{
                        //    BindSignLine("1", "", this._parentWID, iStep, iSubStep, 0, "", "", "", "", "", ""
                        //        , item.ActivityID, item.BizRole, item.ActRole, item.PartType
                        //        , "", "", "", "", "", "", "", "", "", "", "", "", "", "", "");
                        //    iStep++;
                        //}
                    }
                }
            }
        }

        return JsonConvert.SerializeObject(jPart);
    }

    private JObject BindSignLine(string mode, string wID, string parent, int step, int subStep, int seq, string state, string signStatus, string signKind, string viewState
                        , string flag, string designator, string activityID, string bizRole, string actRole, string partType, string partID, string deptCode
                        , string competency, string point, string receivedDate, string viewDate, string completedDate, string partName, string part1, string part2, string part3
                        , string part4, string part5, string part6, string comment, string signature)
    {
        string strInterval = "";
        if (receivedDate != "") strInterval = (completedDate == "") ? DateHelper.CalcDateDiff(receivedDate, DateTime.Now.ToString("yyyy-MM-dd HH:mm:dd")) : DateHelper.CalcDateDiff(receivedDate, completedDate);

        JObject j = JObject.Parse("{}");

        j["mode"] = mode;
        j["wid"] = wID;
        j["parent"] = parent;
        j["step"] = step.ToString();
        j["substep"] = subStep.ToString();
        j["seq"] = seq.ToString();
        j["state"] = state;
        j["signstatus"] = signStatus;
        j["signkind"] = signKind;
        j["viewstate"] = viewState;
        j["flag"] = flag;
        j["designator"] = designator;
        j["activityid"] = activityID;
        j["bizrole"] = bizRole;
        j["actrole"] = actRole;
        j["parttype"] = partType;
        j["partid"] = partID;
        j["deptcode"] = deptCode;
        j["competency"] = competency;
        j["point"] = point;
        j["received"] = receivedDate;
        j["view"] = viewDate;
        j["completed"] = completedDate;
        j["interval"] = strInterval;
        j["partname"] = partName;
        j["part1"] = part1; //부서명
        j["part2"] = part2; //계정
        j["part3"] = part3; //사번
        j["part4"] = part4; //메일계정
        j["part5"] = part5; //직위
        j["part6"] = part6; //직급
        j["comment"] = comment;
        j["sign"] = signature;

        return j;
    }

    private string BindAttributes(DataSet attrList)
    {
        JArray jAttr = new JArray();

        if (attrList != null && attrList.Tables.Count > 0)
        {
            foreach(DataRow row in attrList.Tables[0].Rows)
            {
                JObject j = new JObject();
                j["actid"] = row["Step"].ToString();
                j["att"] = row["DLType"].ToString();
                j["dtype"] = "D";
                j["flag"] = "";
                j["display"] = row["Display"].ToString();
                j["value"] = row["Value"].ToString();

                jAttr.Add(j);
            }
        }
        return JsonConvert.SerializeObject(jAttr);
    }

}

@if (ViewBag.JPost["M"].ToString() == "draft" || ViewBag.JPost["M"].ToString() == "approval")
{
    <div class="modal-dialog modal-dialog-scrollable" style="max-width: 55rem">
        <div class="modal-content bg-white" style="box-shadow: 0px 5px 15px rgba(0,0,0,0.5)">
            <div class="modal-header justify-content-between align-items-center bg-light pb-2 px-3" style="padding-top: 0.725rem !important">
                <h5 class="modal-title">@ViewBag.Title</h5>
                <div class="d-flex align-items-center">
                    <label class="custom-control custom-checkbox m-0 mr-3" for="ckbPersonLineSave">
                        <input type="checkbox" class="custom-control-input" id="ckbPersonLineSave" value="on" />
                        <span class="custom-control-label">결재선 저장</span>
                    </label>
                    <button type="button" class="btn btn-primary my-0 px-3 py-1 mr-1" data-zm-mmenu="confirm">@Resources.Global.Confirm</button>
                    <button type="button" class="btn btn-default my-0 px-3 py-1" data-dismiss="modal" aria-label="Close">@Resources.Global.Cancel</button>
                </div>
            </div>
            <div class="zf-sl modal-body p-2">
                <div class="d-sm-flex">
                    <div class="wd-99 wd-lg-26 wd-xl-26">
                        <div class="nav-tabs-top mb-1">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" role="tab" href="#orgmaptree" aria-controls="orgmaptree" aria-selected="true">@Resources.Global.OrganChart</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" role="tab" href="#orgmapsearch" aria-controls="orgmapsearch" aria-selected="false">@Resources.Global.Search</a>
                                </li>
                                @if (ViewBag.PersonLine != null)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" role="tab" href="#personline" aria-controls="personline" aria-selected="false">개인결재선</a>
                                    </li>
                                }
                            </ul>
                            <!-- sidebox tree -->
                            <div class="tab-content px-1 py-2">
                                <div class="tab-pane fade show active" id="orgmaptree" role="tabpanel" aria-labelledby="orgtree-tab">
                                    <div id="__OrgMapTree"></div>
                                </div>
                                <div class="tab-pane fade show" id="orgmapsearch" role="tabpanel" aria-labelledby="orgsearch-tab">
                                    <form id="__OrgMapSearch">
                                        <div class="form-group row mx-0 mb-2">
                                            <label class="col-form-label col-4 text-truncate">@Resources.Global.PersonName</label>
                                            <div class="col-8 px-0">
                                                <input type="text" class="form-control" placeholder="@Resources.Global.PersonName" data-for="ur">
                                            </div>
                                        </div>
                                        <div class="form-group row mx-0 mb-2">
                                            <label class="col-form-label col-4 text-truncate">@Resources.Global.ID</label>
                                            <div class="col-8 px-0">
                                                <input type="text" class="form-control" placeholder="@Resources.Global.ID" data-for="urcn">
                                            </div>
                                        </div>
                                        <div class="form-group row mx-0 mb-2">
                                            <label class="col-form-label col-4 text-truncate">@Resources.Global.Department</label>
                                            <div class="col-8 px-0">
                                                <input type="text" class="form-control" placeholder="@Resources.Global.Department" data-for="dept">
                                            </div>
                                        </div>
                                        <div class="form-group row mx-0">
                                            <label class="col-form-label col-4 text-truncate">@Resources.Global.Jikwi</label>
                                            <div class="col-8 px-0">
                                                <select class="custom-select" data-for="grade">
                                                    <option value="">@Resources.Global.Select</option>
                                                    @foreach (DataRow row in ViewBag.GradeCode)
                                                    {
                                                        <option value="@row["Code"]">@row["CodeName"]</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <button class="btn btn-outline-success py-1 mr-1">@Resources.Global.Search</button>
                                            <button class="btn btn-outline-secondary py-1 ml-1" type="reset">@Resources.Global.Reset</button>
                                        </div>
                                    </form>
                                </div>
                                @if (ViewBag.PersonLine != null)
                                {
                                    <div class="tab-pane fade show" id="personline" role="tabpanel" aria-labelledby="personline-tab">
                                        @if (ViewBag.PersonLine.Tables.Count > 0)
                                        {
                                            foreach (DataRow dr in ViewBag.PersonLine.Tables[0].Rows)
                                            {
                                                <label class="custom-control custom-checkbox mb-2" id="_@dr["LineID"]_@dr["ProcessID"]_@dr["FormID"]">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <a class="custom-control-label z-lnk-navy" title="@Server.HtmlEncode(dr["LineName"].ToString())"> @dr["LineName"]</a>
                                                </label>
                                            }
                                        }
                                        else
                                        {
                                            <div class="alert alert-warning text-center py-2 mt-4" role="alert">생성된 결재선 없습니다!</div>
                                        }
                                    </div>
                                }
                            </div>
                            <!-- / sidebox tree -->
                        </div>
                        <div class="zf-sl-member">
                            <div class="card">
                                <div class="card-header bg-light py-1 px-2">
                                    <div class="d-flex align-items-center">
                                        <div class="wd-50 wd-lg-50 wd-xl-50 text-nowrap">@Resources.Global.Name</div>
                                        <div class="wd-25 wd-lg-25 wd-xl-25 text-nowrap">@Resources.Global.Jikwi</div>
                                        <div class="wd-25 wd-lg-25 wd-xl-25 text-nowrap">부재여부</div>
                                    </div>
                                </div>
                                <div class="card-body p-1">
                                    @foreach (DataRow dr in ViewBag.MemberList.Tables[0].Rows)
                                    {
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="wd-50 wd-lg-50 wd-xl-50">
                                                <label class="flex-fill custom-control custom-checkbox mb-0">
                                                    <input type="checkbox" class="custom-control-input" data-for="ur.@dr["UserID"]" data-attr="@GetMemberAttr(dr)">
                                                    <span class="custom-control-label">@dr["DisplayName"]</span>
                                                </label>
                                            </div>
                                            <div class="wd-25 wd-lg-25 wd-xl-25 text-muted text-nowrap">@dr["Grade1"]</div>
                                            <div class="wd-25 wd-lg-25 wd-xl-25 text-muted text-nowrap">@Html.Raw(CheckAbsence(dr["NowAbsent"].ToString()))</div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="card d-none">
                                <div class="card-header bg-light py-1 px-2">
                                    <div class="d-flex align-items-center">
                                        <div class="wd-15 wd-lg-15 wd-xl-15 text-nowrap text-center">순번</div>
                                        <div class="wd-25 wd-lg-25 wd-xl-25 text-nowrap text-center">구분</div>
                                        <div class="wd-60 wd-lg-60 wd-xl-60 text-nowrap text-center">결재자</div>
                                    </div>
                                </div>
                                <div class="card-body p-1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="wd-99 wd-lg-9 wd-xl-9">
                        <div class="zf-sl-menu d-sm-flex flex-sm-column justify-content-center h-100">
                            @Html.Raw(RenderMenuSchemaInfo(ViewBag.JPost["M"].ToString(), ViewBag.SchemaList, ViewBag.CurrentAct, ViewBag.CurrentWI, ViewBag.JPost["signline"]))
                        </div>
                    </div>
                    <div class="wd-99 wd-lg-65 wd-xl-65">
                        <div class="zf-sl-list mt-2 mt-sm-0">
                            <div class="d-flex justify-content-between align-items-center my-1 mx-1">
                                <div class="font-weight-bold"><i class="fe-edit mr-1"></i>결재자목록</div>
                                <div class="zf-sl-submenu">
                                    <button type="button" class="btn btn-outline-secondary icon-btn btn-sm" data-toggle="tooltip" data-placement="bottom" title="초기화" data-zm-menu="refresh"><i class="fe-refresh-cw font-weight-bold"></i></button>
                                    <button type="button" class="btn btn-outline-success icon-btn btn-sm" data-toggle="tooltip" data-placement="bottom" title="위로" data-zm-menu="up"><i class="fas fa-arrow-up"></i></button>
                                    <button type="button" class="btn btn-outline-success icon-btn btn-sm" data-toggle="tooltip" data-placement="bottom" title="아래로" data-zm-menu="down"><i class="fas fa-arrow-down"></i></button>
                                    <button type="button" class="btn btn-outline-secondary icon-btn btn-sm" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.Delete" data-zm-menu="delete"><i class="fe-x font-weight-bold"></i></button>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header d-flex bg-light">
                                    @if (ViewBag.JPost["M"].ToString() == "draft")
                                    {
                                        <div class="wd-6 wd-lg-4 wd-xl-4"></div>
                                        <div class="wd-10 wd-lg-8 wd-xl-8">순번</div>
                                        <div class="wd-18 wd-lg-16 wd-xl-16">구분</div>
                                        <div class="wd-36 wd-lg-32 wd-xl-32 text-left">결재자</div>
                                        <div class="wd-15 wd-lg-13 wd-xl-13">상태</div>
                                        <div class="wd-15 wd-lg-13 wd-xl-13">종류</div>
                                        <div class="d-none d-sm-block wd-lg-13 wd-xl-13">역할</div>
                                    }
                                    else
                                    {
                                        <div class="wd-5 wd-lg-5 wd-xl-5"></div>
                                        <div class="wd-8 wd-lg-6 wd-xl-6">순번</div>
                                        <div class="wd-12 wd-lg-11 wd-xl-11">구분</div>
                                        <div class="wd-29 wd-lg-26 wd-xl-26 text-left">결재자</div>
                                        <div class="wd-10 wd-lg-8 wd-xl-8">상태</div>
                                        <div class="wd-10 wd-lg-8 wd-xl-8">종류</div>
                                        @*<div class="wd-8 wd-lg-8 wd-xl-8">역할</div>*@
                                        <div class="wd-11 wd-lg-11 wd-xl-11">결재</div>
                                        <div class="d-none d-sm-block wd-lg-11 wd-xl-11">접수</div>
                                        <div class="wd-15 wd-lg-14 wd-xl-14">소요</div>
                                    }
                                </div>
                                <div class="card-body p-0">
                                    <ul class="zf-sl-line"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="zf-sl-attr mt-1">
                            <div class="nav-tabs-left">
                                <ul class="nav nav-tabs col-2 pr-0">
                                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#attList_xform_cf">우선확인</a></li>
                                    @if (_attrActId != "")
                                    {
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#attList_@_attrActId">@_attrName</a></li>
                                    }
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#attList_xform_dl">배포목록</a></li>
                                </ul>
                                <div class="tab-content col-10 p-1">
                                    <div class="tab-pane fade active show border border-rouned h-100" id="attList_xform_cf"></div>
                                    @if (_attrActId != "")
                                    {
                                        <div class="tab-pane fade show border border-rouned h-100" id="attList_@_attrActId"></div>
                                    }
                                    <div class="tab-pane fade show border border-rouned h-100" id="attList_xform_dl"></div>
                                </div>
                            </div>
                        </div>
                        <div class="zf-sl-info d-none d-sm-block bg-light mt-1">
                            <table class="table table-sm bg-white mb-0">
                                <colgroup>
                                    <col style="width: 16%" />
                                    <col style="width: 12%" />
                                    <col style="width: 28%" />
                                    <col style="width: 12%" />
                                    <col style="width: 34%" />
                                </colgroup>
                                <tbody>
                                    @Html.Raw(GetUserInfo(ViewBag.UserInfo))
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex align-items-center bg-light py-2"></div>
        </div>
    </div>
}
else if (ViewBag.JPost["M"].ToString() == "personlinedetail")
{
    if (ViewBag.PersonLineDetail != null && ViewBag.PersonLineDetail.Tables.Count > 0)
    {
        foreach (DataRow dr in ViewBag.PersonLineDetail.Tables[0].Rows)
        {
            <div class="d-flex align-items-center mb-2">
                <div class="wd-15 wd-lg-15 wd-xl-15 text-nowrap text-center">@dr["Step"].ToString()</div>
                <div class="wd-25 wd-lg-25 wd-xl-25 text-nowrap text-center">@ZumNet.Framework.Entities.Flow.ProcessStateChart.ParsingActRole(dr["ActRole"].ToString())</div>
                <div class="wd-60 wd-lg-60 wd-xl-60 text-nowrap">@(dr["ParticipantInfo1"].ToString() + "." + dr["ParticipantName"].ToString())</div>
            </div>
        }

        <div class="d-flex align-items-center">
            <div class="wd-15 wd-lg-15 wd-xl-15 text-nowrap text-center">1</div>
            <div class="wd-25 wd-lg-25 wd-xl-25 text-nowrap text-center">@ZumNet.Framework.Entities.Flow.ProcessStateChart.ParsingActRole("_drafter")</div>
            <div class="wd-60 wd-lg-60 wd-xl-60 text-nowrap">@(Session["DeptName"].ToString() + "." + Session["URName"].ToString())</div>
        </div>
    }
    else
    {
        <p class="text-center mt-5">@Resources.Global.NoItemShow</p>
    }
}

@if (ViewBag.JPost["M"].ToString() == "draft")
{
    <script type="text/template" class="zf-sl-template">
        <li class="{$class}" mode="{$mode}" wid="{$wid}" parent="{$parent}" partid="{$partid}" actid="{$actid}" step="{$step}" substep="{$substep}" seq="{$seq}" state="{$state}" signstatus="{$signstatus}" signkind="{$signkind}" bizrole="{$bizrole}" actrole="{$actrole}" parttype="{$parttype}" deptcode="{$deptcode}" part2="{$part2}" part5="{$part5}">
            <div class="d-flex align-items-center">
                <div class="wd-6 wd-lg-4 wd-xl-4">{$check}</div>
                <div class="wd-10 wd-lg-8 wd-xl-8 text-truncate">{$order}</div>
                <div class="wd-18 wd-lg-16 wd-xl-16 text-truncate">{$role}</div>
                <div class="wd-36 wd-lg-32 wd-xl-32 text-truncate text-left">{$partname}</div>
                <div class="wd-15 wd-lg-13 wd-xl-13 text-truncate">{$parsews}</div>
                <div class="wd-15 wd-lg-13 wd-xl-13 text-truncate">{$parsess}</div>
                <div class="d-none d-sm-block wd-lg-13 wd-xl-13 text-truncate">{$parsesk}</div>
            </div>
        </li>
    </script>
    <script type="text/template" class="zf-sl-template-part">@Html.Raw(BindingSignLinesInDraft(ViewBag.SchemaList, ViewBag.CurrentWI))</script>
}
else if (ViewBag.JPost["M"].ToString() == "approval")
{
    <script type="text/template" class="zf-sl-template">
        <li class="{$class}" mode="{$mode}" wid="{$wid}" parent="{$parent}" partid="{$partid}" actid="{$actid}" step="{$step}" substep="{$substep}" seq="{$seq}" state="{$state}" signstatus="{$signstatus}" signkind="{$signkind}" bizrole="{$bizrole}" actrole="{$actrole}" parttype="{$parttype}" deptcode="{$deptcode}" part2="{$part2}" part5="{$part5}">
            <div class="d-flex align-items-center{$margintop}">
                <div class="wd-5 wd-lg-4 wd-xl-4">{$check}</div>
                <div class="wd-8 wd-lg-6 wd-xl-6 text-truncate{$textalign}">{$order}</div>
                <div class="wd-12 wd-lg-12 wd-xl-12 text-truncate">{$role}</div>
                <div class="wd-29 wd-lg-26 wd-xl-26 text-truncate text-left">{$partname}</div>
                <div class="wd-10 wd-lg-8 wd-xl-8 text-truncate">{$parsews}</div>
                <div class="wd-10 wd-lg-8 wd-xl-8 text-truncate">{$parsess}</div>
                <div class="wd-11 wd-lg-11 wd-xl-11 text-truncate" title="{$dodt}">{$dodt2}</div>
                <div class="d-none d-sm-block wd-lg-11 wd-xl-11 text-truncate" title="{$rcvdt}">{$rcvdt2}</div>
                <div class="wd-15 wd-lg-14 wd-xl-14 text-truncate" title="{$inv}">{$inv}</div>
                <div class="d-none">{$cmnt}</div>
            </div>
        </li>
    </script>
    <script type="text/template" class="zf-sl-template-part">@Html.Raw(BindingSignLines(ViewBag.SchemaList, ViewBag.CurrentWI))</script>
    <script type="text/template" class="zf-sl-template-attr">@Html.Raw(BindAttributes(ViewBag.DL))</script>
}