@using System.Data;
@using System.Text;

@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;

@{
    string sPos = ViewBag.ResList != null && ViewBag.R != null && ViewBag.R.opnode.ToString() != "" ? "S" : "";
    string sDesc = "";
    DateTime dtSearch;

    //Response.Write("AA=>" + sPos); Response.End();

    if (sPos == "S") //특정 자원분류 선택 경우
    {
        dtSearch = ZumNet.Framework.Util.StringHelper.SafeDateTime(ViewBag.R.lv.tgt.ToString());
    }
    else
    {
        dtSearch = Convert.ToDateTime(ViewBag.JPost["dt"]);
    }

    sDesc = (dtSearch.Year == DateTime.Now.Year ? "" : dtSearch.Year.ToString() + "년 ") + dtSearch.Month.ToString() + "월 " + dtSearch.Day.ToString() + "일";
}
@functions{
    private string RenderResourceSchedule(string folderId, string targetDate)
    {
        StringBuilder sb = new StringBuilder();
        ZumNet.Framework.Core.ServiceResult svcRt = null;
        const short cUnit = 30;

        try
        {
            using (ZumNet.BSL.ServiceBiz.ScheduleBiz schBiz = new ZumNet.BSL.ServiceBiz.ScheduleBiz())
            {
                svcRt = schBiz.GetScheduleSearchParts(Convert.ToInt32(Session["DNID"]), "fd." + folderId.Split('.')[2] + ",", targetDate, targetDate);
            }

            sb.Append("<div class=\"zc-bar\">");
            sb.Append("<table class=\"table table-borderless mb-0\">");
            sb.Append("<thead>");
            sb.Append("<tr class=\"\">"); //시간 표시
            for(int i=0; i< 50; i++)
            {
                if (i % 6 == 1 && i < 48) sb.AppendFormat("<td style=\"width: 2%\"><div class=\"zc-bar-time\"><span>{0}</span></div></td>", (i/2).ToString().Length == 1 ? "0" + (i/2).ToString() : (i/2).ToString());
                else sb.Append("<td style=\"width: 2%\"></td>");
            }
            sb.Append("</tr>");
            sb.Append("</thead>");

            sb.Append("<tbody>");
            sb.Append("<tr class=\"zc-bar-top\">"); //상단(height=4px) 표시
            for (int i = 0; i < 50; i++)
            {
                sb.AppendFormat("<td class=\"{0}\" style=\"width: 2%\"></td>", i % 2 == 1 ? "zc-bar-edge" : "");
            }
            sb.Append("</tr>");

            int iCnt = 0;
            if (svcRt != null && svcRt.ResultCode == 0 && svcRt.ResultDataSet.Tables.Count > 0 && svcRt.ResultDataSet.Tables[0].Rows.Count > 0)
            {
                foreach(DataRow row in svcRt.ResultDataSet.Tables[0].Rows)
                {
                    if (row["State"].ToString() != "99")
                    {
                        iCnt++;

                        short cFrom = (short)(Convert.ToInt16(row["StartTime"].ToString().Split(':')[0]) * 2 + Convert.ToInt16(row["StartTime"].ToString().Split(':')[1]) / cUnit);
                        short cTo = (short)(Convert.ToInt16(row["EndTime"].ToString().Split(':')[0]) * 2 + Convert.ToInt16(row["EndTime"].ToString().Split(':')[1]) / cUnit);
                        //int iWidth = (cTo - cFrom) * 100 + (cTo - cFrom - 1) * 10;
                        string sBtnClass = "";
                        if (Session["URID"].ToString() == row["CreatorID"].ToString())
                        {
                            if (row["State"].ToString() == "7") sBtnClass = "btn btn-success";
                            else if (row["State"].ToString() == "8") sBtnClass = "btn btn-secondary";
                            else sBtnClass = "btn btn-third";
                        }
                        else
                        {
                            if (row["State"].ToString() == "7") sBtnClass = "btn btn-warning";
                            else if (row["State"].ToString() == "8") sBtnClass = "btn btn-purple";
                            else sBtnClass = "btn btn-danger";
                        }

                        sb.Append("<tr class=\"zc-bar-middle\">");
                        for (int i = 0; i < 50; i++)
                        {
                            sb.AppendFormat("<td class=\"{0}\"><div>", i > 0 ? "zc-bar-edge" : "");

                            if (i >= cFrom + 1 && i <= cTo)
                            {
                                //if (i == cFrom + 1)
                                //{
                                //    sb.AppendFormat("<a href=\"javascript:void(0)\" class=\"{0} selected\" style=\"width: {1}%\" data-toggle=\"tooltip\" data-placement=\"bottom\"\" title=\"\"></a>", sBtnClass, iWidth.ToString());
                                //    sb.Append("<div class=\"d-none\" data-help=\"event\">");
                                //    sb.Append("<div class=\"tooltip-inner\">");
                                //    sb.AppendFormat("<div class=\"d-flex align-items-center\"><span>{0}</span> ~ <span>{1}</span></div>", row["StartTime"].ToString(), row["EndTime"].ToString());
                                //    sb.AppendFormat("<div>{0}</div>", row["subject"].ToString());
                                //    sb.Append("</div>");
                                //    sb.Append("</div>");
                                //}
                                sb.AppendFormat("<a href=\"javascript:void(0)\" class=\"{0} zc-bar-fill\" onclick=\"_zw.mu.readEvent(null,'{1}','{2}','{3}','');\" data-toggle=\"tooltip\" data-placement=\"bottom\"\" title=\"\"></a>"
                                    , sBtnClass, row["ObjectType"].ToString(), row["ParticipantID"].ToString(), row["PeriodFrom"].ToString(), row["MessageID"].ToString());
                                sb.Append("<div class=\"d-none\" data-help=\"event\">");
                                sb.Append("<div class=\"tooltip-inner text-left\">");
                                sb.AppendFormat("<div class=\"d-flex align-items-center\"><span>{0}</span> ~ <span>{1}</span></div>", row["StartTime"].ToString(), row["EndTime"].ToString());
                                sb.AppendFormat("<div>{0}</div>", row["Subject"].ToString());
                                sb.Append("</div>");
                                sb.Append("</div>");
                            }
                            else
                            {
                                sb.AppendFormat("<a href=\"javascript:void(0)\" class=\"zc-bar-unfill\" data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"{0}\"></a>", GetTitleHour(i));
                            }
                            sb.Append("</div></td>");
                        }
                        sb.Append("</tr>");
                    }
                }
            }
            if (iCnt == 0)
            {
                //빈칸
                sb.Append("<tr class=\"zc-bar-middle\">");
                for (int i = 0; i < 50; i++)
                {
                    if (i == 0 || i >= 49) sb.AppendFormat("<td class=\"{0}\"></td>", i > 0 ? "zc-bar-edge" : "");
                    else sb.AppendFormat("<td class=\"zc-bar-edge\"><a href=\"javascript:void(0)\" class=\"zc-bar-unfill\" data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"{0}\"></a></td>", GetTitleHour(i));
                }
                sb.Append("</tr>");
            }
            sb.Append("<tr class=\"zc-bar-bottom\">"); //하단(height=4px) 표시
            for (int i = 0; i < 50; i++)
            {
                sb.AppendFormat("<td class=\"{0}\" style=\"width: 2%\"></td>", i % 2 == 1 ? "zc-bar-edge" : "");
            }
            sb.Append("</tr>");
            sb.Append("</tbody>");
            sb.Append("</table>");
            sb.Append("</div>");
        }
        catch(Exception ex)
        {
            return ex.Message;
        }

        return sb.ToString();
    }

    private string GetTitleHour(int cnt)
    {
        return ((cnt - 1) / 2).ToString() + "시 " + ((cnt - 1) % 2 == 0 ? "" : "30분") + " ~ " + (cnt / 2).ToString() + "시 " + (cnt % 2 == 0 ? "" : "30분");
    }
}

@if (sPos == "S" && ViewBag.ResList["cls_" + ViewBag.R.opnode.ToString()].Count > 0)
{
    <table class="table table-bordered mb-0">
        <thead>
            <tr class="">
                <th class="text-center" style="width: 20%">자원명</th>
                <th>
                    <div class="d-flex justify-content-between align-items-center">
                        <button class="btn btn-outline-primary icon-btn btn-sm rounded-circle" data-zv-menu="prev"><i class="fas fa-arrow-left"></i></button>
                        <span class="text-big font-weight-bold mx-3" data-for="DateDesc" data-val="@dtSearch.ToString("yyyy-MM-dd")">@sDesc</span>
                        <button class="btn btn-outline-primary icon-btn btn-sm rounded-circle" data-zv-menu="next"><i class="fas fa-arrow-right"></i></button>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (JObject j in ViewBag.ResList["cls_" + ViewBag.R.opnode.ToString()])
            {
                <tr>
                    <th>@j["name"]</th>
                    <td class="px-0">
                        @Html.Raw(RenderResourceSchedule(j["oid"].ToString(), dtSearch.ToString("yyyy-MM-dd")))
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else if (ViewBag.JPost != null && ViewBag.JPost["res"].Count > 0)
{
    <table class="table table-bordered mb-0">
        <thead>
            <tr class="">
                <th class="text-center" style="width: 20%">자원명</th>
                <th>
                    <div class="d-flex justify-content-between align-items-center">
                        <button class="btn btn-outline-primary icon-btn btn-sm rounded-circle" data-zv-menu="prev"><i class="fas fa-arrow-left"></i></button>
                        <span class="text-big font-weight-bold mx-3" data-for="DateDesc" data-val="@dtSearch.ToString("yyyy-MM-dd")">@sDesc</span>
                        <button class="btn btn-outline-primary icon-btn btn-sm rounded-circle" data-zv-menu="next"><i class="fas fa-arrow-right"></i></button>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
        @foreach (JObject j in ViewBag.JPost["res"])
        {
            <tr>
                <th>@j["name"]</th>
                <td class="px-0">
                    @Html.Raw(RenderResourceSchedule(j["oid"].ToString(), dtSearch.ToString("yyyy-MM-dd")))
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <div class="p-4 text-muted text-center h5">@Resources.Global.NoItemShow</div>
}
