@using System;
@using System.Data;
@using System.Text;
@using System.Threading;
@using Newtonsoft.Json;

@{
    ViewBag.Title = Resources.Global.Cresyn + " " + Resources.Global.Groupware;

    string sCurrentLocale = Thread.CurrentThread.CurrentUICulture.Name;

    ViewBag.ChartUse = "Y";

    ZumNet.Framework.Core.ServiceResult svcRt = null;
    ZumNet.Framework.Core.ServiceResult svcRt2 = null;

    using (ZumNet.BSL.InterfaceBiz.PQmBiz pqmBiz = new ZumNet.BSL.InterfaceBiz.PQmBiz())
    {
        //KPI 지표현황_입고기준
        //ViewBag.KPI_A = pb.Get_INV_NEW_KPI("C", DateTime.Now.ToString("yyyy-MM-dd"), "0", 0);
        svcRt = pqmBiz.Get_INV_NEW_KPI("C", "2021-01-01", "0", 0);
        svcRt2 = pqmBiz.Get_INV_NEW_KPI_S("C", "2021-01-01", "0", 0);
    }

    StringBuilder sbChart = new StringBuilder();

    if (svcRt != null && svcRt.ResultCode == 0)
    {
        string[] vInv = "과입고율(%)^KPIB^%^^%;선입고일(일)^KPIC^일^^일;과입고금액(만불)^KPID^만불^$^;자동발주율(%)^KPIA^%^^%".Split(';');
        int iStart = 0;
        int iInterval = 1;

        for (int i = iStart; i < vInv.Length; i = i + iInterval)
        {
            string[] v = vInv[i].Split('^');

            //sbChart.Append(RenderFusionChartItem(ViewBag.KPI_A.Tables[0], ViewBag.KPI_A.Tables[1], ViewBag.KPI_A.Tables[2], (i + 1).ToString(), v[1], v[0], "", "", ""));
            sbChart.Append(RenderChartItem(svcRt.ResultDataSet.Tables[0], svcRt.ResultDataSet.Tables[1], svcRt.ResultDataSet.Tables[2], (i + 1).ToString(), v[1], v[0], "", "", ""));
        }
    }
    else
    {
        //ViewBag.Error = 
    }

    if (svcRt2 != null && svcRt2.ResultCode == 0)
    {
        string[] vInv = "과보유율(%)^KPIE^%^^%;과보유금액(만불)^KPIG^만불^$^".Split(';');
        int iStart = 0;
        int iInterval = 1;

        for (int i = iStart; i < vInv.Length; i = i + iInterval)
        {
            string[] v = vInv[i].Split('^');

            sbChart.Append(RenderChartItem(svcRt2.ResultDataSet.Tables[0], svcRt2.ResultDataSet.Tables[1], svcRt2.ResultDataSet.Tables[2], (i + 5).ToString(), v[1], v[0], "", "", ""));
        }
    }
}

@functions {
    private string RenderFusionChartItem(DataTable dtCorp, DataTable dtPeriod, DataTable dtData, string no, string inv, string invText, string yAxi, string numPrefix, string numSuffix)
    {
        DataRow dr = null;
        DataRow dr2 = null;
        DataRow[] rowList = null;
        double dTotal = 0;    //과입고금액 주차별 총합
        int iCL = (inv == "KPIA") ? 1 : 0;    //19-04-08 CL 자동발주율 일시 막기 위함

        StringBuilder sb = new StringBuilder();
        sb.AppendFormat("var fusioncharts{0} = new FusionCharts", no);
        sb.Append("({");
        sb.Append("type: \"mscolumn2d\",");
        sb.AppendFormat("renderAt: \"chart-container{0}\",", no);
        sb.Append("width: \"100%\",");
        sb.Append("height: \"100%\",");
        sb.Append("dataFormat: \"json\",");
        sb.Append("dataSource: {");

        sb.Append("\"chart\": {");
        sb.AppendFormat("\"caption\": \"{0}\",", invText);
        sb.Append("\"subCaption\": \"\",");
        //if (Convert.ToInt32(no) < 3)
        //{
        //    sb.Append("\"showLegend\": \"0\",");
        //}
        sb.Append("\"xAxisName\": \"\",");
        sb.AppendFormat("\"yAxisName\": \"{0}\",", yAxi);
        sb.Append("\"formatnumberscale\": \"1\",");
        sb.Append("\"plottooltext\": \"<b>$dataValue</b> <b>$seriesName</b> in $label\",");
        //sb.Append("\"theme\": \"fusion\",");
        sb.Append("\"palettecolors\": \"4169e1,8db3ff,cdc0f9\","); //77be99,9dcdf6,87d130 //a7dca6,77be99,4d998d,04476c //ffff99,ffc90e,ff6600,993300
        sb.Append("\"drawcrossline\": \"1\",");
        sb.Append("\"labelDisplay\": \"wrap\",");
        sb.Append("\"baseFontSize\": \"9\",");
        sb.Append("\"rotateValues\": \"0\",");
        sb.Append("\"placeValuesInside\": \"1\",");
        sb.Append("\"captionPadding\": \"2\",");
        sb.Append("\"chartTopMargin\": \"4\",");
        sb.Append("\"chartLeftMargin\": \"4\",");
        sb.Append("\"chartBottomMargin\": \"8\",");
        sb.Append("\"chartRightMargin\": \"4\",");
        sb.Append("\"yAxisValuesPadding\": \"4\",");
        sb.AppendFormat("\"numberPrefix\": \"{0}\",", numPrefix);
        sb.AppendFormat("\"numberSuffix\": \"{0}\",", numSuffix);
        sb.Append("\"palette\": \"5\",");
        sb.Append("\"showBorder\": \"0\",");
        sb.Append("\"bgColor\": \"ffffff\",");
        sb.Append("\"bgAlpha\": \"50\",");
        sb.Append("\"useRoundEdges\": \"1\",");
        sb.Append("\"legendBorderColor\": \"ffffff\"");
        sb.Append("},"); //chart

        sb.Append("\"categories\": [{");
        sb.Append("\"category\": [");

        for (int i = 0; i < dtCorp.Rows.Count - iCL; i++)
        {
            dr = dtCorp.Rows[i];

            sb.Append("{");
            sb.AppendFormat("\"label\": \"{0}\"", dr["CORP"].ToString());

            if (i == dtCorp.Rows.Count - 1 && inv == "KPID")
            {
                sb.Append("},");
                sb.Append("{");
                sb.AppendFormat("\"label\": \"{0}\"", "TOTAL");
            }

            if (i == dtCorp.Rows.Count - 1 - iCL) sb.Append("}");
            else sb.Append("},");
        }
        dr = null;

        sb.Append("]");
        sb.Append("}],"); //categories

        sb.Append("\"dataset\": [");

        for (int i = 0; i < dtPeriod.Rows.Count; i++)
        {
            dTotal = 0;
            dr = dtPeriod.Rows[i];
            sb.Append("{");
            sb.AppendFormat("\"seriesname\": \"{0}주차\",", dr["IWEEK"].ToString());
            sb.Append("\"data\": [");

            for (int j = 0; j < dtCorp.Rows.Count - iCL; j++)
            {
                dr2 = dtCorp.Rows[j];
                rowList = dtData.Select("CORP='" + dr2["CORP"].ToString() + "' AND IYEAR='" + dr["IYEAR"].ToString() + "' AND IWEEK='" + dr["IWEEK"].ToString() + "'");

                sb.Append("{");
                if (rowList != null && rowList.Length > 0)
                {
                    sb.AppendFormat("\"value\": \"{0}\"", rowList[0][inv].ToString());
                    if (inv == "KPID") dTotal += Convert.ToDouble(rowList[0][inv]);
                }
                else
                {
                    sb.Append("\"value\": \"0\"");
                    if (inv == "KPID") dTotal += 0;
                }

                if (j == dtCorp.Rows.Count - 1 && inv == "KPID")
                {
                    sb.Append("},");
                    sb.Append("{");
                    sb.AppendFormat("\"value\": \"{0}\"", dTotal.ToString());
                }

                if (j == dtCorp.Rows.Count - 1 - iCL) sb.Append("}");
                else sb.Append("},");
            }

            sb.Append("]");
            if (i == dtPeriod.Rows.Count - 1) sb.Append("}");
            else sb.Append("},");
        }
        dr = null;

        sb.Append("");
        sb.Append("]"); //dataset
        sb.Append("},"); //datasource

        sb.Append("\"events\": {");
        //sb.Append("\"dataPlotClick\": function(e, d) {");
        //sb.Append("ddl_onchange(d['datasetIndex']);");
        //sb.Append("}"); //dataPlotClick
        sb.Append("}"); //events
        sb.Append("});");
        sb.AppendFormat("fusioncharts{0}.render();", no);
        sb.Append(" ");

        dr = null;
        dr2 = null;
        rowList = null;

        return sb.ToString();
    }

    private string RenderChartItem(DataTable dtCorp, DataTable dtPeriod, DataTable dtData, string no, string inv, string invText, string yAxi, string numPrefix, string numSuffix)
    {
        DataRow dr = null;
        DataRow dr2 = null;
        DataRow[] rowList = null;
        double dTotal = 0;    //과입고금액 주차별 총합
        int iCL = (inv == "KPIA") ? 1 : 0;    //19-04-08 CL 자동발주율 일시 막기 위함

        StringBuilder sb = new StringBuilder();
        sb.AppendFormat("var chartJS{0} = new Chart(document.getElementById('chart-container{0}').getContext('2d'),", no);
        sb.Append("{");
        sb.Append("type: \"bar\",");
        sb.Append("data: {");
        sb.Append("labels: [");
        for (int i = 0; i < dtCorp.Rows.Count - iCL; i++)
        {
            dr = dtCorp.Rows[i];
            sb.AppendFormat("\"{0}\"", dr["CORP"].ToString());

            if (i <= dtCorp.Rows.Count - 1 - iCL - 1) sb.Append(",");

            if (inv == "KPID" && i == dtCorp.Rows.Count - 1)
            {
                sb.AppendFormat(",\"{0}\"", "TOTAL");
            }
        }
        dr = null;
        sb.Append("],"); //labels

        sb.Append("datasets: [");

        for (int i = 0; i < dtPeriod.Rows.Count; i++)
        {
            dTotal = 0;
            dr = dtPeriod.Rows[i];
            sb.Append("{");
            sb.AppendFormat("label: \"{0}주차\",", dr["IWEEK"].ToString());
            sb.Append("data: [");

            for (int j = 0; j < dtCorp.Rows.Count - iCL; j++)
            {
                dr2 = dtCorp.Rows[j];
                rowList = dtData.Select("CORP='" + dr2["CORP"].ToString() + "' AND IYEAR='" + dr["IYEAR"].ToString() + "' AND IWEEK='" + dr["IWEEK"].ToString() + "'");

                if (rowList != null && rowList.Length > 0)
                {
                    sb.AppendFormat("\"{0}\"", Convert.ToDouble(rowList[0][inv]).ToString());
                    if (inv == "KPID") dTotal += Convert.ToDouble(rowList[0][inv]);
                }
                else
                {
                    sb.Append("\"0\"");
                    if (inv == "KPID") dTotal += 0;
                }

                if (j <= dtCorp.Rows.Count - 1 - iCL - 1) sb.Append(",");
            }
            if (inv == "KPID") sb.AppendFormat(",\"{0}\"", dTotal.ToString());
            sb.Append("],");

            sb.Append("borderWidth: 1,");
            if (i == 0)
            {
                sb.Append("backgroundColor: 'rgba(76, 175, 80, 0.3)',");
                sb.Append("borderColor: '#4caf50'");
            }
            else if (i == 1)
            {
                sb.Append("backgroundColor: 'rgba(0, 150, 136, 0.3)',");
                sb.Append("borderColor: '#009688'");
            }
            else
            {
                sb.Append("backgroundColor: 'rgba(103, 58, 183, 0.3)',");
                sb.Append("borderColor: '#673ab7'");
            }

            if (i == dtPeriod.Rows.Count - 1) sb.Append("}");
            else sb.Append("},");
        }
        dr = null;

        sb.Append("]"); //dataset
        sb.Append("},"); //data

        sb.Append("\"options\": {");
        sb.Append("responsive: true,");
        sb.Append("maintainAspectRatio: false,");
        sb.Append("title: {");
        sb.Append("display: true,");
        sb.AppendFormat("text: \"{0}\",", invText);
        //sb.Append("padding: 0,");
        sb.AppendFormat("padding: {0},", Convert.ToInt32(no) == 3 || Convert.ToInt32(no) == 4 ? "10" : "0");
        sb.Append("lineHeight: 2,");
        sb.Append("fontSize: 12,");
        sb.Append("fontColor: 'rgba(24,28,33,0.9)'");
        sb.Append("},");
        //sb.Append("layout: {");
        //sb.Append("padding: {");
        //sb.Append("left: 0,");
        //sb.Append("right: 0,");
        //sb.Append("top: 0,");
        //sb.Append("bottom: 0");
        //sb.Append("}");
        //sb.Append("},");
        sb.Append("legend: {");
        sb.Append("position: 'bottom',");
        sb.Append("labels: {");
        //sb.Append("fontSize: 10");
        sb.Append("boxWidth: 20,");
        sb.Append("padding: 6");
        sb.Append("}");
        sb.Append("},");
        sb.Append("plugins: {");
        sb.Append("labels: {");
        sb.Append("render: 'value'");
        //sb.Append("fontSize: 10");
        sb.Append("}");
        sb.Append("}");
        sb.Append("}"); //options
        sb.Append("});");

        dr = null;
        dr2 = null;
        rowList = null;

        return sb.ToString();
    }
}

@section Styles {
    @Styles.Render("~/bundle/vendor/css/bootstrap-datepicker/bootstrap-datepicker")
    @Styles.Render("~/Content/portal.css")
}
@section Scripts {
    @Scripts.Render("~/bundle/vendor/js/bootstrap-datepicker/bootstrap-datepicker")
    @Scripts.Render("~/bundle/vendor/js/chartjs/chartjs")

    <script src="/vendor/libs/chartjs/chartjs-plugin-labels.min.js" charset="utf-8"></script>
    @if (sCurrentLocale != "" && sCurrentLocale.Substring(0, 2) != "en")
    {
        <script src="/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.@(sCurrentLocale.Substring(0, 2)).js" charset="utf-8"></script>
    }

    @Scripts.Render("~/Scripts/Controls/portal.js")

    @*<script type="text/javascript" src="~/External/FusionChartsXT/js/fusioncharts.js"></script>
        <script type="text/javascript" src="~/External/FusionChartsXT/js/themes/fusioncharts.theme.fusion.js"></script>
        <script type="text/javascript" src="~/External/FusionChartsXT/js/fusioncharts.charts.js"></script>*@

    <script type="text/javascript">(function () {_zw.V = @Html.Raw(JsonConvert.SerializeObject(ViewBag.R))}());</script>
    <script type="text/javascript">(function () { Chart.defaults.global.defaultFontSize = 10; @Html.Raw(sbChart.ToString())}());</script>
}
<div class="">
    <div class="row">
        <div class="d-none d-sm-block col-12 col-lg-6 mb-3 px-2">
            @Html.Partial("Webpart/_IMG_MAIN")
        </div>
        <div class="col-12 col-sm-6 col-lg-3 mb-3 px-2">
            @Html.Partial("Webpart/_EA_COUNT")
        </div>
        <div class="col-12 col-sm-6 col-lg-3 mb-3 px-2">
            @Html.Partial("Webpart/_CALENDAR_COMPANY")
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-6 mb-3 px-2">
            @Html.Partial("Webpart/_MAIL_INBOX")
        </div>
        <div class="col-12 col-sm-6 mb-3 px-2">
            @Html.Partial("Webpart/_EA_INBOX")
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-6 mb-3 px-2">
            @Html.Partial("Webpart/_RECENT_NOTICE")
        </div>
        <div class="col-12 col-sm-6 mb-3 px-2">
            @Html.Partial("Webpart/_RECENT_BOARD")
        </div>
    </div>

    @if (svcRt == null || svcRt.ResultCode != 0)
    {
        <div class="row">
            <div class="col-12 mb-3">
                <div class="z-webpart card">
                    @Html.Partial("~/Views/Shared/_ErrorInline.cshtml", new HandleErrorInfo(new Exception(svcRt.ResultMessage), "Portal", "결재함"))
                </div>
            </div>
        </div>
    }
    else
    {
        @Html.Partial("Webpart/_ERP_KPI")
    }

    @if (svcRt2 == null || svcRt2.ResultCode != 0)
    {
        <div class="row">
            <div class="col-12 mb-3">
                <div class="z-webpart card">
                    @Html.Partial("~/Views/Shared/_ErrorInline.cshtml", new HandleErrorInfo(new Exception(svcRt2.ResultMessage), "Portal", "결재함"))
                </div>
            </div>
        </div>
    }
    else
    {
        @Html.Partial("Webpart/_ERP_KPI_S")
    }
</div>