@using System.Data;
@using System.Text;
@using System.Threading;
@using Newtonsoft.Json;
@{
    ViewBag.Title = Resources.Global.Alarm;
    Layout = "~/Views/Shared/Layouts/_Layout2Flex.cshtml";

    string sCurrentLocale = Thread.CurrentThread.CurrentUICulture.Name;

    string[,] vBox = {
//page, title, bold, count
{ "/Portal/NoticeList", "최근 30일 알림", "L", "" }//, { "/Portal/NoticeList", "지난 전체 알림", "A", "" }
    };
}
@functions{
}
@section Styles {
    @Styles.Render("~/bundle/vendor/css/pages/messages")
    @Styles.Render("~/Content/notice.css")
}
@section Scripts {
    @Scripts.Render("~/Scripts/Controls/notice.js")
    <script type="text/javascript">(function () {_zw.V = @Html.Raw(JsonConvert.SerializeObject(ViewBag.R))}());</script>
}
<!--
=================================================================
**************************** CONTENT ****************************
-->
<!-- `.messages-wrapper` fills all available space of container -->
<div class="messages-wrapper">
    <!-- sidebox -->
    <div class="messages-sidebox messages-scroll bg-body border-right">
        <div class="z-mobile-navbar"></div>

        <div class="pt-3 px-4">
            <div class="media align-items-center px-1">
                <div class="media-body">
                </div>
                <a href="javascript:void(0)" class="messages-sidebox-toggler d-none text-muted text-large font-weight-light pl-4">&times;</a>
            </div>
        </div>

        @Html.Partial("~/Views/Common/_WorkTime.cshtml")

        <!-- sidebox tree -->
        <div id="__LeftMenu" class="sidenav-vertical z-lm">
            <ul class="sidenav-inner">
                @for (int i = 0; i < vBox.GetLength(0); i++)
                {
                    var bActive = ViewBag.Scope == vBox[i, 2] ? true : false;
                    <li class="sidenav-item@(bActive ? " active" : "")">
                        <a href="@(vBox[i, 0] + "/" + vBox[i, 2])" class="sidenav-link @(bActive ? " text-primary" : " opacity-75")" data-toggle="tooltip" data-placement="bottom" title="@Html.Raw(vBox[i, 1])">
                            <span class="fs-14 font-weight-bold">@Html.Raw(vBox[i, 1])</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
        <!-- / sidebox tree -->
    </div>

    <!-- / sidebox -->
    <!-- content -->
    <div class="d-flex flex-column w-100 bg-white">
        <!-- Header -->
        <div class="flex-grow-0">
            <div class="d-flex justify-content-between container-p-x m-0 mt-1 pt-3" style="padding-bottom: .65rem !important">
                <div class="d-flex align-items-center font-weight-bold">

                </div>
                <div class="d-flex align-items-center z-list-menu">
                    <button class="btn btn-default py-1 mr-2" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.Refresh" data-zv-menu="refresh"><i class="fe-refresh-cw"></i><span class="d-none d-sm-inline-block ml-1">@Resources.Global.Refresh</span></button>
                    <button class="btn btn-default py-1 mr-2" data-toggle="tooltip" data-placement="bottom" title="모두삭제" data-zv-menu="deleteAll"><i class="far fa-trash-alt"></i><span class="d-none d-sm-inline-block ml-1">모두삭제</span></button>
                </div>
            </div>
        </div>
        <!-- / Header -->

        <div class="flex-grow-1 position-relative">
            <!-- Remove `.messages-scroll` and add `.flex-grow-1` if you don't need scroll -->
            <div class="h-100">
                <div id="__ListView" class="h-100">
                    @Html.Partial("_NoticeList")
                </div>
            </div>
        </div>
    </div>
    <!-- / content -->
</div>

