@using System.Data;
@using ZumNet.Framework.Util;

@{
    string currentPage = ViewBag.R.current["page"].ToString().IndexOf("Grid") > 0 ? "Grid" : ViewBag.R.ft.ToString();
    currentPage = currentPage.Replace("Detail", "");

    string[,] vBox = {
        //page, title, bold, icon
        { "Grid", "견적표 작성", "Y", "fe-edit" }, { "MyList", "작성 목록", "", "fe-user" }, { "DeptList", "부서 목록", "", "fe-users" },
        { "List", "개발원가견적 목록", "", "fe-list" }, { "Report", "집계", "Y", "fe-archive" }, { "StdExchange", "기준환율", "", "" },
        { "StdPay", "기준임율", "", "" }, { "OutPay", "외주임율", "", "" }, { "CodeMgr", "코드관리", "", "" }
    };

    //Response.Write("======" + currentPage);
}

@functions {
    private string GetQueryString(string page, string ttl)
    {
        return "?qi=" + Server.UrlEncode(ZumNet.Framework.Util.SecurityHelper.ToBase64("{ct:\"" + ViewBag.R.ct + "\",ctalias:\"" + ViewBag.R.ctalias + "\",ttl:\"" + ttl + "\",opnode:\"\",ft:\"" + page + "\"}"));
    }
}

<div class="messages-sidebox messages-scroll bg-body border-right">
    <div class="z-mobile-navbar"></div>

    <div class="py-3 px-4">
        <div class="media align-items-center">
            <div class="media-body">
                <a id="__NewMessage" href="javascript:void(0)" class="btn btn-tumblr rounded-pill btn-block" data-for="ce" data-query="@GetQueryString(vBox[0, 0], vBox[0, 1])"><i class="fe-edit mr-2"></i>@Html.Raw(vBox[0, 1])</a>
            </div>
            <a href="javascript:void(0)" class="messages-sidebox-toggler d-none text-muted text-large font-weight-light pl-4">&times;</a>
        </div>
    </div>

    @Html.Partial("~/Views/Common/_WorkTime.cshtml")

    <!-- sidebox tree -->
    <div id="__LeftMenu" class="sidenav-vertical z-lm">
        <ul class="sidenav-inner">

            @if (ViewBag.R.current["operator"].ToString() == "Y" || StringHelper.HasAcl(ViewBag.R.current["acl"].ToString(), "W")) //작성권한
            {
                <li class="sidenav-item@(currentPage.ToLower() == vBox[1, 0].ToLower() ? " active" : "")">
                    <a href="@GetQueryString(vBox[1, 0], vBox[1, 1])" class="sidenav-link@(vBox[1, 2] == "Y" ? " font-weight-bold" : "")" data-toggle="tooltip" data-placement="bottom" title="@Html.Raw(vBox[1, 1])">
                        <i class="@vBox[1, 3] sidenav-icon"></i><span>@Html.Raw(vBox[1, 1])</span>
                    </a>
                </li>

                if (ViewBag.R.current["operator"].ToString() == "Y" || ViewBag.R.current["chief"].ToString() == "Y")
                {
                    <li class="sidenav-item@(currentPage.ToLower() == vBox[2, 0].ToLower() ? " active" : "")">
                        <a href="@GetQueryString(vBox[2, 0], vBox[2, 1])" class="sidenav-link@(vBox[2, 2] == "Y" ? " font-weight-bold" : "")" data-toggle="tooltip" data-placement="bottom" title="@Html.Raw(vBox[2, 1])">
                            <i class="@vBox[2, 3] sidenav-icon"></i><span>@Html.Raw(vBox[2, 1])</span>
                        </a>
                    </li>
                }
            }

            @if (ViewBag.R.current["operator"].ToString() == "Y" || StringHelper.HasAcl(ViewBag.R.current["acl"].ToString(), "R")) //읽기권한
            {
                <li class="sidenav-item@(currentPage == "" || currentPage.ToLower() == vBox[3, 0].ToLower() ? " active" : "")">
                    <a href="@GetQueryString(vBox[3, 0], vBox[3, 1])" class="sidenav-link@(vBox[3, 2] == "Y" ? " font-weight-bold" : "")" data-toggle="tooltip" data-placement="bottom" title="@Html.Raw(vBox[3, 1])">
                        <i class="@vBox[3, 3] sidenav-icon"></i><span>@Html.Raw(vBox[3, 1])</span>
                    </a>
                </li>
                <li class="sidenav-item@(currentPage.ToLower() == vBox[4, 0].ToLower() ? " active" : "")">
                    <a href="@GetQueryString(vBox[4, 0], vBox[4, 1])" class="sidenav-link@(vBox[4, 2] == "Y" ? " font-weight-bold" : "")" data-toggle="tooltip" data-placement="bottom" title="@Html.Raw(vBox[4, 1])">
                        <i class="@vBox[4, 3] sidenav-icon"></i><span>@Html.Raw(vBox[4, 1])</span>
                    </a>
                </li>
            }

            @if (ViewBag.R.current["operator"].ToString() == "Y" || StringHelper.HasAcl(ViewBag.R.current["acl"].ToString(), "R")) //읽기권한
            {
                <li class="sidenav-item open">
                    <a href="javascript:void(0)" class="sidenav-link font-weight-bold sidenav-toggle"><i class="fe-check-square sidenav-icon"></i><span>기준정보</span></a>

                    <ul class="sidenav-menu my-0">
                        @for (int i = 5; i < vBox.GetLength(0); i++)
                        {
                            if (i == vBox.GetLength(0) - 1)
                            {
                                if (ViewBag.R.current["operator"].ToString() == "Y")
                                {
                                    <li class="sidenav-item@(currentPage.ToLower() == vBox[i, 0].ToLower() ? " active" : "")">
                                        <a href="@GetQueryString(vBox[i, 0], vBox[i, 1])" class="sidenav-link@(vBox[i, 2] == "Y" ? " font-weight-bold" : "")" data-toggle="tooltip" data-placement="bottom" title="@Html.Raw(vBox[i, 1])">
                                            <span>@Html.Raw(vBox[i, 1])</span>
                                        </a>
                                    </li>
                                }
                            }
                            else
                            {
                                <li class="sidenav-item@(currentPage.ToLower() == vBox[i, 0].ToLower() ? " active" : "")">
                                    <a href="@GetQueryString(vBox[i, 0], vBox[i, 1])" class="sidenav-link@(vBox[i, 2] == "Y" ? " font-weight-bold" : "")" data-toggle="tooltip" data-placement="bottom" title="@Html.Raw(vBox[i, 1])">
                                        <span>@Html.Raw(vBox[i, 1])</span>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </li>
            }
        </ul>
    </div>
    <!-- / sidebox tree -->
</div>




