@{
    ViewBag.Title = "부서";
}

@section Styles {
    @Styles.Render("~/bundle/vendor/css/datatables/datatables")
}

@section Scripts {
    @Scripts.Render("~/bundle/vendor/js/datatables/datatables")

    <script type="text/javascript">
        var tbl_dept_list;
		var tbl_dept_deleted_list;
		
		$(document).ready(function () {
			searchDept();

            $("li.nav-item a").bind("click", function () {
				if ($(this).hasClass("active")) {
					return;
				}

				if ($(this).attr("href").indexOf("dept-in") >= 0) {
					searchDept();
				} else {
					searchDeletedDeptInfo();
				}
			});
		});

		function searchDept() {
            $("#tbl_dept_list_wrapper,#tbl_dept_list").show();
			$("#tbl_dept_deleted_list_wrapper,#tbl_dept_deleted_list").hide();

			$.ajax({
                url: '@Url.Action("SearchGroupInfo", "Organ")',
				type: 'POST',
                dataType: 'JSON',
				data: '{groupType: "D"}',
				success: function (result) {
                    $("#tbl_dept_list_wrapper").find("div.row:eq(0)").find("div:eq(0)").empty();
					$("#tbl_dept_list_wrapper").find("div.row:eq(0)").find("div:eq(0)").append("<div class=\"dataTables_length\"><label>0개의 부서가 존재합니다.</label></div>");

                    if (result.code != "OK") {
						alert(result.message);
						return;
					}

                    if (tbl_dept_list) {
						tbl_dept_list.destroy();
					}

                    tbl_dept_list = $('#tbl_dept_list').DataTable({
                        data: $(result.data),
                        columns: [
	                        { data: "DisplayName" },
	                        { data: "GRAlias" },
							{ data: "CreateDate" },
							{
								data: null
							}
						],
                        lengthChange: false,
                        searching: true,
                        info: false,
                        displayLength: 15,
                        order: [],
                        ordering: true,
                        language: dataTable_lang_kor,
                        createdRow: function (row, data, index) {
							$('td', row).eq(2).html('').append(
								data["CreateDate"].substring(0, 10)
							);

							$('td', row).eq(3).addClass('text-center text-nowrap').html('').append(
								"<button type='button' class='btn btn-default' onclick='editGroup(this, \"" + data["GR_ID"] + "\", \"" + data["SortKey"] + "\")'>편집</button>");
                        }
					});

                    $("#tbl_dept_list_wrapper").find("div.row:eq(0)").find("div:eq(0)").empty();
                    $("#tbl_dept_list_wrapper").find("div.row:eq(0)").find("div:eq(0)").append("<div class=\"dataTables_length\"><label>" + result.recordsTotal + "개의 부서가 존재합니다.</label></div>");
                }
			});
		}

		function searchDeletedDeptInfo() {
            $("#tbl_dept_list_wrapper,#tbl_dept_list").hide();
			$("#tbl_dept_deleted_list_wrapper,#tbl_dept_deleted_list").show();

			$.ajax({
                url: '@Url.Action("SearchDeletedGroupInfo", "Organ")',
				type: 'POST',
                dataType: 'JSON',
				data: '{groupType:"D"}',
				success: function (result) {
					$("#tbl_dept_deleted_list_wrapper").find("div.row:eq(0)").find("div:eq(0)").empty();
					$("#tbl_dept_deleted_list_wrapper").find("div.row:eq(0)").find("div:eq(0)").append("<div class=\"dataTables_length\"><label>0개의 부서가 존재합니다.</label></div>");

                    if (result.code != "OK") {
						alert(result.message);
						return;
					}

                    if (tbl_dept_deleted_list) {
						tbl_dept_deleted_list.destroy();
					}

					tbl_dept_deleted_list = $('#tbl_dept_deleted_list').DataTable({
                        data: $(result.data),
                        columns: [
	                        { data: "GRName" },
	                        { data: "GRAlias" },
							{ data: "CreateDate" },
                            { data: "DeleteDate" }
                        ],
                        lengthChange: false,
                        searching: true,
                        info: false,
                        displayLength: 15,
                        order: [],
                        ordering: true,
                        language: dataTable_lang_kor,
                        createdRow: function (row, data, index) {
                            $('td', row).eq(2).html('').append(
								data["CreateDate"].substring(0, 10)
							);

                            $('td', row).eq(3).html('').append(
								data["DeleteDate"].substring(0, 10)
							);
                        }
					});

                    $("#tbl_dept_deleted_list_wrapper").find("div.row:eq(0)").find("div:eq(0)").empty();
                    $("#tbl_dept_deleted_list_wrapper").find("div.row:eq(0)").find("div:eq(0)").append("<div class=\"dataTables_length\"><label>" + result.recordsTotal + "개의 부서가 존재합니다.</label></div>");
                }
			});
		}

        var mode = "I";
		var isDeptLoad = false;

		function resetModelInfo() {
			$("#modalsDefaultDept").find("input").val("");
			$("#modalsDefaultDept").find("select").prop("selectedIndex", "0");
            $("#modalsDefaultDept").find("#txtDeptCode").removeAttr("readonly");
			
			if (!isDeptLoad) {
                // 그룹 정보 로드
                $.ajax({
                    url: '@Url.Action("SearchGroupInfo", "Organ")',
				    type: 'POST',
                    dataType: 'JSON',
				    data: '{groupType: "D"}',
				    success: function (result) {
					    if (result.code != "OK") {
						    alert(result.message);
						    return;
					    }

					    isDeptLoad = true;

					    for (var i = 0; i < result.data.length; i++) {
						    $("#selUpperDept").append("<option value='" + result.data[i].GRAlias + "'>" + result.data[i].DisplayName + "</option>");
					    }
                    }
			    });
			}

			$("#txtDeptType").val($("#ulDeptType").find("a.nav-link.active").text());
		}

		function editGroup(obj, grID, sortKey) {
            resetModelInfo();

			$.ajax({
                url: '@Url.Action("SelectDeptGroupTotalInfo", "Organ")',
				type: 'POST',
				dataType: 'JSON',
				data: '{GR_ID:' + grID + '}',
				success: function (result) {
					if (result.code != "OK") {
						alert(result.message);
						return;
					}

                    mode = "U";
                    
					if (result.data.ResultTable != null) {
						$("#modalsDefaultDept").find("#txtDeptCode").attr("readonly", "readonly");
                        $("#modalsDefaultDept").find("#txtDeptCode").val(result.data.ResultTable[0].GRAlias);
						$("#modalsDefaultDept").find("#txtPDMDeptCode").val(result.data.ResultTable[0].PDMGRCode);
						$("#modalsDefaultDept").find("#txtDeptName").val(result.data.ResultTable[0].DisplayName);
			            $("#modalsDefaultDept").find("#txtDeptShortName").val(result.data.ResultTable[0].ShortName);
			            $("#modalsDefaultDept").find("#txtDeptType").val("부서 그룹");
						$("#modalsDefaultDept").find("#txtDeptPriority").val(sortKey);
					}

					if (result.data.ResultTable3 != null) {
						$("#modalsDefaultDept").find("#selUpperDept").val(result.data.ResultTable3[0].GRAlias);
					}

                    $("#modalsDefaultDept").modal("show");
                }
			});
		}

		function saveGroup() {
			if ($("#txtDeptCode").val() == "") {
				alert("그룹코드를 입력하세요");
				return false;
			}

            if ($("#txtDeptName").val() == "") {
				alert("그룹 이름을 입력하세요");
				return false;
			}

            if ($("#txtDeptPriority").val() == "") {
				alert("정렬 순서를 입력하세요");
				return false;
			}

            if ($("#selUpperDept").val() == "") {
				if (!window.confirm("소속그룹을 지정하지 않으셨습니다.\n소속그룹이 지정되지 않으면 최상위에 위치하게 됩니다.\n계속하시겠습니까?")) {
				    return false;
			    }
			}

			if (mode == "I") {
                $.ajax({
                    url: '@Url.Action("CheckObjectDoubleAlias", "Organ")',
				    type: 'POST',
				    async: false,
                    dataType: 'JSON',
				    data: '{alias:"' + $("#txtDeptCode").val() + '", objectType: ""}',
				    success: function (result) {
					    if (result.code != "OK") {
						    alert(result.message);
						    return;
					    }

					    if (result.message == "Y") {
						    alert("[" + $("#txtDeptCode").val() + "] 는 DB에 존재하는 그룹코드입니다.");
						    return false;
					    }
                    }
			    });
			}

            $.ajax({
                url: '@Url.Action("HandleGroup", "Organ")',
				type: 'POST',
                dataType: 'JSON',
				data: '{mode:"' + mode + '", groupType: "D", groupAlias: "' + $("#txtDeptCode").val() + '", parentAlias: "' + $("#selUpperDept").val() + '", groupName: "' + $("#txtDeptName").val() + '", groupShortName: "' + $("#txtDeptShortName").val() + '", sortKey: "' + $("#txtDeptPriority").val() + '", pdmgrCode: "' + $("#txtPDMDeptCode").val() + '"}',
				success: function (result) {
					if (result.code != "OK") {
						alert(result.message);
						return;
					}

					alert("정상적으로 처리되었습니다.");

					$("button[data-dismiss='modal']").trigger("click");

                    searchDept("");
                }
			});
		}
    </script>
}

<h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
    <div>부서 관리</div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalsDefaultDept" onclick="resetModelInfo()">신규</button>
</h4>

<!-- Modal template -->
<div class="modal fade" id="modalsDefaultDept">
    <div class="modal-dialog">
        <form class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    그룹 생성
                    <br>
                    <small class="text-muted">기본정보 및 소속그룹, OU Path 설정</small>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col">
                        <label class="form-label">그룹코드</label>
                        <input type="text" id="txtDeptCode" class="form-control">
                    </div>
                    <div class="form-group col">
                        <label class="form-label">PDM그룹코드</label>
                        <input type="text" id="txtPDMDeptCode" class="form-control" readonly="readonly">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label class="form-label">그룹이름</label>
                        <input type="text" id="txtDeptName" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label class="form-label">그룹약어</label>
                        <input type="text" id="txtDeptShortName" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label class="form-label">그룹유형</label>
                        <input type="text" id="txtDeptType" class="form-control" readonly="readonly" value="부서 그룹">
                    </div>
                    <div class="form-group col">
                        <label class="form-label">정렬순서</label>
                        <input type="text" id="txtDeptPriority" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label class="form-label">소속그룹</label>
                        <select class="custom-select" id="selUpperDept">
                            <option value="">선택하세요</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label class="form-label">OU경로</label>
                        <input type="text" id="txtDeptOUPath" class="form-control" readonly="readonly">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-primary" onclick="saveGroup();">저장</button>
            </div>
        </form>
    </div>
</div>

<div class="nav-tabs-top nav-responsive-sm">
    <ul class="nav nav-tabs">
        <li class="nav-item" id="li_member_in">
            <a class="nav-link active" data-toggle="tab" href="#dept-in">전체 부서 보기</a>
        </li>
        <li class="nav-item" id="li_member_out">
            <a class="nav-link" data-toggle="tab" href="#dept-out">퇴사 부서 보기</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="dept-in">
            <div class="card-datatable table-responsive">
                <table id="tbl_dept_list" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>부서명</th>
                            <th>코드</th>
                            <th>생성일</th>
                            <th>비고</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="dept-out">
            <div class="card-datatable table-responsive">
                <table id="tbl_dept_deleted_list" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>부서명</th>
                            <th>코드</th>
                            <th>생성일</th>
                            <th>삭제일</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>