@{
    ViewBag.Title = "기타 그룹";
}

@section Styles {
    @Styles.Render("~/bundle/vendor/css/datatables/datatables")
    @Styles.Render("~/bundle/vendor/css/jstree/themes/default/style")
}

@section Scripts {
    @Scripts.Render("~/bundle/vendor/js/datatables/datatables")
    @Scripts.Render("~/bundle/vendor/js/jstree/jstree")

    <script type="text/javascript">
        var tbl_list;
		var setGroupType = "";
		var groupListJson = @Html.Raw(ViewData["grouplist"]);

		$(document).ready(function () {
			$("#divGroupTree").jstree({
				'core': {
					'data': groupListJson
				}
			}).bind('select_node.jstree', function (event, data) {
				var groupType = data.instance.get_node(data.selected).id;
				var searchGroupType = changeGroupType(groupType);
				setGroupType = searchGroupType;

				if (groupType != "0") {
					searchGroupList(searchGroupType);
				}
			});
		});

        // Korean
        var dataTable_lang_kor = {
            "decimal" : "",
            "emptyTable" : "데이터가 없습니다.",
            "info" : "_START_ - _END_ (총 _TOTAL_ 명)",
            "infoEmpty" : "0명",
            "infoFiltered" : "(전체 _MAX_ 명 중 검색결과)",
            "infoPostFix" : "",
            "thousands" : ",",
            "lengthMenu" : "_MENU_ 개씩 보기",
            "loadingRecords" : "로딩중...",
            "processing" : "처리중...",
            "search" : "검색 : ",
            "zeroRecords" : "검색된 데이터가 없습니다.",
            "paginate" : {
                "first" : "첫 페이지",
                "last" : "마지막 페이지",
                "next" : "다음",
                "previous" : "이전"
            },
            "aria" : {
                "sortAscending" : " :  오름차순 정렬",
                "sortDescending" : " :  내림차순 정렬"
            }
		};

		function searchGroupList(groupType) {
			$.ajax({
				url: '@Url.Action("SearchGroupInfo", "Organ")',
				type: 'POST',
				dataType: 'JSON',
				data: '{groupType : "' + groupType + '"}',
				success: function (result) {
                    if (result.code != "OK") {
						alert(result.message);
						return;
					}

                    if (tbl_list) {
						tbl_list.destroy();
					}

                    tbl_list = $('#tbl_list').DataTable({
                        data: $(result.data),
                        columns: [
							{ data: "DisplayName" },
	                        { data: "GRAlias" },
							{ data: "CreateDate" },
							{
								data: null
							}
						],
                        lengthChange: false,
                        searching: true,
                        info: false,
                        displayLength: 20,
                        order: [],
                        ordering: true,
                        language: dataTable_lang_kor,
                        createdRow: function (row, data, index) {
							$('td', row).eq(2).html('').append(
								data["CreateDate"].substring(0, 10)
							);

							$('td', row).eq(3).addClass('text-center text-nowrap').html('').append(
								"<button type='button' class='btn btn-default' onclick='editGroup(this, \"" + data["SortKey"] + "\")'>편집</button>&nbsp;&nbsp;<button type='button' class='btn btn-default' onclick='viewGroupMember(this, \"" + data["GR_ID"] + "\")'>그룹원 보기</button>");
                        }
					});
				}
			});
		}

		var mode = "I";
		var isGroupLoad = false;

		function changeGroupType(groupType) {
			var searchGroupType = "";

			if (groupType == "org.gr.club") {
                searchGroupType = "C";
			} else if (groupType == "org.gr.task") {
                searchGroupType = "T";
			} else if (groupType == "org.gr.sec") {
                searchGroupType = "S";
			} else if (groupType == "org.gr.auth") {
                searchGroupType = "A";
			} else if (groupType == "org.gr.jik") {
                searchGroupType = "J";
			}

			return searchGroupType;
		}

		function resetModelInfo() {
			$("#modalsDefault").find("input").val("");
			$("#modalsDefault").find("select").prop("selectedIndex", "0");
			$("#modalsDefault").find("#txtGroupCode").removeAttr("readonly");

			if (!isGroupLoad) {
				// 기타 그룹 정보 로드
				if (groupListJson != "" && groupListJson.length > 0) {
					var optionHtml = "";

					for (var i = 0; i < groupListJson.length; i++) {
						// 전체 제거
						if (groupListJson[i].id == "0") {
							continue;
						}

						optionHtml += "<option value=\"" + changeGroupType(groupListJson[i].id) + "\">" + groupListJson[i].text + "</option>";
				    }

					$("#selGroupType").append(optionHtml);

					isGroupLoad = true;
				}
			}
		}

		function editGroup(obj, sortKey) {
			resetModelInfo();

			mode = "U";

			var $tr = $(obj).parent("td").parent("tr");

            $("#modalsDefault").find("#txtGroupCode").attr("readonly", "readonly");
            $("#modalsDefault").find("#txtGroupCode").val($tr.find("td:eq(1)").text());
			$("#modalsDefault").find("#txtGroupName").val($tr.find("td:eq(0)").text());
			$("#modalsDefault").find("#selGroupType").val(setGroupType);
			$("#modalsDefault").find("#txtGroupPriority").val(sortKey);
			
			$("#modalsDefault").modal("show");
		}

		function viewGroupMember(groupID) {
            $.ajax({
				url: '@Url.Action("SearchGroupMemberInfo", "Organ")',
				type: 'POST',
				dataType: 'JSON',
				data: '{groupID:"' + groupID + '"}',
				success: function (result) {
					if (result.code != "OK") {
						alert(result.message);
						return;
					}

					$("#tblMemberList tbody").empty();

					var html = "";

					if (result.recordsTotal == 0) {
						html += "<tr>";
						html += "   <td class=\"align-middle py-3\">";
						html += "선택된 그룹에는 구성원이 없습니다."
						html += "   </td>";
						html += "</tr>";
					} else {
						for (var i = 0; i < result.data.length; i++) {
							html += "<tr>";
							html += "   <td class=\"align-middle py-3\">";
							html += "       <div class=\"media align-items-center\">";
							html += "           <img src=\"https://uxpowered.com/products/appwork/v160/assets_/img/avatars/9-small.png\" class=\"d-block ui-w-40 rounded-circle\" alt=\"\">";
							html += "           <div class=\"media-body flex-basis-auto pl-3\">";
							html += "               <div>" + result.data[i].DisplayName + "</div>";
							html += "           </div>";
							html += "       </div>";
							html += "   </td>";
							html += "   <td class=\"align-middle py-3\">";
							html += result.data[i].Grade1
							html += "       <br/>"
							html += "(" + result.data[i].Role + ")"
							html += "   </td>";
							html += "   <td class=\"align-middle py-3\">";
							html += result.data[i].Secondmail
							html += "   </td>";
							html += "</tr>";
						}
					}

					$("#tblMemberList tbody").append(html);

					$("#modalsDefaultMember").modal("show");
				}
			});
		}

		function saveGroup() {
			if ($("#txtGroupCode").val() == "") {
				alert("그룹 코드를 입력하세요");
				return false;
			}

            if ($("#txtGroupName").val() == "") {
				alert("그룹 이름을 입력하세요");
				return false;
			}

			if ($("#selGroupType").val() == "") {
				alert("그룹 유형을 선택하세요");
				return false;
			}

            if ($("#txtGroupPriority").val() == "") {
				alert("정렬 순서를 입력하세요");
				return false;
			}

			if (mode == "I") {
                $.ajax({
                    url: '@Url.Action("CheckObjectDoubleAlias", "Organ")',
				    type: 'POST',
				    async: false,
                    dataType: 'JSON',
				    data: '{alias:"' + $("#txtGroupCode").val() + '", objectType: ""}',
				    success: function (result) {
					    if (result.code != "OK") {
						    alert(result.message);
						    return;
					    }

					    if (result.message == "Y") {
						    alert("[" + $("#txtGroupCode").val() + "] 는 DB에 존재하는 그룹코드입니다.");
						    return false;
					    }
                    }
			    });
			}

            $.ajax({
                url: '@Url.Action("HandleGroup", "Organ")',
				type: 'POST',
                dataType: 'JSON',
				data: '{mode:"' + mode + '", groupType: "' + $("#selGroupType").val() + '", groupAlias: "' + $("#txtGroupCode").val() + '", parentAlias: "", groupName: "' + $("#txtGroupName").val() + '", groupShortName: "' + $("#txtGroupName").val() + '", sortKey: "' + $("#txtGroupPriority").val() + '", pdmgrCode: ""}',
				success: function (result) {
					if (result.code != "OK") {
						alert(result.message);
						return;
					}

					alert("정상적으로 처리되었습니다.");

					searchGroupList($("#selGroupType").val());

					$("#modalsDefault").modal("hide");
                }
			});
		}
    </script>
}

<h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
    <div>기타 그룹 관리</div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalsDefault" onclick="resetModelInfo()">신규</button>
</h4>

<!-- Modal template -->
<div class="modal fade" id="modalsDefault">
    <div class="modal-dialog">
        <form class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    기타 그룹 생성
                    <br>
                    <small class="text-muted">기본정보 설정</small>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col">
                        <label class="form-label">그룹코드</label>
                        <input type="text" id="txtGroupCode" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label class="form-label">그룹이름</label>
                        <input type="text" id="txtGroupName" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label class="form-label">그룹유형</label>
						<select class="custom-select" id="selGroupType">
							<option value="">선택하세요</option>
						</select>
                    </div>
                    <div class="form-group col">
                        <label class="form-label">정렬순서</label>
                        <input type="text" id="txtGroupPriority" class="form-control">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-primary" onclick="saveGroup();">저장</button>
            </div>
        </form>
    </div>
</div>

<!-- Modal template -->
<div class="modal fade" id="modalsDefaultMember">
    <div class="modal-dialog">
        <form class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    그룹원 정보
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <div class="modal-body">
                <div class="table-responsive ui-bordered">
                    <table id="tblMemberList" class="clients-table table table-hover m-0">
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div id="divGroupTree" class="bg-transparent border jstree jstree-1 jstree-default-dark" style="min-height:200px;padding:20px;" role="tree" aria-multiselectable="true" tabindex="0" aria-activedescendant="j1_5" aria-busy="false">
        </div>
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-datatable table-responsive">
                <table id="tbl_list" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>그룹명</th>
                            <th>그룹별칭</th>
                            <th>생성일</th>
                            <th>비고</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>