@using System.Data;
@using System.Text;
@using Newtonsoft.Json;
@{
    ViewBag.Title = "결재 현황";
}

@section Styles {
    @Styles.Render("~/bundle/vendor/css/datatables/datatables")
    @Styles.Render("~/bundle/vendor/css/jstree/themes/default/style")
    @Styles.Render("~/bundle/vendor/css/jstree/themes/default-dark/style")
}

@section Scripts {
    @Scripts.Render("~/bundle/vendor/js/datatables/datatables")
    @Scripts.Render("~/bundle/vendor/js/jstree/jstree")

    <script type="text/javascript">
		$(document).ready(function () {
			var deptTreeJson = @Html.Raw(ViewData["deptlist"]);

			$("#divDeptTree").jstree({
				'core': {
					'data': deptTreeJson
				}
			}).bind('select_node.jstree', function (event, data) {
				var grID = data.instance.get_node(data.selected).id;

				if (grID != "") {
					$.ajax({
						url: '@Url.Action("SearchGroupMemberInfo", "Organ")',
						type: 'POST',
						dataType: 'JSON',
						data: '{groupID:"' + grID + '"}',
						success: function (result) {
							if (result.code != "OK") {
								alert(result.message);
								return;
							}

							$("#tblMemberList tbody").empty();

							var html = "";

							if (result.recordsTotal == 0) {
								html += "<tr>";
								html += "   <td class=\"align-middle py-3\">";
								html += "선택된 부서에는 구성원이 없습니다."
								html += "   </td>";
								html += "</tr>";
							} else {
								for (var i = 0; i < result.data.length; i++) {
									html += "<tr>";
									html += "   <td class=\"align-middle py-3\">";
									html += "       <div class=\"media align-items-center\">";
									html += "           <img src=\"https://uxpowered.com/products/appwork/v160/assets_/img/avatars/9-small.png\" class=\"d-block ui-w-40 rounded-circle\" alt=\"\">";
									html += "           <div class=\"media-body flex-basis-auto pl-3\">";
									html += "               <div>" + result.data[i].DisplayName + "</div>";
									html += "           </div>";
									html += "       </div>";
									html += "   </td>";
									html += "   <td class=\"align-middle py-3\">";
									html += result.data[i].Grade1
									html += "       <br/>"
									html += "(" + result.data[i].Role + ")"
									html += "   </td>";
									html += "   <td class=\"align-middle py-3\">";
									html += result.data[i].Secondmail
									html += "   </td>";
									html += "</tr>";
								}
							}

							$("#tblMemberList tbody").append(html);
						}
					});
				}
			});
		});
    </script>
}
<h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
    조직도
</h4>

<div class="row">
    <div class="col-md-3">
        <div id="divDeptTree" class="bg-transparent border jstree jstree-1 jstree-default" style="min-height:200px;padding:20px;" role="tree" aria-multiselectable="false" tabindex="0" aria-activedescendant="j1_5" aria-busy="false"></div>
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="table-responsive ui-bordered">
                <table id="tblMemberList" class="clients-table table table-hover m-0">
                    <tbody>
                        <tr>
                            <td class="align-middle py-3">
                                선택된 부서가 없습니다.
                            </td>
                        </tr>        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
