@using System.Collections;
@using System.Data;
@using System.Text;
@using System.Threading;
@using Newtonsoft.Json.Linq;
@using ZumNet.Framework.Util;
@using ZumNet.Web.Bc;
@using ZumNet.Web.Filter;
@{
    // 금형대장리스트, REGISTER_TOOLING
    InitConfig("");

    string strWhere = SearchCondition();

    ZumNet.Framework.Core.ServiceResult svcRt = null;
    using (ZumNet.BSL.InterfaceBiz.ReportBiz rpBiz = new ZumNet.BSL.InterfaceBiz.ReportBiz())
    {
        svcRt = rpBiz.GetReport(ViewBag.R.mode.ToString(), StringHelper.SafeInt(ViewBag.R.lv.tgt.Value), ViewBag.R.ft.ToString(), ViewBag.R.lv.start.ToString(), ViewBag.R.lv.end.ToString()
                        , "", "", "", "", ""
                        , StringHelper.SafeInt(ViewBag.R.lv.page.Value), StringHelper.SafeInt(ViewBag.R.lv.count.Value), ViewBag.R.lv.basesort.ToString()
                        , ViewBag.R.lv.sort.ToString(), ViewBag.R.lv.sortdir.ToString(), strWhere);
    }

    if (svcRt != null && svcRt.ResultCode == 0)
    {
        ViewBag.R.lv["total"] = svcRt.ResultItemCount.ToString();

        if (ViewBag.R.mode != "xls")
        {
            string[,] codeConfig = { { "external", "toolingcls" }, { "external", "centercode" } };
            ZumNet.Framework.Core.ServiceResult svcRt2 = null;
            using (ZumNet.BSL.ServiceBiz.CommonBiz cb = new ZumNet.BSL.ServiceBiz.CommonBiz())
            {
                svcRt2 = cb.SelectCodeDescription(codeConfig);
            }

            if (svcRt2 != null && svcRt2.ResultCode == 0)
            {
                ViewBag.CodeTable = svcRt2.ResultDataDetail;
            }
            else
            {
                ViewBag.CodeTable = null;
                Response.Write(svcRt2.ResultMessage);
            }
            svcRt2 = null;
        }
    }
    else
    {
        ViewBag.R.lv["total"] = 0;
    }

    if (ViewBag.R.mode == "xls")
    {
        ExcelBind(ViewList(ViewBag.R.mode.ToString(), svcRt.ResultDataSet));
        Response.End();
    }
}
@functions {
    string[,] _columnConfig = null;
    string _tblWidth = "";

    private string SearchCondition()
    {
        string strWhere = "";
        if (ViewBag.R.lv.cd1.ToString() != "") strWhere += " AND DIVISION = '" + ViewBag.R.lv.cd1.ToString() + "'";             //제작구분
        if (ViewBag.R.lv.cd2.ToString() != "") strWhere += " AND CLASSIFICATION_ID = '" + ViewBag.R.lv.cd2.ToString() + "'";    //금형분류
        if (ViewBag.R.lv.cd3.ToString() != "") strWhere += " AND WHO_MONEY = N'" + ViewBag.R.lv.cd3.ToString() + "'";           //금형비부담
        if (ViewBag.R.lv.cd4.ToString() != "") strWhere += " AND TOOLING_NUMBER LIKE '" + ViewBag.R.lv.cd4.ToString() + "%'";   //금형번호
        if (ViewBag.R.lv.cd5.ToString() != "") strWhere += " AND MODELNO LIKE '%" + ViewBag.R.lv.cd5.ToString() + "%'";         //적용모델
        if (ViewBag.R.lv.cd6.ToString() != "")
        {
            strWhere += " AND USAGE_TYPE = '" + ViewBag.R.lv.cd6.ToString() + "'";  //2016-04-27 USAGE_TYPE 필드값 정리 이후
        }

        if (ViewBag.R.lv.cd7.ToString() != "") strWhere += " AND TOOLING_TAGNO LIKE '%" + ViewBag.R.lv.cd7.ToString() + "%'";           //고객금형번호
        if (ViewBag.R.lv.cd8.ToString() != "") strWhere += " AND PARTNO LIKE '%" + ViewBag.R.lv.cd8.ToString() + "%'";                  //품번
        if (ViewBag.R.lv.cd9.ToString() != "") strWhere += " AND ORG_NAME = '" + ViewBag.R.lv.cd9.ToString() + "'";                     //사업장
        if (ViewBag.R.lv.cd10.ToString() != "") strWhere += " AND BUYER_NAME LIKE N'%" + ViewBag.R.lv.cd10.ToString() + "%'";           //BUYER
        if (ViewBag.R.lv.cd12.ToString() != "") strWhere += " AND MAKE_SUPPLIER_NAME LIKE N'%" + ViewBag.R.lv.cd12.ToString() + "%'";   //제작처
        if (ViewBag.R.lv.cd11.ToString() != "") strWhere += " AND (DEPT_NAME LIKE N'%" + ViewBag.R.lv.cd11.ToString() + "%' OR CHARGE_USER LIKE N'%" + ViewBag.R.lv.cd11.ToString() + "%')"; //영업부서, 담당자

        if (ViewBag.R.lv.start.ToString().Trim() != "") strWhere += " AND DATEDIFF(DD, '" + ViewBag.R.lv.start.ToString() + "', ORDER_CREATE_DATE) >= 0 "; //2014-04-16 CREATE_DATE=>ORDER_CREATE_DATE
        if (ViewBag.R.lv.end.ToString().Trim() != "") strWhere += " AND DATEDIFF(DD, ORDER_CREATE_DATE, '" + ViewBag.R.lv.end.ToString() + "') >= 0 ";

        return strWhere;
    }

    private void InitConfig(string popUp)
    {
        //초기 설정
        if (ViewBag.R.lv.cd1 == "" && ViewBag.R.lv.cd2 == "" && ViewBag.R.lv.cd3 == "" && ViewBag.R.lv.cd4 == "" && ViewBag.R.lv.cd5 == "" && ViewBag.R.lv.cd6 == ""
            && ViewBag.R.lv.cd7 == "" && ViewBag.R.lv.cd8 == "" && ViewBag.R.lv.cd9 == "" && ViewBag.R.lv.cd10 == "" && ViewBag.R.lv.cd11 == "" && ViewBag.R.lv.cd12 == "")
        {
            if (ViewBag.R.lv.start == "") ViewBag.R.lv["start"] = DateTime.Now.AddMonths(-1).ToString("yyyy-MM-dd"); //최근 1개월
        }

        if (ViewBag.R.ttl == "") ViewBag.R["ttl"] = "금형대장리스트";

        //크레신 : 금형대장 현황 : 2014-04-10 필드 변경, 검색 변경
        string strSeq = (popUp == "") ? "fiid" : "__RADIO__";
        string strSeqDn = (popUp == "") ? "ID" : "";

        string[,] arr = { { strSeq, strSeqDn, "50px", "", "Y"},  { "ORG_NAME", "사업장", "60px", "", "Y" }, { "TOOLING_NUMBER", "금형번호", "130px", "", "Y" }, { "MODELNO", "적용모델", "130px", "", "Y" }
                        , { "PARTNM", "부품명", "160px", "L", "Y" }, { "PARTNO", "품번", "130px", "L", "Y" },{ "MAKE_SUPPLIER_NAME", "제작처", "170px", "L", "Y" }, { "MAKE_TOOLINGNO", "제작처<br />금형번호", "100px", "", "Y" }
                        , { "STORE_PLACE_NAME", "양산처", "170px", "", "Y" }, { "RUNNERTYPE", "RUNNER<br />TYPE", "70px", "", "Y" }, { "CAVITYA", "CAV<br />구분", "60px", "", "Y" }, { "CAVITY", "CAV<br />수량", "60px", "", "Y" } //1310
                        , { "ABLCAVITYA", "가용CAV<br />구분", "70px", "", "Y" }, { "ABLCAVITY", "가용CAV<br />수량", "70px", "", "Y" }, { "WATERPER", "수율(%)", "70px", "", "Y" }
                        , { "CYCLETIME", "C/T<br />(sec)", "60px", "", "Y" }, { "PRODHR", "생산<br />적용시간", "60px", "", "Y" }
                        , { "ONEDAY", "1 Day<br />CAPA", "60px", "", "Y" }, { "ONEMON", "1 Mth<br />생산일", "60px", "", "Y" }, { "ONEMONCAP", "1 Mth<br />CAPA", "60px", "", "Y" }
                        , { "SHOT", "사용<br />실적", "60px", "", "Y" }, { "RFID_TAKE", "RFID<br />부착여부", "60px", "", "Y" }, { "NAME_TAKE", "명판<br />부착여부", "60px", "", "Y" }, { "COUNTER_TAKE", "COUNTER<br />부착여부", "80px", "", "Y" } //770
                        , { "USAGE_TYPE", "사용<br />구분", "50px", "", "N" }, { "MAKE_FROM", "START", "70px", "", "Y" }, { "MAKE_TO", "FINISH", "70px", "", "Y" }
                        , { "COMPLETE_DATE", "승인일(제작완료확인일)", "100px", "", "Y" }, { "BUYER_NAME", "BUYER", "170px", "L", "Y" } , { "OWNER_NAME", "소유처", "170px", "L", "Y" }
                        , { "TOOLING_TAGNO", "고객금형번호", "100px", "", "Y" }, { "DIVISION", "제작<br />구분", "40px", "", "Y" }
                        , { "CLASSIFICATION_NAME", "금형<br />분류", "70px", "", "Y" }, { "RFIDYN", "RFID등록<br />대상여부", "70px", "", "Y" }, { "IFSTATE", "기안<br />결재여부", "70px", "", "Y" } //980
                        , { "WHO_MONEY", "비용<br />부담", "60px", "", "Y" }, { "DEPT_NAME", "영업부서", "100px", "", "Y" }
                        , { "CHARGE_USER", "영업<br />담당", "60px", "", "Y" }, { "PRODUCTION_CURRENCY", "통화<br />(제작)", "50px", "", "Y" }, { "PRODUCTION_COST", "제작금액", "90px", "", "Y" }, { "EXCHANGE_USD", "제작금액<br />(USD)", "90px", "", "Y" }
                        , { "RETRIEVAL_ORG_NAME", "회수<br />법인", "40px", "", "Y" }, { "RETRIEVAL_CURRENCY", "통화<br />(회수)", "50px", "", "Y" }, { "RETRIEVAL_COST", "회수<br />금액", "70px", "", "Y" } //610
                        , { "RETRIEVAL_EXP_DATE", "회수<br />예정일", "70px", "", "Y" }, { "RETRIEVAL_DATE", "회수<br />완료일", "70px", "", "Y" }, { "RETRIEVAL_TYPE", "회수<br />완료", "40px", "", "Y" }
                        , { "PONO", "PO NO", "60px", "", "Y" }, { "PODATE", "P/O<br />발행일", "60px", "", "Y" }, { "APNO", "AP NO", "60px", "", "Y" }
                        , { "ORDER_CREATE_DATE", "등록일", "70px", "", "Y" }, { "CREATOR", "등록자", "60px", "", "Y" }}; //430
        this._columnConfig = arr;
        this._tblWidth = "4100px";

        ViewBag.R.lv["basesort"] = "ORDER_CREATE_DATE";
    }

    private string RenderColumnHeader(string mode)
    {
        StringBuilder sb = new StringBuilder();
        string sClassExcel = mode == "xls" ? " class=\"xls_th\"" : "";

        if (_columnConfig != null && _columnConfig.GetLength(0) > 0)
        {
            sb.AppendFormat("<colgroup span=\"{0}\">", _columnConfig.GetLength(0));
            for (int i = 0; i < _columnConfig.GetLength(0); i++)
            {
                sb.AppendFormat("<col style=\"width:{0}\" />", _columnConfig[i, 2].ToString());
            }
            sb.Append("</colgroup>");

            sb.Append("<thead>");
            sb.AppendFormat("<tr class=\"table-success\"><th{0} rowspan=\"2\">{1}</th><th{0} colspan=\"34\">{2}</th><th{0} colspan=\"17\">{3}</th></tr>", sClassExcel, "NO", "금형내역", "금형비 관리");
            sb.Append("<tr class=\"table-success\">");
            for (int i = 1; i < _columnConfig.GetLength(0); i++)
            {
                if (mode != "xls" && _columnConfig[i, 4].ToString() == "Y")
                {
                    sb.AppendFormat("<th><a class=\"z-lnk-navy\" href=\"javascript:\" data-val=\"{0}\" onclick=\"_zw.fn.sort();\">{1} <i class=\"{2}\"</a></th>"
                                     , _columnConfig[i, 0].ToString(), _columnConfig[i, 1].ToString()
                                    , (ViewBag.R.lv.sort == _columnConfig[i, 0].ToString() ? (ViewBag.R.lv.sortdir == "ASC" ? "fe-arrow-up" : "fe-arrow-down") : ""));
                }
                else sb.AppendFormat("<th{0}>{1}</th>", sClassExcel, _columnConfig[i, 1].ToString());
            }
            sb.Append("</tr>");
            sb.Append("</thead>");
        }

        return sb.ToString();
    }

    private string ViewList(string mode, DataSet data)
    {
        if (data != null && data.Tables.Count > 0)
        {
            string strHeader = RenderColumnHeader(mode);
            string strID = "";
            string strValue = "";
            int iRow = 1;

            StringBuilder sb = new StringBuilder();
            sb.AppendFormat("<table class=\"table table-hover table-bordered table-sm\" style=\"width:{0}\">", this._tblWidth);
            sb.Append(strHeader);
            sb.Append("<tbody>");

            if (strHeader == "")
            {
                sb.AppendFormat("<tr><th>{0}</th></tr>", "뷰 정보가 없습니다.");
            }
            else
            {
                foreach (DataRow row in data.Tables[0].Rows)
                {
                    sb.AppendFormat("<tr id=\"{0}\" fiid=\"{1}\">", row["TOOLING_NUMBER"].ToString(), row["fiid"].ToString());
                    for (int i = 0; i < _columnConfig.GetLength(0); i++)
                    {
                        strID = _columnConfig[i, 0].ToString();

                        if (strID == "__RADIO__")
                        {
                            strValue = "<input name=\"rdoRow\" type=\"radio\" onclick=\"_zw.fn.radioClick('" + row["TOOLING_NUMBER"].ToString() + "')\" />";
                        }
                        else if (strID.ToUpper() == "SEQ")
                        {
                            strValue = iRow.ToString();
                        }
                        else if (strID == "CREATE_DATE" || strID == "ORDER_CREATE_DATE")
                        {
                            strValue = ZumNet.Web.Bc.CommonUtils.LvDate(row[strID].ToString());
                        }
                        else if (strID == "RETRIEVAL_EXP_DATE" || strID == "RETRIEVAL_DATE" || strID == "DISUSEDATE" || strID == "MAKE_FROM" || strID == "MAKE_TO")
                        {
                            strValue = ZumNet.Web.Bc.CommonUtils.LvDate(row[strID].ToString());
                        }
                        else if (strID == "TOOLING_NUMBER")
                        {
                            if (mode == "xls") strValue = row[strID].ToString();
                            else strValue = "<a class=\"z-lnk-navy\" href=\"javascript:\" onclick=\"_zw.fn.openXForm();\">" + row[strID].ToString() + "</a>";
                        }
                        else if (strID == "MODELNO")
                        {
                            strValue = row[strID].ToString();
                            if (mode != "xls" && strValue.Trim() != "" && row["MODELPDMOID"].ToString() != "") strValue = "<a class=\"z-lnk-navy\" href=\"javascript:\" onclick=\"_zw.fn.openXForm('" + row["MODELCLS"].ToString() + "', '" + row["MODELPDMOID"].ToString() + "');\">" + strValue + "</a>";
                        }
                        else if (strID == "PARTNO")
                        {
                            strValue = row[strID].ToString();
                            if (mode != "xls" && strValue.Trim() != "" && row["PARTPDMOID"].ToString() != "") strValue = "<a class=\"z-lnk-navy\" href=\"javascript:\" onclick=\"_zw.fn.openXForm('" + row["PARTCLS"].ToString() + "', '" + row["PARTPDMOID"].ToString() + "');\">" + strValue + "</a>";
                        }
                        else if (strID == "DIVISION")
                        {
                            strValue = row[strID].ToString();
                            if (strValue.Trim() == "NEW") strValue = "신작";
                            else if (strValue.Trim() == "ADD") strValue = "증작";
                        }
                        else if (strID == "USAGE_TYPE")
                        {
                            strValue = row[strID].ToString();
                            if (strValue == "미사용") strValue = "X"; //2016-04-27 DB값 정리 이후
                            else if (strValue == "사용") strValue = "O";
                        }
                        else if (strID == "PRODUCTION_COST" || strID == "RETRIEVAL_COST" || strID == "SHOT" || strID == "CAVITY")
                        {
                            strValue = row[strID].ToString();
                            if (strValue == "" || strValue == "0") strValue = "0";
                            else
                            {
                                if (Convert.ToDouble(strValue) == 0) strValue = "0";
                                else strValue = Convert.ToDouble(strValue).ToString("#,###.###");
                            }

                            if (strID == "RETRIEVAL_COST")
                            {
                                if (mode != "xls" && (row["CHARGE_USER_ID"].ToString() == Session["URID"].ToString() || Session["Admin"].ToString() == "Y"))
                                    strValue = String.Format("<a class=\"z-lnk-navy\" href=\"javascript:\" onclick=\"_zw.fn.showRegisterData(this);\">{0}</a>", strValue);
                            }
                        }
                        else if (strID == "___CHARGE_USER")
                        {
                            strValue = (row["DEPT_NAME"].ToString() == "") ? "" : row["DEPT_NAME"].ToString();
                            if (strValue == "")
                            {
                                strValue = row["CHARGE_USER"].ToString();
                            }
                            else
                            {
                                if (row["CHARGE_USER"].ToString() != "") strValue += "." + row["CHARGE_USER"].ToString();
                            }
                        }
                        else if (strID == "RFIDYN")
                        {
                            strValue = row[strID].ToString();
                            if (row["TAGYN"].ToString() == "Y") strValue = "<strong class=\"text-success\">" + strValue + "</strong>";
                        }
                        else
                        {
                            strValue = row[strID].ToString();
                        }
                        strValue = (strValue.Trim() == "") ? "&nbsp;" : strValue;

                        sb.AppendFormat("<td class=\"{0}\">{1}</td>", _columnConfig[i, 3].ToString() == "L" ? "text-left" : "text-center", strValue);
                    }
                    sb.Append("</tr>");
                    iRow++;
                }
            }
            sb.Append("</tbody>");
            sb.Append("</table>");

            return sb.ToString();
        }
        return "";
    }

    private string ListCount()
    {
        string sPage = "";
        int totalCount = 0;
        int maxPage = ZumNet.Web.Bc.CommonUtils.IsMobile() ? 5 : 10;
        totalCount = Convert.ToInt32(ViewBag.R.lv.total.Value);
        int pageCount = Convert.ToInt32(ViewBag.R.lv.count.Value);
        int pageIndex = Convert.ToInt32(ViewBag.R.lv.page.Value);
        int totalPage = totalCount / pageCount;

        if (totalCount % pageCount > 0) { totalPage++; }
        if (pageIndex > totalPage) { pageIndex = totalPage; }

        sPage = String.Format("{0} {1} {2} ({3} / {4} {5})", Resources.Global.Total, totalCount.ToString(), Resources.Global.Count, pageIndex.ToString(), totalPage.ToString(), Resources.Global.Page);


        return sPage;
    }

    private string ListCond()
    {
        //string swidth = _columnConfig != null && _columnConfig.GetLength(0) > 0 ? " wwd-md-80 wd-lg-70 wd-xl-60" : " wd-sm-80 wd-md-60 wd-lg-45 wd-xl-40";

        StringBuilder sb = new StringBuilder();

        sb.Append("<div class=\"z-list-cond flex-fill\">");

        sb.Append("<div class=\"z-list-date input-group datepicker input-daterange\" style=\"width: 280px\">");
        sb.AppendFormat("<input type=\"text\" class=\"form-control start-date px-1\" value=\"{0}\">", ViewBag.R.lv.start);
        sb.Append("<div class=\"input-group-prepend\">");
        sb.Append("<span class=\"input-group-text\">~</span>");
        sb.Append("</div>");
        sb.AppendFormat("<input type=\"text\" class=\"form-control end-date px-1\" value=\"{0}\">", ViewBag.R.lv.end);
        sb.Append("<div class=\"input-group-append\">");
        sb.Append("<button class=\"btn btn-secondary\" type=\"button\" data-zv-menu=\"search\"><i class=\"fe-search\"></i></button>");
        sb.Append("</div>");

        sb.Append("<div class=\"input-group-append\">"); //d-none d-sm-flex
        sb.Append("<button class=\"btn btn-default\" aria-controls=\"vw-search-cond\" onclick=\"_zw.ut.ctrls();\" title=\"상세\"><i class=\"fas fa-angle-down\"></i></button>");
        sb.Append("</div>");
        sb.Append("</div>"); //z-list-date

        # region [상세 검색]
        sb.Append("<div class=\"d-none mt-2 pr-3\" data-controls=\"vw-search-cond\">");
        sb.Append("<table class=\"table text-center mb-0\">");
        sb.Append("<colgroup><col style=\"width: 11%\" /><col style=\"width: 14%\" /><col style=\"width: 11%\" /><col style=\"width: 14%\" /><col style=\"width: 11%\" /><col style=\"width: 14%\" /><col style=\"width: 11%\" /><col style=\"width: 14%\" /></colgroup>");
        sb.Append("<tbody>");

        sb.Append("<tr>");
        sb.Append("<td class=\"bg-light p-0 align-middle\">제작구분</td>");
        sb.Append("<td class=\"p-0\">");
        sb.Append("<select class=\"custom-select\" data-for=\"cd1\">");
        sb.Append("<option value=\"\">전체</option>");
        sb.AppendFormat("<option value=\"NEW\"{0}>신작</option>", ViewBag.R.lv.cd1 == "NEW" ? " selected" : "");
        sb.AppendFormat("<option value=\"ADD\"{0}>증작</option>", ViewBag.R.lv.cd1 == "ADD" ? " selected" : "");
        sb.AppendFormat("<option value=\"BUYER\"{0}>고객</option>", ViewBag.R.lv.cd1 == "BUYER" ? " selected" : "");
        sb.Append("</select>");
        sb.Append("</td>");

        sb.Append("<td class=\"bg-light p-0 align-middle\">금형번호</td>");
        sb.Append("<td class=\"p-0\">");
        sb.AppendFormat("<input type=\"text\" class=\"form-control px-1\" data-for=\"cd4\" value=\"{0}\">", ViewBag.R.lv.cd4);
        sb.Append("</td>");

        sb.Append("<td class=\"bg-light p-0 align-middle\">적용모델</td>");
        sb.Append("<td class=\"p-0\">");
        sb.AppendFormat("<input type=\"text\" class=\"form-control px-1\" data-for=\"cd5\" value=\"{0}\">", ViewBag.R.lv.cd5);
        sb.Append("</td>");

        sb.Append("<td class=\"bg-light p-0 align-middle\">사용구분</td>");
        sb.Append("<td class=\"p-0\">");
        sb.Append("<select class=\"custom-select\" data-for=\"cd6\">");
        sb.Append("<option value=\"\">전체</option>");
        sb.AppendFormat("<option value=\"사용\"{0}>사용</option>", ViewBag.R.lv.cd6 == "사용" ? " selected" : "");
        sb.AppendFormat("<option value=\"미사용\"{0}>미사용</option>", ViewBag.R.lv.cd6 == "미사용" ? " selected" : "");
        sb.AppendFormat("<option value=\"폐기\"{0}>폐기</option>", ViewBag.R.lv.cd6 == "폐기" ? " selected" : "");
        sb.AppendFormat("<option value=\"분실\"{0}>분실</option>", ViewBag.R.lv.cd6 == "분실" ? " selected" : "");
        sb.Append("</select>");
        sb.Append("</td>");
        sb.Append("</tr>");

        sb.Append("<tr>");
        sb.Append("<td class=\"bg-light p-0 align-middle\">금형분류</td>");
        sb.Append("<td class=\"p-0\">");
        sb.Append("<select class=\"custom-select\" data-for=\"cd2\">");
        sb.Append("<option value=\"\">전체</option>");
        foreach (object[] o in ViewBag.CodeTable["external.toolingcls"])
        {
            sb.AppendFormat("<option value=\"{0}\"{2}>{1}</option>", o[4].ToString(), o[3].ToString(), StringHelper.SafeString(ViewBag.R.lv["cd2"]) == o[4].ToString() ? " selected" : "");
        }
        sb.Append("</select>");
        sb.Append("</td>");

        sb.Append("<td class=\"bg-light p-0 align-middle\">고객금형번호</td>");
        sb.Append("<td class=\"p-0\">");
        sb.AppendFormat("<input type=\"text\" class=\"form-control px-1\" data-for=\"cd7\" value=\"{0}\">", ViewBag.R.lv.cd7);
        sb.Append("</td>");

        sb.Append("<td class=\"bg-light p-0 align-middle\">품번</td>");
        sb.Append("<td class=\"p-0\">");
        sb.AppendFormat("<input type=\"text\" class=\"form-control px-1\" data-for=\"cd8\" value=\"{0}\">", ViewBag.R.lv.cd8);
        sb.Append("</td>");

        sb.Append("<td class=\"bg-light p-0 align-middle\">사업장</td>");
        sb.Append("<td class=\"p-0\">");
        sb.Append("<select class=\"custom-select\" data-for=\"cd9\">");
        sb.Append("<option value=\"\">전체</option>");
        foreach (object[] o in ViewBag.CodeTable["external.centercode"])
        {
            sb.AppendFormat("<option value=\"{0}\"{1}>{0}</option>", o[3].ToString(), StringHelper.SafeString(ViewBag.R.lv["cd9"]) == o[3].ToString() ? " selected" : "");
        }
        sb.Append("</select>");
        sb.Append("</td>");
        sb.Append("</tr>");

        sb.Append("<tr>");
        sb.Append("<td class=\"bg-light p-0 align-middle\">비용부담</td>");
        sb.Append("<td class=\"p-0\">");
        sb.Append("<select class=\"custom-select\" data-for=\"cd3\">");
        sb.Append("<option value=\"\">전체</option>");
        sb.AppendFormat("<option value=\"당사\"{0}>당사</option>", ViewBag.R.lv.cd1 == "당사" ? " selected" : "");
        sb.AppendFormat("<option value=\"고객\"{0}>고객</option>", ViewBag.R.lv.cd1 == "고객" ? " selected" : "");
        sb.Append("</select>");
        sb.Append("</td>");

        sb.Append("<td class=\"bg-light p-0 align-middle\">BUYER</td>");
        sb.Append("<td class=\"p-0\">");
        sb.AppendFormat("<input type=\"text\" class=\"form-control px-1\" data-for=\"cd10\" value=\"{0}\">", ViewBag.R.lv.cd10);
        sb.Append("</td>");

        sb.Append("<td class=\"bg-light p-0 align-middle\">제작처</td>");
        sb.Append("<td class=\"p-0\">");
        sb.AppendFormat("<input type=\"text\" class=\"form-control px-1\" data-for=\"cd12\" value=\"{0}\">", ViewBag.R.lv.cd12);
        sb.Append("</td>");

        sb.Append("<td class=\"bg-light p-0 align-middle\">영업담당</td>");
        sb.Append("<td class=\"p-0\">");
        sb.AppendFormat("<input type=\"text\" class=\"form-control px-1\" data-for=\"cd11\" value=\"{0}\">", ViewBag.R.lv.cd11);
        sb.Append("</td>");
        sb.Append("</tr>");

        sb.Append("</tbody>");
        sb.Append("</table>");

        sb.Append("</div>");
        #endregion
        sb.Append("</div>"); //z-list-cond
        return sb.ToString();
    }

    private void ExcelBind(string data)
    {
        string strExcelFileName = ViewBag.R.ft.ToString() + "_Export_" + DateTime.Now.ToString("yyMMdd_HHmmss") + ".xls"; //2014-04-11
        Response.Clear();
        Response.Charset = "utf-8";
        Response.Buffer = true;
        //EnableViewState = false;
        Response.AddHeader("content-disposition", "attachment;filename=" + strExcelFileName); //Content.xls");
        Response.ContentType = "application/x-msdownload";
        string encoding = Request.ContentEncoding.HeaderName;
        Response.Write("<html xmlns:o=\"urn:schemas-microsoft-com:office:office\" xmlns:x=\"urn:schemas-microsoft-com:office:excel\" xmlns=\"http://www.w3.org/TR/REC-html40\"><head>");
        Response.Write("<meta http-equiv=\"Content-Type\" content=\"text/html; charset=" + encoding + "\">");
        Response.Write("<style type=\"text/css\">" + ExcelStyle() + "</style>");
        Response.Write("</head>");
        Response.Write("<body>");
        Response.Write(data);
        Response.Write("</body></html>");
    }

    public string ExcelStyle()
    {
        return @"
            body {width: 100%}
            table {width: ; border-top: 0.1pt solid windowtext; border-right: 0.1pt solid windowtext}
            td {border-bottom: 0.1pt solid windowtext; border-left: 0.1pt solid windowtext; padding: 4px;}

            .xls_warning {background-color: #fcf8e3}
            .xls_th {border-bottom: 0.1pt solid windowtext; border-left: 0.1pt solid windowtext; padding: 4px; text-align: center; background-color: #dff0d8}

            .text-center {text-align: center}
            .xl66 {mso-number-format:'\#\,\#\#0\.0000\;\[Red\]\\-\#\,\#\#0\.0000';}
            .xl88 {mso-number-format:'\#\,\#\#0\.0000_\)\;\[Red\]\\\(\#\,\#\#0\.0000\\\)';}
            ";
    }
}
@if (svcRt == null || svcRt.ResultCode != 0)
{
    @Html.Partial("~/Views/Shared/_ErrorInline.cshtml", new HandleErrorInfo(new Exception(svcRt.ResultMessage), "Report", ViewBag.R.ttl.ToString()))
}
else
{
    <div class="z-list-head d-flex justify-content-between my-2 pl-0">
        @Html.Raw(ListCond())
        <div class="z-list-page d-flex align-items-center justify-content-between" id="__ListCount">
            <div class="z-list-total d-flex align-items-center mr-1">
                <i class="fe-chevron-right"></i> @ListCount()
            </div>
            <div class="input-group d-none d-sm-flex z-lv-cnt">
                <select class="custom-select">
                    <option value="10" @(Convert.ToInt32(ViewBag.R.lv.count.Value) == 10 ? " selected" : "")>10</option>
                    <option value="20" @(Convert.ToInt32(ViewBag.R.lv.count.Value) == 20 ? " selected" : "")>20</option>
                    <option value="30" @(Convert.ToInt32(ViewBag.R.lv.count.Value) == 30 ? " selected" : "")>30</option>
                    <option value="40" @(Convert.ToInt32(ViewBag.R.lv.count.Value) == 40 ? " selected" : "")>40</option>
                    <option value="50" @(Convert.ToInt32(ViewBag.R.lv.count.Value) == 50 ? " selected" : "")>50</option>
                </select>
            </div>
        </div>
    </div>

    <div class="z-list-body" id="__ListView">
        @Html.Raw(ViewList(ViewBag.R.mode.ToString(), svcRt.ResultDataSet))
    </div>
}


