
@using System.Collections;
@using System.Data;
@using System.Text;
@using Newtonsoft.Json;

@{
    //금형대장, REGISTER_TOOLING

    ConfigColumn("");

    //Response.Write("=======" + ViewBag.R.lv["total"].ToString() + " : " + ViewBag.BoardList.Tables[0].Rows.Count.ToString());

}

@functions {

    string[,] _columnConfig = null;
    string _tblWidth = "";

    private void ConfigColumn(string popUp)
    {
        //크레신 : 금형대장 현황 : 2014-04-10 필드 변경, 검색 변경
        string strSeq = (popUp == "") ? "fiid" : "__RADIO__";
        string strSeqDn = (popUp == "") ? "ID" : "";

        string[,] arr = { { strSeq, strSeqDn, "50px", "", "Y"},  { "ORG_NAME", "사업장", "60px", "", "Y" }, { "TOOLING_NUMBER", "금형번호", "130px", "", "Y" }, { "MODELNO", "적용모델", "130px", "", "Y" }
                        , { "PARTNM", "부품명", "160px", "L", "Y" }, { "PARTNO", "품번", "130px", "L", "Y" },{ "MAKE_SUPPLIER_NAME", "제작처", "170px", "L", "Y" }, { "MAKE_TOOLINGNO", "제작처<br />금형번호", "100px", "", "Y" }
                        , { "STORE_PLACE_NAME", "양산처", "170px", "", "Y" }, { "RUNNERTYPE", "RUNNER<br />TYPE", "70px", "", "Y" }, { "CAVITYA", "CAV<br />구분", "60px", "", "Y" }, { "CAVITY", "CAV<br />수량", "60px", "", "Y" } //1310
                        , { "ABLCAVITYA", "가용CAV<br />구분", "70px", "", "Y" }, { "ABLCAVITY", "가용CAV<br />수량", "70px", "", "Y" }, { "WATERPER", "수율(%)", "70px", "", "Y" }
                        , { "CYCLETIME", "C/T<br />(sec)", "60px", "", "Y" }, { "PRODHR", "생산<br />적용시간", "60px", "", "Y" }
                        , { "ONEDAY", "1 Day<br />CAPA", "60px", "", "Y" }, { "ONEMON", "1 Mth<br />생산일", "60px", "", "Y" }, { "ONEMONCAP", "1 Mth<br />CAPA", "60px", "", "Y" }
                        , { "SHOT", "사용<br />실적", "60px", "", "Y" }, { "RFID_TAKE", "RFID<br />부착여부", "60px", "", "Y" }, { "NAME_TAKE", "명판<br />부착여부", "60px", "", "Y" }, { "COUNTER_TAKE", "COUNTER<br />부착여부", "80px", "", "Y" } //770
                        , { "USAGE_TYPE", "사용<br />구분", "50px", "", "N" }, { "MAKE_FROM", "START", "70px", "", "Y" }, { "MAKE_TO", "FINISH", "70px", "", "Y" }
                        , { "COMPLETE_DATE", "승인일(제작완료확인일)", "100px", "", "Y" }, { "BUYER_NAME", "BUYER", "170px", "L", "Y" } , { "OWNER_NAME", "소유처", "170px", "L", "Y" }
                        , { "TOOLING_TAGNO", "고객금형번호", "100px", "", "Y" }, { "DIVISION", "제작<br />구분", "40px", "", "Y" }
                        , { "CLASSIFICATION_NAME", "금형<br />분류", "70px", "", "Y" }, { "RFIDYN", "RFID등록<br />대상여부", "70px", "", "Y" }, { "IFSTATE", "기안<br />결재여부", "70px", "", "Y" } //980
                        , { "WHO_MONEY", "비용<br />부담", "60px", "", "Y" }, { "DEPT_NAME", "영업부서", "100px", "", "Y" }
                        , { "CHARGE_USER", "영업<br />담당", "60px", "", "Y" }, { "PRODUCTION_CURRENCY", "통화<br />(제작)", "50px", "", "Y" }, { "PRODUCTION_COST", "제작금액", "90px", "", "Y" }, { "EXCHANGE_USD", "제작금액<br />(USD)", "90px", "", "Y" }
                        , { "RETRIEVAL_ORG_NAME", "회수<br />법인", "40px", "", "Y" }, { "RETRIEVAL_CURRENCY", "통화<br />(회수)", "50px", "", "Y" }, { "RETRIEVAL_COST", "회수<br />금액", "70px", "", "Y" } //610
                        , { "RETRIEVAL_EXP_DATE", "회수<br />예정일", "70px", "", "Y" }, { "RETRIEVAL_DATE", "회수<br />완료일", "70px", "", "Y" }, { "RETRIEVAL_TYPE", "회수<br />완료", "40px", "", "Y" }
                        , { "PONO", "PO NO", "60px", "", "Y" }, { "PODATE", "P/O<br />발행일", "60px", "", "Y" }, { "APNO", "AP NO", "60px", "", "Y" }
                        , { "ORDER_CREATE_DATE", "등록일", "70px", "", "Y" }, { "CREATOR", "등록자", "60px", "", "Y" }}; //430       
        this._columnConfig = arr;
        this._tblWidth = "4100px";

        ViewBag.R.lv["basesort"] = "ORDER_CREATE_DATE";
    }

    private string RenderColumnHeader(string mode)
    {
        string strValue = "";
        StringBuilder sb = new StringBuilder();

        if (_columnConfig != null && _columnConfig.GetLength(0) > 0)
        {
            sb.AppendFormat("<colgroup span=\"{0}\">", _columnConfig.GetLength(0));
            for (int i = 0; i < _columnConfig.GetLength(0); i++)
            {
                sb.AppendFormat("<col style=\"width:{0}\" />", _columnConfig[i, 2].ToString());
            }
            sb.Append("</colgroup>");

            sb.Append("<thead>");
            if (mode == "xls")
                sb.AppendFormat("<tr class=\"table-success\"><th rowspan=\"2\" style=\"text-align:center;background:#d1dae7;color:#175d7f\">{0}</th><th colspan=\"34\" style=\"text-align:center;background:#d1dae7;color:#175d7f\">{1}</th><th colspan=\"17\" style=\"text-align:center;background:#d1dae7;color:#175d7f\">{2}</th></tr>", "NO", "금형내역", "금형비 관리");
            else
                sb.AppendFormat("<tr class=\"table-success\"><th rowspan=\"2\">{0}</th><th colspan=\"34\">{1}</th><th colspan=\"17\">{2}</th></tr>", "NO", "금형내역", "금형비 관리");

            sb.Append("<tr class=\"table-success\">");
            for (int i = 1; i < _columnConfig.GetLength(0); i++)
            {
                if (mode != "xls" && _columnConfig[i, 4].ToString() == "Y") strValue = String.Format("<a class=\"z-lnk-navy\" href=\"javascript:\" onclick=\"_zw.fn.sort();\">{0}</a>", _columnConfig[i, 1].ToString());
                else strValue = _columnConfig[i, 1].ToString();

                if (mode != "xls")
                    sb.AppendFormat("<th id=\"f_{0}\">{1}</th>", _columnConfig[i, 0].ToString(), strValue);
                else
                    sb.AppendFormat("<th id=\"f_{0}\" style=\"text-align:center;background:#d1dae7;color:#175d7f\">{1}</th>", _columnConfig[i, 0].ToString(), strValue);
            }
            sb.Append("</tr>");
            sb.Append("</thead>");
        }

        return sb.ToString();
    }

    private string ViewList(string mode, DataSet data)
    {
        if (data != null && data.Tables.Count > 0)
        {
            string strHeader = RenderColumnHeader(mode);
            string strID = "";
            string strValue = "";
            int iRow = 1;

            StringBuilder sb = new StringBuilder();
            sb.AppendFormat("<table class=\"table table-hover table-bordered table-sm\" style=\"width:{0}\">", this._tblWidth);
            sb.Append(strHeader);
            sb.Append("<tbody>");

            if (strHeader == "")
            {
                sb.AppendFormat("<tr><th>{0}</th></tr>", "뷰 정보가 없습니다.");
            }
            else
            {
                foreach (DataRow row in data.Tables[0].Rows)
                {
                    sb.AppendFormat("<tr id=\"_{0}\" fiid=\"{1}\">", row["TOOLING_NUMBER"].ToString(), row["fiid"].ToString());
                    for (int i = 0; i < _columnConfig.GetLength(0); i++)
                    {
                        strID = _columnConfig[i, 0].ToString();

                        if (strID == "__RADIO__")
                        {
                            strValue = "<input name=\"rdoRow\" type=\"radio\" onclick=\"_zw.fn.radioClick('" + row["TOOLING_NUMBER"].ToString() + "')\" />";
                        }
                        else if (strID.ToUpper() == "SEQ")
                        {
                            strValue = iRow.ToString();
                        }
                        else if (strID == "CREATE_DATE" || strID == "ORDER_CREATE_DATE")
                        {
                            strValue = ZumNet.Web.Bc.CommonUtils.LvDate(row[strID].ToString());
                        }
                        else if (strID == "RETRIEVAL_EXP_DATE" || strID == "RETRIEVAL_DATE" || strID == "DISUSEDATE" || strID == "MAKE_FROM" || strID == "MAKE_TO")
                        {
                            strValue = ZumNet.Web.Bc.CommonUtils.LvDate(row[strID].ToString());
                        }
                        else if (strID == "TOOLING_NUMBER")
                        {
                            if (mode == "xls") strValue = row[strID].ToString();
                            else strValue = "<a class=\"z-lnk-navy\" href=\"javascript:\" onclick=\"_zw.fn.openXForm();\">" + row[strID].ToString() + "</a>";
                        }
                        else if (strID == "MODELNO")
                        {
                            strValue = row[strID].ToString();
                            if (mode != "xls" && strValue.Trim() != "" && row["MODELPDMOID"].ToString() != "") strValue = "<a class=\"z-lnk-navy\" href=\"javascript:\" onclick=\"_zw.fn.openXForm('" + row["MODELCLS"].ToString() + "', '" + row["MODELPDMOID"].ToString() + "');\">" + strValue + "</a>";
                        }
                        else if (strID == "PARTNO")
                        {
                            strValue = row[strID].ToString();
                            if (mode != "xls" && strValue.Trim() != "" && row["PARTPDMOID"].ToString() != "") strValue = "<a class=\"z-lnk-navy\" href=\"javascript:\" onclick=\"_zw.fn.openXForm('" + row["PARTCLS"].ToString() + "', '" + row["PARTPDMOID"].ToString() + "');\">" + strValue + "</a>";
                        }
                        else if (strID == "DIVISION")
                        {
                            strValue = row[strID].ToString();
                            if (strValue.Trim() == "NEW") strValue = "신작";
                            else if (strValue.Trim() == "ADD") strValue = "증작";
                        }
                        else if (strID == "USAGE_TYPE")
                        {
                            strValue = row[strID].ToString();
                            if (strValue == "미사용") strValue = "X"; //2016-04-27 DB값 정리 이후
                            else if (strValue == "사용") strValue = "O";
                        }
                        else if (strID == "PRODUCTION_COST" || strID == "RETRIEVAL_COST" || strID == "SHOT" || strID == "CAVITY")
                        {
                            strValue = row[strID].ToString();
                            if (strValue == "" || strValue == "0") strValue = "0";
                            else
                            {
                                if (Convert.ToDouble(strValue) == 0) strValue = "0";
                                else strValue = Convert.ToDouble(strValue).ToString("#,###.###");
                            }

                            if (strID == "RETRIEVAL_COST")
                            {
                                if (mode != "xls" && (row["CHARGE_USER_ID"].ToString() == Session["URID"].ToString() || Session["Admin"].ToString() == "Y"))
                                    strValue = String.Format("<a class=\"z-lnk-navy\" href=\"javascript:\" onclick=\"_zw.fn.showRegisterData(this);\">{0}</a>", strValue);
                            }
                        }
                        else if (strID == "___CHARGE_USER")
                        {
                            strValue = (row["DEPT_NAME"].ToString() == "") ? "" : row["DEPT_NAME"].ToString();
                            if (strValue == "")
                            {
                                strValue = row["CHARGE_USER"].ToString();
                            }
                            else
                            {
                                if (row["CHARGE_USER"].ToString() != "") strValue += "." + row["CHARGE_USER"].ToString();
                            }
                        }
                        else if (strID == "RFIDYN")
                        {
                            strValue = row[strID].ToString();
                            if (row["TAGYN"].ToString() == "Y") strValue = "<strong class=\"text-success\">" + strValue + "</strong>";
                        }
                        else
                        {
                            strValue = row[strID].ToString();
                        }
                        strValue = (strValue.Trim() == "") ? "&nbsp;" : strValue;

                        sb.AppendFormat("<td class=\"{0}\">{1}</td>", _columnConfig[i, 3].ToString() == "L" ? "text-left" : "", strValue);
                    }
                    sb.Append("</tr>");
                    iRow++;
                }
            }
            sb.Append("</tbody>");
            sb.Append("</table>");

            return sb.ToString();
        }
        return "";
    }

    private string ListCount()
    {
        string sPage = "";
        int totalCount = 0;
        int maxPage = ZumNet.Web.Bc.CommonUtils.IsMobile() ? 5 : 10;
        totalCount = Convert.ToInt32(ViewBag.R.lv.total.Value);
        int pageCount = Convert.ToInt32(ViewBag.R.lv.count.Value);
        int pageIndex = Convert.ToInt32(ViewBag.R.lv.page.Value);
        int totalPage = totalCount / pageCount;

        if (totalCount % pageCount > 0) { totalPage++; }
        if (pageIndex > totalPage) { pageIndex = totalPage; }

        sPage = String.Format("{0} {1} {2} ({3} / {4} {5})", Resources.Global.Total, totalCount.ToString(), Resources.Global.Count, pageIndex.ToString(), totalPage.ToString(), Resources.Global.Page);


        return sPage;
    }

    private string ListCond()
    {
        //string swidth = _columnConfig != null && _columnConfig.GetLength(0) > 0 ? " wwd-md-80 wd-lg-70 wd-xl-60" : " wd-sm-80 wd-md-60 wd-lg-45 wd-xl-40";

        StringBuilder sb = new StringBuilder();

        sb.Append("<div class=\"z-list-cond d-flex justify-content-end\">");

        sb.Append("<div class=\"z-list-date input-group datepicker input-daterange\" style=\"width: 280px\">");
        sb.AppendFormat("<input type=\"text\" class=\"form-control start-date px-1\" value=\"{0}\">", ViewBag.R.lv.start);
        sb.Append("<div class=\"input-group-prepend\">");
        sb.Append("<span class=\"input-group-text\">~</span>");
        sb.Append("</div>");
        sb.AppendFormat("<input type=\"text\" class=\"form-control end-date px-1\" value=\"{0}\">", ViewBag.R.lv.end);
        sb.Append("<div class=\"input-group-append\">");
        sb.Append("<button class=\"btn btn-secondary\" type=\"button\" data-zv-menu=\"search\"><i class=\"fe-search\"></i></button>");
        sb.Append("</div>");
        sb.Append("</div>");

        sb.Append("</div>"); //z-list-cond
        return sb.ToString();
    }
}

<div class="z-list-head d-flex justify-content-between my-2">
    <div class="z-list-page d-flex align-items-center justify-content-between" id="__ListCount">
        <div class="z-list-total d-none d-sm-flex mr-1">
            <i class="fe-chevron-right"></i> @ListCount()
        </div>
        <div class="input-group d-none d-sm-flex z-lv-cnt">
            <select class="custom-select">
                <option value="10" @(Convert.ToInt32(ViewBag.R.lv.count.Value) == 10 ? " selected" : "")>10</option>
                <option value="20" @(Convert.ToInt32(ViewBag.R.lv.count.Value) == 20 ? " selected" : "")>20</option>
                <option value="30" @(Convert.ToInt32(ViewBag.R.lv.count.Value) == 30 ? " selected" : "")>30</option>
                <option value="40" @(Convert.ToInt32(ViewBag.R.lv.count.Value) == 40 ? " selected" : "")>40</option>
                <option value="50" @(Convert.ToInt32(ViewBag.R.lv.count.Value) == 50 ? " selected" : "")>50</option>
            </select>
        </div>
    </div>
    @Html.Raw(ListCond())
</div>

<div class="z-list-body" id="__ListView">
    @Html.Raw(ViewList(ViewBag.R.mode.ToString(), ViewBag.BoardList))
</div>

