@using System.Data;
@using System.Text;
@using System.Threading;

@{
    StringBuilder sbChart = new StringBuilder();

    if (ViewBag.Mode == "ajax")
    {
        if (ViewBag.BoardList != null && ViewBag.BoardList.Tables.Count > 0)
        {
            string[] vInv = "과입고율(%)^KPIB^%^^%;선입고일(일)^KPIC^일^^일;과입고금액(만불)^KPID^만불^$^;자동발주율(%)^KPIA^%^^%".Split(';');

            sbChart.Append("[");
            for (int i = 0; i < vInv.Length; i++)
            {
                string[] v = vInv[i].Split('^');

                sbChart.AppendFormat("{0}", i > 0 ? "," : "");
                sbChart.Append(RenderChartItem(ViewBag.BoardList.Tables[0], ViewBag.BoardList.Tables[1], ViewBag.BoardList.Tables[2], (i + 1).ToString(), v[1], v[0], "", "", ""));
            }
            sbChart.Append("]");

            sbChart.Append(ViewBag.R["lv"]["boundary"]);

            int iCnt = ViewBag.BoardList.Tables[1].Rows.Count;
            if (iCnt > 0)
            {
                sbChart.Append(ZumNet.Framework.Util.DateHelper.CheckDateTime(ViewBag.BoardList.Tables[1].Rows[0]["FDATE"].ToString(), "yy-MM-dd", "") + " ~ " + ZumNet.Framework.Util.DateHelper.CheckDateTime(ViewBag.BoardList.Tables[1].Rows[iCnt - 1]["TDATE"].ToString(), "yy-MM-dd", ""));
            }

            sbChart.Append(ViewBag.R["lv"]["boundary"]);
            sbChart.Append(RenderTable(ViewBag.BoardList));
            sbChart.Append(ViewBag.R["lv"]["boundary"]);
        }
    }

    if (ViewBag.Mode != "table" && ViewBag.BoardList != null && ViewBag.BoardList.Tables.Count > 0)
    {
        for (int i = 0; i < ViewBag.BoardList.Tables[1].Rows.Count; i++)
        {
            DataRow dr = ViewBag.BoardList.Tables[1].Rows[i];
            sbChart.AppendFormat("<option value=\"{0}_{1}\"{2}>{0}년 {1}주차</option>", dr["IYEAR"].ToString(), dr["IWEEK"].ToString(), (i == ViewBag.BoardList.Tables[1].Rows.Count - 1) ? " selected" : "");
        }
    }
}
@functions {
    private string RenderTable(DataSet data)
    {
        if (data != null && data.Tables.Count > 0)
        {
            DataTable dtCorp = null;
            DataTable dtInvWeek = null;
            DataTable dtInvCat = null;
            DataTable dtInvKpi = null;

            if (data.Tables.Count == 6)
            {
                dtCorp = data.Tables[0];
                //dtPeriod = data.Tables[1];
                //dtData = data.Tables[2];
                dtInvWeek = data.Tables[3];
                dtInvKpi = data.Tables[4];
                dtInvCat = data.Tables[5];
            }
            else
            {
                dtCorp = data.Tables[0];
                dtInvWeek = data.Tables[1];
                dtInvKpi = data.Tables[2];
                dtInvCat = data.Tables[3];
            }

            double dTotal = 0;
            DataRow[] rowList = null;

            StringBuilder sb = new StringBuilder();
            if (dtCorp != null)
            {
                sb.Append("<table class=\"table table-bordered\">");
                sb.Append("<colgroup>");
                sb.Append("<col width=\"4.6%\" /><col width=\"17.2%\" /><col width=\"4.6%\" /><col width=\"4.6%\" /><col width=\"4.6%\" /><col width=\"4.6%\" /><col width=\"4.6%\" />");
                sb.Append("<col width=\"4.6%\" /><col width=\"4.6%\" /><col width=\"4.6%\" /><col width=\"4.6%\" /><col width=\"4.6%\" /><col width=\"4.6%\" />");
                //sb.Append("<col width=\"4.6%\" /><col width=\"4.6%\" /><col width=\"4.6%\" /><col width=\"4.6%\" /><col width=\"4.6%\" /><col width=\"4.6%\" />");
                sb.Append("<col width=\"4.6%\" /><col width=\"4.6%\" />"); // 23-05-26 IC 제거
                sb.Append("</colgroup>");
                sb.Append("<thead>");
                sb.Append("<tr>");
                sb.Append("<th rowspan=\"2\" class=\"bb-bold\">Inv<br />Category</th>");
                sb.Append("<th rowspan=\"2\" class=\"bb-bold br-bold\">Description</th>");
                foreach (DataRow dr in dtCorp.Rows)
                {
                    if (dr["CORP"].ToString() != "VW") //2020-11-06 CL->VW
                    {
                        sb.AppendFormat("<th colspan=\"4\" class=\"table-warning br-bold\">{0}</th>", dr["CORP"].ToString());
                    }
                }
                sb.Append("<th rowspan=\"2\" class=\"bb-bold\">총과입고<br />금액</th>");
                sb.Append("</tr>");

                sb.Append("<tr>");
                for (int i = 0; i < dtCorp.Rows.Count - 1; i++)
                {
                    sb.Append("<th class=\"bb-bold\">과입고율</th>");
                    sb.Append("<th class=\"bb-bold\">선입고일</th>");
                    sb.Append("<th class=\"bb-bold\">과입고금액</th>");
                    sb.Append("<th class=\"bb-bold br-bold\">자동발주율</th>");
                }
                sb.Append("</tr>");
                sb.Append("</thead>");

                //this.ltrHead.Text = sb.ToString();
                //sb.Remove(0, sb.Length);
                //}

                sb.Append("<tbody>");
                //if (dtInvWeek != null)
                //{
                sb.Append("<tr class=\"table-info\">");
                sb.Append("<td colspan=\"2\" class=\"br-bold\">총 합계</td>");
                foreach (DataRow dr in dtCorp.Rows)
                {
                    if (dr["CORP"].ToString() != "VW") //2020-11-06 CL->VW
                    {
                        rowList = dtInvWeek.Select("CORP='" + dr["CORP"].ToString() + "'");
                        if (rowList != null && rowList.Length > 0)
                        {
                            sb.AppendFormat("<td>{0}</td>", rowList[0]["KPIB"].ToString());
                            sb.AppendFormat("<td>{0}</td>", rowList[0]["KPIC"].ToString());
                            sb.AppendFormat("<td>{0}</td>", rowList[0]["KPID"].ToString());
                            sb.AppendFormat("<td class=\"br-bold\">{0}</td>", rowList[0]["KPIA"].ToString());

                            dTotal += Convert.ToDouble(rowList[0]["KPID"]);
                        }
                        else
                        {
                            sb.Append("<td>&nbsp;</td>");
                            sb.Append("<td>&nbsp;</td>");
                            sb.Append("<td>&nbsp;</td>");
                            sb.Append("<td class=\"br-bold\">&nbsp;</td>");
                            dTotal += 0;
                        }
                    }
                }
                sb.AppendFormat("<td>{0}</td>", dTotal.ToString());
                sb.Append("</tr>");

                foreach (DataRow dr in dtInvCat.Rows)
                {
                    dTotal = 0;
                    sb.Append("<tr>");
                    sb.AppendFormat("<td>{0}</td>", dr["INVCAT"].ToString());

                    rowList = dtInvKpi.Select("INVCAT='" + dr["INVCAT"].ToString() + "'");
                    sb.AppendFormat("<td class=\"br-bold\">{0}</td>", rowList[0]["DESCRIPTION"].ToString());
                    rowList = null;

                    foreach (DataRow r in dtCorp.Rows)
                    {
                        if (r["CORP"].ToString() != "VW") //2020-11-06 CL->VW
                        {
                            rowList = dtInvKpi.Select("INVCAT='" + dr["INVCAT"].ToString() + "' AND CORP='" + r["CORP"].ToString() + "'");

                            if (rowList != null && rowList.Length > 0)
                            {
                                sb.AppendFormat("<td>{0}</td>", rowList[0]["KPIB"].ToString());
                                sb.AppendFormat("<td>{0}</td>", rowList[0]["KPIC"].ToString());
                                sb.AppendFormat("<td>{0}</td>", rowList[0]["KPID"].ToString());
                                sb.AppendFormat("<td class=\"br-bold\">{0}</td>", rowList[0]["KPIA"].ToString());

                                dTotal += Convert.ToDouble(rowList[0]["KPID"]);
                            }
                            else
                            {
                                sb.Append("<td>&nbsp;</td>");
                                sb.Append("<td>&nbsp;</td>");
                                sb.Append("<td>&nbsp;</td>");
                                sb.Append("<td class=\"br-bold\">&nbsp;</td>");
                                dTotal += 0;
                            }
                        }
                    }
                    sb.AppendFormat("<td>{0}</td>", dTotal.ToString());
                    sb.Append("</tr>");
                }

                sb.Append("</tbody>");
                sb.Append("</table>");
            }
            rowList = null;

            return sb.ToString();
        }
        else return "";

    }

    private string RenderChartItem(DataTable dtCorp, DataTable dtPeriod, DataTable dtData, string no, string inv, string invText, string yAxi, string numPrefix, string numSuffix)
    {
        DataRow dr = null;
        DataRow dr2 = null;
        DataRow[] rowList = null;
        double dTotal = 0;    //과입고금액 주차별 총합
        int iCL = (inv == "KPIA") ? 1 : 0;    //19-04-08 CL 자동발주율 일시 막기 위함

        StringBuilder sb = new StringBuilder();
        sb.Append("{");
        sb.Append("\"labels\": [");
        for (int i = 0; i < dtCorp.Rows.Count - iCL; i++)
        {
            dr = dtCorp.Rows[i];
            sb.AppendFormat("\"{0}\"", dr["CORP"].ToString());

            if (i <= dtCorp.Rows.Count - 1 - iCL - 1) sb.Append(",");

            if (inv == "KPID" && i == dtCorp.Rows.Count - 1)
            {
                sb.AppendFormat(",\"{0}\"", "TOTAL");
            }
        }
        dr = null;
        sb.Append("],"); //labels

        sb.Append("\"datasets\": [");

        for (int i = 0; i < dtPeriod.Rows.Count; i++)
        {
            dTotal = 0;
            dr = dtPeriod.Rows[i];
            sb.Append("{");
            sb.AppendFormat("\"label\": \"{0}주차\",", dr["IWEEK"].ToString());
            sb.Append("\"data\": [");

            for (int j = 0; j < dtCorp.Rows.Count - iCL; j++)
            {
                dr2 = dtCorp.Rows[j];
                rowList = dtData.Select("CORP='" + dr2["CORP"].ToString() + "' AND IYEAR='" + dr["IYEAR"].ToString() + "' AND IWEEK='" + dr["IWEEK"].ToString() + "'");

                if (rowList != null && rowList.Length > 0)
                {
                    sb.AppendFormat("\"{0}\"", Convert.ToDouble(rowList[0][inv]).ToString());
                    if (inv == "KPID") dTotal += Convert.ToDouble(rowList[0][inv]);
                }
                else
                {
                    sb.Append("\"0\"");
                    if (inv == "KPID") dTotal += 0;
                }

                if (j <= dtCorp.Rows.Count - 1 - iCL - 1) sb.Append(",");
            }
            if (inv == "KPID") sb.AppendFormat(",\"{0}\"", dTotal.ToString());
            sb.Append("],");

            sb.Append("\"borderWidth\": 1,");
            if (i == 0)
            {
                sb.Append("\"backgroundColor\": \"rgba(76, 175, 80, 0.3)\",");
                sb.Append("\"borderColor\": \"#4caf50\"");
            }
            else if (i == 1)
            {
                sb.Append("\"backgroundColor\": \"rgba(0, 150, 136, 0.3)\",");
                sb.Append("\"borderColor\": \"#009688\"");
            }
            else
            {
                sb.Append("\"backgroundColor\": \"rgba(103, 58, 183, 0.3)\",");
                sb.Append("\"borderColor\": \"#673ab7\"");
            }

            if (i == dtPeriod.Rows.Count - 1) sb.Append("}");
            else sb.Append("},");
        }
        dr = null;

        sb.Append("]"); //dataset
        sb.Append("}"); //data

        dr = null;
        dr2 = null;
        rowList = null;

        return sb.ToString();
    }
}

@if (ViewBag.Mode == "ajax")
{
    @Html.Raw(sbChart.ToString())
}
else if (ViewBag.Mode == "table")
{
    @Html.Raw(RenderTable(ViewBag.BoardList))
}
else
{
    <div class="z-list-head d-flex justify-content-between my-2">
        <div class="z-list-page d-flex align-items-center" id="__ListCount">
            <div class="">@Html.Raw(ViewBag.PeriodText)</div>
        </div>
        <div class="z-list-cond d-flex justify-content-end align-items-center wd-45 wd-md-35 wd-lg-30 wd-xl-25">
            <div class="mr-2"><i class="fe-chevron-right"></i> @Resources.Global.Date_View</div>
            <div class="z-list-date input-group">
                <input type="text" class="datepicker form-control start-date" value="@ViewBag.R.lv.start">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button" data-zv-menu="search"><i class="fe-search"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="z-list-body" id="__ListView">
        <div class="row">
            <div class="col-12 col-sm-6 mb-3">
                <div class="z-webpart card">
                    <div class="card-body px-3 py-2">
                        <canvas class="fchart" id="chart-container1"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 mb-3">
                <div class="z-webpart card">
                    <div class="card-body px-3 py-2">
                        <canvas class="fchart" id="chart-container2"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-6 mb-3">
                <div class="z-webpart card">
                    <div class="card-body px-3 py-2">
                        <canvas class="fchart" id="chart-container3"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 mb-3">
                <div class="z-webpart card">
                    <div class="card-body px-3 py-2">
                        <canvas class="fchart" id="chart-container4"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-2 input-group">
            <select class="custom-select ml-1" id="ddlWeek" onchange="_zw.mu.changeWeek();">
                <@Html.Raw(sbChart.ToString())
            </select>
        </div>

        <div class="" id="chart-list">
            @Html.Raw(RenderTable(ViewBag.BoardList))
        </div>
    </div>
}