@using System.Data;
@using System.Text;

@{
    bool isHorizontal = ViewData["LayoutSidenavHorizontal"] != null && ViewData["LayoutSidenavHorizontal"].ToString() == "True";
    //string currentPage = @Request.Url.AbsolutePath;
    //string currentPath = @Request.Url.PathAndQuery;
    string currentCategory = "";

    if (ViewBag.R != null && ViewBag.R.ct != null)
    {
        currentCategory = ViewBag.R["ct"].ToString();
    }

    //Response.Write("qi=>" + Request["qi"]);
    //Response.Write("ct=>" + currentCategory);

    Dictionary<string, DataRow> dicChild = new Dictionary<string, DataRow>();

    foreach (DataRow row in ViewBag.MainMenu.Rows)
    {
        if (row["Permission"].ToString() == "Y" && row["Position"].ToString() == "9")
        {
            if (!dicChild.ContainsKey(row["CT_ID"].ToString()))
            {
                dicChild.Add(row["CT_ID"].ToString(), row);
            }
        }
    }

    //HttpContext.Current.Session["UseWorkTime"] = "N";


}

@functions {
    private Dictionary<string, DataRow> GetChildMenu(string memberOf)
    {
        Dictionary<string, DataRow> rt = new Dictionary<string, DataRow>();

        foreach (DataRow row in ViewBag.MainMenu.Rows)
        {
            if (memberOf == row["MemberOf"].ToString() && row["Permission"].ToString() == "Y" && row["Position"].ToString() == "1")
            {
                if (!rt.ContainsKey(row["CT_ID"].ToString()))
                {
                    rt.Add(row["CT_ID"].ToString(), row);
                }
            }
        }

        return rt;
    }

    private string[] GetMenuPath(DataRow row)
    {
        string[] v = { "", "", "", "", "", "" }; //Area, Controller, Action, Path, Icon, QueryString

        //v[5] = ZumNet.Framework.Util.SecurityHelper.ToBase64("{ct:\"" + row["CT_ID"].ToString() + "\",ctalias:\"" + row["CTAlias"].ToString() + "\",ttl:\"" + row["DisplayName"].ToString() + "\",opnode:\"" + row["OpenNode"].ToString() + "\"}");
        v[5] = Server.UrlEncode("{ct:\"" + row["CT_ID"].ToString() + "\",ctalias:\"" + row["CTAlias"].ToString() + "\",ttl:\"" + row["DisplayName"].ToString() + "\",opnode:\"" + row["OpenNode"].ToString() + "\"}");

        switch (row["CTAlias"].ToString().ToLower())
        {
            case "ea":
                v[0] = "EA"; v[1] = "Main"; v[2] = "List"; v[3] = "/EA/Main/List"; v[4] = "fe-edit"; break; // 전자결재

            case "mc":
                v[0] = "ExS"; v[1] = "MC"; v[2] = "Index"; v[3] = "/ExS/MC/Index"; v[4] = "fe-box"; break; // 모델별원가 mdi-text-box-search-outline

            case "ce":
                v[0] = "ExS"; v[1] = "CE"; v[2] = "Index"; v[3] = "/ExS/CE/Index"; v[4] = ""; break; // 개발원가견적

            case "schedule":
                v[0] = "TnC"; v[1] = "ToDo"; v[2] = "Index"; v[3] = "/TnC/ToDo/Index"; v[4] = "fe-calendar"; break; // 업무일지 mdi mdi-calendar-check

            case "mail":
                v[0] = ""; v[1] = "_url_"; v[2] = ""; v[3] = ""; v[4] = "fe-mail"; break; // 메일

            case "kdoc":
                v[0] = "Docs"; v[1] = "Edm"; v[2] = "Index"; v[3] = "/Docs/Edm/Index"; v[4] = "fe-file-text"; break; // 문서관리

            case "tms":
                //v[0] = "Docs"; v[1] = "Edm"; v[2] = "Index"; v[3] = "/Docs/Edm/Index"; v[4] = "fas fa-drafting-compass"; break; // 설계개발 mdi mdi-ruler-square
                v[0] = "Docs"; v[1] = "Edm"; v[2] = "List"; v[3] = "/Docs/Edm/List"; v[4] = "fas fa-drafting-compass"; break; // 설계개발 mdi mdi-ruler-square

            case "cms":
                //v[0] = "Docs"; v[1] = "Edm"; v[2] = "Index"; v[3] = "/Docs/Edm/Index"; v[4] = "fe-bar-chart-2"; break; // 변경관리
                v[0] = ""; v[1] = "Report"; v[2] = "Index"; v[3] = "/Report/Index"; v[4] = "fe-bar-chart-2"; break; // 변경관리

            case "tooling":
                //v[0] = "Docs"; v[1] = "Edm"; v[2] = "Index"; v[3] = "/Docs/Edm/Index"; v[4] = "fas fa-tools"; break; // 금형관리
                v[0] = ""; v[1] = "Report"; v[2] = "Index"; v[3] = "/Report/Index"; v[4] = "fas fa-tools"; break; // 금형관리

            case "improvement":
                //v[0] = "Docs"; v[1] = "Edm"; v[2] = "Index"; v[3] = "/Docs/Edm/Index"; v[4] = "fas fa-chart-line"; break; // 생산현황 fe-pie-chart
                v[0] = ""; v[1] = "Report"; v[2] = "Index"; v[3] = "/Report/Index"; v[4] = "fas fa-chart-line"; break; // 생산현황 fe-pie-chart

            case "kms":
                v[0] = "Docs"; v[1] = "Kms"; v[2] = "Index"; v[3] = "/Docs/Kms/Index"; v[4] = "far fa-clipboard"; break; // 지식관리

            case "lcm":
                v[0] = "ExS"; v[1] = "Lcm"; v[2] = "Index"; v[3] = "/ExS/Lcm/Index"; v[4] = "fas fa-chalkboard-teacher"; break; // 교육관리

            case "booking":
                v[0] = "TnC"; v[1] = "Booking"; v[2] = "Index"; v[3] = "/TnC/Booking/Index"; v[4] = "far fa-building"; break; // 자원관리

            case "bboard":
                //Response.Write("===" + "/" + v[5]);
                v[0] = ""; v[1] = "Board"; v[2] = "Index"; v[3] = "/Board/Index"; v[4] = "fas fa-list-ul"; break; // 게시판 mdi-format-list-bulleted-square

            case "messenger":
                v[0] = ""; v[1] = "_url_"; v[2] = ""; v[3] = ""; v[4] = "fas fa-comment-dots"; break; // 메신저

            case "erp":
                v[0] = ""; v[1] = "_url_"; v[2] = ""; v[3] = ""; v[4] = "fas fa-chart-pie"; break; // ERP

            case "jaego":
                //v[0] = "Docs"; v[1] = "Edm"; v[2] = "Index"; v[3] = "/Docs/Edm/Index"; v[4] = "fas fa-chart-bar"; break; // 재고현황
                v[0] = ""; v[1] = "Report"; v[2] = "Index"; v[3] = "/Report/Index"; v[4] = "fas fa-chart-bar"; break; // 재고현황

            case "csr":
                v[0] = "Docs"; v[1] = "Edm"; v[2] = "Index"; v[3] = "/Docs/Edm/Index"; v[4] = "fas fa-handshake"; break; // CSR

            case "orgmap":
                v[0] = ""; v[1] = "Organ"; v[2] = "Index"; v[3] = "/Organ/Index"; v[4] = ""; break; // 조직도

            case "linksite":
                v[0] = ""; v[1] = "LinkSite"; v[2] = "Index"; v[3] = "/LinkSite/Index"; v[4] = ""; break; // 링크사이트

            case "worktime":
                v[0] = "ExS"; v[1] = "WorkTime"; v[2] = "Index"; v[3] = "/ExS/WorkTime/Index"; v[4] = ""; break; // 근무관리

            case "board.depart":
                v[0] = ""; v[1] = "Board"; v[2] = "List"; v[3] = "/Board/List"; v[4] = ""; break; // 부서별 게시판

            case "external.post":
                v[0] = ""; v[1] = "_url_"; v[2] = ""; v[3] = ""; v[4] = ""; break; // 현황판

            default:

                break;
        }
        return v;
    }

    /// <summary>
    /// 오늘 날짜(양력, 음력) 구성
    /// </summary>
    /// <returns></returns>
    private string ShowSolarLunarDate()
    {
        DateTime nowDate = Convert.ToDateTime(ViewBag.R.current.date);

        StringBuilder sb = new StringBuilder();
        sb.AppendFormat("{0}.{1}{2}.{3}{4}", nowDate.Year.ToString(), (nowDate.Month < 10 ? " " : ""), nowDate.Month.ToString()
                            , (nowDate.Day < 10 ? " " : ""), nowDate.Day.ToString());

        string sYoil = "";
        switch (nowDate.DayOfWeek)
        {
            case DayOfWeek.Sunday: sYoil = "일"; break;
            case DayOfWeek.Monday: sYoil = "월"; break;
            case DayOfWeek.Tuesday: sYoil = "화"; break;
            case DayOfWeek.Wednesday: sYoil = "수"; break;
            case DayOfWeek.Thursday: sYoil = "목"; break;
            case DayOfWeek.Friday: sYoil = "금"; break;
            case DayOfWeek.Saturday: sYoil = "토"; break;
        }

        sb.AppendFormat(" {0} ", sYoil);

        ZumNet.Web.Bc.LunisolarDate lunDate = ZumNet.Web.Bc.LunisolarDate.ConvertFromSolarDate(nowDate);
        sb.AppendFormat("({0} {1}.{2})", "음력", lunDate.Month.ToString(), lunDate.Day.ToString());
        lunDate = null;

        return sb.ToString();
    }

    private string GetWorkStatusText()
    {
        string rt = "";
        if (Session["UseWorkTime"].ToString() == "Y")
        {
            string ss = ViewBag.R.current.ws;
            if (ss != "" && ss != "N/A")
            {
                if (ss == "N") rt = Resources.Global.InWork;
                else if (ss == "B") rt = Resources.Global.InRest;
                else if (ss == "O") rt = Resources.Global.InOut;
                else if (ss == "T") rt = Resources.Global.InBiz;
                else if (ss == "E") rt = Resources.Global.InTraining;
                //else if (ss == "Z") rt = Resources.Global.InOffWork;

                rt = String.Format("<div class=\"mt-2\"><a href=\"javascript:void(0)\" class=\"sidenav-link\" data-navmenu=\"workstatus\"><i class=\"fa fa-clock\"></i> {0} <i class=\"fa fa-angle-double-right\"></i> {1}</a></div>", Resources.Global.WorkCond, rt);
            }
        }
        return rt;
    }
}

<!-- Layout sidenav -->
<div id="layout-sidenav" class="@(isHorizontal ? "layout-sidenav-horizontal sidenav-horizontal container-p-x flex-grow-0" : "layout-sidenav sidenav-vertical") sidenav bg-sidenav-theme">
    @if (!isHorizontal)
    {
        <a href="/" class="app-brand">
            <span class="app-brand-logo">
                <img src="~/images/logo-sm.png" />
            </span>
            <span class="app-brand-text sidenav-text font-weight-normal ml-2">
                <img src="~/images/logo-2-light.png" />
            </span>
        </a>

        <div class="sidenav-divider mt-0"></div>
    }

    <!-- Inner -->
    <ul class="sidenav-inner">
        @if (!isHorizontal)
        {
            <li class="sidenav-header fs-12 py-2">
                <div class="">
                    <div class="text-center">
                        <div class="text-warning">@ShowSolarLunarDate()</div>@Html.Raw(GetWorkStatusText())
                    </div>
                </div>
            </li>

            <li class="sidenav-divider my-1"></li>
        }

        <li class="sidenav-item@(currentCategory == "" || currentCategory == "0" || dicChild.ContainsKey(currentCategory) ? " active open" : "")">
            <a href="javascript:void(0)" class="sidenav-link sidenav-toggle"><i class="fe-home sidenav-icon"></i><div>@Resources.Global.Home</div></a>

            <ul class="sidenav-menu my-0">
                <li class="sidenav-item@(currentCategory == "" || currentCategory == "0" ? " active" : "")">
                    <a href="/" class="sidenav-link"><div>@Resources.Global.Portal</div></a>
                </li>

                @foreach (string k in dicChild.Keys)
                {
                    string[] v = GetMenuPath(dicChild[k]);
                    if (v[0] != "" || v[1] != "")
                    {
                        <li class="sidenav-item@(currentCategory == k ? " active" : "")">
                            <a href="@Url.Action(v[2], v[1], new { Area = v[0], qi = v[5] })" class="sidenav-link"><div>@dicChild[k]["DisplayName"]</div></a>
                        </li>
                    }
                }

            </ul>
        </li>

        @foreach (DataRow row in ViewBag.MainMenu.Rows)
        {
            if (row["Permission"].ToString() == "Y" && row["MemberOf"].ToString() == "0" && row["Position"].ToString() == "0")
            {
                string[] v = GetMenuPath(row);

                if (v[0] != "" || v[1] != "")
                {
                    if (v[1] != "" && v[1] == "_url_")
                    {
                        <li class="sidenav-item" data-navmenu="@row["CTAlias"].ToString().ToLower()">
                            <a href="javascript:void(0)" class="sidenav-link"><i class="@v[4] sidenav-icon"></i><div>@row["DisplayName"]</div></a>
                        </li>
                    }
                    else
                    {
                        dicChild = null;
                        dicChild = GetChildMenu(row["CT_ID"].ToString());

                        if (dicChild.Count > 0)
                        {
                            <li class="sidenav-item@(currentCategory == row["CT_ID"].ToString() || dicChild.ContainsKey(currentCategory) ? " active open" : "")">
                                <a href="javascript:void(0)" class="sidenav-link sidenav-toggle"><i class="@v[4] sidenav-icon"></i><div>@row["DisplayName"]</div></a>
                                
                                <ul class="sidenav-menu my-0">
                                    <li class="sidenav-item@(currentCategory == row["CT_ID"].ToString() ? " active" : "")">
                                        <a href="@Url.Action(v[2], v[1], new { Area = v[0], qi = v[5] })" class="sidenav-link"><div>@row["DisplayName"]</div></a>
                                    </li>

                                    @foreach (string k in dicChild.Keys)
                                    {
                                        string[] c = GetMenuPath(dicChild[k]);
                                        if (c[0] != "" || c[1] != "")
                                        {
                                            if (c[1] == "_url_")
                                            {
                                                <li class="sidenav-item" data-navmenu="@dicChild[k]["CTAlias"].ToString().ToLower()">
                                                    <a href="javascript:void(0)" class="sidenav-link"><div>@dicChild[k]["DisplayName"]</div></a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="sidenav-item@(currentCategory == k ? " active" : "")">
                                                    <a href="@Url.Action(c[2], c[1], new { Area = c[0], qi = c[5] })" class="sidenav-link"><div>@dicChild[k]["DisplayName"]</div></a>
                                                </li>
                                            }
                                        }
                                    }

                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="sidenav-item@(currentCategory == row["CT_ID"].ToString() ? " active" : "")">
                                <a href="@Url.Action(v[2], v[1], new { Area = v[0], qi = v[5] })" class="sidenav-link"><i class="@v[4] sidenav-icon"></i><div>@row["DisplayName"]</div></a>
                            </li>
                        }
                        
                    }
                }
            }
        }
    </ul>
</div>
<!-- / Layout sidenav -->
