<div class="z-lv-menu d-flex">
    <button class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.Refresh" data-zv-menu="refresh"><i class="fe-refresh-cw"></i></button>
    @*<button class="btn btn-outline-primary text-big" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.ComposeForm" data-zv-menu="write"><i class="fe-edit-2"></i></button>*@
    @if (ViewBag.CurBox[2] != "te" || ViewBag.CurBox[2] != "wd" || ViewBag.CurBox[2] != "wt" || ViewBag.CurBox[2] != "do")
    {
        <div class="dropdown ml-1">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                @Resources.Global.MaskRead
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="javascript:void(0);" onclick="_zw.fn.readMask('I');">@Resources.Global.MaskRead</a>
                <a class="dropdown-item" href="javascript:void(0);" onclick="_zw.fn.readMask('D');">@Resources.Global.MaskUnRead</a>
            </div>
        </div>
    }
</div>

<div class="px-1 flex-grow-1"></div>
<div class="d-flex z-lv-cond">
    @if (ViewBag.CurBox[2] != "wt")
    {
        if (ViewBag.CurBox[2] == "ep" || ViewBag.CurBox[2] == "av" || ViewBag.CurBox[2] == "go")
        {
            <div class="input-group mr-1 z-lv-date">
                <input type="text" class="form-control wd-lg-60 wd-xl-60" data-val="DocName" placeholder="@Resources.Global.DocName" autocomplete="off" />
                <input type="text" class="form-control wd-lg-40 wd-xl-40" data-val="Creator" placeholder="@Resources.Global.Writer" autocomplete="off" />
            </div>
        }
        else
        {
            <div class="datepicker input-group input-daterange z-lv-date mr-1">
                <input type="text" class="form-control start-date" value="@ViewBag.R.lv.start">
                <div class="input-group-prepend">
                    <span class="input-group-text">~</span>
                </div>
                <input type="text" class="form-control end-date" value="@ViewBag.R.lv.end">
            </div>
        }

        <div class="input-group z-lv-search">
            <select class="custom-select">
                <option value="">@Resources.Global.Select...</option>
                @if (ViewBag.CurBox[2] == "ep" || ViewBag.CurBox[2] == "av" || ViewBag.CurBox[2] == "go")
                {
                    <option value="MsgType"@(ViewBag.R.lv.search == "MsgType" ? " selected" : "")>@Resources.Global.Division</option>
                    <option value="PIName"@(ViewBag.R.lv.search == "PIName" ? " selected" : "")>@Resources.Global.Title</option>
                    <option value="CreatorDept"@(ViewBag.R.lv.search == "CreatorDept" ? " selected" : "")>@Resources.Global.WriteDept</option>
                    <option value="@ViewBag.CurBox[5]"@(ViewBag.R.lv.search == ViewBag.CurBox[5] ? " selected" : "")>@ViewBag.CurBox[7]</option>
                }
                else if (ViewBag.CurBox[2] == "do")
                {
                    <option value="WnDisplay"@(ViewBag.R.lv.search == "WnDisplay" ? " selected" : "")>@Resources.Global.Title</option>
                }
                else if (ViewBag.CurBox[2] == "te")
                {
                    <option value="DocName"@(ViewBag.R.lv.search == "DocName" ? " selected" : "")>@Resources.Global.DocName</option>
                    <option value="Subject"@(ViewBag.R.lv.search == "Subject" ? " selected" : "")>@Resources.Global.Title</option>
                    <option value="@ViewBag.CurBox[5]"@(ViewBag.R.lv.search == ViewBag.CurBox[5] ? " selected" : "")>@ViewBag.CurBox[7]</option>
                }
                else if (ViewBag.CurBox[2] == "wd")
                {
                    <option value="DocName"@(ViewBag.R.lv.search == "DocName" ? " selected" : "")>@Resources.Global.DocName</option>
                    <option value="PIName"@(ViewBag.R.lv.search == "PIName" ? " selected" : "")>@Resources.Global.Title</option>
                    <option value="@ViewBag.CurBox[5]"@(ViewBag.R.lv.search == ViewBag.CurBox[5] ? " selected" : "")>@ViewBag.CurBox[7]</option>
                }
                else
                {
                    if (ViewBag.CurBox[2] != "dl" && ViewBag.CurBox[2] != "cf")
                    {
                        <option value="MsgType"@(ViewBag.R.lv.search == "MsgType" ? " selected" : "")>@Resources.Global.Division</option>
                    }
                    <option value="DocName"@(ViewBag.R.lv.search == "DocName" ? " selected" : "")>@Resources.Global.DocName</option>
                    <option value="PIName"@(ViewBag.R.lv.search == "PIName" ? " selected" : "")>@Resources.Global.Title</option>
                    <option value="Creator"@(ViewBag.R.lv.search == "Creator" ? " selected" : "")>@Resources.Global.Writer</option>
                    <option value="CreatorDept"@(ViewBag.R.lv.search == "CreatorDept" ? " selected" : "")>@Resources.Global.WriteDept</option>
                    <option value="@ViewBag.CurBox[5]"@(ViewBag.R.lv.search == ViewBag.CurBox[5] ? " selected" : "")>@ViewBag.CurBox[7]</option>
                }
            </select>
            <input type="text" class="form-control search-text" placeholder="@Resources.Global.Search" value="@ViewBag.R.lv.searchtext">
            <span class="input-group-append">
                <button class="btn btn-secondary" type="button" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.Search" data-zv-menu="search"><i class="fe-search"></i></button>
            </span>
        </div>
    }
</div>