<div class="z-lv-menu btn-group-sm">
    <button class="btn btn-outline-secondary text-big" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.Refresh" data-zv-menu="refresh"><i class="fe-refresh-cw"></i></button>
    <button class="btn btn-outline-primary text-big" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.ComposeForm" data-zv-menu="write"><i class="fe-edit-2"></i></button>
</div>

<div class="px-1 flex-grow-1"></div>
<div class="d-flex z-lv-cond">
    @if (ViewBag.CurBox[2] != "wt")
    {
        if (ViewBag.CurBox[2] == "ep" || ViewBag.CurBox[2] == "av" || ViewBag.CurBox[2] == "go")
        {
            <div class="input-group mr-1 z-lv-date">
                <input type="text" class="form-control wd-lg-60 wd-xl-60" placeholder="@Resources.Global.DocName">
                <input type="text" class="form-control wd-lg-40 wd-xl-40" placeholder="@Resources.Global.Writer">
            </div>
        }
        else
        {
            <div class="datepicker input-group input-daterange z-lv-date mr-1">
                <input type="text" class="form-control start-date" value="@ViewBag.R.lv.start">
                <div class="input-group-prepend">
                    <span class="input-group-text">~</span>
                </div>
                <input type="text" class="form-control end-date" value="@ViewBag.R.lv.end">
            </div>
        }

        <div class="input-group z-lv-search">
            <select class="custom-select">
                <option value="">@Resources.Global.Select...</option>
                <option value="">@Resources.Global.Title</option>
                <option value="">@Resources.Global.Writer</option>
            </select>
            <input type="text" class="form-control search-text" placeholder="@Resources.Global.Search" value="@ViewBag.R.lv.searchtext">
            <span class="input-group-append">
                <button class="btn btn-secondary" type="button" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.Search" data-zv-menu="search"><i class="fe-search"></i></button>
            </span>
        </div>
    }
</div>