@using System.Data;
@using System.Text;
@using Newtonsoft.Json;

@{
    ViewBag.Title = ViewBag.R["ttl"]; //"게시판";
    Layout = "~/Views/Shared/Layouts/_Layout2Flex.cshtml";

}

@section Styles {
    @Styles.Render("~/bundle/vendor/css/jstree/themes/default/style")
    @Styles.Render("~/bundle/vendor/css/pages/messages")

    @Styles.Render("~/Content/ea.css")
}

@section Scripts {

    @Scripts.Render("~/Scripts/EA/ea.js")
    <script type="text/javascript">(function () {_zw.V = @Html.Raw(JsonConvert.SerializeObject(ViewBag.R))}());</script>
}

<!--
=================================================================
**************************** CONTENT ****************************
-->
<!-- `.messages-wrapper` fills all available space of container -->
<div class="messages-wrapper">

    <!-- sidebox -->
    @Html.Partial("_LeftMenu")
    <!-- / sidebox -->

    <!-- content -->
    <div class="d-flex flex-column w-100">
        <!-- Header -->
        <div class="flex-grow-0">
            <div class="d-flex justify-content-between container-p-x m-0 mt-1 pt-3" style="padding-bottom: .65rem !important">
                <div class="d-flex align-items-center font-weight-bold">
                    <div class="h5 mb-0">
                        <a href="javascript:void(0)" class="messages-sidebox-toggler d-none d-md-block d-lg-none align-self-center px-2 mr-3" data-toggle="modal" data-target=".messages-sidebox"><i class="fe-more-vertical"></i></a>
                    </div>

                    <div class="h5 mb-0 z-ttl">
                        <i class="mdi mdi-file-table-box-multiple-outline"></i> &nbsp;<span>@ViewBag.Title</span>
                    </div>
                </div>
                <div id="__ListCount" class="d-flex align-items-center z-lv-page">
                    @Html.Partial("_ListCount")
                </div>
            </div>

            <hr class="border-light m-0 d-none">

            <div id="__ListMenuSearch" class="d-flex align-items-center container-p-x" style="padding-bottom: .6rem !important">
                @Html.Partial("_ListMenuSearch")
            </div>
        </div>
        <!-- / Header -->

        <div class="flex-grow-0 z-lv-hdr">
            <ul id="__ListHead" class="list-group d-none d-sm-block">
                @Html.Partial("_ListHead")
            </ul>
        </div>

        <div class="flex-grow-1 position-relative">
            <!-- Remove `.messages-scroll` and add `.flex-grow-1` if you don't need scroll -->
            <div class="messages-content flex-grow-0 z-lv-item">
                <ul id="__ListView" class="list-group messages-list">
                    @Html.Partial("_ListView")
                </ul>
                <ul id="__ListPage" class="pagination pagination-sm justify-content-center pt-3 border-top">
                    @Html.Partial("_ListPagination")
                </ul>
            </div>
        </div>
    </div>
    <!-- / content -->

</div><!-- / .messages-wrapper -->
