@using System.Data;
@using System.Text;
@using Newtonsoft.Json;
@using ZumNet.Framework.Util;
@{
	ViewBag.Title = "양식 담당 관리";
}

@section Styles {
	@Styles.Render("~/bundle/vendor/css/bootstrap-select/bootstrap-select")
	@Styles.Render("~/bundle/vendor/css/select2/select2")
}

@section Scripts {
	@Scripts.Render("~/bundle/vendor/js/bootstrap-select/bootstrap-select")
	@Scripts.Render("~/bundle/vendor/js/select2/select2")

	<script type="text/javascript">
		var deptList = @Html.Raw(ViewData["deptlist"]);
		var memberList = @Html.Raw(ViewData["memberlist"]);

		$(document).ready(function () {
			var optionDeptHtml = "";
			var optionMemberHtml = "";

			if (deptList != "" && deptList.length > 0) {
				for (var i = 0; i < deptList.length; i++) {
					optionDeptHtml += "<option value=\"" + deptList[i].GR_ID + "\">" + deptList[i].DisplayName + "</option>";
				}
			}

			if (memberList != "" && memberList.length > 0) {
				for (var j = 0; j < memberList.length; j++) {
					optionMemberHtml += "<option value=\"" + memberList[j].UserID + "\">(" + memberList[j].GroupName + ") " + memberList[j].Grade1 + " " + memberList[j].DisplayName + "</option>";
				}
			}

			$(".select-dept").each(function (index) {
				$(this)
					.wrap("<div class=\"position-relative\"></div>")
					.select2({
						placeholder: "부서를 선택하세요.",
						dropdownParent: $(this).parent()
					})
					.html(optionDeptHtml);
			});

			$(".select-member").each(function (index) {
				$(this)
					.wrap("<div class=\"position-relative\"></div>")
					.select2({
						placeholder: "담당자를 선택하세요.",
						dropdownParent: $(this).parent()
					})
					.html(optionMemberHtml);
			});

			// 설정되어 있는 담당부서 처리
			$(".select-dept[data-charge != '']").each(function () {
				var array = [];

				for (var i = 0; i < $(this).attr("data-charge").split(',').length; i++) {
					array.push($(this).attr("data-charge").split(',')[i]);
				}

				$(this).val(array).trigger('change'); 
			});

			// 설정되어 있는 담당자 처리
			$(".select-member[data-charge != '']").each(function () {
				var array = [];

				for (var i = 0; i < $(this).attr("data-charge").split(',').length; i++) {
					array.push($(this).attr("data-charge").split(',')[i]);
				}

				$(this).val(array).trigger('change'); 
			});
		});
	</script>
}

<h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
	양식 담당 관리
</h4>

<div class="table-responsive">
	<table id="tbl_code" class="table table-bordered mb-0">
		<thead>
			<tr>
				<th style="width:8%">분류</th>
				<th style="width:10%">양식명</th>
				<th style="width:10%">테이블명</th>
				<th style="width:7%">버전</th>
				<th style="width:25%">담당부서</th>
				<th style="width:33%">담당자</th>
				<th style="width:7%">비고</th>
			</tr>
		</thead>
		<tbody>
			@if ((ViewData["formclass"] as DataTable)?.Rows?.Count > 0)
			{
				foreach (DataRow drClass in (ViewData["formclass"] as DataTable).Rows)
				{
					if ((ViewData["formlist"] as DataTable)?.Rows?.Count > 0)
					{
						DataTable dtSubForm = (ViewData["formlist"] as DataTable).AsEnumerable().Where(x => StringHelper.SafeString(x["ClassID"]) == StringHelper.SafeString(drClass["ClassID"])).OrderBy(x => x["DocName"]).CopyToDataTable();

						if (dtSubForm?.Rows?.Count > 0)
						{
							foreach (DataRow drList in dtSubForm.Rows)
							{
			<tr data-formid="@drList["FormID"].ToString()">
				<td>
					@drClass["ClassName"].ToString()
				</td>
				<td>
					@drList["DocName"].ToString()
				</td>
				<td>
					@drList["XslName"].ToString()
				</td>
				<td>
					@drList["Version"].ToString()
				</td>
				<td>
					<select class="select-dept form-control" multiple style="width: 100%" data-charge="@drList["ChargeDept"].ToString()"></select>
				</td>
				<td>
					<select class="select-member form-control" multiple style="width: 100%" data-charge="@drList["ChargeMember"].ToString()"></select>
				</td>
				<td>
					<button type="button" class="btn btn-default" onclick="">저장</button>
				</td>
			</tr>
							}
						}
					}
				}
			}
		</tbody>
	</table>
</div>

