@using System.Data;
@using System.Text;
@using Newtonsoft.Json;
@using ZumNet.Framework.Util;
@{
	ViewBag.Title = "양식 담당 관리";
}

@section Styles {
	@Styles.Render("~/bundle/vendor/css/bootstrap-select/bootstrap-select")
	@Styles.Render("~/bundle/vendor/css/select2/select2")
}

@section Scripts {
	@Scripts.Render("~/bundle/vendor/js/bootstrap-select/bootstrap-select")
	@Scripts.Render("~/bundle/vendor/js/select2/select2")

	<script type="text/javascript">
		var deptList = @Html.Raw(ViewData["deptlist"]);
		var memberList = @Html.Raw(ViewData["memberlist"]);

		$(document).ready(function () {
			var optionDeptHtml = "";
			var optionMemberHtml = "";

			if (deptList != "" && deptList.length > 0) {
				for (var i = 0; i < deptList.length; i++) {
					optionDeptHtml += "<option value=\"" + deptList[i].GR_ID + "\">" + deptList[i].DisplayName + "</option>";
				}

				$("#selDept").each(function () {
					$(this)
						.wrap("<div class=\"position-relative\"></div>")
						.select2({
							placeholder: "부서를 선택하세요.",
							dropdownParent: $(this).parent()
						})
						.html(optionDeptHtml);
				});
			}

			if (memberList != "" && memberList.length > 0) {
				for (var j = 0; j < memberList.length; j++) {
					optionMemberHtml += "<option value=\"" + memberList[j].UserID + "\" data-deptid=\"" + memberList[j].GR_ID + "\">(" + memberList[j].GroupName + ") " + memberList[j].Grade1 + " " + memberList[j].DisplayName + "</option>";
				}

				$("#selMember").each(function () {
					$(this)
						.wrap("<div class=\"position-relative\"></div>")
						.select2({
							placeholder: "담당자를 선택하세요.",
							dropdownParent: $(this).parent()
						})
						.html(optionMemberHtml);
				});
			}
		});

		function editCharge(obj, formID, chargeDept, chargeMember) {
			// 초기화
			$("#btnModalSave").attr("data-formid", "");
			$("#selDept,#selMember").val(null).trigger("change");

			if (chargeDept != "") {
				var arrayDept = [];

				for (var i = 0; i < chargeDept.split(',').length; i++) {
					arrayDept.push(chargeDept.split(',')[i]);
				}

				$("#selDept").val(arrayDept).trigger('change'); 
			}

			if (chargeMember != "") {
				var arrayMember = [];

				for (var i = 0; i < chargeMember.split(',').length; i++) {
					arrayMember.push(chargeMember.split(',')[i]);
				}

				$("#selMember").val(arrayMember).trigger('change'); 
			}

			$("#btnModalSave").attr("data-formid", formID);
			$("#modalDefault").modal("show");
		}

		// 코드 아이템 편집
		function saveChargeInfo() {
			var formID = $("#btnModalSave").attr("data-formid");

			if (formID == "") {
				return;
			}

			if (!window.confirm("변경사항을 저장하시겠습니까?")) {
				return;
			}

			@*@chargejson =   
	  N'[
		{
			"ChargeID" : 1354,
			"ObjectType" : "GR",
			"Seq" : 1,
			"ChargeDeptID" : 0,
			"Reserved1" : ""
		},
		{
			"ChargeID" : 101361,
			"ObjectType" : "UR",
			"Seq" : 1,
			"ChargeDeptID" : 1478,
			"Reserved1" : ""
		}
	]'*@  
			
			var chargeInfoArray = [];
			var changeChargeDeptInfo = "";
			var changeChargeMemberInfo = "";

			// 현재 설정된 부서 정보
			if ($("#selDept").val() != "") {
				for (var i = 0; i < $("#selDept").val().length; i++) {
					var chargeInfoDept = {};
					chargeInfoDept.ChargeID = $("#selDept").val()[i];
					chargeInfoDept.ObjectType = "GR";
					chargeInfoDept.Seq = i + 1;
					chargeInfoDept.ChargeDeptID = 0;
					chargeInfoDept.Reserved1 = "";
					
					chargeInfoArray.push(chargeInfoDept);

					changeChargeDeptInfo += ((i == 0) ? "" : ", ") + $("#selDept option[value='" + chargeInfoDept.ChargeID + "']").text();
				}
			}

			// 현재 설정된 부서원 정보
			if ($("#selMember").val() != "") {
				for (var i = 0; i < $("#selMember").val().length; i++) {
					var chargeInfoMember = {};
					chargeInfoMember.ChargeID = $("#selMember").val()[i];
					chargeInfoMember.ObjectType = "UR";
					chargeInfoMember.Seq = i + 1;
					chargeInfoMember.ChargeDeptID = $("#selMember option[value='" + chargeInfoMember.ChargeID + "']").attr("data-deptid");
					chargeInfoMember.Reserved1 = "";
					
					chargeInfoArray.push(chargeInfoMember);

					changeChargeMemberInfo += ((i == 0) ? "" : ", ") + $("#selMember option[value='" + chargeInfoMember.ChargeID + "']").text();
				}
			}

			$.ajax({
                url: '@Url.Action("UpdateChargeInfo", "App")',
				type: 'POST',
				dataType: 'JSON',
				data: '{formID:"' + formID + '", chargeJson: ' + JSON.stringify(chargeInfoArray) + '}',
				success: function (result) {
					if (result.code != "OK") {
						alert(result.message);
						return;
					}

					alert("정상적으로 처리되었습니다.");
					$("#modalDefault").modal("hide");

					// 변경된 정보 설정
					$("tr[data-formid='" + formID + "'] td:eq(4)").html(changeChargeDeptInfo);
					$("tr[data-formid='" + formID + "'] td:eq(5)").html(changeChargeMemberInfo);
                }
			});
		}
	</script>
}

<h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
	양식 담당 관리
</h4>

<div class="modal fade" id="modalDefault">
	<div class="modal-dialog">
		<form class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">
					담당부서/담당자 변경
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
			</div>
			<div class="modal-body">
				<div class="form-row">
					<div class="form-group col">
						<label class="form-label">담당부서</label>
						<select id="selDept" class="form-control" multiple style="width: 100%"></select>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col">
						<label class="form-label">담당자</label>
						<select id="selMember" class=" form-control" multiple style="width: 100%"></select>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" id="btnModalClose" data-dismiss="modal">닫기</button>
				<button type="button" class="btn btn-primary" id="btnModalSave" onclick="saveChargeInfo();" data-formid="">변경</button>
			</div>
		</form>
	</div>
</div>

<div class="table-responsive">
	<table id="tbl_code" class="table table-bordered mb-0">
		<thead>
			<tr>
				<th style="width:8%">분류</th>
				<th style="width:10%">양식명</th>
				<th style="width:10%">테이블명</th>
				<th style="width:7%">버전</th>
				<th style="width:25%">담당부서</th>
				<th style="width:33%">담당자</th>
				<th style="width:7%">비고</th>
			</tr>
		</thead>
		<tbody>
			@if ((ViewData["formclass"] as DataTable)?.Rows?.Count > 0)
			{
				foreach (DataRow drClass in (ViewData["formclass"] as DataTable).Rows)
				{
					if ((ViewData["formlist"] as DataTable)?.Rows?.Count > 0)
					{
						DataTable dtSubForm = (ViewData["formlist"] as DataTable).AsEnumerable().Where(x => StringHelper.SafeString(x["ClassID"]) == StringHelper.SafeString(drClass["ClassID"])).OrderBy(x => x["DocName"]).CopyToDataTable();

						if (dtSubForm?.Rows?.Count > 0)
						{
							foreach (DataRow drList in dtSubForm.Rows)
							{
			<tr data-formid="@drList["FormID"].ToString()">
				<td>@drClass["ClassName"].ToString()</td>
				<td>@drList["DocName"].ToString()</td>
				<td>@drList["XslName"].ToString()</td>
				<td>@drList["Version"].ToString()</td>
				<td>@drList["ChargeDeptDisplayName"].ToString()</td>
				<td>@drList["ChargeMemberDisplayName"].ToString()</td>
				<td><button type="button" class="btn btn-default" onclick="editCharge(this, '@drList["FormID"].ToString()', '@drList["ChargeDept"].ToString()', '@drList["ChargeMember"].ToString()')">변경</button></td>
			</tr>
							}
						}
					}
				}
			}
		</tbody>
	</table>
</div>

