@using System.Data;
@using System.Text;
@using Newtonsoft.Json;
@{
    ViewBag.Title = "결재 양식 분류 관리";
}

@section Styles {
    @Styles.Render("~/bundle/vendor/css/datatables/datatables")
}

@section Scripts {
    @Scripts.Render("~/bundle/vendor/js/datatables/datatables")

    <script type="text/javascript">
        var tbl_list;
		var domainID = "@Session["DNID"].ToString()";

		$(document).ready(function () {
			searchList("");

			$("#txtSearch").on("keyup", function (e) {
				if (e.keyCode == 13 && $.trim($(this).val()) != "") {
					searchList();
				}
			});

			$("#btnSearch").on("click", function () {
				searchList();
			});
		});

		function searchList() {
            $.ajax({
                url: '@Url.Action("SearchEAFormClass", "App")',
				type: 'POST',
                dataType: 'JSON',
				data: '{dnID : ' + domainID + '}',
				success: function (result) {
					if (result.code != "OK") {
						alert(result.message);
						return;
					}

                    if (tbl_list) {
						tbl_list.destroy();
					}

                    tbl_list = $('#tbl_list').DataTable({
                        data: $(result.data),
                        columns: [
	                        { data: "ClassID" },
	                        { data: "ClassName" },
							{ data: "Seq" },
                            { data: "SubFormCount" },
                            { data: null }
						],
                        lengthChange: false,
                        searching: true,
                        info: false,
                        displayLength: 15,
                        order: [],
                        ordering: true,
                        language: dataTable_lang_kor,
						createdRow: function (row, data, index) {
							$('td', row).eq(4).addClass('text-center text-nowrap').html('').append("<button type='button' class='btn btn-default' onclick='editItem(this)'>편집</button>&nbsp;&nbsp;<button type='button' class='btn btn-default' onclick='removeItem(this)'>삭제</button>");
                        }
					});

                    $("#tbl_list_wrapper").find("div.row:eq(0)").find("div:eq(0)").empty();
					$("#tbl_list_wrapper").find("div.row:eq(0)").find("div:eq(0)").append("<div class=\"dataTables_length\"><label>" + result.recordsTotal + "건의 결재 양식 분류가 존재합니다.</label></div>");
                }
			});
		}

		var mode = "I";

		function resetModelInfo() {
			mode = "I";

			$("#modalDefault").find("input").val("");
		}

        function editItem(obj) {
			resetModelInfo();

			mode = "U";

			var $tr = $(obj).parent("td").parent("tr");

            $("#txtClassID").val($tr.find("td:eq(0)").text());
			$("#txtClassName").val($tr.find("td:eq(1)").text());
			$("#txtClassPriority").val($tr.find("td:eq(2)").text());

            $("#modalDefault").modal("show");
		}

        function removeItem(obj) {
			var $tr = $(obj).parent("td").parent("tr");

			if (!window.confirm("[" + $tr.find("td:eq(1)").text() + "]를 삭제하시겠습니까?")) {
				return;
			}

			var command = "delete";
			var classID = $tr.find("td:eq(0)").text();
			var formname = "";
			var formseqno = 0;

			$.ajax({
                url: '@Url.Action("HandleEAFormClass", "App")',
				type: 'POST',
				dataType: 'JSON',
				data: '{command:"' + command + '", classid: ' + classID + ', domainid: ' + domainID + ', formname:"' + formname + '", formseqno: ' + formseqno + '}',
				success: function (result) {
					if (result.code != "OK") {
						alert(result.message);
						return;
					}

					alert("정상적으로 처리되었습니다.");

					$("#modalDefault").modal("hide");

                    searchList();
                }
			});
		}

		function saveItem() {
			if ($("#txtClassName").val() == "") {
				alert("양식 분류명을 입력하세요");
				return false;
			}

            if ($("#txtClassPriority").val() == "") {
				alert("양식 분류 순번을 입력하세요");
				return false;
			}

			var command = (mode == "I") ? "insert" : "update";
			var classID = (mode == "I") ? 0 : $("#txtClassID").val();
			var formname = $("#txtClassName").val();
			var formseqno = $("#txtClassPriority").val();

			$.ajax({
                url: '@Url.Action("HandleEAFormClass", "App")',
				type: 'POST',
				dataType: 'JSON',
				data: '{command:"' + command + '", classid: ' + classID + ', domainid: ' + domainID + ', formname:"' + formname + '", formseqno: ' + formseqno + '}',
				success: function (result) {
					if (result.code != "OK") {
						alert(result.message);
						return;
					}

					alert("정상적으로 처리되었습니다.");

					$("#modalDefault").modal("hide");

                    searchList();
                }
			});
		}
    </script>
}

<h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
    결재 양식 분류 관리
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDefault" onclick="resetModelInfo()">신규</button>
</h4>

<!-- Modal template -->
<div class="modal fade" id="modalDefault">
    <div class="modal-dialog">
        <form class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    결재 양식 분류 정보
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col">
                        <label class="form-label">분류ID</label>
                        <input type="text" id="txtClassID" class="form-control" readonly="readonly">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label class="form-label">분류명</label>
                        <input type="text" id="txtClassName" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label class="form-label">정렬순서</label>
                        <input type="text" id="txtClassPriority" class="form-control">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btnPopupClose" data-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-primary" id="btnPopupSave" onclick="saveItem();" data-savemode="I">저장</button>
            </div>
        </form>
    </div>
</div>

<div class="card">
    <div class="card-datatable table-responsive">
        <table id="tbl_list" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>분류ID</th>
                    <th>분류명</th>
                    <th>순번</th>
                    <th>하위 양식 개수</th>
                    <th>비고</th>
                </tr>
            </thead>
        </table>
    </div>
</div>