@using System.Data;
@using System.Text;
@using Newtonsoft.Json;
@{
    ViewBag.Title = "결재 현황";
}

@section Styles {
    @Styles.Render("~/bundle/vendor/css/bootstrap-datepicker/bootstrap-datepicker")
    @Styles.Render("~/bundle/vendor/css/datatables/datatables")
}

@section Scripts {
    @Scripts.Render("~/bundle/vendor/js/moment/moment")
    @Scripts.Render("~/bundle/vendor/js/bootstrap-datepicker/bootstrap-datepicker")
    @Scripts.Render("~/bundle/vendor/js/datatables/datatables")

    <script type="text/javascript">
		var tbl_list;
		var domainID = "@Session["DNID"].ToString()";
        var formClassJson = @Html.Raw(ViewData["formclass"]);
		var formListJson = @Html.Raw(ViewData["formlist"]);

		$(document).ready(function () {
            $("#datepicker-range").datepicker({
				language: "ko",
                format: "yyyy-mm-dd"
            });

			if (formClassJson != "") {
				var optionHtml = "";

				for (var i = 0; i < formClassJson.length; i++) {
					optionHtml += "<option value=\"" + formClassJson[i].ClassID + "\">" + formClassJson[i].ClassName + "</option>";
				}

                // 미분류 앙식 추가
				optionHtml += "<option value=\"0\">미분류 양식들</option>";

				$("#selEAFormClass").append(optionHtml);
			}

			searchList("");

			$("#txtSearch").on("keyup", function (e) {
				if (e.keyCode == 13 && $.trim($(this).val()) != "") {
					searchList();
				}
			});

			$("#btnSearch").on("click", function () {
				searchList();
			});
		});

        function searchList() {
            if (tbl_list) {
                tbl_list.destroy();
			}

            tbl_list = $('#tbl_list').DataTable({
				"serverSide": true,
                "ajax": {
                    "url": '@Url.Action("SearchEADocumentList", "App")',
					"type": "POST",
					"data": function (p) {
						p.mode = "";
						p.admin = "Y";
						p.formId = $("#selEAFormList").val();
						p.defId = 0;
						p.viewer = 0;
						p.state = 100;
						p.searchCol = $("#selSearchType").val();
						p.searchText = $("#txtSearchText").val();
						p.searchStartDate = $("#datepicker-range input[name='start']").val();
						p.searchEndDate = $("#datepicker-range input[name='end']").val();
					},
				    "dataSrc": function (result) {
                        if (result.code != "OK") {
						    alert(result.message);

						    return [];
					    }

                        $("#tbl_list_wrapper").find("div.row:eq(0)").find("div:eq(0)").empty();
						$("#tbl_list_wrapper").find("div.row:eq(0)").find("div:eq(0)").append("<div class=\"dataTables_length\"><label>" + result.recordsTotal + "건의 결재 정보가 존재합니다.</label></div>");

						return result.data;
					}
				},
                "columns": [
                    { data: "MessageID" },
					{
						"data": "DocName",
                        "orderable": false
					},
					{
						data: "DocStatus",
                        "orderable": false
					},
                    { data: "PIName" },
					{
						data: "CreatorDept",
                        "orderable": false
					},
					{
						data: "Creator",
                        "orderable": false
					},
					{
						data: "CreateDate",
                        "orderable": false
					},
					{
						data: "PIEnd",
                        "orderable": false
					},
					{
						data: "DeleteDate",
                        "orderable": false
					},
					{
						data: "PIState",
                        "orderable": false
					},
					{
						data: null,
                        "orderable": false
					}
                ],
                "language": dataTable_lang_kor,
				"searching": false,
				"lengthChange": false,
				"info": false,
				"displayLength": 15,
                "order": [],
				"createdRow": function (row, data, index) {
					var createDate = data["CreateDate"];
					var piEnd = data["PIEnd"];
					var deleteDate = data["DeleteDate"];

                    if ((data["CreateDate"] != null && data["CreateDate"] != "") && data["CreateDate"].length >= 19) {
                        createDate = data["CreateDate"].substring(2, 10) + " " + data["CreateDate"].substring(11, 16);
					}

                    if ((data["PIEnd"] != null && data["PIEnd"] != "") && data["PIEnd"].length >= 19) {
                        piEnd = data["PIEnd"].substring(2, 10) + " " + data["PIEnd"].substring(11, 16);
					}

                    if ((data["DeleteDate"] != null && data["DeleteDate"] != "") && data["DeleteDate"].length >= 19) {
                        deleteDate = data["DeleteDate"].substring(2, 10) + " " + data["DeleteDate"].substring(11, 16);
					}

					$('td', row).eq(6).html('').append(createDate);
					$('td', row).eq(7).html('').append(piEnd);
					$('td', row).eq(8).html('').append(deleteDate);

					var piState = data["PIState"];
					var piStateHtml = "<button type=\"button\" class=\"btn btn-default\">대기</button>";

					if (piState == "1") {
                        // 진행중
                        piStateHtml = "<button type=\"button\" class=\"btn btn-primary\">진행중</button>";
					} else if (piState == "2") {
                        // 처리중
                        piStateHtml = "<button type=\"button\" class=\"btn btn-primary\">처리중</button>";
					} else if (piState == "5") {
                        // 멈춤
                        piStateHtml = "<button type=\"button\" class=\"btn btn-secondary\">멈춤</button>";
					} else if (piState == "7") {
                        // 완료
                        piStateHtml = "<button type=\"button\" class=\"btn btn-success\">완료</button>";
					} else if (piState == "8") {
                        // 강제종료(회수)
                        piStateHtml = "<button type=\"button\" class=\"btn btn-warning\">강제종료(회수)</button>";
					} else if (piState == "99") {
                        // 처리중 에러
						piStateHtml = "<button type=\"button\" class=\"btn btn-danger\">처리중 에러</button>";
					}

                    $('td', row).eq(9).html('').append(piStateHtml);

					$('td', row).eq(10).addClass('text-center text-nowrap').html('').append("<select class='custom-select' onchange='viewWorkItemAction(this, \"" + data["MessageID"] + "\", \"" + data["OID"] + "\")' data-menu=\"select\"><option selected value=''>선택</option><option value='B'>기본 정보</option><option value='L'>결재선 정보</option><option value='I'>WorkItem 정보</option><option value='O'>문서열기</option><option value='D'>삭제</option></select>");

                    if (deleteDate != null && deleteDate != "") {
						$(row).find("td").css("text-decoration", "line-through");
					}
				}
            });
		}

        function setEAFormList() {
			$("#selEAFormList").empty();

			var formClass = $("#selEAFormClass").val();

			if (formClass == "") {
				$("#selEAFormList").append("<option value=\"\">분류를 선택하세요.</option>");
			} else {
				if (formListJson != "") {
					var optionHtml = "";
					var optionUseHtml = "";
					var optionNoUseHtml = "";

					// <optgroup label="Alaskan/Hawaiian Time Zone">
					for (var i = 0; i < formListJson.length; i++) {
						if (formListJson[i].ClassID == formClass) {
							var optionText = formListJson[i].DocName + " (" + formListJson[i].MainTable + " , V" + formListJson[i].Version + ")";

							if (formListJson[i].Usage == "N") {
								optionNoUseHtml += "<option value=\"" + formListJson[i].FormID + "\">" + optionText + "</option>";
							} else {
								optionUseHtml += "<option value=\"" + formListJson[i].FormID + "\">" + optionText + "</option>";
							}
						}
					}

					if (optionUseHtml != "") {
						optionHtml += "<optgroup label=\"사용중\">" + optionUseHtml + "</optgroup>";
					}

					if (optionNoUseHtml != "") {
						optionHtml += "<optgroup label=\"사용하지 않음\">" + optionNoUseHtml + "</optgroup>";
					}

				    $("#selEAFormList").append(optionHtml);
			    }
			}
		}

		function viewWorkItemAction(obj, messageID, oID) {
            // B : 기본 정보
            // L : 결재선 정보
            // I : WorkItem 정보
            // O : 문서열기
            // D : 삭제
			var selectedValue = $(obj).val();

			if (selectedValue == "") {
				return;
			}

			$("select[data-menu='select']").not($(obj)).prop("selectedIndex", 0);

			switch (selectedValue) {
				case "B":
                    // 기본 정보
                    $.ajax({
                        url: '@Url.Action("SelectEADocumentTotalData", "App")',
				        type: 'POST',
				        dataType: 'JSON',
				        data: '{domainID:' + domainID + ', messageID: ' + messageID + '}',
				        success: function (result) {
					        if (result.code != "OK") {
						        alert(result.message);
						        return;
							}

							if (result.recordsTotal == 1) {
								var basisResult = result.data[0];

								$("#modalDocBasic").find("input").val("");

								$("#modalDocBasic").find("#txtOID").val(basisResult.OID);
								$("#modalDocBasic").find("#txtMessageID").val(messageID);
								$("#modalDocBasic").find("#txtProcessID").val(basisResult.ProcessID);
								$("#modalDocBasic").find("#txtPIState").val(basisResult.PIState);
								$("#modalDocBasic").find("#txtDocNumber").val(basisResult.DocNumber);
								$("#modalDocBasic").find("#txtDocStatus").val(basisResult.DocStatus);
								$("#modalDocBasic").find("#txtDocLevel").val(basisResult.DocLevel);
                                $("#modalDocBasic").find("#txtKeepYear").val(basisResult.KeepYear);
								$("#modalDocBasic").find("#txtPIName").val(basisResult.PIName);
                                $("#modalDocBasic").find("#txtSubject").val(basisResult.Subject);
								$("#modalDocBasic").find("#txtCreator").val(basisResult.CreatorGrade + " " + basisResult.Creator + " (" + basisResult.CreatorID + "/" + basisResult.CreatorCN + ")");
								$("#modalDocBasic").find("#txtCreatorDept").val(basisResult.CreatorDept + " (" + basisResult.CreatorDeptID + ")");

								var started = basisResult.Started;

								if (started != "" && started.length >= 19) {
                                    $("#modalDocBasic").find("#txtStarted").val(started.substring(2, 10) + " " + started.substring(11, 16));
								}

                                var completedDate = basisResult.CompletedDate;

								if (completedDate != "" && completedDate.length >= 19) {
                                    $("#modalDocBasic").find("#txtCompletedDate").val(completedDate.substring(2, 10) + " " + completedDate.substring(11, 16));
								}

								$("#modalDocBasic").find("#txtExternalKey1").val(basisResult.ExternalKey1);
								$("#modalDocBasic").find("#txtExternalKey2").val(basisResult.ExternalKey2);

								$("#modalDocBasic").modal("show");
							}
                        }
			        });
					break;
				case "L":
					// 결재선 정보
					$.ajax({
                        url: '@Url.Action("SelectEAApprovalLineInfo", "App")',
				        type: 'POST',
				        dataType: 'html',
				        data: '{oid:' + oID + ', itemKey:"ea", itemSubKey: ""}',
						success: function (result) {
							var resultCode = result.split('##')[0];
                            
					        if (resultCode != "OK") {
						        alert(result.split('##')[1]);
						        return;
							}

							if (result.split('##')[1] == "") {
								alert("결재선 정보를 구성하는 데 실패하였습니다.");
								return;
							}

                            // 기존 추가했던 tr 제거
							$("#trApprovalLine,#trWorkItem").remove();

							var appLineHtml = "<tr id=\"trApprovalLine\">";
							appLineHtml += "<td colspan=\"11\">";
							appLineHtml += $("<div>" + result.split('##')[1] + "</div>").html();
                            appLineHtml += "</td>";
							appLineHtml += "</tr>";

							$(obj).closest("tr").after(appLineHtml);
                        }
			        });
					break;
                case "I":
					// WorkItem 정보
					$.ajax({
                        url: '@Url.Action("SelectEAWorkItemInfo", "App")',
				        type: 'POST',
				        dataType: 'html',
				        data: '{oid:' + oID + ', itemKey:"ea", itemSubKey: ""}',
						success: function (result) {
							var resultCode = result.split('##')[0];
                            
					        if (resultCode != "OK") {
						        alert(result.split('##')[1]);
						        return;
							}

							if (result.split('##')[1] == "") {
								alert("결재선 정보를 구성하는 데 실패하였습니다.");
								return;
							}

                            // 기존 추가했던 tr 제거
							$("#trApprovalLine,#trWorkItem").remove();

							var appLineHtml = "<tr id=\"trWorkItem\">";
							appLineHtml += "<td colspan=\"11\">";
							appLineHtml += $("<div>" + result.split('##')[1] + "</div>").html();
                            appLineHtml += "</td>";
							appLineHtml += "</tr>";

							$(obj).closest("tr").after(appLineHtml);
                        }
			        });
					break;
                case "O":
					// 문서열기
					
					break;
				case "D":
					// 문서 삭제
					if (!window.confirm("선택한 문서를 삭제하시겠습니까?")) {
                        $(obj).prop("selectedIndex", 0);
						return false;
					}

                    $.ajax({
                        url: '@Url.Action("DeleteBFEAData", "App")',
				        type: 'POST',
				        dataType: 'JSON',
				        data: '{command:"delete", messageID: ' + messageID + '}',
						success: function (result) {
							if (result.code != "OK") {
						        alert(result.message);
						        return;
							}

                            alert("정상적으로 삭제되었습니다.");

                            // 현재 행 삭제
                            $(obj).closest("tr").hide();
                        }
			        });
					break;
				default:
					break;
			}
		}
    </script>
}
<h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
    결재 현황
</h4>

<div class="card mb-4">
    <div class="card-body">
        <form class="form-inline">
            <label class="form-label">결재 분류 : </label>
            <select class="custom-select mx-sm-3" id="selEAFormClass" onchange="setEAFormList()">
                <option selected value="">선택</option>
            </select>
            <label class="form-label mx-sm-3">결재 양식 : </label>
            <select class="custom-select mx-sm-3" id="selEAFormList">
                <option value="">분류를 선택하세요.</option>
            </select>
        </form>
        <form class="form-inline" style="padding-top:15px;">
            <label class="form-label">날짜 : </label>
            <div class="input-daterange input-group mx-sm-3" id="datepicker-range">
                <input type="text" class="form-control" name="start">
                <div class="input-group-prepend">
                    <span class="input-group-text"> ~ </span>
                </div>
                <input type="text" class="form-control" name="end">
            </div>
            <label class="form-label mx-sm-3">검색 조건 : </label>
            <select class="custom-select mx-sm-3" id="selSearchType">
                <option selected value="">선택</option>
                <option value="DocName">문서명</option>
                <option value="DocStatus">단계</option>
                <option value="PIName">제목</option>
                <option value="CreatorDept">작성부서</option>
                <option value="Creator">작성자</option>
            </select>
            <input type="text" id="txtSearchText" class="form-control mx-sm-3">
            <button type="button" id="btnSearch" class="btn btn-default">검색</button>
        </form>
    </div>
</div>

<!-- Modal template -->
<div class="modal fade" id="modalDocBasic">
    <div class="modal-dialog">
        <form class="modal-content" style="width:800px;">
            <div class="modal-header">
                <h5 class="modal-title">
                    기본 정보
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col">
                        <label class="form-label">OID</label>
                        <input type="text" id="txtOID" class="form-control" readonly="readonly">
                    </div>
                    <div class="form-group col">
                        <label class="form-label">MessageID</label>
                        <input type="text" id="txtMessageID" class="form-control" readonly="readonly">
                    </div>
                    <div class="form-group col">
                        <label class="form-label">프로세스 정의</label>
                        <input type="text" id="txtProcessID" class="form-control" readonly="readonly">
                    </div>
                    <div class="form-group col">
                        <label class="form-label">프로세스 상태</label>
                        <input type="text" id="txtPIState" class="form-control" readonly="readonly">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label class="form-label">문서번호</label>
                        <input type="text" id="txtDocNumber" class="form-control" readonly="readonly">
                    </div>
                    <div class="form-group col">
                        <label class="form-label">진행단계</label>
                        <input type="text" id="txtDocStatus" class="form-control" readonly="readonly">
                    </div>
                    <div class="form-group col">
                        <label class="form-label">문서등급</label>
                        <input type="text" id="txtDocLevel" class="form-control" readonly="readonly">
                    </div>
                    <div class="form-group col">
                        <label class="form-label">보존년한</label>
                        <input type="text" id="txtKeepYear" class="form-control" readonly="readonly">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label class="form-label">프로세스명</label>
                        <input type="text" id="txtPIName" class="form-control" readonly="readonly">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label class="form-label">제목</label>
                        <input type="text" id="txtSubject" class="form-control" readonly="readonly">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label class="form-label">작성자</label>
                        <input type="text" id="txtCreator" class="form-control" readonly="readonly">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label class="form-label">작성자 부서</label>
                        <input type="text" id="txtCreatorDept" class="form-control" readonly="readonly">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label class="form-label">등록일</label>
                        <input type="text" id="txtStarted" class="form-control" readonly="readonly">
                    </div>
                    <div class="form-group col">
                        <label class="form-label">완료일</label>
                        <input type="text" id="txtCompletedDate" class="form-control" readonly="readonly">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label class="form-label">외부키1</label>
                        <input type="text" id="txtExternalKey1" class="form-control" readonly="readonly">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label class="form-label">외부키2</label>
                        <input type="text" id="txtExternalKey2" class="form-control" readonly="readonly">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btnPopupClose" data-dismiss="modal">확인</button>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-datatable table-responsive">
                <table id="tbl_list" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>문서명</th>
                            <th>단계</th>
                            <th>제목</th>
                            <th>작성부서</th>
                            <th>작성자</th>
                            <th>작성일</th>
                            <th>완료일</th>
                            <th>삭제일</th>
                            <th>결재상태</th>
                            <th>비고</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
