@using System.Data;
@using System.Text;
@using Newtonsoft.Json;
@using ZumNet.Framework.Util;
@{
    ViewBag.Title = "양식별 부가 설정";
}

@section Styles {
}

@section Scripts {
    <script type="text/javascript">
		$(document).ready(function () {
		});

		function editOption(obj, formID) {
			// 초기화
			$("#btnModalSave").attr("data-formid", "");
			$("#modalDefault").find("select").prop("selectedIndex", 0);

			var $matchTr = $("tr[data-formid='" + formID + "']");
			$("#selAuth").val($matchTr.find("td:eq(7)").text());
			$("#selKeepYear").val($matchTr.find("td:eq(8)").text());
			$("#selDocGrade").val($matchTr.find("td:eq(9)").text());

			$("#btnModalSave").attr("data-formid", formID);
			$("#modalDefault").modal("show");
		}

		// 코드 아이템 편집
		function saveOptionInfo() {
			var formID = $("#btnModalSave").attr("data-formid");

			if (formID == "") {
				return;
			}

			if (!window.confirm("변경사항을 저장하시겠습니까?")) {
				return;
			}

			var option1 = $("tr[data-formid='" + formID + "'] td:eq(6)").text();
			var option2 = $("#selAuth").val();
			var option3 = $("#selKeepYear").val();
			var option4 = $("#selDocGrade").val();
			var option5 = $("tr[data-formid='" + formID + "'] td:eq(10)").text();
			var targetValue = option1 + ";" + option2 + ";" + option3 + ";" + option4 + ";" + option5;

			$.ajax({
                url: '@Url.Action("UpdateOptionInfo", "App")',
				type: 'POST',
				dataType: 'JSON',
				data: '{formID:"' + formID + '", targetValue: "' + targetValue + '"}',
				success: function (result) {
					if (result.code != "OK") {
						alert(result.message);
						return;
					}

					alert("정상적으로 처리되었습니다.");
					$("#modalDefault").modal("hide");

					// 변경된 정보 설정
					$("tr[data-formid='" + formID + "'] td:eq(7)").text($("#selAuth").val());
					$("tr[data-formid='" + formID + "'] td:eq(8)").text($("#selKeepYear").val());
					$("tr[data-formid='" + formID + "'] td:eq(9)").text($("#selDocGrade").val());
                }
			});
		}
    </script>
}

<h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
	양식별 부가 설정
</h4>

<div class="modal fade" id="modalDefault">
	<div class="modal-dialog">
		<form class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">
					부가 설정 변경
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
			</div>
			<div class="modal-body">
				<div class="form-row">
					<div class="form-group col">
						<label class="form-label">열람권한</label>
						<select id="selAuth" class="form-control" style="width: 100%">
							<option value="P">참여자 열람</option>
							<option value="G">참여자 및 해당부서 열람</option>
							<option value="A">전사 열람</option>
							<option value="L">참여자 열람(문서관리 이관 후 폴더 권한상속)</option>
							<option value="M">참여자 및 해당부서 열람(문서관리 이관 후 폴더 권한상속)</option>
							<option value="N">전사 열람(문서관리 이관 후 폴더 권한상속)</option>
						</select>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col">
						<label class="form-label">보존년한</label>
						<select id="selKeepYear" class=" form-control" style="width: 100%">
							<option value="1">1년</option>
							<option value="3">3년</option>
							<option value="5">5년</option>
							<option value="7">7년</option>
							<option value="10">10년</option>
							<option value="999">영구</option>
						</select>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col">
						<label class="form-label">문서등급</label>
						<select id="selDocGrade" class=" form-control" style="width: 100%">
							<option value="1">1등급</option>
							<option value="2">2등급</option>
							<option value="3">3등급</option>
							<option value="10">일반등급</option>
						</select>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" id="btnModalClose" data-dismiss="modal">닫기</button>
				<button type="button" class="btn btn-primary" id="btnModalSave" onclick="saveOptionInfo();" data-formid="">변경</button>
			</div>
		</form>
	</div>
</div>

<div class="table-responsive">
	<table id="tbl_code" class="table table-bordered mb-0">
		<thead>
			<tr>
				<th style="width:5%">분류</th>
				<th style="width:8%">양식명</th>
				<th style="width:10%">테이블명</th>
				<th style="width:5%">버전</th>
				<th style="width:10%">사용구분</th>
				<th style="width:5%">양식형태</th>
				<th style="width:5%">약식명</th>
				<th style="width:5%">열람권한</th>
				<th style="width:5%">보존년한</th>
				<th style="width:5%">문서등급</th>
				<th style="width:30%">문서분류</th>
				<th style="width:7%">비고</th>
			</tr>
		</thead>
		<tbody>
			@if ((ViewData["formclass"] as DataTable)?.Rows?.Count > 0)
			{
				foreach (DataRow drClass in (ViewData["formclass"] as DataTable).Rows)
				{
					if ((ViewData["formlist"] as DataTable)?.Rows?.Count > 0)
					{
						DataTable dtSubForm = (ViewData["formlist"] as DataTable).AsEnumerable().Where(x => StringHelper.SafeString(x["ClassID"]) == StringHelper.SafeString(drClass["ClassID"])).OrderBy(x => x["DocName"]).CopyToDataTable();

						if (dtSubForm?.Rows?.Count > 0)
						{
							foreach (DataRow drList in dtSubForm.Rows)
							{
			<tr data-formid="@drList["FormID"].ToString()">
				<td>@drClass["ClassName"].ToString()</td>
				<td>@drList["DocName"].ToString()</td>
				<td>@drList["MainTable"].ToString()</td>
				<td>@drList["Version"].ToString()</td>
				<td>@drList["DisplayUsage"].ToString()</td>
				<td>@drList["DisplayPageSet"].ToString()</td>
				<td>@drList["DisplayAddInfo1"].ToString()</td>
				<td>@drList["DisplayAddInfo2"].ToString()</td>
				<td>@drList["DisplayAddInfo3"].ToString()</td>
				<td>@drList["DisplayAddInfo4"].ToString()</td>
				<td>@drList["DisplayAddInfo5"].ToString()</td>
				<td><button type="button" class="btn btn-default" onclick="editOption(this, '@drList["FormID"].ToString()')">변경</button></td>
			</tr>
							}
						}
					}
				}
			}
		</tbody>
	</table>
</div>

