@using System.Collections;
@using System.Data;
@using System.Text;
@using Newtonsoft.Json;
@model DataTable
@{
	ViewBag.Title = "프로세스 관리";
}

@section Styles {
	@Styles.Render("~/bundle/vendor/css/bootstrap-select/bootstrap-select")
	@Styles.Render("~/bundle/vendor/css/bootstrap-datepicker/bootstrap-datepicker")
	@Styles.Render("~/bundle/vendor/css/datatables/datatables")
	@Styles.Render("~/bundle/vendor/css/nestable/nestable")

	<style>
		.dd-custom-drag-handle .dd-handle {
			border: 0;
			float: left;
			margin: 1px;
			font-size: .625rem;
			line-height: 1.25rem;
		}

			.dd-custom-drag-handle .dd-handle > * {
				vertical-align: middle;
			}

		.dd-custom-drag-handle.edit {
			color: white;
			background-color: red;
		}
	</style>
}

@section Scripts {
	@Scripts.Render("~/bundle/vendor/js/bootstrap-select/bootstrap-select")
	@Scripts.Render("~/bundle/vendor/js/moment/moment")
	@Scripts.Render("~/bundle/vendor/js/bootstrap-datepicker/bootstrap-datepicker")
	@Scripts.Render("~/bundle/vendor/js/datatables/datatables")
	@Scripts.Render("~/bundle/vendor/js/nestable/nestable")

	<script type="text/javascript">
		var prevSortColumn = "";
		var prevSortType = "";
		var tbl_list;
		var domainID = "@Session["DNID"].ToString()";
		var brJson = '@Html.Raw(ViewData["bizRole"])';
		var arJson = '@Html.Raw(ViewData["actRole"])';
		var dlJson = '@Html.Raw(ViewData["deptList"])';
		var mlJson = '@Html.Raw(ViewData["memberList"])';

		$(document).ready(function () {
			$("#divValidRange,#divSearchRange,#divCopyValidRange").datepicker({
				language: "ko",
                format: "yyyy-mm-dd"
			});

			$("#selProcess").selectpicker();

			$("#ulProcess > li[class='nav-item']:eq(1)").bind("click", function () {
				searchList();
			});

			if (brJson != "") {
				var bizRoleJson = JSON.parse(brJson);

				var optionHtml = "";

				for (var i = 0; i < bizRoleJson.length; i++) {
					optionHtml += "<option value=\"" + bizRoleJson[i].Item1 + "\">" + bizRoleJson[i].Item2 + "</option>";
				}

                $("#selActivityBizRole").append(optionHtml);
			} else {
				$("#selActivityBizRole").append("<option value=\"0\">생성된 비지니스 규칙이 없습니다.</option>");
			}

			if (arJson != "") {
				var actRoleJson = JSON.parse(arJson);

				var optionHtml = "";

				for (var i = 0; i < actRoleJson.length; i++) {
					optionHtml += "<option value=\"" + actRoleJson[i].Item1 + "\">" + actRoleJson[i].Item2 + "</option>";
				}

				$("#selActivityActRole").append(optionHtml);
			} else {
				$("#selActivityActRole").append("<option value=\"0\">생성된 행동별 규칙이 없습니다.</option>");
			}

			if (dlJson != "") {
				var deptJson = JSON.parse(dlJson);

				var optionHtml = "";
				optionHtml += "<option value=\"0\">부서를 선택하세요.</option>";

				for (var i = 0; i < deptJson.length; i++) {
					optionHtml += "<option value=\"" + deptJson[i].GR_ID + "\" data-alias=\"" + deptJson[i].GRAlias + "\">" + deptJson[i].DisplayName + "</option>";
				}

				$("#selActivityTargetGroup").append(optionHtml);
				$("#selActivityTargetGroup").selectpicker("refresh");
			}

			if (mlJson != "") {
				var memberJson = JSON.parse(mlJson);

				var optionHtml = "";
				optionHtml += "<option value=\"0\">사용자를 선택하세요.</option>";

				for (var i = 0; i < memberJson.length; i++) {
					optionHtml += "<option value=\"" + memberJson[i].UserID + "\" data-alias=\"" + memberJson[i].GroupCode + "\">" + memberJson[i].DisplayName + "</option>";
				}

				$("#selActivityTargetUser").append(optionHtml);
				$("#selActivityTargetUser").selectpicker("refresh");
			}

			$("*.activity-edit-area").hide();
		});

		function initializeForm(isInitSelect) {
			$("#process-info,#process-processing,#process-define").find("input").val("");
			$("#process-info,#process-processing,#process-define").find("textarea").val("");
			$("#process-info,#process-processing,#process-define").find("select").prop("selectedIndex", 0);

			$("#ulProcess > li[class='nav-item']:gt(0)").show();
			$("#btnShowCopyModal,#btnExportProcess").show();

			if (isInitSelect) {
				$("#selProcess").val("0");
				$("#selProcess").trigger("change");

				$("#ulProcess > li[class='nav-item']:gt(0)").hide();
				$("#btnShowCopyModal,#btnExportProcess").hide();

				$("#ulProcess > li[class='nav-item']:eq(0)").find("a").trigger("click");
			}
		}

		function searchList() {
            if (tbl_list) {
                tbl_list.destroy();
			}

            tbl_list = $('#tbl_list').DataTable({
                "serverSide": true,
                "ajax": {
                    "url": '@Url.Action("SearchEADocumentList", "App")',
					"type": "POST",
					"data": function (p) {
						p.mode = "pp";
						p.admin = "Y";
						p.formId = "";
						p.defId = $("#selProcess").val();
						p.viewer = 0;
						p.state = 100;
						p.searchCol = $("#selSearchType").val();
						p.searchText = $("#txtSearchText").val();
						p.searchStartDate = $("#datepicker-range input[name='start']").val();
						p.searchEndDate = $("#datepicker-range input[name='end']").val();
                        p.prevSortColumn = prevSortColumn;
						p.prevSortType = prevSortType;
					},
				    "dataSrc": function (result) {
						prevSortColumn = result.sortColumn;
                        prevSortType = result.sortType;

                        return result.data;
					}
				},
                "columns": [
                    { data: "MessageID" },
					{
						"data": "DocName",
                        "orderable": false
					},
					{
						data: "DocStatus",
                        "orderable": false
					},
                    { data: "PIName" },
					{
						data: "CreatorDept",
                        "orderable": false
					},
					{
						data: "Creator",
                        "orderable": false
					},
					{
						data: "CreateDate",
                        "orderable": false
					},
					{
						data: "PIEnd",
                        "orderable": false
					},
					{
						data: "DeleteDate",
                        "orderable": false
					},
					{
						data: "PIState",
                        "orderable": false
					},
					{
						data: null,
                        "orderable": false
					}
                ],
                "language": dataTable_lang_kor,
				"searching": false,
				"displayLength": 30,
				"order": [],
				"info": false,
				"lengthChange": false,
				"createdRow": function (row, data, index) {
					var createDate = data["CreateDate"];
					var piEnd = data["PIEnd"];
					var deleteDate = data["DeleteDate"];

                    if ((data["CreateDate"] != null && data["CreateDate"] != "") && data["CreateDate"].length >= 19) {
                        createDate = data["CreateDate"].substring(2, 10) + " " + data["CreateDate"].substring(11, 16);
					}

                    if ((data["PIEnd"] != null && data["PIEnd"] != "") && data["PIEnd"].length >= 19) {
                        piEnd = data["PIEnd"].substring(2, 10) + " " + data["PIEnd"].substring(11, 16);
					}

                    if ((data["DeleteDate"] != null && data["DeleteDate"] != "") && data["DeleteDate"].length >= 19) {
                        deleteDate = data["DeleteDate"].substring(2, 10) + " " + data["DeleteDate"].substring(11, 16);
					}

					$('td', row).eq(6).html('').append(createDate);
					$('td', row).eq(7).html('').append(piEnd);
					$('td', row).eq(8).html('').append(deleteDate);

					var piState = data["PIState"];
					var piStateHtml = "<button type=\"button\" class=\"btn btn-default\">대기</button>";

					if (piState == "1") {
                        // 진행중
                        piStateHtml = "<button type=\"button\" class=\"btn btn-primary\">진행중</button>";
					} else if (piState == "2") {
                        // 처리중
                        piStateHtml = "<button type=\"button\" class=\"btn btn-primary\">처리중</button>";
					} else if (piState == "5") {
                        // 멈춤
                        piStateHtml = "<button type=\"button\" class=\"btn btn-secondary\">멈춤</button>";
					} else if (piState == "7") {
                        // 완료
                        piStateHtml = "<button type=\"button\" class=\"btn btn-success\">완료</button>";
					} else if (piState == "8") {
                        // 강제종료(회수)
                        piStateHtml = "<button type=\"button\" class=\"btn btn-warning\">강제종료(회수)</button>";
					} else if (piState == "99") {
                        // 처리중 에러
						piStateHtml = "<button type=\"button\" class=\"btn btn-danger\">처리중 에러</button>";
					}

                    $('td', row).eq(9).html('').append(piStateHtml);

					$('td', row).eq(10).addClass('text-center text-nowrap').html('').append("<select class='custom-select' onchange='viewWorkItemAction(this, \"" + data["MessageID"] + "\", \"" + data["OID"] + "\")' data-menu=\"select\"><option selected value=''>선택</option><option value='B'>기본 정보</option><option value='L'>결재선 정보</option><option value='I'>WorkItem 정보</option><option value='O'>문서열기</option><option value='D'>삭제</option></select>");

					if (deleteDate != null && deleteDate != "") {
						$(row).find("td").css("text-decoration", "line-through");
					}
				}
            });
		}

		function viewWorkItemAction(obj, messageID, oID) {
            // B : 기본 정보
            // L : 결재선 정보
            // I : WorkItem 정보
            // O : 문서열기
            // D : 삭제
			var selectedValue = $(obj).val();

			if (selectedValue == "") {
				return;
			}

			$("select[data-menu='select']").not($(obj)).prop("selectedIndex", 0);

			switch (selectedValue) {
				case "B":
                    // 기본 정보
                    $.ajax({
                        url: '@Url.Action("SelectEADocumentTotalData", "App")',
				        type: 'POST',
				        dataType: 'JSON',
				        data: '{domainID:' + domainID + ', messageID: ' + messageID + '}',
				        success: function (result) {
					        if (result.code != "OK") {
						        alert(result.message);
						        return;
							}

							if (result.recordsTotal == 1) {
								var basisResult = result.data[0];

								$("#modalDocBasic").find("input").val("");

								$("#modalDocBasic").find("#txtOID").val(basisResult.OID);
								$("#modalDocBasic").find("#txtMessageID").val(messageID);
								$("#modalDocBasic").find("#txtProcessID").val(basisResult.ProcessID);
								$("#modalDocBasic").find("#txtPIState").val(basisResult.PIState);
								$("#modalDocBasic").find("#txtDocNumber").val(basisResult.DocNumber);
								$("#modalDocBasic").find("#txtDocStatus").val(basisResult.DocStatus);
								$("#modalDocBasic").find("#txtDocLevel").val(basisResult.DocLevel);
                                $("#modalDocBasic").find("#txtKeepYear").val(basisResult.KeepYear);
								$("#modalDocBasic").find("#txtPIName").val(basisResult.PIName);
                                $("#modalDocBasic").find("#txtSubject").val(basisResult.Subject);
								$("#modalDocBasic").find("#txtCreator").val(basisResult.CreatorGrade + " " + basisResult.Creator + " (" + basisResult.CreatorID + "/" + basisResult.CreatorCN + ")");
								$("#modalDocBasic").find("#txtCreatorDept").val(basisResult.CreatorDept + " (" + basisResult.CreatorDeptID + ")");

								var started = basisResult.Started;

								if (started != "" && started.length >= 19) {
                                    $("#modalDocBasic").find("#txtStarted").val(started.substring(2, 10) + " " + started.substring(11, 16));
								}

                                var completedDate = basisResult.CompletedDate;

								if (completedDate != "" && completedDate.length >= 19) {
                                    $("#modalDocBasic").find("#txtCompletedDate").val(completedDate.substring(2, 10) + " " + completedDate.substring(11, 16));
								}

								$("#modalDocBasic").find("#txtExternalKey1").val(basisResult.ExternalKey1);
								$("#modalDocBasic").find("#txtExternalKey2").val(basisResult.ExternalKey2);

								$("#modalDocBasic").modal("show");
							}
                        }
			        });
					break;
				case "L":
					// 결재선 정보
					$.ajax({
                        url: '@Url.Action("SelectEAApprovalLineInfo", "App")',
				        type: 'POST',
				        dataType: 'html',
				        data: '{oid:' + oID + ', itemKey:"ea", itemSubKey: ""}',
						success: function (result) {
							var resultCode = result.split('##')[0];

					        if (resultCode != "OK") {
						        alert(result.split('##')[1]);
						        return;
							}

							if (result.split('##')[1] == "") {
								alert("결재선 정보를 구성하는 데 실패하였습니다.");
								return;
							}

                            // 기존 추가했던 tr 제거
							$("#trApprovalLine,#trWorkItem").remove();

							var appLineHtml = "<tr id=\"trApprovalLine\">";
							appLineHtml += "<td colspan=\"11\">";
							appLineHtml += $("<div>" + result.split('##')[1] + "</div>").html();
                            appLineHtml += "</td>";
							appLineHtml += "</tr>";

							$(obj).closest("tr").after(appLineHtml);
                        }
			        });
					break;
                case "I":
					// WorkItem 정보
					$.ajax({
                        url: '@Url.Action("SelectEAWorkItemInfo", "App")',
				        type: 'POST',
				        dataType: 'html',
				        data: '{oid:' + oID + ', itemKey:"ea", itemSubKey: ""}',
						success: function (result) {
							var resultCode = result.split('##')[0];

					        if (resultCode != "OK") {
						        alert(result.split('##')[1]);
						        return;
							}

							if (result.split('##')[1] == "") {
								alert("결재선 정보를 구성하는 데 실패하였습니다.");
								return;
							}

                            // 기존 추가했던 tr 제거
							$("#trApprovalLine,#trWorkItem").remove();

							var appLineHtml = "<tr id=\"trWorkItem\">";
							appLineHtml += "<td colspan=\"11\">";
							appLineHtml += $("<div>" + result.split('##')[1] + "</div>").html();
                            appLineHtml += "</td>";
							appLineHtml += "</tr>";

							$(obj).closest("tr").after(appLineHtml);
                        }
			        });
					break;
                case "O":
					// 문서열기

					break;
				case "D":
					// 문서 삭제
					if (!window.confirm("선택한 문서를 삭제하시겠습니까?")) {
                        $(obj).prop("selectedIndex", 0);
						return false;
					}

                    $.ajax({
                        url: '@Url.Action("DeleteBFEAData", "App")',
				        type: 'POST',
				        dataType: 'JSON',
				        data: '{command:"delete", messageID: ' + messageID + '}',
						success: function (result) {
							if (result.code != "OK") {
						        alert(result.message);
						        return;
							}

                            alert("정상적으로 삭제되었습니다.");

                            // 현재 행 삭제
                            $(obj).closest("tr").hide();
                        }
			        });
					break;
				default:
					break;
			}
		}

		@*function getProcessList() {
			$.ajax({
                url: '@Url.Action("SelectProcessList", "Proc")',
				type: 'POST',
				dataType: 'JSON',
				data: '{}',
				success: function (result) {
					if (result.code != "OK") {
						alert(result.message);
						return;
					}

					$("#selProcess").empty();

					var optionHtml = "<option value=\"0\">프로세스를 선택하세요.</option>";

					if (result.data != "" && result.data.length > 0) {
						for (var i = 0; i < result.data.length; i++) {
							optionHtml += "<option value=\"" + result.data[i].ProcessID + "\">" + result.data[i].Name + "</option>";
						}

						$("#selProcess").append(optionHtml);
						$("#selProcess").selectpicker();
					}
                }
			});
		}*@

		function setProcessInfo() {
			// 초기화
			initializeForm(false);

			if ($("#selProcess").val() == "0") {
				return;
			}

			$.ajax({
                url: '@Url.Action("SelectProcessDefinition", "Proc")',
				type: 'POST',
				dataType: 'JSON',
				data: '{processID:' + $("#selProcess").val() + '}',
				success: function (result) {
					if (result.code != "OK") {
						alert(result.message);
						return;
					}

					// 프로세스 정의
					if (result.data != undefined && result.data.dtDef != undefined && result.data.dtDef.length == 1) {
						var processDef = result.data.dtDef[0];

						$("#divValidRange input[name='start']").val(processDef.ValidFromDate);
						$("#divValidRange input[name='end']").val(processDef.ValidToDate);
						$("#txtProcessName").val(processDef.Name);
						$("#txtProcessDescription").val(processDef.Description);
						$("#txtPriority").val(processDef.Priority);
						$("#selInUse").val(processDef.InUse);
						$("#txtProcessCreator").val(processDef.Creator);

						$("#divCopyValidRange input[name='start']").val(processDef.ValidFromDate);
						$("#divCopyValidRange input[name='end']").val(processDef.ValidToDate);
						$("#txtCopyProcessName").val(processDef.Name);
						$("#txtCopyProcessDescription").val(processDef.Description);
						$("#txtCopyPriority").val(processDef.Priority);
						$("#selCopyInUse").val(processDef.InUse);
						$("#txtCopyProcessCreator").val(processDef.Creator);
					}

					$("#tblProcessAppliedList tbody").empty();

					// 프로세스 폼 리스트
					if (result.data != undefined && result.data.dtForm != undefined && result.data.dtForm.length > 0) {
						var formHtml = "";

						for (var i = 0; i < result.data.dtForm.length; i++) {
							var processForm = result.data.dtForm[i];

							if (i % 2 == 0) {
								formHtml += "<tr class=\"odd\">";
							} else {
								formHtml += "<tr class=\"even\">";
							}

							formHtml += "	<td>(" + processForm.ClassName + ") " + processForm.DocName + "</td>";
							formHtml += "</tr>";
						}

						$("#tblProcessAppliedList tbody").append(formHtml);
					} else {
						$("#tblProcessAppliedList tbody").append("<tr class=\"odd\"><td>프로세스를 사용하는 양식이 없습니다.</td></tr>");
					}

					$("#divProcessStep").empty();
					initializeActivityInfo();

					// 프로세스 단계
					if (result.data != undefined && result.data.dtAct != undefined && result.data.dtAct.length > 0) {
						var processHtml = "<ol class=\"dd-list\">";

						for (var i = 0; i < result.data.dtAct.length; i++) {
							var processAct = result.data.dtAct[i];

							if (processAct.ParentActivityID == "") {
								processHtml += "<li class=\"dd-item dd-custom-drag-handle\" data-id=\"" + processAct.ActivityID + "\" data-step=\"" + processAct.Step + "\" data-displayname=\"" + processAct.DisplayName + "\" data-parentActivityID=\"" + processAct.ParentActivityID + "\" data-random=\"" + processAct.Random + "\" data-depth=\"1\" data-inline=\"" + processAct.Inline + "\" data-review=\"" + processAct.Review + "\">";
								processHtml += "	<div class=\"dd-handle\">";
								processHtml += "		<span class=\"ion ion-md-radio-button-off text-muted\"></span>";
								processHtml += "	</div>";
								processHtml += "	<div class=\"dd-content bg-light\">";
								processHtml += processAct.Step + ". " + processAct.DisplayName + "&nbsp;&nbsp;[&nbsp;ReView&nbsp;:&nbsp;" + processAct.Review + "&nbsp;,&nbsp;Random&nbsp;:&nbsp;" + processAct.Random + "&nbsp]";
								processHtml += "		<button type=\"button\" class=\"btn btn-default btn-sm ml-3\" onclick=\"fnShowActivity('" + processAct.ActivityID + "')\">편집</button>";
								processHtml += "		<button type=\"button\" class=\"btn btn-default btn-sm ml-1\" onclick=\"fnDeleteActivity('" + processAct.ActivityID + "')\">삭제</button>";
								processHtml += "	</div>";
								processHtml += "</li>";
							}
						}

						processHtml += "</ol>";

						$("#divProcessStep").append(processHtml);

						// 하위 추가
						$("#divProcessStep ol li").each(function () {
							var parentActivityID = $(this).attr("data-id");

							var childActivities = result.data.dtAct.filter(function (item, index, array) {
								return item.ParentActivityID == parentActivityID;
							});

							if (childActivities.length > 0) {
								var childHtml = "<ol class=\"dd-list\">";

								for (var j = 0; j < childActivities.length; j++) {
									var childActivity = childActivities[j];

									childHtml += "<li class=\"dd-item dd-custom-drag-handle\" data-id=\"" + childActivity.ActivityID + "\" data-step=\"" + childActivity.Step + "\" data-displayname=\"" + childActivity.DisplayName + "\" data-parentActivityID=\"" + childActivity.ParentActivityID + "\" data-random=\"" + childActivity.Random + "\" data-depth=\"2\" data-inline=\"" + childActivity.Inline + "\" data-review=\"" + childActivity.Review + "\">";
									childHtml += "	<div class=\"dd-handle\">";
									childHtml += "		<span class=\"ion ion-md-radio-button-off text-muted\"></span>";
									childHtml += "	</div>";
									childHtml += "	<div class=\"dd-content bg-light\">";
									childHtml += childActivity.Step + ". " + childActivity.DisplayName + "&nbsp;&nbsp;[&nbsp;ReView&nbsp;:&nbsp;" + childActivity.Review + "&nbsp;,&nbsp;Random&nbsp;:&nbsp;" + childActivity.Random + "&nbsp]";
									childHtml += "		<button type=\"button\" class=\"btn btn-default btn-sm ml-3\" onclick=\"fnShowActivity('" + childActivity.ActivityID + "')\">편집</button>";
									childHtml += "		<button type=\"button\" class=\"btn btn-default btn-sm ml-1\" onclick=\"fnDeleteActivity('" + childActivity.ActivityID + "')\">삭제</button>";
									childHtml += "	</div>";
									childHtml += "</li>";
								}

								childHtml += "</ol>";

								$(this).append(childHtml);
								//$(this).prepend("<button data-action=\"collapse\" type=\"button\" style=\"\">Collapse</button><button data-action=\"expand\" type=\"button\" style=\"display: none;\">Expand</button>");
							}
						});

						$("#divProcessStep").nestable({
							maxDepth:2
						});

						$("#divProcessStep").on("change", function () {
							adjustActivityStep();
						});
					}
                }
			});

			// 프로세스 처리 현황 탭일 경우 검색을 같이 해 준다.
			if ($("ul.nav-tabs").find("a[href='#process-processing']").hasClass("active")) {
				searchList();
			}
		}

		// Activity 보기
		function fnShowActivity(activityID) {
			$("li[data-id='" + activityID + "']").addClass("edit");
		}

		// Activity 삭제
		function fnDeleteActivity(activityID) {
			if (!window.confirm("이 Activity를 삭제하시겠습니까? 취소하실 수 없습니다.")) {
				return false;
			}

			var $activityObj = $("li[data-id='" + activityID + "']");

			// 하위가 있는 경우
			if ($activityObj.find("ol").length > 0) {
				alert("삭제하려는 Activity가 하위 Activity를 가지고 있습니다.\r\n우선, 하위 Activity를 삭제하신 후 다시 시도하십시요.");
				return false;
			}

			var randomCount = 0;

			//// 랜덤 처리
			//if ($activityObj.attr("data-random") == "Y") {
			//	// 상위 Activity
			//	if ($activityObj.attr("data-depth") == "1") {
			//		randomCount = $("li[data-id][data-step='" + $activityObj.attr("data-step") + "']").length - 1;				// 자기 자신 제외
			//	} else {
			//		randomCount = $("li[data-id][data-step='" + $activityObj.attr("data-step") + "'][data-parentActivityID='" + $activityObj.attr("data-id") + "']").length - 1;				// 자기 자신 제외
			//	}
			//}

			var mode = "0";
			var processID = $("#selProcess").val();
			var parentActivityID = $activityObj.attr("data-parentActivityID");
			var step = $activityObj.attr("data-step");
			
			$.ajax({
                url: '@Url.Action("DeleteProcessActivity", "Proc")',
				type: 'POST',
				dataType: 'JSON',
				data: '{mode:"' + mode + '", processID:' + processID + ', activityID:"' + activityID + '", parentActivityID:"' + parentActivityID + '", step:' + step + '}',
				success: function (result) {
					if (result.code != "OK") {
						alert(result.message);
						return;
					}

					alert("정상적으로 처리되었습니다.");

					// 요소 삭제
					$activityObj.remove();

					adjustActivityStep();
                }
			});


			// 요소 삭제
			$activityObj.remove();

			adjustActivityStep();
		}

		function adjustActivityStep() {
			$("#divProcessStep > ol > li").each(function (index) {
				$(this).attr("data-step", index + 1);
				$(this).attr("data-parentActivityID", "");

				var contentHtml = "";

				contentHtml += $(this).attr("data-step") + ". " + $(this).attr("data-displayname") + "&nbsp;&nbsp;[&nbsp;ReView&nbsp;:&nbsp;" + $(this).attr("data-review") + "&nbsp;,&nbsp;Random&nbsp;:&nbsp;" + $(this).attr("data-random") + "&nbsp]";
				contentHtml += "		<button type=\"button\" class=\"btn btn-default btn-sm ml-3\" onclick=\"fnShowActivity('" + $(this).attr("data-id") + "')\">편집</button>";
				contentHtml += "		<button type=\"button\" class=\"btn btn-default btn-sm ml-1\" onclick=\"fnDeleteActivity('" + $(this).attr("data-id") + "')\">삭제</button>";

				$(this).find("div.dd-content").empty().append(contentHtml);

				$(this).find("ol").find("li").each(function (subIndex) {
					$(this).attr("data-step", subIndex + 1);
					$(this).attr("data-parentActivityID", $(this).parent().parent().attr("data-id"));

					var contentSubHtml = "";

					contentSubHtml += $(this).attr("data-step") + ". " + $(this).attr("data-displayname") + "&nbsp;&nbsp;[&nbsp;ReView&nbsp;:&nbsp;" + $(this).attr("data-review") + "&nbsp;,&nbsp;Random&nbsp;:&nbsp;" + $(this).attr("data-random") + "&nbsp]";
					contentSubHtml += "		<button type=\"button\" class=\"btn btn-default btn-sm ml-3\" onclick=\"fnShowActivity('" + $(this).attr("data-id") + "')\">편집</button>";
					contentSubHtml += "		<button type=\"button\" class=\"btn btn-default btn-sm ml-1\" onclick=\"fnDeleteActivity('" + $(this).attr("data-id") + "')\">삭제</button>";

					$(this).find("div.dd-content").empty().append(contentSubHtml);
				});
			});

			//$("li[data-id][data-parentActivityID='']").each(function (index) {
			//	var changeStep = parseInt(index) + 1;

			//	$(this).attr("data-step", changeStep);

			//	var contentHtml = "";

			//	contentHtml += $(this).attr("data-step") + ". " + $(this).attr("data-displayname") + "&nbsp;&nbsp;[&nbsp;ReView&nbsp;:&nbsp;" + $(this).attr("data-review") + "&nbsp;,&nbsp;Random&nbsp;:&nbsp;" + $(this).attr("data-random") + "&nbsp]";
			//	contentHtml += "		<button type=\"button\" class=\"btn btn-default btn-sm ml-3\" onclick=\"fnShowActivity('" + $(this).attr("data-id") + "')\">편집</button>";
			//	contentHtml += "		<button type=\"button\" class=\"btn btn-default btn-sm ml-1\" onclick=\"fnDeleteActivity('" + $(this).attr("data-id") + "')\">삭제</button>";

			//	$(this).find("div.dd-content").empty().append(contentHtml);

			//	// 하위가 없는 경우
			//	if ($(this).find("ol").find("li").length == 0) {
			//		$(this).find("ol").remove();

			//		$(this).attr("inline", "N");
			//	} else {
			//		$(this).find("ol").find("li").each(function (subIndex) {
			//			var prevSubStep = parseInt($(this).attr("data-step"));
			//			var changeSubStep = parseInt(subIndex) + 1;

			//			$(this).attr("data-step", changeSubStep);

			//			var contentSubHtml = "";

			//			contentSubHtml += $(this).attr("data-step") + ". " + $(this).attr("data-displayname") + "&nbsp;&nbsp;[&nbsp;ReView&nbsp;:&nbsp;" + $(this).attr("data-review") + "&nbsp;,&nbsp;Random&nbsp;:&nbsp;" + $(this).attr("data-random") + "&nbsp]";
			//			contentSubHtml += "		<button type=\"button\" class=\"btn btn-default btn-sm ml-3\" onclick=\"fnShowActivity('" + $(this).attr("data-id") + "')\">편집</button>";
			//			contentSubHtml += "		<button type=\"button\" class=\"btn btn-default btn-sm ml-1\" onclick=\"fnDeleteActivity('" + $(this).attr("data-id") + "')\">삭제</button>";

			//			$(this).find("div.dd-content").empty().append(contentSubHtml);
			//		});
			//	}
			//});


		}

		// 프로세스 정보 저장
		function saveBasicProcess() {
			if ($("#divValidRange input[name='start']").val() == "") {
				alert("유효 시작일을 선택하세요.");
				$("#divValidRange input[name='start']").focus();

				return false;
			}

			if ($("#divValidRange input[name='end']").val() == "") {
				alert("유효 종료일을 선택하세요.");
				$("#divValidRange input[name='end']").focus();

				return false;
			}

			if ($("#txtPriority").val() == "") {
				alert("우선 순위를 입력하세요.");
				$("#txtPriority").focus();

				return false;
			} else {
				if (isNaN($("#txtPriority").val())) {
					alert("우선 순위에는 숫자만 입력하세요.");
					$("#txtPriority").focus();

					return false;
				}
			}

			if ($("#txtProcessName").val() == "") {
				alert("프로세스명을 입력하세요.");
				$("#txtProcessName").focus();

				return false;
			}



			if ($("#txtProcessCreator").val() == "") {
				alert("작성자를 입력하세요.");
				$("#txtProcessCreator").focus();

				return false;
			}

			$.ajax({
                url: '@Url.Action("HandleProcessDefinition", "Proc")',
				type: 'POST',
				dataType: 'JSON',
				data: '{processID:' + $("#selProcess").val() + ', validFromDate:"' + $("#divValidRange input[name='start']").val() + '", validToDate:"' + $("#divValidRange input[name='end']").val() + '", processName:"' + $("#txtProcessName").val() + '", priority:' + $("#txtPriority").val() + ', description:"' + $("#txtProcessDescription").val() + '", inUse:"' + $("#selInUse").val() + '", creator:"' + $("#txtProcessCreator").val() + '", reserved1:""}',
				success: function (result) {
					if (result.code != "OK") {
						alert(result.message);
						return;
					}

					alert("정상적으로 처리되었습니다.");

					window.location.reload();
                }
			});
		}

		// 다른 이름으로 프로세스 복사
		function copyProcess() {
			if ($("#divCopyValidRange input[name='start']").val() == "") {
				alert("유효 시작일을 선택하세요.");
				$("#divCopyValidRange input[name='start']").focus();

				return;
			}

			if ($("#divCopyValidRange input[name='end']").val() == "") {
				alert("유효 종료일을 선택하세요.");
				$("#divCopyValidRange input[name='end']").focus();

				return;
			}

			if ($("#txtCopyPriority").val() == "") {
				alert("우선 순위를 입력하세요.");
				$("#txtCopyPriority").focus();

				return;
			} else {
				if (isNaN($("#txtCopyPriority").val())) {
					alert("우선 순위에는 숫자만 입력하세요.");
					$("#txtCopyPriority").focus();

					return;
				}
			}

			if ($("#txtCopyProcessName").val() == "") {
				alert("프로세스명을 입력하세요.");
				$("#txtCopyProcessName").focus();

				return false;
			}

			if ($("#txtCopyProcessCreator").val() == "") {
				alert("작성자를 입력하세요.");
				$("#txtCopyProcessCreator").focus();

				return;
			}

			$.ajax({
				url: '@Url.Action("CopyProcessDefinition", "Proc")',
				type: 'POST',
				dataType: 'JSON',
				data: '{processID:' + $("#selProcess").val() + ', validFromDate:"' + $("#divCopyValidRange input[name='start']").val() + '", validToDate:"' + $("#divCopyValidRange input[name='end']").val() + '", processName:"' + $("#txtCopyProcessName").val() + '", priority:' + $("#txtCopyPriority").val() + ', description:"' + $("#txtCopyProcessDescription").val() + '", inUse:"' + $("#selCopyInUse").val() + '", creator:"' + $("#txtCopyProcessCreator").val() + '", reserved1:""}',
				success: function (result) {
					if (result.code != "OK") {
						alert(result.message);
						return;
					}

					alert("정상적으로 처리되었습니다.");

					window.location.reload();
				}
			});
		}

		// 프로세스 내보내기(XML 파일)
		function exportProcessInfoForXml() {
			if (!window.confirm("프로세스 정의가 XML파일로 생성됩니다. 내려받겠습니까?")) {
				return;
			}

			var processID = $("#selProcess").val()
			var processName = $("#selProcess option[value='" + $("#selProcess").val() + "']").text();

			window.location.href = "/Woa/proc/Export?processid=" + processID + "&processName=" + processName;
		}

		function fnShowSubType() {
			var partType = $("#selActivityPartType").val();

			// 세부 참여 형태 모두 hide();
			$("#selActivitySubPartType option").hide();

			// 참여 형태에 맞는 것만 표시
			$("#selActivitySubPartType option[data-type='all'], #selActivitySubPartType option[data-type='" + partType + "']").show();
			$("#selActivitySubPartType").prop("selectedIndex", 0);

			fnDisplayPartDesc();
		}

		function fnShowSubKey() {
			var partType = $("#selActivityPartType").val();
			var subType = $("#selActivitySubPartType").val();

			// 특정 정의키 모두 hide();
			$("#selActivitySubKey option").hide();

			// 참여/세부 참여 형태에 맞는 것만 표시
			$("#selActivitySubKey option[data-type='all'], #selActivitySubKey option[data-type='" + partType + subType + "']").show();
			$("#selActivitySubKey").prop("selectedIndex", 0);

			fnDisplayPartDesc();
		}

		function fnDisplayPartDesc() {
			var partType = $("#selActivityPartType").val();
			var subType = $("#selActivitySubPartType").val();
			var subKey = $("#selActivitySubKey").val();

			var strValue = "";

			if (partType != "0") {
				strValue = partType + "_";

				if (subType != "0") {
					strValue += subType + "_";

					if (subKey != "0" ) {
						strValue += subKey;
					} else {
						strValue += "_";
					}
				} else {
					strValue += "___";
				}
			}

			$("#txtActivityPartType").val(strValue);

			var strPartTypeDesc = "";
			var strPartSubtypeDesc = "";
			var strSubKeyDesc = "";

			var bDisabledUserAddBtn = true;
			var bDisabledDeptAddBtn = true;
			var bDisabledActAddBtn = true;
			var bDisabledProgress = false;

			switch (strValue) {
				case "u____" :
					strPartTypeDesc = "사용자";
					strPartSubtypeDesc = "";
					strSubKeyDesc = "";
					break;
				case "u_a__" :
					strPartTypeDesc = "사용자";
					strPartSubtypeDesc = "정의된 참여자";
					strSubKeyDesc = "";
					bDisabledUserAddBtn = false;
					break;
				case "u_b__" :
					strPartTypeDesc = "사용자";
					strPartSubtypeDesc = "사용자가 지정한 참여자";
					strSubKeyDesc = "";
					break;
				case "u_d__" :
					strPartTypeDesc = "사용자";
					strPartSubtypeDesc = "생성자";
					strSubKeyDesc = "";
					break;
				case "u_e__" :
					strPartTypeDesc = "사용자";
					strPartSubtypeDesc = "생성자의 부서장";
					strSubKeyDesc = "";
					break;
				case "u_c_f" :
					strPartTypeDesc = "사용자";
					strPartSubtypeDesc = "특정 단계의 사용자";
					strSubKeyDesc = "특정 단계에 속한 첫번째 사용자";
					bDisabledActAddBtn = false;
					break;
				case "u_c_l" :
					strPartTypeDesc = "사용자";
					strPartSubtypeDesc = "특정 단계의 사용자";
					strSubKeyDesc = "특정 단계에 속한 마지막 사용자";
					bDisabledActAddBtn = false;
					break;
				case "u_c_a" :
					strPartTypeDesc = "사용자";
					strPartSubtypeDesc = "특정 단계의 사용자";
					strSubKeyDesc = "특정 단계에 속한 모든 사용자";
					bDisabledActAddBtn = false;
					break;
				case "u_f__" :
					strPartTypeDesc = "사용자";
					strPartSubtypeDesc = "사용자가 변경가능한 정의된 사용자";
					strSubKeyDesc = "";
					bDisabledUserAddBtn = false;
					break;
				case "u_g_a" :
					strPartTypeDesc = "사용자";
					strPartSubtypeDesc = "양식별 담당자(부가설정에서 미리 지정되어 있는 자)";
					strSubKeyDesc = "지정된 모든 담당자 ";
					break;
				case "u_g_f" :
					strPartTypeDesc = "사용자";
					strPartSubtypeDesc = "양식별 담당자(부가설정에서 미리 지정되어 있는 자)";
					strSubKeyDesc = "첫번째로 지정된 담당자";
					break;
				case "u_g_l" :
					strPartTypeDesc = "사용자";
					strPartSubtypeDesc = "양식별 담당자(부가설정에서 미리 지정되어 있는 자)";
					strSubKeyDesc = "마지막으로 지정된 담당자";
					break;
				case "u_g_c" :
					strPartTypeDesc = "사용자";
					strPartSubtypeDesc = "양식별 담당자(부가설정에서 미리 지정되어 있는 자)";
					strSubKeyDesc = "작성부서에 따른 담당자 ";
					break;
				case "u_h__" :
					strPartTypeDesc = "사용자";
					strPartSubtypeDesc = "참조회람 형태로 지정한 사용자";
					strSubKeyDesc = "";
					break;
				case "u_r__" :
					strPartTypeDesc = "사용자";
					strPartSubtypeDesc = "다른 시스템에 정의된 사용자";
					strSubKeyDesc = "";
					break;
				case "g____" :
					strPartTypeDesc = "부서/그룹";
					strPartSubtypeDesc = "";
					strSubKeyDesc = "";
					break;
				case "g_a_a" :
					strPartTypeDesc = "부서/그룹";
					strPartSubtypeDesc = "정의된 부서";
					strSubKeyDesc = "수신함에서 부서원 누구나 권한을 가짐";
					bDisabledDeptAddBtn = false;
					break;
				case "g_a_e" :
					strPartTypeDesc = "부서/그룹";
					strPartSubtypeDesc = "정의된 부서";
					strSubKeyDesc = "수신함에서 부서장만 권한을 가짐";
					bDisabledDeptAddBtn = false;
					break;
				case "g_a_g" :
					strPartTypeDesc = "부서/그룹";
					strPartSubtypeDesc = "정의된 부서";
					strSubKeyDesc = "수신함에서 특정 직위만 권한을 가짐";
					bDisabledDeptAddBtn = false;
					break;
				case "g_a_c" :
					strPartTypeDesc = "부서/그룹";
					strPartSubtypeDesc = "정의된 부서";
					strSubKeyDesc = "수신함에서 특정 역할만 권한을 가짐";
					bDisabledDeptAddBtn = false;
					break;
				case "g_b__" :
					strPartTypeDesc = "부서/그룹";
					strPartSubtypeDesc = "사용자가 지정한 부서";
					strSubKeyDesc = "";
					break;
				case "g_d__" :
					strPartTypeDesc = "부서/그룹";
					strPartSubtypeDesc = "생성자의 부서";
					strSubKeyDesc = "";
					break;
				case "g_c__" :
					strPartTypeDesc = "부서/그룹";
					strPartSubtypeDesc = "특정 단계의 부서";
					strSubKeyDesc = "";
					bDisabledProgress = true;
					bDisabledActAddBtn = false;
					break;
				case "g_e__" :
					strPartTypeDesc = "부서/그룹";
					strPartSubtypeDesc = "특정 단계 참여자의 부서";
					strSubKeyDesc = "";
					bDisabledProgress = true;
					bDisabledActAddBtn = false;
					break;
				case "g_f__" :
					strPartTypeDesc = "부서/그룹";
					strPartSubtypeDesc = "사용자가 변경 가능한 정의된 부서";
					strSubKeyDesc = "";
					bDisabledDeptAddBtn = false;
					break;
				case "g_g_a" :
					strPartTypeDesc = "부서/그룹";
					strPartSubtypeDesc = "양식별 담당부서(부가설정에서 미리 지정되어 있는 부서)";
					strSubKeyDesc = "지정된 모든 담당부서 ";
					break;
				case "g_g_f" :
					strPartTypeDesc = "부서/그룹";
					strPartSubtypeDesc = "양식별 담당부서(부가설정에서 미리 지정되어 있는 부서)";
					strSubKeyDesc = "첫번째로 지정된 담당부서";
					break;
				case "g_g_l" :
					strPartTypeDesc = "부서/그룹";
					strPartSubtypeDesc = "양식별 담당부서(부가설정에서 미리 지정되어 있는 부서)";
					strSubKeyDesc = "마지막으로 지정된 담당부서";
					break;
				case "g_g_c" :
					strPartTypeDesc = "부서/그룹";
					strPartSubtypeDesc = "양식별 담당부서(부가설정에서 미리 지정되어 있는 부서)";
					strSubKeyDesc = "작성부서에 따른 담당부서 ";
					break;
				case "g_h__" :
					strPartTypeDesc = "부서/그룹";
					strPartSubtypeDesc = "배포/참조/회람 형태의 부서";
					strSubKeyDesc = "";
					break;
				case "s____" :
					strPartTypeDesc = "기타";
					strPartSubtypeDesc = "";
					strSubKeyDesc = "";
					break;
				case "s_c__" :
					strPartTypeDesc = "기타";
					strPartSubtypeDesc = "기간계 연동";
					strSubKeyDesc = "";
					break;
				case "s_a__" :
					strPartTypeDesc = "기타";
					strPartSubtypeDesc = "문서 이관";
					strSubKeyDesc = "";
					break;
				case "s_h__" :
					strPartTypeDesc = "기타";
					strPartSubtypeDesc = "배포/참조/회람 형태의 사용자 또는 부서";
					strSubKeyDesc = "";
					break;
				case "s____" :
					strPartTypeDesc = "기타";
					strPartSubtypeDesc = "종료 처리";
					strSubKeyDesc = "";
					break;
				default :
					strPartTypeDesc = "";
					strPartSubtypeDesc = "";
					strSubKeyDesc = "";
					break;
			}

			$("#txtActivityPartDescription").val("참여 형태 : " + strPartTypeDesc + "\r\n세부 참여 형태 : " + strPartSubtypeDesc + "\r\n특정 정의키 : " + strSubKeyDesc);

			$("#divActivityTarget").hide();
			$("#selActivityTargetUser,#selActivityTargetGroup,#selActivityTargetActivity").parent().hide();
			$("#selActivityTargetUser,#selActivityTargetGroup,#selActivityTargetActivity").prop("selectedIndex", 0);

			if (strValue != "s____") {
				if (!bDisabledUserAddBtn) {
					$("#divActivityTarget").show();
					$("#selActivityTargetUser").parent().show();
					$("#selActivityTargetGroup,#selActivityTargetActivity").parent().hide();
				}

				if (!bDisabledDeptAddBtn) {
					$("#divActivityTarget").show();
					$("#selActivityTargetGroup").parent().show();
					$("#selActivityTargetUser,#selActivityTargetActivity").hide();
				}

				if (!bDisabledActAddBtn) {
					$("#divActivityTarget").show();
					$("#selActivityTargetActivity").parent().show();
					$("#selActivityTargetUser,#selActivityTargetGroup").parent().hide();
				}

				$("#tblPartList tbody").empty();

				if (bDisabledProgress) {
					$("#selActivityProgress").prop("disabled", true);
					$("#selActivityProgress").prop("selectedIndex", 0);
				} else {
					$("#selActivityProgress").prop("disabled", false);
				}
			}
		}

		function appendPartType(selectedType) {
			var $objSelect;

			if (selectedType == "U") {
				$objSelect = $("#selActivityTargetUser");
			} else if (selectedType == "G") {
				$objSelect = $("#selActivityTargetGroup");
			} else {
				$objSelect = $("#selActivityTargetActivity");
			}

			if ($objSelect.val() == "0") {
				return;
			}

            // 중복 체크
			//if ($("#tblPartList").find("tr[data-partid='" + $objSelect.val() + "']").length > 0) {
			//	alert("선택하신 대상은 이미 추가되어 있습니다.");

			//	$objSelect.val("0");
			//	$objSelect.trigger("change");

			//	return;
			//}

			$("#tblPartList tbody").empty();

			var displayText = "[" + $objSelect.val() + "] " + $objSelect.find("option:selected").text();

			var partHtml = "<tr class=\"odd\" data-partid=\"" + $objSelect.val() + "\" data-partname=\"" + $objSelect.find("option:selected").text() + "\" data-partdeptcode=\"" + $objSelect.find("option:selected").attr("data-alias") + "\">";
			partHtml += "<td>" + displayText + "<td>";
			partHtml += "<td><button type=\"button\" class=\"btn btn-default\" onclick=\"removePartList(this)\">삭제</button></td>";
			partHtml += "</tr>";

			$("#tblPartList tbody").append(partHtml);

            $objSelect.val("0");
			$objSelect.trigger("change");
		}

		function removePartList(obj) {
			$(obj).parent().parent().remove();
		}

		function changeActivityAttribute() {
			$("#txtActivityCondition1,#txtActivityCondition2,#txtActivityCondition3,#txtActivityCondition4,#txtActivityCondition5").show();
			$("#selActivityCondition1,#selActivityCondition2,#selActivityCondition3").hide();

			$("#txtActivityCondition1,#txtActivityCondition2,#txtActivityCondition3,#txtActivityCondition4,#txtActivityCondition5").val("");
			$("#selActivityCondition1,#selActivityCondition2,#selActivityCondition3").prop("selectedIndex", 0);

			if ($("#selActivityAttribute").val() == "0") {
				$("#selActivityConditionStatus").val("0");
				$("#txtActivityAttributeText").val("");
				return;
			}
			
			var attribute = $("#selActivityAttribute").val();
			var cond2 = $("#selActivityAttribute option:selected").is("[data-cond2]");
			var cond3 = $("#selActivityAttribute option:selected").is("[data-cond3]");
			var cond4 = $("#selActivityAttribute option:selected").attr("data-cond4");
			var cond5 = $("#selActivityAttribute option:selected").attr("data-cond5");

			$("#txtActivityAttributeText").val($("#selActivityAttribute option:selected").text());

			$("#selActivityCondition1 option").hide();
			$("#selActivityCondition1 option[data-cond='" + attribute + "']").show();
			var cond1Index = $("#selActivityCondition1 option").index($("#selActivityCondition1 option[data-cond='" + attribute + "']:eq(0)"));
			$("#selActivityCondition1").prop("selectedIndex", cond1Index);

			$("#selActivityCondition1").show();
			$("#txtActivityCondition1").hide();

			if (!cond2) {
				$("#selActivityCondition2 option").hide();
				$("#selActivityCondition2 option[data-cond='" + attribute + "']").show();
				var cond2Index = $("#selActivityCondition1 option").index($("#selActivityCondition2 option[data-cond='" + attribute + "']:eq(0)"));
				$("#selActivityCondition2").prop("selectedIndex", cond2Index);

				$("#selActivityCondition2").show();
				$("#txtActivityCondition2").hide();
			}

			if (!cond3) {
				$("#selActivityCondition3 option").hide();
				$("#selActivityCondition3 option[data-cond='" + attribute + "']").show();
				var cond3Index = $("#selActivityCondition1 option").index($("#selActivityCondition3 option[data-cond='" + attribute + "']:eq(0)"));
				$("#selActivityCondition3").prop("selectedIndex", cond3Index);

				$("#selActivityCondition3").show();
				$("#txtActivityCondition3").hide();
			}

			if (cond4 != "") {
				$("#txtActivityCondition4").val(cond4);
			}

			if (cond5 != "") {
				$("#txtActivityCondition5").val(cond5);
			}
		}

		function fnAddProcess(seq) {
			var strPos = "";
			var strCondition = "";
			var strPrefixState = "";
			var strDesc = "";
			var cDiv = String.fromCharCode(1);

			if ($("#selActivityAttribute").val() == "0") {
				alert("속성을 선택하세요.");

				return;
			}
			
			switch ( seq ) {
				case 1 :
					strPos = "a";
					strCondition = "pre";
					strPrefixState = "[ACT PRE] ";
					break;  
				case 2 :
					strPos = "a";
					strCondition = "post";
					strPrefixState = "[ACT POST] ";
					break;  
				case 3 :
					strPos = "w";
					strCondition = "pre";
					strPrefixState = "[WI PRE] ";
					break;  
				case 4 :
					strPos = "w";
					strCondition = "post";
					strPrefixState = "[WI POST] ";
					break;     
			}

			var strID = strPos + cDiv + strCondition + cDiv + $("#selActivityAttribute").val() + cDiv + $("#selActivityConditionStatus").val() + cDiv + $("#txtActivityAttributeText").val() + cDiv + $("#selActivityCondition1").val() + cDiv;

			strDesc = "속성 : " + $("#selActivityAttribute").val();
			strDesc += "\n상태 : " + $("#selActivityConditionStatus").val();
			strDesc += "\nItem1 : " + $("#selActivityCondition1 option:selected").text();

			var cond2 = $("#selActivityAttribute option:selected").is("[data-cond2]");
			var cond3 = $("#selActivityAttribute option:selected").is("[data-cond3]");
			var cond4 = $("#selActivityAttribute option:selected").attr("data-cond4");
			var cond5 = $("#selActivityAttribute option:selected").attr("data-cond5");

			if (cond2) {
				strID += $("#txtActivityCondition2").val() + cDiv;
				strDesc += "\nItem2 : " + $("#txtActivityCondition2").val();
			} else {
				strID += $("#selActivityCondition2").val() + cDiv;
				strDesc += "\nItem2 : " + $("#selActivityCondition2 option:selected").text();
			}

			if (cond2) {
				strID += $("#txtActivityCondition3").val() + cDiv;
				strDesc += "\nItem3 : " + $("#txtActivityCondition3").val();
			} else {
				strID += $("#selActivityCondition3").val() + cDiv;
				strDesc += "\nItem3 : " + $("#selActivityCondition3 option:selected").text();
			}

			strID += $("#txtActivityCondition4").val() + cDiv + $("#txtActivityCondition5").val();
			strDesc += "\nItem4 : " + $("#txtActivityCondition4").val();
			strDesc += "\nItem5 : " + $("#txtActivityCondition5").val();

			if ($("#tblProcessAttributeInfo tbody tr[data-id='" + strID + "']").length > 0) {
				alert("프로세스 속성 정보에 이미 추가되어 있습니다.");
				return;
			}

			var html = "<tr data-id='" + strID + "'>";
			html += "<td title='" + strDesc + "'>" + strPrefixState + $("#txtActivityAttributeText").val() + "</td>";
			html += "<td><button type=\"button\" class=\"btn btn-default\" onclick=\"removePartList(this)\">편집</button><button type=\"button\" class=\"btn btn-default ml-2\" onclick=\"removePartList(this)\">삭제</button></td>";
			html += "</tr>";

			$("#tblProcessAttributeInfo tbody").append(html);

			$("#selActivityAttribute").val("0");
			$("#selActivityAttribute").trigger("change");
		}

		// 신규 Activity 정보 추가
		function addNewActivityInfo() {
			if ($("#txtActivityName").val() == "") {
				alert("Activity명을 입력하세요.");

				$("#txtActivityName").focus();
				return false;
			}	

			if ($("#selActivityPartType").val() == "0") {
				alert("참여 형태를 선택하세요.");

				$("#selActivityPartType").focus();
				return false;
			}	

			var strPartType = $("#txtActivityPartType").val();

			var isRandomCheck = false;
    
			switch (strPartType) {
				case "u_b__" :
				case "u_f__" :
				case "u_g_f" :
				case "u_g_l" :
				case "u_g_a" :
				case "u_g_c" :
				case "g_b__" :
				case "g_f__" :
				case "g_g_f" :
				case "g_g_l" :
				case "g_g_a" :
				case "g_g_c" :
				case "r_b__" :
					isRandomCheck = true;
					break;
				default :
					isRandomCheck = false;
					break;  
			}

			if ($("#selActivityRandom").val() == "Y") {
				if (!isRandomCheck) {
					alert("현재 Activity의 Random이 Y입니다.\r\n참여 형태를 정확하게 선택해 주세요.");
					return false; 
				}
			}

			var isPartCheck = false;
    
			switch (strPartType) {
				case "u_a__" :
				case "u_f__" :
				case "u_c_f" :
				case "u_c_l" :
				case "u_c_a" :
				case "g_a_a" :
				case "g_c__" :
				case "g_e__":
				case "g_f__":
					isPartCheck = true;
					break;
				default :
					isPartCheck = false;
					break;  
			}

			if (isPartCheck) {
				if ($("#tblPartList tbody tr").length == 0) {
					alert("참여 정보에 값이 없습니다.");
					return false; 
				}
			}

			var cDiv = String.fromCharCode(1);

			var activityID = "";
			var processID = $("#selProcess").val();
			var parentActivityID = "";
			var step = $("#divProcessStep > ol > li").length + 1;
			var subStep = 0;
			var random = $("#selActivityRandom").val();
			var inLine = "N";
			var bizRole = $("#selActivityBizRole").val();
			var actRole = $("#selActivityActRole").val();
			var displayName = $("#txtActivityName").val();
			var progress = $("#selActivityProgress").val();
			var partType = strPartType;
			var limited = $("#selActivityLimited").val();
			var review = $("#selActivityReview").val();
			var showLine = $("#selActivityShowLine").val();
			var scopeLine = $("#txtActivityScopeLine").val();
			var mandatory = $("#selActivityMandatory").val();
			var evalchart = $("#selActivityEvalChart").val();
			var actPreCond = ($("#tblProcessAttributeInfo tbody tr[data-id*='a" + String.fromCharCode(1) + "pre']").length > 0) ? "Y" : "N";
			var actPostCond = ($("#tblProcessAttributeInfo tbody tr[data-id*='a" + String.fromCharCode(1) + "post']").length > 0) ? "Y" : "N";
			var wiPreCond = ($("#tblProcessAttributeInfo tbody tr[data-id*='w" + String.fromCharCode(1) + "pre']").length > 0) ? "Y" : "N";
			var wiPostCond = ($("#tblProcessAttributeInfo tbody tr[data-id*='w" + String.fromCharCode(1) + "post']").length > 0) ? "Y" : "N";
			var description = $("#txtActivityDesc").val();
			var participantID = ($("#tblPartList tbody tr").length == 0) ? "" : $("#tblPartList tbody tr:eq(0)").attr("data-partid");
			var participantName = ($("#tblPartList tbody tr").length == 0) ? "" : $("#tblPartList tbody tr:eq(0)").attr("data-partname");
			var participantDeptCode = ($("#tblPartList tbody tr").length == 0) ? "" : $("#tblPartList tbody tr:eq(0)").attr("data-partdeptcode");

			var cDiv = String.fromCharCode(1);
			var attrInfoArray = [];

			for (var i = 0; i < $("#tblProcessAttributeInfo tbody tr").length; i++) {
				var $trObj = $("#tblProcessAttributeInfo tbody tr").eq(i);
				var dataID = $trObj.attr("data-id");

				var attrInfo = {};
				attrInfo.Pos = dataID.split(cDiv)[0];
				attrInfo.Condition = dataID.split(cDiv)[1];
				attrInfo.Attribute = dataID.split(cDiv)[2];
				attrInfo.Status = dataID.split(cDiv)[3];
				attrInfo.Dscpt = dataID.split(cDiv)[4];
				attrInfo.Item1 = dataID.split(cDiv)[5];
				attrInfo.Item2 = dataID.split(cDiv)[6];
				attrInfo.Item3 = dataID.split(cDiv)[7];
				attrInfo.Item4 = dataID.split(cDiv)[8];
				attrInfo.Item5 = dataID.split(cDiv)[9];

				attrInfoArray.push(attrInfo);
			}

			$.ajax({
				url: '@Url.Action("CreateProcessActivity", "Proc")',
				type: 'POST',
				dataType: 'JSON',
				data: '{processID:' + processID + ', step:' + step + ', subStep:' + subStep + ', random:"' + random + '", inLine:"' + inLine + '", bizRole:"' + bizRole + '", actRole:"' + actRole + '", displayName:"' + displayName + '", progress:"' + progress + '", partType:"' + partType + '", limited:"' + limited + '", review:"' + review + '", showLine:"' + showLine + '", scopeLine:"' + scopeLine + '", mandatory:"' + mandatory + '", evalchart:' + evalchart + ', actPreCond:"' + actPreCond + '", actPostCond:"' + actPostCond + '", wiPreCond:"' + wiPreCond + '", wiPostCond:"' + wiPostCond + '", description:"' + description + '", participantID:"' + participantID + '", participantName:"' + participantName + '", participantDeptCode:"' + participantDeptCode + '", attrInfoArray:' + JSON.stringify(attrInfoArray) + '}',
				success: function (result) {
					if (result.code != "OK") {
						alert(result.message);
						return;
					}

					alert("정상적으로 Activity가 생성되었습니다.");

					activityID = result.message;

					$("#txtActivityID").val(activityID);

					// 저장 후 프로세스 단계를 가장 마지막으로 생성
					var processHtml = "<li class=\"dd-item dd-custom-drag-handle\" data-id=\"" + activityID + "\" data-step=\"" + step + "\" data-displayname=\"" + displayName + "\" data-parentActivityID=\"" + parentActivityID + "\" data-random=\"" + random + "\" data-depth=\"1\" data-inline=\"" + inLine + "\" data-review=\"" + review + "\">";
					processHtml += "	<div class=\"dd-handle\">";
					processHtml += "		<span class=\"ion ion-md-radio-button-off text-muted\"></span>";
					processHtml += "	</div>";
					processHtml += "	<div class=\"dd-content bg-light\">";
					processHtml += step + ". " + displayName + "&nbsp;&nbsp;[&nbsp;ReView&nbsp;:&nbsp;" + review + "&nbsp;,&nbsp;Random&nbsp;:&nbsp;" + random + "&nbsp]";
					processHtml += "		<button type=\"button\" class=\"btn btn-default btn-sm ml-3\" onclick=\"fnShowActivity('" + activityID + "')\">편집</button>";
					processHtml += "		<button type=\"button\" class=\"btn btn-default btn-sm ml-1\" onclick=\"fnDeleteActivity('" + activityID + "')\">삭제</button>";
					processHtml += "	</div>";
					processHtml += "</li>";

					$("#divProcessStep > ol").append(processHtml);

					initializeActivityInfo();
				}
			});
		}

		function updateActivityInfo() {
			if ($("#txtActivityName").val() == "") {
				alert("Activity명을 입력하세요.");

				$("#txtActivityName").focus();
				return false;
			}	

			if ($("#selActivityPartType").val() == "0") {
				alert("참여 형태를 선택하세요.");

				$("#selActivityPartType").focus();
				return false;
			}	

			var strPartType = $("#txtActivityPartType").val();

			var isRandomCheck = false;
    
			switch (strPartType) {
				case "u_b__" :
				case "u_f__" :
				case "u_g_f" :
				case "u_g_l" :
				case "u_g_a" :
				case "u_g_c" :
				case "g_b__" :
				case "g_f__" :
				case "g_g_f" :
				case "g_g_l" :
				case "g_g_a" :
				case "g_g_c" :
				case "r_b__" :
					isRandomCheck = true;
					break;
				default :
					isRandomCheck = false;
					break;  
			}

			if ($("#selActivityRandom").val() == "Y") {
				if (!isRandomCheck) {
					alert("현재 Activity의 Random이 Y입니다.\r\n참여 형태를 정확하게 선택해 주세요.");
					return false; 
				}
			}

			var isPartCheck = false;
    
			switch (strPartType) {
				case "u_a__" :
				case "u_f__" :
				case "u_c_f" :
				case "u_c_l" :
				case "u_c_a" :
				case "g_a_a" :
				case "g_c__" :
				case "g_e__":
				case "g_f__":
					isPartCheck = true;
					break;
				default :
					isPartCheck = false;
					break;  
			}

			if (isPartCheck) {
				if ($("#tblPartList tbody tr").length == 0) {
					alert("참여 정보에 값이 없습니다.");
					return false; 
				}
			}

			var cDiv = String.fromCharCode(1);

			var processID = $("#selProcess").val();
			var activityID = $("#txtActivityID").val();
			var parentActivityID = $("#txtParentActivityID").val();
			var step = $("li[data-id='" + activityID + "']").attr("data-step");
			var subStep = 0;
			var random = $("#selActivityRandom").val();
			var inLine = $("li[data-id='" + activityID + "']").find("ol").find("li").length > 0 ? "Y" : "N";
			var bizRole = $("#selActivityBizRole").val();
			var actRole = $("#selActivityActRole").val();
			var displayName = $("#txtActivityName").val();
			var progress = $("#selActivityProgress").val();
			var partType = strPartType;
			var limited = $("#selActivityLimited").val();
			var review = $("#selActivityReview").val();
			var showLine = $("#selActivityShowLine").val();
			var scopeLine = $("#txtActivityScopeLine").val();
			var mandatory = $("#selActivityMandatory").val();
			var evalchart = $("#selActivityEvalChart").val();
			var actPreCond = ($("#tblProcessAttributeInfo tbody tr[data-id*='a" + String.fromCharCode(1) + "pre']").length > 0) ? "Y" : "N";
			var actPostCond = ($("#tblProcessAttributeInfo tbody tr[data-id*='a" + String.fromCharCode(1) + "post']").length > 0) ? "Y" : "N";
			var wiPreCond = ($("#tblProcessAttributeInfo tbody tr[data-id*='w" + String.fromCharCode(1) + "pre']").length > 0) ? "Y" : "N";
			var wiPostCond = ($("#tblProcessAttributeInfo tbody tr[data-id*='w" + String.fromCharCode(1) + "post']").length > 0) ? "Y" : "N";
			var description = $("#txtActivityDesc").val();
			var participantID = ($("#tblPartList tbody tr").length == 0) ? "" : $("#tblPartList tbody tr:eq(0)").attr("data-partid");
			var participantName = ($("#tblPartList tbody tr").length == 0) ? "" : $("#tblPartList tbody tr:eq(0)").attr("data-partname");
			var participantDeptCode = ($("#tblPartList tbody tr").length == 0) ? "" : $("#tblPartList tbody tr:eq(0)").attr("data-partdeptcode");

			var cDiv = String.fromCharCode(1);
			var attrInfoArray = [];

			for (var i = 0; i < $("#tblProcessAttributeInfo tbody tr").length; i++) {
				var $trObj = $("#tblProcessAttributeInfo tbody tr").eq(i);
				var dataID = $trObj.attr("data-id");

				var attrInfo = {};
				attrInfo.Pos = dataID.split(cDiv)[0];
				attrInfo.Condition = dataID.split(cDiv)[1];
				attrInfo.Attribute = dataID.split(cDiv)[2];
				attrInfo.Status = dataID.split(cDiv)[3];
				attrInfo.Dscpt = dataID.split(cDiv)[4];
				attrInfo.Item1 = dataID.split(cDiv)[5];
				attrInfo.Item2 = dataID.split(cDiv)[6];
				attrInfo.Item3 = dataID.split(cDiv)[7];
				attrInfo.Item4 = dataID.split(cDiv)[8];
				attrInfo.Item5 = dataID.split(cDiv)[9];

				attrInfoArray.push(attrInfo);
			}

			$.ajax({
				url: '@Url.Action("UpdateProcessActivity", "Proc")',
				type: 'POST',
				dataType: 'JSON',
				data: '{processID:' + processID + ', activityID:"' + activityID + '", parentActivityID:"' + parentActivityID + '", step:' + step + ', subStep:' + subStep + ', random:"' + random + '", inLine:"' + inLine + '", bizRole:"' + bizRole + '", actRole:"' + actRole + '", displayName:"' + displayName + '", progress:"' + progress + '", partType:"' + partType + '", limited:"' + limited + '", review:"' + review + '", showLine:"' + showLine + '", scopeLine:"' + scopeLine + '", mandatory:"' + mandatory + '", evalchart:' + evalchart + ', actPreCond:"' + actPreCond + '", actPostCond:"' + actPostCond + '", wiPreCond:"' + wiPreCond + '", wiPostCond:"' + wiPostCond + '", description:"' + description + '", participantID:"' + participantID + '", participantName:"' + participantName + '", participantDeptCode:"' + participantDeptCode + '", attrInfoArray:' + JSON.stringify(attrInfoArray) + '}',
				success: function (result) {
					if (result.code != "OK") {
						alert(result.message);
						return;
					}

					alert("정상적으로 Activity가 생성되었습니다.");

					activityID = result.message;

					$("#txtActivityID").val(activityID);

					// 저장 후 프로세스 단계를 가장 마지막으로 생성
					var processHtml = "<li class=\"dd-item dd-custom-drag-handle\" data-id=\"" + activityID + "\" data-step=\"" + step + "\" data-displayname=\"" + displayName + "\" data-parentActivityID=\"" + parentActivityID + "\" data-random=\"" + random + "\" data-depth=\"1\" data-inline=\"" + inLine + "\" data-review=\"" + review + "\">";
					processHtml += "	<div class=\"dd-handle\">";
					processHtml += "		<span class=\"ion ion-md-radio-button-off text-muted\"></span>";
					processHtml += "	</div>";
					processHtml += "	<div class=\"dd-content bg-light\">";
					processHtml += step + ". " + displayName + "&nbsp;&nbsp;[&nbsp;ReView&nbsp;:&nbsp;" + review + "&nbsp;,&nbsp;Random&nbsp;:&nbsp;" + random + "&nbsp]";
					processHtml += "		<button type=\"button\" class=\"btn btn-default btn-sm ml-3\" onclick=\"fnShowActivity('" + activityID + "')\">편집</button>";
					processHtml += "		<button type=\"button\" class=\"btn btn-default btn-sm ml-1\" onclick=\"fnDeleteActivity('" + activityID + "')\">삭제</button>";
					processHtml += "	</div>";
					processHtml += "</li>";

					$("#divProcessStep > ol").append(processHtml);

					initializeActivityInfo();
				}
			});
		}

		function saveProcessStep(bAlert) {
			if ($("li[data-id]").length == 0) {
				return;
			}

			var stepInfoArray = [];

			$("li[data-id]").each(function () {
				var stepInfo = {};
				stepInfo.ActivityID = $(this).attr("data-id");
				stepInfo.ParentActivityID = $(this).attr("data-parentActivityID");
				stepInfo.Step = $(this).attr("data-step");
				stepInfo.SubStep = 0;
				stepInfo.InLine = $(this).find("ol").find("li").length > 0 ? "Y" : "N";

				stepInfoArray.push(stepInfo);
			});

			$.ajax({
                url: '@Url.Action("UpdateProcessActivityStep", "Proc")',
				type: 'POST',
				dataType: 'JSON',
				data: '{stepInfoJson: ' + JSON.stringify(stepInfoArray) + '}',
				success: function (result) {
					if (result.code != "OK") {
						alert(result.message);
						return;
					}

					if (bAlert) {
						alert("정상적으로 처리되었습니다.");
					}
                }
			});
		}

		function initializeActivityInfo() {
			$("*.activity-edit-area").hide();
			$("*.activity-create-area").show();
			
			$("#activity-general,#activity-part,#activity-status,#activity-info").find("input").val("");
			$("#activity-general,#activity-part,#activity-status,#activity-info").find("textarea").val("");
			$("#activity-general,#activity-part,#activity-status,#activity-info").find("select").prop("selectedIndex", 0);
			$("#activity-general,#activity-part,#activity-status,#activity-info").find("table tbody").empty();

			$("#divActivityTarget").hide();
			$("#selActivityTargetUser,#selActivityTargetGroup,#selActivityTargetActivity").parent().hide();
			$("#selActivityTargetUser,#selActivityTargetGroup,#selActivityTargetActivity").prop("selectedIndex", 0);

			$("#selActivityRandom").prop("selectedIndex", 1);
			$("#selActivityAttribute").trigger("change");

			$("#ulActivity > li > a.nav-link:eq(0)").trigger("click");
		}

		function saveActivityGeneral() {
			if ($("#txtActivityName").val() == "") {
				alert("Activity명을 입력하세요.");
				return false;
			}	

			var strPartType = $("#txtActivityPartType").val();

			var isRandomCheck = false;
    
			switch (strPartType) {
				case "u_b__" :
				case "u_f__" :
				case "u_g_f" :
				case "u_g_l" :
				case "u_g_a" :
				case "u_g_c" :
				case "g_b__" :
				case "g_f__" :
				case "g_g_f" :
				case "g_g_l" :
				case "g_g_a" :
				case "g_g_c" :
				case "r_b__" :
					isRandomCheck = true;
					break;
				default :
					isRandomCheck = false;
					break;  
			}

			if ($("#selActivityRandom").val() == "Y") {
				if (!isRandomCheck) {
					alert("현재 Activity의 Random이 Y입니다.\r\n참여 형태를 정확하게 선택해 주세요.");
					return false; 
				}
			}

			var activityID = $("#txtActivityID").val();
			var displayName = $("#txtActivityName").val();
			var bizRole = $("#selActivityBizRole").val();
			var actRole = $("#selActivityActRole").val();
			var review = $("#selActivityReview").val();
			var progress = $("#selActivityProgress").val();
			var random = $("#selActivityRandom").val();
			var showLine = $("#selActivityShowLine").val();
			var mandatory = $("#selActivityMandatory").val();

			$.ajax({
				url: '@Url.Action("UpdateProcessActivityGeneral", "Proc")',
				type: 'POST',
				dataType: 'JSON',
				data: '{activityID:' + activityID + ', displayName:"' + displayName + '", bizRole:"' + bizRole + '", actRole:"' + actRole + '", review:"' + review + '", progress:"' + progress + '", random:"' + random + '", showLine:"' + showLine + '", mandatory:"' + mandatory + '"}',
				success: function (result) {
					if (result.code != "OK") {
						alert(result.message);
						return;
					}

					alert("정상적으로 처리되었습니다.");
				}
			});
		}
		
	</script>
}

<h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
	프로세스 관리
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalsDefaultDept" onclick="initializeForm(true)">초기화</button>
</h4>

<div class="card mb-4">
	<div class="card-body">
		<form class="form-inline">
			<select class="selectpicker" data-style="btn-default" data-live-search="true" id="selProcess" onchange="setProcessInfo()">
				<option value="0">프로세스를 선택하세요.</option>
				@{
					int rowCount = Model?.Rows?.Count ?? 0;

					if (rowCount > 0)
					{
						foreach (DataRow dr in Model.Rows)
						{
							<option value="@dr["ProcessID"].ToString()">@dr["Name"].ToString()</option>
						}
					}
				}
			</select>
		</form>
	</div>
</div>

<div class="modal fade" id="modalDocBasic">
	<div class="modal-dialog">
		<form class="modal-content" style="width:800px;">
			<div class="modal-header">
				<h5 class="modal-title">
					기본 정보
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
			</div>
			<div class="modal-body">
				<div class="form-row">
					<div class="form-group col">
						<label class="form-label">OID</label>
						<input type="text" id="txtOID" class="form-control" readonly="readonly">
					</div>
					<div class="form-group col">
						<label class="form-label">MessageID</label>
						<input type="text" id="txtMessageID" class="form-control" readonly="readonly">
					</div>
					<div class="form-group col">
						<label class="form-label">프로세스 정의</label>
						<input type="text" id="txtProcessID" class="form-control" readonly="readonly">
					</div>
					<div class="form-group col">
						<label class="form-label">프로세스 상태</label>
						<input type="text" id="txtPIState" class="form-control" readonly="readonly">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col">
						<label class="form-label">문서번호</label>
						<input type="text" id="txtDocNumber" class="form-control" readonly="readonly">
					</div>
					<div class="form-group col">
						<label class="form-label">진행단계</label>
						<input type="text" id="txtDocStatus" class="form-control" readonly="readonly">
					</div>
					<div class="form-group col">
						<label class="form-label">문서등급</label>
						<input type="text" id="txtDocLevel" class="form-control" readonly="readonly">
					</div>
					<div class="form-group col">
						<label class="form-label">보존년한</label>
						<input type="text" id="txtKeepYear" class="form-control" readonly="readonly">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col">
						<label class="form-label">프로세스명</label>
						<input type="text" id="txtPIName" class="form-control" readonly="readonly">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col">
						<label class="form-label">제목</label>
						<input type="text" id="txtSubject" class="form-control" readonly="readonly">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col">
						<label class="form-label">작성자</label>
						<input type="text" id="txtCreator" class="form-control" readonly="readonly">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col">
						<label class="form-label">작성자 부서</label>
						<input type="text" id="txtCreatorDept" class="form-control" readonly="readonly">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col">
						<label class="form-label">등록일</label>
						<input type="text" id="txtStarted" class="form-control" readonly="readonly">
					</div>
					<div class="form-group col">
						<label class="form-label">완료일</label>
						<input type="text" id="txtCompletedDate" class="form-control" readonly="readonly">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col">
						<label class="form-label">외부키1</label>
						<input type="text" id="txtExternalKey1" class="form-control" readonly="readonly">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col">
						<label class="form-label">외부키2</label>
						<input type="text" id="txtExternalKey2" class="form-control" readonly="readonly">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" id="btnPopupClose" data-dismiss="modal">확인</button>
			</div>
		</form>
	</div>
</div>

<div class="nav-tabs-top nav-responsive-sm">
	<ul id="ulProcess" class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link active" data-toggle="tab" href="#process-info">프로세스 정보</a>
		</li>
		<li class="nav-item" style="display:none">
			<a class="nav-link" data-toggle="tab" href="#process-processing">프로세스 처리 현황</a>
		</li>
		<li class="nav-item" style="display:none">
			<a class="nav-link" data-toggle="tab" href="#process-define">프로세스 정의</a>
		</li>
		<li class="nav-item" style="display:none">
			<a class="nav-link" data-toggle="tab" href="#process-copy">프로세스 복사</a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane fade show active" id="process-info">
			<div class="card-body">
				<div class="form-row">
					<div class="form-group col">
						<label class="form-label">유효기간</label>
						<div class="input-daterange input-group" id="divValidRange">
							<input type="text" class="form-control" name="start">
							<div class="input-group-prepend">
								<span class="input-group-text"> ~ </span>
							</div>
							<input type="text" class="form-control" name="end">
						</div>
					</div>
					<div class="form-group col">
						<label class="form-label">우선순위</label>
						<input type="text" id="txtPriority" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="form-label">프로세스명</label>
					<input type="text" id="txtProcessName" class="form-control">
				</div>
				<div class="form-group">
					<label class="form-label">프로세스 설명</label>
					<textarea class="form-control" id="txtProcessDescription" placeholder="프로세스 설명" rows="5"></textarea>
				</div>
				<div class="form-row">
					<div class="form-group col">
						<label class="form-label">사용여부</label>
						<select class="custom-select" id="selInUse">
							<option value="Y">사용</option>
							<option value="N">사용안함</option>
						</select>
					</div>
					<div class="form-group col">
						<label class="form-label">작성자</label>
						<input type="text" id="txtProcessCreator" class="form-control">
					</div>
				</div>
			</div>
			<div class="card-footer">
				<button type="button" class="btn btn-primary mr-2" onclick="saveBasicProcess()">프로세스 저장</button>
				<button type="button" class="btn btn-default ml-sm-3" style="display: none " id="btnExportProcess" onclick="exportProcessInfoForXml();">프로세스 정보(XML) 내보내기</button>
			</div>
		</div>

		<div class="tab-pane fade" id="process-processing">
			<div class="card-body">
				<form class="form-inline">
					<label class="form-label">날짜 : </label>
					<div class="input-daterange input-group mx-sm-3" id="divSearchRange">
						<input type="text" class="form-control" name="start">
						<div class="input-group-prepend">
							<span class="input-group-text"> ~ </span>
						</div>
						<input type="text" class="form-control" name="end">
					</div>
					<label class="form-label mx-sm-3">검색 조건 : </label>
					<select class="custom-select mx-sm-3" id="selSearchType">
						<option selected value="">선택</option>
						<option value="DocName">문서명</option>
						<option value="DocStatus">단계</option>
						<option value="PIName">제목</option>
						<option value="CreatorDept">작성부서</option>
						<option value="Creator">작성자</option>
					</select>
					<input type="text" id="txtSearchText" class="form-control mx-sm-3">
					<button type="button" id="btnSearch" class="btn btn-default" onclick="searchList()">검색</button>
				</form>
				<div class="form-row" style="padding-top: 20px;">
					<div class="col-md-12">
						<div class="card">
							<div class="card-datatable table-responsive">
								<table id="tbl_list" class="table table-striped table-bordered">
									<thead>
										<tr>
											<th>번호</th>
											<th>문서명</th>
											<th>단계</th>
											<th>제목</th>
											<th>작성부서</th>
											<th>작성자</th>
											<th>작성일</th>
											<th>완료일</th>
											<th>삭제일</th>
											<th>결재상태</th>
											<th>비고</th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="tab-pane fade" id="process-define">
			<div class="card-body">
				<div class="form-row">
					<div class="col-md-2">
						<div class="card mb-4">
							<h6 class="card-header">
								적용 양식
							</h6>
							<div class="card-body">
								<div class="table-responsive">
									<table id="tblProcessAppliedList" class="table table-striped table-bordered" style="margin-bottom:0;">
										<tbody></tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card mb-4">
							<h6 class="card-header">
								프로세스 단계
							</h6>
							<div class="card-body">
								<div class="dd" id="divProcessStep" style="margin-bottom: 30px;">
								</div>
								<hr class="border-light m-0">
								<button type="button" id="btnSaveShare" class="btn btn-primary" style="margin-top: 10px;" onclick="saveProcessStep(true)">프로세스 단계 저장</button>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card mb-4">
							<h6 class="card-header">
								프로세스 상세
							</h6>
							<div class="card-body">
								<div id="divActivity" class="nav-tabs-top nav-responsive-sm" style="margin-bottom:10px;">
									<ul id="ulActivity" class="nav nav-tabs">
										<li class="nav-item">
											<a class="nav-link active" data-toggle="tab" href="#activity-general">일반</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" data-toggle="tab" href="#activity-part">참여</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" data-toggle="tab" href="#activity-status">상태</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" data-toggle="tab" href="#activity-info">정보</a>
										</li>
									</ul>
									<div class="tab-content">
										<div class="tab-pane fade show active" id="activity-general">
											<div class="card-body">
												<div class="form-row">
													<div class="form-group col">
														<label class="form-label">ActivityID</label>
														<input type="text" id="txtActivityID" class="form-control" disabled="disabled">
													</div>
													<div class="form-group col">
														<label class="form-label">ParentActivityID</label>
														<input type="text" id="txtParentActivityID" class="form-control" disabled="disabled">
													</div>
												</div>
												<div class="form-group">
													<label class="form-label">이름</label>
													<input type="text" id="txtActivityName" class="form-control">
												</div>
												<div class="form-row">
													<div class="form-group col">
														<label class="form-label">BizRole</label>
														<select class="custom-select" id="selActivityBizRole">
														</select>
													</div>
													<div class="form-group col">
														<label class="form-label">ActRole</label>
														<select class="custom-select" id="selActivityActRole">
														</select>
													</div>
												</div>
												<div class="form-row">
													<div class="form-group col">
														<label class="form-label">Review</label>
														<select class="custom-select" id="selActivityReview">
															<option value="0">WorkItem 생성하지 않음</option>
															<option value="1">WorkItem 생성</option>
															<option value="2">WorkItem 생성 후 대기</option>
															<option value="3">WorkItem 생성 후 진행</option>
															<option value="4">Cabinet에 WorkItem 생성</option>
														</select>
													</div>
													<div class="form-group col">
														<label class="form-label">ProcessMethod</label>
														<select class="custom-select" id="selActivityProgress">
															<option value="none">단일</option>
															<option value="serial">순차</option>
															<option value="parallel">병렬</option>
														</select>
													</div>
												</div>
												<div class="form-row">
													<div class="form-group col">
														<label class="form-label">Random</label>
														<select class="custom-select" id="selActivityRandom">
															<option value="Y">선택</option>
															<option value="N" selected="selected">선택하지 않음</option>
														</select>
													</div>
													<div class="form-group col">
														<label class="form-label">ShowLine</label>
														<select class="custom-select" id="selActivityShowLine">
															<option value="Y">선택</option>
															<option value="N">선택하지 않음</option>
														</select>
													</div>
													<div class="form-group col">
														<label class="form-label">Mandatory</label>
														<select class="custom-select" id="selActivityMandatory">
															<option value="Y">필수</option>
															<option value="N">옵션</option>
														</select>
													</div>
												</div>
												<div class="card-footer activity-edit-area" style="padding-left: 0;">
													<button type="button" class="btn btn-primary" onclick="saveActivityGeneral()">일반 정보 저장</button>
												</div>
											</div>
										</div>
										<div class="tab-pane fade" id="activity-part">
											<div class="card-body">
												<div class="form-group">
													<label class="form-label">참여 형태</label>
													<select class="custom-select" id="selActivityPartType" onchange="fnShowSubType()">
														<option value="0">선택하세요.</option>
														<option value="u">User</option>
														<option value="g">Group</option>
														<option value="s">System</option>
													</select>
												</div>
												<div class="form-group">
													<label class="form-label">세부 참여 형태</label>
													<select class="custom-select" id="selActivitySubPartType" onchange="fnShowSubKey()">
														<option value="0" data-type="all">선택하세요.</option>
														<option value="a" data-type="u" style="display:none">Defined Person</option>
														<option value="b" data-type="u" style="display:none">Parameter Person</option>
														<option value="d" data-type="u" style="display:none">Initiator</option>
														<option value="e" data-type="u" style="display:none">Manager of Initiator</option>
														<option value="c" data-type="u" style="display:none">Specific Activity</option>
														<option value="f" data-type="u" style="display:none">Mixed Person</option>
														<option value="g" data-type="u" style="display:none">Charger per Forms</option>
														<option value="h" data-type="u" style="display:none">Attribute Person</option>
														<option value="r" data-type="u" style="display:none">Person in other Regacy</option>
														<option value="a" data-type="g" style="display:none">Defined Group</option>
														<option value="b" data-type="g" style="display:none">Parameter Group</option>
														<option value="d" data-type="g" style="display:none">Department Of Initiator</option>
														<option value="c" data-type="g" style="display:none">Group of Specific Activity</option>
														<option value="e" data-type="g" style="display:none">Department Of User In Specific Activity</option>
														<option value="f" data-type="g" style="display:none">Mixed Group</option>
														<option value="g" data-type="g" style="display:none">Charge Group per Forms</option>
														<option value="h" data-type="g" style="display:none">Attribute Group</option>
														<option value="a" data-type="s" style="display:none">Defined Authority</option>
														<option value="b" data-type="s" style="display:none">Parameter Authority</option>
														<option value="c" data-type="s" style="display:none">Group of Specific Activity</option>
														<option value="h" data-type="s" style="display:none">Attribute Role</option>
													</select>
												</div>
												<div class="form-group">
													<label class="form-label">특정 정의키</label>
													<select class="custom-select" id="selActivitySubKey" onchange="fnDisplayPartDesc()">
														<option value="0">선택하세요.</option>
														<option value="f" data-type="uc" style="display:none">First</option>
														<option value="l" data-type="uc" style="display:none">Last</option>
														<option value="a" data-type="uc" style="display:none">All</option>
														<option value="f" data-type="ug" style="display:none">First</option>
														<option value="l" data-type="ug" style="display:none">Last</option>
														<option value="a" data-type="ug" style="display:none">All</option>
														<option value="c" data-type="ug" style="display:none">Creator Dept</option>
														<option value="a" data-type="ga" style="display:none">Members</option>
														<option value="e" data-type="ga" style="display:none">Chief</option>
														<option value="g" data-type="ga" style="display:none">Specific Grade</option>
														<option value="c" data-type="ga" style="display:none">Specific Role</option>
														<option value="f" data-type="gg" style="display:none">First</option>
														<option value="l" data-type="gg" style="display:none">Last</option>
														<option value="a" data-type="gg" style="display:none">All</option>
														<option value="c" data-type="gg" style="display:none">Creator Dept</option>
														<option value="a" data-type="sa" style="display:none">Members</option>
														<option value="b" data-type="sa" style="display:none">All</option>
													</select>
												</div>
												<div class="form-group">
													<label class="form-label">선택값</label>
													<input type="text" id="txtActivityPartType" class="form-control" disabled="disabled">
												</div>
												<div class="form-group">
													<label class="form-label">선택 정보</label>
													<textarea class="form-control" id="txtActivityPartDescription" placeholder="선택 정보" rows="3"></textarea>
												</div>
												<div class="form-group" id="divActivityTarget" style="display:none;">
													<label class="form-label">대상 선택</label>
													<select class="custom-select selectpicker" id="selActivityTargetUser" data-live-search="true" title="사용자를 선택하세요." onchange="appendPartType('U')" style="display:none;"></select>
													<select class="custom-select selectpicker" id="selActivityTargetGroup" data-live-search="true" title="부서를 선택하세요." onchange="appendPartType('G')" style="display:none;"></select>
													<select class="custom-select selectpicker" id="selActivityTargetActivity" data-live-search="true" title="Activity를 선택하세요." onchange="appendPartType('S')" style="display:none;"></select>
												</div>
												<div class="form-group">
													<label class="form-label">참여 정보</label>
													<div class="card-body" style="padding: 0;">
														<div class="table-responsive">
															<table id="tblPartList" class="table table-striped table-bordered" style="margin-bottom:0;height:150px;">
																<tbody></tbody>
															</table>
														</div>
													</div>
												</div>
												<div class="card-footer activity-edit-area" style="padding-left: 0;">
													<button type="button" class="btn btn-primary" onclick="saveActivityPart()">참여 정보 저장</button>
												</div>
											</div>
										</div>
										<div class="tab-pane fade" id="activity-status">
											<div class="card-body">
												<div class="form-group">
													<label class="form-label">프로세스 속성 정보</label>
													<div class="card-body" style="padding: 0;">
														<div class="table-responsive">
															<table id="tblProcessAttributeInfo" class="table table-striped table-bordered" style="margin-bottom:0;height:150px;">
																<tbody></tbody>
															</table>
														</div>
													</div>
												</div>
												<div class="form-row">
													<div class="form-group col">
														<label class="form-label">속성</label>
														<select class="custom-select" id="selActivityAttribute" onchange="changeActivityAttribute()">
															<option value="0">선택하세요.</option>
															<option value="docnumber" data-cond2="" data-cond3="" data-cond4="" data-cond5="">문서번호</option>
															<option value="etcnumber" data-cond2="" data-cond3="" data-cond4="" data-cond5="">기타번호</option>
															<option value="xfinst" data-cond3="" data-cond4="" data-cond5="">공통필드</option>
															<option value="maintable" data-cond3="" data-cond4="" data-cond5="">주필드</option>
															<option value="subtable" data-cond3="" data-cond4="" data-cond5="">보조필드</option>
															<option value="alarm" data-cond4="EA/Forms/XFormMain.aspx?M=mail&mi={$mi}&fi={$fi}&wi={$wi}&oi={$oi}" data-cond5="">알림</option>
															<option value="transfer" data-cond4="" data-cond5="">문서이관</option>
															<option value="interface" data-cond3="" data-cond4="" data-cond5="">외부연동</option>
															<option value="progress" data-cond2="" data-cond3="" data-cond4="" data-cond5="">반려처리</option>
															<option value="worknotice" data-cond3="" data-cond4="" data-cond5="EA/Forms/XFormMain.aspx?M=new&fi={$fi}&wn={$wn}">작업연결</option>
															<option value="add_worknotice" data-cond3="" data-cond4="" data-cond5="">작업연결(타조건에추가)</option>
														</select>
													</div>
													<div class="form-group col">
														<label class="form-label">작업</label>
														<input type="text" id="txtActivityAttributeText" class="form-control">
													</div>
												</div>
												<div class="form-row">
													<div class="form-group col">
														<label class="form-label">상태</label>
														<select class="custom-select" id="selActivityConditionStatus">
															<option value="0">None</option>
															<option value="2">Confirmed</option>
															<option value="3">Reserve</option>
															<option value="4">Cancel</option>
															<option value="5">Transfer</option>
															<option value="6">Disagree</option>
															<option value="7">Approval</option>
															<option value="8">Reject</option>
															<option value="9">Withdraw</option>
															<option value="10">Back</option>
														</select>
													</div>
													<div class="form-group col">
														<label class="form-label">조건1</label>
														<select class="custom-select" id="selActivityCondition1" style="display:none">
															<option value="per_form_month" data-cond="docnumber">양식-월별 발번</option>
															<option value="per_form_day" data-cond="docnumber">양식-일별 발번</option>
															<option value="per_dept_month" data-cond="docnumber">부서-월별 발번</option>
															<option value="per_dept_day" data-cond="docnumber">부서-일별 발번</option>
															<option value="certificate_cresyn" data-cond="etcnumber">(크레신)증명신청번호</option>
															<option value="apinvoice_cresyn" data-cond="etcnumber">(크레신)전표번호</option>
															<option value="tooling_cresyn" data-cond="etcnumber">(크레신)금형번호</option>
															<option value="ecn_cresyn" data-cond="etcnumber">(크레신)ECN번호</option>
															<option value="offical_sundo" data-cond="etcnumber">(선도)공문번호</option>
															<option value="d" data-cond="xfinst">정의된 값</option>
															<option value="p" data-cond="xfinst">양식에서 받은 값</option>
															<option value="b" data-cond="xfinst">양식에서 받은 값(일괄)</option>
															<option value="t" data-cond="xfinst">공통필드 값</option>
															<option value="d" data-cond="maintable">정의된 값</option>
															<option value="p" data-cond="maintable">양식에서 받은 값</option>
															<option value="b" data-cond="maintable">양식에서 받은 값(일괄)</option>
															<option value="s" data-cond="maintable">양식에서 받은 값(부분)</option>
															<option value="t" data-cond="maintable">공통필드 값</option>
															<option value="d" data-cond="subtable">정의된 값</option>
															<option value="p" data-cond="subtable">양식에서 받은 값</option>
															<option value="b" data-cond="subtable">양식에서 받은 값(일괄)</option>
															<option value="mail_notice" data-cond="alarm">각종 알림메일</option>
															<option value="mail_complete" data-cond="alarm">완료 메일</option>
															<option value="mail_complete_d" data-cond="alarm">완료 메일(기안자에게만)</option>
															<option value="mail_web" data-cond="alarm">외부로 메일 전송</option>
															<option value="mail_dl" data-cond="alarm">배포 메일 전송</option>
															<option value="mail_cabinet" data-cond="alarm">문서배포 및 메일전송</option>
															<option value="mail_cabinet_sp" data-cond="alarm">문서배포 및 메일전송(별도)</option>
															<option value="table_a" data-cond="transfer">이관정보테이블사용</option>
															<option value="table_b" data-cond="transfer">이관정보테이블사용 및 PDM이관</option>
															<option value="table_c" data-cond="transfer">게시판 등록</option>
															<option value="erp_a" data-cond="interface">연동 A형</option>
															<option value="erp_b" data-cond="interface">연동 B형</option>
															<option value="erp_c" data-cond="interface">연동 C형</option>
															<option value="erp_d" data-cond="interface">연동 D형</option>
															<option value="register_a" data-cond="interface">대장등록 A형</option>
															<option value="register_b" data-cond="interface">대장등록 B형</option>
															<option value="register_c" data-cond="interface">대장등록 C형</option>
															<option value="register_d" data-cond="interface">대장등록 D형</option>
															<option value="a" data-cond="progress">전체 반려</option>
															<option value="l" data-cond="progress">현 수준 반려 처리</option>
															<option value="w" data-cond="progress">현 참여자 반려</option>
															<option value="new" data-cond="worknotice">신규작성</option>
															<option value="new_mail" data-cond="worknotice">신규작성 및 메일알림</option>
															<option value="new_messanger" data-cond="worknotice">신규작성 및 메신저알림</option>
															<option value="new" data-cond="add_worknotice">신규작성</option>
															<option value="new_mail" data-cond="add_worknotice">신규작성 및 메일알림</option>
															<option value="new_messanger" data-cond="add_worknotice">신규작성 및 메신저알림</option>
														</select>
														<input type="text" id="txtActivityCondition1" class="form-control">
													</div>
												</div>
												<div class="form-row">
													<div class="form-group col">
														<label class="form-label">조건2</label>
														<select class="custom-select" id="selActivityCondition2" style="display:none">
															<option value="1" data-cond="xfinst">이력관리 안함</option>
															<option value="2" data-cond="xfinst">이력관리 함</option>
															<option value="1" data-cond="maintable">이력관리 안함</option>
															<option value="2" data-cond="maintable">이력관리 함</option>
															<option value="1" data-cond="subtable">이력관리 안함</option>
															<option value="2" data-cond="subtable">이력관리 함</option>
															<option value="out" data-cond="alarm">결재 후 처리</option>
															<option value="svc" data-cond="alarm">서비스로 처리</option>
															<option value="out" data-cond="transfer">결재 후 처리</option>
															<option value="svc" data-cond="transfer">서비스로 처리</option>
															<option value="out" data-cond="interface">결재 후 처리</option>
															<option value="svc" data-cond="interface">서비스로 처리</option>
															<option value="u_a__" data-cond="worknotice">작업자 정의</option>
															<option value="u_b__" data-cond="worknotice">작업자 지정</option>
															<option value="u_b_b" data-cond="worknotice">작업자 복수지정</option>
															<option value="u_c__" data-cond="worknotice">현프로세스 참여자</option>
															<option value="u_d__" data-cond="worknotice">현프로세스 기안자</option>
															<option value="u_a__" data-cond="add_worknotice">작업자 정의</option>
															<option value="u_b__" data-cond="add_worknotice">작업자 지정</option>
															<option value="u_b_b" data-cond="add_worknotice">작업자 복수지정</option>
															<option value="u_c__" data-cond="add_worknotice">현프로세스 참여자</option>
															<option value="u_d__" data-cond="add_worknotice">현프로세스 기안자</option>
														</select>
														<input type="text" id="txtActivityCondition2" class="form-control">
													</div>
													<div class="form-group col">
														<label class="form-label">조건3</label>
														<select class="custom-select" id="selActivityCondition3" style="display:none">
															<option value="1" data-cond="alarm">간단내용</option>
															<option value="2" data-cond="alarm">결재본문포함</option>
															<option value="3" data-cond="alarm">간단내용 + 결재본문포함</option>
															<option value="1" data-cond="transfer">결재문서전체</option>
															<option value="2" data-cond="transfer">결재본문</option>
															<option value="4" data-cond="transfer">본문구성파일이용</option>
														</select>
														<input type="text" id="txtActivityCondition3" class="form-control">
													</div>
												</div>
												<div class="form-row">
													<div class="form-group col">
														<label class="form-label">조건4</label>
														<input type="text" id="txtActivityCondition4" class="form-control">
													</div>
													<div class="form-group col">
														<label class="form-label">조건5</label>
														<input type="text" id="txtActivityCondition5" class="form-control">
													</div>
												</div>
												<div class="card-footer activity-edit-area" style="padding-left: 0;">
													<button type="button" class="btn btn-primary" onclick="saveActivityStatus()">상태 정보 저장</button>
												</div>
												<div class="card-footer activity-create-area" style="padding-left: 0;">
													<button type="button" id="btnActivityPreCondition" class="btn btn-default" onclick="fnAddProcess(1)">Activity 이전 조건 추가</button>
													<button type="button" id="btnActivityPostCondition" class="btn btn-default ml-2" onclick="fnAddProcess(2)">Activity 이후 조건 추가</button>
													<button type="button" id="btnWorkItemPreCondition" class="btn btn-default ml-2" onclick="fnAddProcess(3)">WorkItem 이전 조건 추가</button>
													<button type="button" id="btnWorkItemPostCondition" class="btn btn-default ml-2" onclick="fnAddProcess(4)">WorkItem 이후 조건 추가</button>
												</div>
											</div>
										</div>
										<div class="tab-pane fade" id="activity-info">
											<div class="card-body">
												<div class="form-group">
													<label class="form-label">참여자 지정 가능 단계</label>
													<input type="text" id="txtActivityScopeLine" class="form-control">
												</div>
												<div class="form-row">
													<div class="form-group col">
														<label class="form-label">하위 유무</label>
														<select class="custom-select" id="selActivityInLine">
															<option value="Y">하위 있음</option>
															<option value="N">하위 없음</option>
														</select>
													</div>
													<div class="form-group col">
														<label class="form-label">사용 제한</label>
														<select class="custom-select" id="selActivityLimited">
															<option value="Y">제한 있음</option>
															<option value="N">제한 없음</option>
														</select>
													</div>
												</div>
												<div class="form-group">
													<label class="form-label">평가표</label>
													<select class="custom-select" id="selActivityEvalChart">
														<option value="0">평가표 없음</option>
													</select>
												</div>
												<div class="form-group">
													<label class="form-label">설명</label>
													<textarea class="form-control" id="txtActivityDesc" placeholder="설명" rows="5"></textarea>
												</div>
												<div class="card-footer activity-edit-area" style="padding-left: 0;">
													<button type="button" class="btn btn-primary" onclick="saveActivityInfo()">프로세스 정보 저장</button>
												</div>
											</div>
											
										</div>
									</div>
								</div>
								<hr class="border-light m-0 activity-create-area">
								<button type="button" class="btn btn-primary activity-create-area" style="margin-top: 10px;" onclick="addNewActivityInfo()">Activity 추가</button>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="tab-pane fade" id="process-copy">
			<div class="card-body">
				<div class="form-row">
					<div class="form-group col">
						<label class="form-label">유효기간</label>
						<div class="input-daterange input-group" id="divCopyValidRange">
							<input type="text" class="form-control" name="start">
							<div class="input-group-prepend">
								<span class="input-group-text"> ~ </span>
							</div>
							<input type="text" class="form-control" name="end">
						</div>
					</div>
					<div class="form-group col">
						<label class="form-label">우선순위</label>
						<input type="text" id="txtCopyPriority" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="form-label">프로세스명</label>
					<input type="text" id="txtCopyProcessName" class="form-control">
				</div>
				<div class="form-group">
					<label class="form-label">프로세스 설명</label>
					<textarea class="form-control" id="txtCopyProcessDescription" placeholder="프로세스 설명" rows="5"></textarea>
				</div>
				<div class="form-row">
					<div class="form-group col">
						<label class="form-label">사용여부</label>
						<select class="custom-select" id="selCopyInUse">
							<option value="Y">사용</option>
							<option value="N">사용안함</option>
						</select>
					</div>
					<div class="form-group col">
						<label class="form-label">작성자</label>
						<input type="text" id="txtCopyProcessCreator" class="form-control">
					</div>
				</div>
			</div>
			<div class="card-footer">
				<button type="button" class="btn btn-primary mr-2" onclick="copyProcess()">다른 이름으로 프로세스 저장</button>
			</div>
		</div>
	</div>
</div>