@{
    ViewBag.Title = "프로세스 처리 기록";
}

@section Styles {
    @Styles.Render("~/bundle/vendor/css/bootstrap-datepicker/bootstrap-datepicker")
    @Styles.Render("~/bundle/vendor/css/datatables/datatables")
}

@section Scripts {
    @Scripts.Render("~/bundle/vendor/js/moment/moment")
    @Scripts.Render("~/bundle/vendor/js/bootstrap-datepicker/bootstrap-datepicker")
    @Scripts.Render("~/bundle/vendor/js/datatables/datatables")

    <script type="text/javascript">
        var tbl_list;

		$(document).ready(function () {
            $("#divDatePicker").datepicker({
				language: "ko",
                format: "yyyy-mm-dd"
            });

			searchList();

			$("#btnSearch").on("click", function () {
				searchList();
			});
		});

		function searchList() {
            if (tbl_list) {
                tbl_list.destroy();
			}

            tbl_list = $('#tbl_list').DataTable({
                "serverSide": true,
                "ajax": {
                    "url": '@Url.Action("SearchServiceModeProcessList", "Proc")',
					"type": "POST",
					"data": function (p) {
						p.mode = "ad";
						p.admin = "";
						p.formId = "";
						p.defId = 0;
						p.viewer = 0;
						p.state = 0;
						p.searchText = $("#setApprovalType").val();
						p.searchStartDate = $("#divDatePicker input[name='start']").val();
						p.searchEndDate = $("#divDatePicker input[name='end']").val();
					},
				    "dataSrc": function (result) {
                        if (result.code != "OK") {
						    alert(result.message);

						    return [];
					    }

                        $("#tbl_list_wrapper").find("div.row:eq(0)").find("div:eq(0)").empty();
						$("#tbl_list_wrapper").find("div.row:eq(0)").find("div:eq(0)").append("<div class=\"dataTables_length\"><label>" + result.recordsTotal + "건의 프로세스 처리 기록이 존재합니다.</label></div>");

						return result.data;
					}
				},
                "columns": [
					{
						data: "AuditID",
						"orderable": false
					},
					{
						data: "WebSrv",
                        "orderable": false
					},
					{
						data: "DocName"
					},
					{
						data: "PIName"
					},
					{
						data: "DisplaySignStatus"
					},
					{
						data: "StartDate",
                        "orderable": false
					},
					{
						data: "Duration",
                        "orderable": false
					},
					{
						data: "PartName",
                        "orderable": false
					},
					{
						data: "RemoteHost",
                        "orderable": false
					},
					{
						data: "Creator",
                        "orderable": false
					},
					{
						data: null,
                        "orderable": false
					}
					//{ data: "ExceptionInfo" }
                ],
                "lengthChange": false,
				"searching": false,
				"info": false,
				"displayLength": 15,
				"order": [],
				"ordering": false,
				"language": dataTable_lang_kor,
				"createdRow": function (row, data, index) {
					var createDate = data["CreateDate"];
					var piEnd = data["PIEnd"];
					var deleteDate = data["DeleteDate"];

                    if ((data["CreateDate"] != null && data["CreateDate"] != "") && data["CreateDate"].length >= 19) {
                        createDate = data["CreateDate"].substring(2, 10) + " " + data["CreateDate"].substring(11, 16);
					}

                    if ((data["PIEnd"] != null && data["PIEnd"] != "") && data["PIEnd"].length >= 19) {
                        piEnd = data["PIEnd"].substring(2, 10) + " " + data["PIEnd"].substring(11, 16);
					}

                    if ((data["DeleteDate"] != null && data["DeleteDate"] != "") && data["DeleteDate"].length >= 19) {
                        deleteDate = data["DeleteDate"].substring(2, 10) + " " + data["DeleteDate"].substring(11, 16);
					}

					$('td', row).eq(6).html('').append(createDate);
					$('td', row).eq(7).html('').append(piEnd);
					$('td', row).eq(8).html('').append(deleteDate);

					var piState = data["PIState"];
					var piStateHtml = "<button type=\"button\" class=\"btn btn-default\">대기</button>";

					if (piState == "1") {
                        // 진행중
                        piStateHtml = "<button type=\"button\" class=\"btn btn-primary\">진행중</button>";
					} else if (piState == "2") {
                        // 처리중
                        piStateHtml = "<button type=\"button\" class=\"btn btn-primary\">처리중</button>";
					} else if (piState == "5") {
                        // 멈춤
                        piStateHtml = "<button type=\"button\" class=\"btn btn-secondary\">멈춤</button>";
					} else if (piState == "7") {
                        // 완료
                        piStateHtml = "<button type=\"button\" class=\"btn btn-success\">완료</button>";
					} else if (piState == "8") {
                        // 강제종료(회수)
                        piStateHtml = "<button type=\"button\" class=\"btn btn-warning\">강제종료(회수)</button>";
					} else if (piState == "99") {
                        // 처리중 에러
						piStateHtml = "<button type=\"button\" class=\"btn btn-danger\">처리중 에러</button>";
					}

                    $('td', row).eq(9).html('').append(piStateHtml);

					$('td', row).eq(10).addClass('text-center text-nowrap').html('').append("<select class='custom-select' onchange='viewWorkItemAction(this, \"" + data["MessageID"] + "\", \"" + data["OID"] + "\")' data-menu=\"select\"><option selected value=''>선택</option><option value='B'>기본 정보</option><option value='L'>결재선 정보</option><option value='I'>WorkItem 정보</option><option value='O'>문서열기</option><option value='D'>삭제</option></select>");

                    if (deleteDate != null && deleteDate != "") {
						$(row).find("td").css("text-decoration", "line-through");
					}
				}
            });
		}
    </script>
}
<h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
    프로세스 처리 기록
</h4>

<div class="card mb-4">
    <div class="card-body">
        <form class="form-inline">
            <label class="form-label">결재 종류 : </label>
            <select class="custom-select mx-sm-3" id="setApprovalType">
                <option selected value="ALL">전체</option>
                <option value="0">없음</option>
                <option value="2">확인</option>
                <option value="3">보류</option>
                <option value="4">취소</option>
                <option value="5">전달</option>
                <option value="6">비승인</option>
                <option value="7">결재</option>
                <option value="8">반려</option>
                <option value="9">회수</option>
                <option value="10">지정반려</option>
                <option value="100">기안</option>
            </select>

            @{
                DateTime nowDate = DateTime.Now;

                string startDt = new DateTime(nowDate.Year, 1, 1).ToShortDateString();
                string endDt = new DateTime(nowDate.Year, 12, 31).ToShortDateString();
            }

            <label class="form-label">날짜 : </label>
            <div class="input-daterange input-group mx-sm-3" id="divDatePicker">
                <input type="text" class="form-control" name="start" value="@startDt">
                <div class="input-group-prepend">
                    <span class="input-group-text"> ~ </span>
                </div>
                <input type="text" class="form-control" name="end" value="@endDt">
            </div>
            <button type="button" id="btnSearch" class="btn btn-default">검색</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-datatable table-responsive">
                <table id="tbl_list" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th style="width:4%">ID</th>
                            <th style="width:8%">웹서버</th>
                            <th style="width:8%">양식명</th>
                            <th style="width:15%">프로세스명</th>
                            <th style="width:7%">종류</th>
                            <th style="width:10%">처리시각</th>
                            <th style="width:5%">소요</th>
                            <th style="width:12%">처리자</th>
                            <th style="width:8%">접속IP</th>
                            <th style="width:12%">작성자</th>
                            <th style="width:11%">처리내용</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>