@using System.Collections;
@using System.Text;

@{
}

@functions {

    private string RenderCodeTable(string k2, ArrayList code)
    {
        StringBuilder sb = new StringBuilder();

        sb.Append("<table class=\"table table-sm mb-0\">");
        sb.Append("<thead>");
        sb.Append("<tr><th class=\"text-center\" style=\"width: 60px\">순번</th><th class=\"text-center\">이름</th><th></th></tr>");
        sb.Append("</thead>");
        sb.Append("<tbody>");
        if (code != null && code.Count > 0)
        {
            foreach (object[] o in code)
            {
                sb.Append("<tr>");
                sb.AppendFormat("<td><input type=\"text\" class=\"form-control input-sm text-center\" value=\"{0}\" data-zf-field=\"k3\" readonly /></td>", o[2].ToString());
                sb.AppendFormat("<td><input type=\"text\" class=\"form-control input-sm text-center\" value=\"{0}\" data-zf-field=\"item1\" /></td>", o[3].ToString());

                sb.Append("<td>");
                sb.Append("<div class=\"btn-group btn-group-sm\" role=\"group\">");
                sb.Append("<button type=\"button\" class=\"btn btn-default\" title=\"삭제\" data-btn=\"del\"><i class=\"fas fa-minus\"></i></button>");
                sb.Append("<button type=\"button\" class=\"btn btn-success\" title=\"저장\" data-btn=\"save\"><i class=\"fas fa-check\"></i></button>");
                sb.Append("</div>");
                sb.Append("</td>");
                sb.Append("</tr>");
            }
        }
        else
        {
            sb.Append("<tr>");
            sb.Append("<td><input type=\"text\" class=\"form-control input-sm text-center\" value=\"\" data-zf-field=\"k3\" readonly /></td>");
            sb.Append("<td><input type=\"text\" class=\"form-control input-sm text-center\" value=\"\" data-zf-field=\"item1\" /></td>");

            sb.Append("<td>");
            sb.Append("<div class=\"btn-group btn-group-sm\" role=\"group\">");
            sb.Append("<button type=\"button\" class=\"btn btn-default\" title=\"삭제\" data-btn=\"del\"><i class=\"fas fa-minus\"></i></button>");
            sb.Append("<button type=\"button\" class=\"btn btn-success\" title=\"저장\" data-btn=\"save\"><i class=\"fas fa-check\"></i></button>");
            sb.Append("</div>");
            sb.Append("</td>");
            sb.Append("</tr>");
        }
        sb.Append("</tbody>");
        sb.Append("</table>");

        sb.Append("<script type=\"text/template\" class=\"zf-sp-template\">"); //template script
        sb.Append("<tr>");
        sb.Append("<td><input type=\"text\" class=\"form-control input-sm text-center\" value=\"\" data-zf-field=\"k3\" /></td>");
        sb.Append("<td><input type=\"text\" class=\"form-control input-sm text-center\" value=\"\" data-zf-field=\"item1\" /></td>");

        sb.Append("<td>");
        sb.Append("<div class=\"btn-group btn-group-sm\" role=\"group\">");
        sb.Append("<button type=\"button\" class=\"btn btn-default\" title=\"삭제\" data-btn=\"del\"><i class=\"fas fa-minus\"></i></button>");
        sb.Append("<button type=\"button\" class=\"btn btn-success\" title=\"저장\" data-btn=\"save\"><i class=\"fas fa-check\"></i></button>");
        sb.Append("</div>");
        sb.Append("</td>");
        sb.Append("</tr>");
        sb.Append("</script>"); //template script

        return sb.ToString();
    }
}

@if (ViewBag.Mode == "ajax")
{
    @Html.Raw(RenderCodeTable("", ViewBag.CodeList))
}
else
{
    <div class="row">
        <div class="col-sm-6 col-lg-4 py-3">
            <div class="card" data-zf-code="@ViewBag.CodeConfig[1, 0].@ViewBag.CodeConfig[1, 1]" style="border-color: rgba(24, 28, 33, 0.2);">
                <div class="card-header bg-light d-flex align-items-center justify-content-between px-3 py-2 border-bottom-0">
                    <span>@ViewBag.CodeConfig[1, 2]</span>
                    <button type="button" class="btn btn-default btn-sm" title="추가" data-btn="add"><i class="fas fa-plus"></i></button>
                </div>
                <div class="card-body p-0">
                    @Html.Raw(RenderCodeTable(ViewBag.CodeConfig[1, 1], ViewBag.CodeTable[ViewBag.CodeConfig[1, 0] + "." + @ViewBag.CodeConfig[1, 1]]))
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-4 py-3">
            <div class="card" data-zf-code="@ViewBag.CodeConfig[2, 0].@ViewBag.CodeConfig[2, 1]" style="border-color: rgba(24, 28, 33, 0.2);">
                <div class="card-header bg-light d-flex align-items-center justify-content-between px-3 py-2 border-bottom-0">
                    <span>@ViewBag.CodeConfig[2, 2]</span>
                    <button type="button" class="btn btn-default btn-sm" title="추가" data-btn="add"><i class="fas fa-plus"></i></button>
                </div>
                <div class="card-body p-0">
                    @Html.Raw(RenderCodeTable(ViewBag.CodeConfig[2, 1], ViewBag.CodeTable[ViewBag.CodeConfig[2, 0] + "." + @ViewBag.CodeConfig[2, 1]]))
                </div>
            </div>
        </div>
    </div>
}


