@using System;
@using System.Web.Mvc;
@using ZumNet.Framework.Util;
@{ 
    ZumNet.Framework.Core.ServiceResult svcRt = null;
    bool bFormCharger = false;
    bool bRcvManager = false;

    //string[,] vBox;
    string sReturn = "";

    //담당 체크
    using (ZumNet.BSL.FlowBiz.WorkList wkList = new ZumNet.BSL.FlowBiz.WorkList())
    {
        svcRt = wkList.GetMenuConfig(Convert.ToInt32(HttpContext.Current.Session["DNID"]), Convert.ToInt32(HttpContext.Current.Session["URID"]), Convert.ToInt32(HttpContext.Current.Session["DeptID"]));
    }

    if (svcRt != null && svcRt.ResultCode == 0)
    {
        bFormCharger = Convert.ToBoolean(svcRt.ResultDataDetail["FormCharger"]);
        bRcvManager = Convert.ToBoolean(svcRt.ResultDataDetail["RcvManager"]);
    }
    else
    {
        //에러페이지
        sReturn = svcRt.ResultMessage;
    }
    //sReturn = "결재함 정보 가져오는데 오류 발생 : " + bFormCharger.ToString() + " : " + bRcvManager.ToString() + " : " + svcRt.ResultDataDetail["FormCharger"] + " : " + HttpContext.Current.Session["URID"];
}
<div class="z-webpart card" id="_EA_COUNT" style="height: 275px">
    @if (sReturn != "")
    {
        @Html.Partial("~/Views/Shared/_ErrorInline.cshtml", new HandleErrorInfo(new Exception(sReturn), "Portal", "결재정보"))
    }
    else
    {
        string sDel = "/";
        string[,] vBox = {
            //type, node, location, actrole, query, basesort, 문서함명, basesort명, count여부, bold여부
            { "u", "node.do", "do", "", "do" + sDel + "" + sDel + HttpContext.Current.Session["URID"].ToString(), "ReqDate", Resources.EA.BoxToDo, Resources.Global.Date_Request, "Y", "Y" },
            { "u", "node.ep", "ep", "", "ep" + sDel + "" + sDel + HttpContext.Current.Session["URID"].ToString(), "PIStart", Resources.EA.BoxExpected, Resources.Global.Date_Draft, "Y", "Y" },
            { "u", "node.wt", "wt", "", "wt" + sDel + "" + sDel + HttpContext.Current.Session["URID"].ToString(), "CreateDate", Resources.EA.BoxWaiting, Resources.Global.Date_Sent, "Y", "Y" },
            { "u", "node.av", "av", "", "av" + sDel + "" + sDel + HttpContext.Current.Session["URID"].ToString(), "ReceivedDate", Resources.EA.BoxToApprove, Resources.Global.Date_Receive, "Y", "Y" },
            { "u", "node.go", "go", "", "go" + sDel + "" + sDel + HttpContext.Current.Session["URID"].ToString(), "CompletedDate", Resources.EA.BoxInProcess, Resources.Global.Date_Approve, "Y", "Y" },
            { "u", "node.cf", "cf", "_cf", "cf" + sDel + "_cf" + sDel + HttpContext.Current.Session["URID"].ToString(), "ReceivedDate", Resources.EA.BoxToConfirm, Resources.Global.Date_Receive, "Y", "" },
            { "u", "node.dl", "dl", "_dl", "dl" + sDel + "_dl" + sDel + HttpContext.Current.Session["URID"].ToString(), "ReceivedDate", Resources.EA.BoxDistribued, Resources.Global.Date_Receive, "Y", "" },
            { "u", "node.cm", "cm", "", "cm" + sDel + "" + sDel + HttpContext.Current.Session["URID"].ToString(), "CompletedDate", Resources.EA.BoxCompleted, Resources.Global.Date_Approve, "", "" },
            { "u", "node.rj", "rj", "", "rj" + sDel + "" + sDel + HttpContext.Current.Session["URID"].ToString(), "CompletedDate", Resources.EA.BoxReturn, Resources.Global.Date_Return, "Y", "" },
            { "u", "node.ps", "ps", "", "ps" + sDel + "" + sDel + HttpContext.Current.Session["URID"].ToString(), "ReceivedDate", Resources.EA.BoxViewLater, Resources.Global.Date_Receive, "", "" },
            { "u", "node.re", "re", "", "re" + sDel + "" + sDel + HttpContext.Current.Session["URID"].ToString(), "ReceivedDate", Resources.EA.BoxReference, Resources.Global.Date_Receive, "Y", "" },
            { "u", "node.wd", "wd", "", "wd" + sDel + "" + sDel + HttpContext.Current.Session["URID"].ToString(), "PIEnd", Resources.EA.BoxWithdraw, Resources.Global.Date_Withdraw, "", "" },
            { "u", "node.te", "te", "", "te" + sDel + "" + sDel + HttpContext.Current.Session["URID"].ToString(), "CreateDate", Resources.EA.BoxSaved, Resources.Global.Date_Created, "", "" },

            { "d", "node.as", "as", "__r", "as" + sDel + "__r" + sDel + HttpContext.Current.Session["DeptID"].ToString() + "__r", "ReceivedDate", Resources.EA.BoxAssigned, Resources.Global.Date_Receipt, "Y", "Y" },
            { "d", "node.__r", "__r", "__r", "__r" + sDel + "__r" + sDel + HttpContext.Current.Session["DeptID"].ToString() + "__r", "ReceivedDate", Resources.EA.BoxReceived, Resources.Global.Date_Receipt, "Y", "Y" },
            { "d", "node._s", "_s", "_s", "_s" + sDel + "_s" + sDel + HttpContext.Current.Session["DeptID"].ToString() + "_s", "CompletedDate", Resources.EA.BoxSent, Resources.Global.Date_Send, "", "" },
            { "d", "node._a", "_a", "_a", "_a" + sDel + "_a" + sDel + HttpContext.Current.Session["DeptID"].ToString() + "_a", "PIEnd", Resources.EA.BoxCompleted, Resources.Global.Date_Complete, "", "" },
            { "d", "node._re", "_re", "_re", "_re" + sDel + "_re" + sDel + HttpContext.Current.Session["DeptID"].ToString() + "_re", "ReceivedDate", Resources.EA.BoxReference, Resources.Global.Date_Receipt, "Y", "" },
            { "d", "node._dl", "dl", "_dl", "dl" + sDel + "_dl" + sDel + HttpContext.Current.Session["DeptID"].ToString() + "_dl", "ReceivedDate", Resources.EA.BoxDistribued, Resources.Global.Date_Receipt, "Y", "" }
        };
        string sClass = "";

        <div class="card-header with-elements">
            <div class="card-header-title"><i class="fe-box mr-1"></i>결재정보</div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6 list-group">
                    @for (int i = 0; i < 6; i++)
                    {
                        if (vBox[i, 8] == "Y" && (vBox[i, 1] != "node.wt" || (vBox[i, 1] == "node.wt" && Session["FlowSvcMode"] != null && Session["FlowSvcMode"].ToString().Substring(0, 1) == "Y"))
                            && (vBox[i, 1] != "node._re" && vBox[i, 1] != "node._dl"))
                        {
                            if (i == 0) { sClass = "btn-indigo"; }
                            else if (i == 1) { sClass = "btn-outline-indigo opacity-75"; }
                            else if (i == 3) { sClass = "btn-primary"; }
                            else { sClass = "btn-default"; }
                            <button class="btn @sClass d-flex justify-content-between@(i == 0 ? "" : " mt-1") py-1" data-toggle="tooltip" data-placement="bottom" title="@vBox[i, 6]" data-box="@vBox[i, 1]" data-location="@vBox[i, 4]">
                                <span class="text-truncate">@vBox[i, 6]</span><span class="z-lm-cnt"></span>
                            </button>}
                    }
                </div>
                <div class="col-6 list-group pr-0">
                    @for (int i = 6; i < vBox.GetLength(0); i++)
                    {
                        if (vBox[i, 8] == "Y" && ((vBox[i, 1] != "node.as" && vBox[i, 1] != "node.__r" && vBox[i, 1] != "node._re" && vBox[i, 1] != "node._dl")
                            || ((vBox[i, 1] == "node.as" && bFormCharger) || (vBox[i, 1] == "node.__r" && bRcvManager))))
                        {
                            if (i == 13) { sClass = "btn-outline-indigo opacity-75"; }
                            else if (i == 14) { sClass = "btn-outline-indigo opacity-75"; }
                            else { sClass = "btn-default"; }
                            <button class="btn @sClass d-flex justify-content-between@(i == 6 ? "" : " mt-1") py-1" data-toggle="tooltip" data-placement="bottom" title="@vBox[i, 6]" data-box="@vBox[i, 1]" data-location="@vBox[i, 4]">
                                <span class="text-truncate">@vBox[i, 6]</span><span class="z-lm-cnt"></span>
                            </button>}
                    }
                </div>
            </div>
            @*<div class="row">
                <div class="col-6 list-group">
                    @for (int i = 0; i < 6; i++)
                    {
                        if (ViewBag.Box[i, 8] == "Y" && (ViewBag.Box[i, 1] != "node.wt" || (ViewBag.Box[i, 1] == "node.wt" && Session["FlowSvcMode"] != null && Session["FlowSvcMode"].ToString().Substring(0, 1) == "Y"))
                            && (ViewBag.Box[i, 1] != "node._re" && ViewBag.Box[i, 1] != "node._dl"))
                        {
                            if (i == 0) { sClass = "btn-indigo"; }
                            else if (i == 1) { sClass = "btn-outline-indigo opacity-75"; }
                            else if (i == 3) { sClass = "btn-primary"; }
                            else { sClass = "btn-default"; }
                            <button class="btn @sClass d-flex justify-content-between@(i == 0 ? "" : " mt-1") py-1" data-toggle="tooltip" data-placement="bottom" title="@ViewBag.Box[i, 6]" data-box="@ViewBag.Box[i, 1]" data-location="@ViewBag.Box[i, 4]">
                                <span class="text-truncate">@ViewBag.Box[i, 6]</span><span class="z-lm-cnt"></span>
                            </button>}
                    }
                </div>
                <div class="col-6 list-group pr-0">
                    @for (int i = 6; i < ViewBag.Box.GetLength(0); i++)
                    {
                        if (ViewBag.Box[i, 8] == "Y" && (ViewBag.Box[i, 1] != "node.wt" || (ViewBag.Box[i, 1] == "node.wt" && Session["FlowSvcMode"] != null && Session["FlowSvcMode"].ToString().Substring(0, 1) == "Y"))
                            && (ViewBag.Box[i, 1] != "node._re" && ViewBag.Box[i, 1] != "node._dl"))
                        {
                            if (i == 13) { sClass = "btn-outline-indigo opacity-75"; }
                            else if (i == 14) { sClass = "btn-outline-indigo opacity-75"; }
                            else { sClass = "btn-default"; }
                            <button class="btn @sClass d-flex justify-content-between@(i == 6 ? "" : " mt-1") py-1" data-toggle="tooltip" data-placement="bottom" title="@ViewBag.Box[i, 6]" data-box="@ViewBag.Box[i, 1]" data-location="@ViewBag.Box[i, 4]">
                                <span class="text-truncate">@ViewBag.Box[i, 6]</span><span class="z-lm-cnt"></span>
                            </button>}
                    }
                </div>
            </div>*@
        </div>
    }

</div>
