@using System.Data;
@using System.Text;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@using ZumNet.Framework.Util;
@{
    string sSelected = "";
}
@functions{
    private string RenderACl(JArray info)
    {
        StringBuilder sb = new StringBuilder();

        if (info.Count > 0)
        {
            string sType = "";
            foreach (JToken j in info)
            {
                if (j["tgttype"].ToString() == "DN") sType = "전사";
                else if (j["tgttype"].ToString() == "GR") sType = "부서";
                else if (j["tgttype"].ToString() == "UR") sType = "사용자";
                else sType = "";

                sb.AppendFormat("<a href=\"javascript:void(0)\" onclick=\"_zw.fn.selectAcl();\" class=\"list-group-item list-group-item-action py-1 d-flex\" data-for=\"{0}.{1}\" acl=\"{2}\">"
            , j["tgttype"].ToString(), j["tgtid"].ToString(), j["acl"].ToString());
                sb.AppendFormat("<span class=\"wd-65 wd-lg-65 wd-xl-65 text-nowrap\">{0}</span>", j["tgtname"].ToString());
                sb.AppendFormat("<span class=\"wd-35 wd-lg-35 wd-xl-35 text-nowrap\">{0}</span>", sType);
                sb.Append("</a>");
            }
        }
        else
        {
            sb.AppendFormat("<a href=\"javascript:void(0)\" onclick=\"_zw.fn.selectAcl();\" class=\"list-group-item list-group-item-action py-1 d-flex\" data-for=\"DN.{0}\" acl=\"_____V\">", Session["DNID"].ToString());
            sb.Append("<span class=\"wd-65 wd-lg-65 wd-xl-65 text-nowrap\">크레신</span>");
            sb.Append("<span class=\"wd-35 wd-lg-35 wd-xl-35 text-nowrap\">전사</span>");
            sb.Append("</a>");

        }
        return sb.ToString();
    }
}
<!-- Header -->
<div class="flex-grow-0">
    <div class="zf-menu d-flex justify-content-between container-p-x m-0 @(ViewBag.R.wnd.ToString() == "" ? "mt-1 pt-3" : "py-2")" style="@(ViewBag.R.wnd.ToString() == "" ? "padding-bottom: .65rem !important" : "")">
        <div class="d-flex align-items-center font-weight-bold">
            @if (ViewBag.R.wnd.ToString() == "")
            {
                <div class="h5 mb-0">
                    <a href="javascript:void(0)" class="messages-sidebox-toggler d-none d-md-block d-lg-none align-self-center px-2 mr-3" data-toggle="modal" data-target=".messages-sidebox"><i class="fe-more-vertical"></i></a>
                </div>
            }

            <div class="btn-group">
                <button class="btn btn-default font-weight-bold" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.Register" onclick="_zw.mu.registerMsg('edit');"><i class="fas fa-arrow-right text-primary"></i><span class="d-none d-sm-inline-block ml-1">@Resources.Global.Register</span></button>
                @*<button class="btn btn-default font-weight-bold" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.Preview" onclick="_zw.mu.previewMsg();"><i class="fe-printer"></i><span class="d-none d-sm-inline-block ml-1">@Resources.Global.Preview</span></button>
                    <button class="btn btn-default font-weight-bold" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.TempSave" onclick="_zw.mu.saveMsg();"><i class="fe-save"></i><span class="d-none d-sm-inline-block ml-1">@Resources.Global.TempSave</span></button>*@
            </div>
        </div>
        <div>
            <div class="btn-group">
                @*<button class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.EditorExpand" data-zf-menu="toggleEditor" aria-expanded="false"><i class="fe-arrow-up"></i></button>*@
                <button class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.Cancel" onclick="_zw.mu.cancelMsg();"><i class="fe-log-out"></i></button>
            </div>
        </div>
    </div>
</div>
<!-- / Header -->

<div class="flex-grow-1@(ViewBag.R.wnd.ToString() == "" ? " position-relative" : "")" style="border-top: 2px solid #eee">
    <div class="z-list-scroll" style="@(ViewBag.R.wnd.ToString() == "" ? "" : "top: 48px")">
        <div class="container-p-x mt-2">
            <div class="" id="_doc_Info">
                <div class="form-group row mb-1">
                    <div class="col-form-label col-sm-2 pr-sm-0">
                        <span>@Resources.Global.Document @Resources.Global.Classification</span>
                        <button class="zf-btn-sm btn btn-default float-right" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.Select" data-zf-menu="openClassWnd"><i class="fe-search"></i></button>
                    </div>
                    <div class="col-sm-10">
                        <input type="text" data-for="SelectedFolderPath" class="form-control" placeholder="@Resources.Global.Document @Resources.Global.Classification" readonly value="@(ViewBag.SiteMap != null && ViewBag.SiteMap.ToString() != "" ? ViewBag.R.ttl : "")">
                        <input type="hidden" data-for="SelectedFolder" value="@ViewBag.R.fdid" />
                        <input type="hidden" data-for="SelectedXFAlias" value="@ViewBag.R.xfalias" />
                    </div>
                </div>

                <div class="form-group row mb-1">
                    <div class="col-form-label col-sm-2">문서등급</div>
                    <div class="col-sm-4">
                        <select class="custom-select" id="ddlDocLevel">
                            @foreach (DataRow dr in ViewBag.DocLevel)
                            {
                                if (dr["IsDefault"].ToString() == "Y")
                                {
                                    sSelected = " selected";
                                }
                                else
                                {
                                    sSelected = "";
                                }
                                <option value="@dr["DocLevel"]" @sSelected>@dr["DisplayName"]</option>
                            }
                        </select>
                    </div>
                    <div class="col-form-label col-sm-2">보존년한</div>
                    <div class="col-sm-4">
                        <select class="custom-select" id="ddlKeepYear">
                            @foreach (DataRow dr in ViewBag.KeepYear)
                            {
                                if (dr["IsDefault"].ToString() == "Y")
                                {
                                    sSelected = " selected";
                                }
                                else
                                {
                                    sSelected = "";
                                }
                                <option value="@dr["KeepYear"]" @sSelected>@dr["DisplayName"]</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group row mb-1">
                    <div class="col-form-label col-sm-2">@Resources.Global.Subject</div>
                    <div class="col-sm-10">
                        <input type="text" id="txtSubject" class="form-control" placeholder="@Resources.Global.Subject" value="@ViewBag.R.app["subject"]">
                    </div>
                </div>

                <div class="form-group row mb-1">
                    <div class="col-form-label col-sm-2">@Resources.Global.Writer</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" readonly value="@(ViewBag.R.app["creur"].ToString() + " / " + ViewBag.R.app["credept"].ToString() + " / " + @ZumNet.Web.Bc.CommonUtils.LvDate(ViewBag.R.app["docdate"].ToString(), true))">
                    </div>
                </div>

                <div class="form-group row mb-1">
                    <div class="col-form-label col-sm-2">
                        <span>파일</span>
                    </div>
                    <div class="col-sm-10">
                        <div class="zf-uploader" id="__DextUpload"></div>
                    </div>
                </div>

                <hr class="my-2" />

                <div class="form-group row mb-1">
                    <div class="col-form-label col-sm-2">개정번호</div>
                    <div class="col-sm-4">
                        <input type="text" id="txtKeyword1" class="form-control" placeholder="개정번호" value="@ViewBag.R.app["rsvd1"]">
                    </div>
                    <div class="col-form-label col-sm-2">키워드</div>
                    <div class="col-sm-4">
                        <input type="text" id="txtKeyword2" class="form-control" placeholder="키워드" value="@ViewBag.R.app["rsvd2"]">
                    </div>
                </div>

                <div class="form-group row mb-1">
                    <div class="col-form-label col-sm-2">설명</div>
                    <div class="col-sm-10">
                        <textarea id="txtBody" class="form-control" rows="4" placeholder="설명">@ViewBag.R.app["body"]</textarea>
                    </div>
                </div>
            </div>

            <div id="_doc_acl" class="">
                <div class="form-group row mb-1">
                    <div class="col-form-label col-sm-2">보안</div>
                    <div class="col-sm-10 pt-2">
                        <label class="custom-control custom-checkbox mb-0">
                            <input type="checkbox" class="custom-control-input" data-for="acl"@(ViewBag.R.app["inherited"].ToString() == "Y" ? "" : " checked") />
                            <span class="custom-control-label">보안 설정 (기본 보안 수준은 분류 보안을 따릅니다.) </span>
                        </label>
                    </div>
                </div>
                <div class="p-2 border@(ViewBag.R.app["inherited"].ToString() == "Y" ? " d-none" : "")">
                    <div class="row">
                        <div class="col-8">
                            <div class="card p-2">
                                <div class="card-header bg-light py-1 px-2">
                                    <div class="d-flex align-items-center">
                                        <div class="wd-65 wd-lg-65 wd-xl-65 text-nowrap px-2">성명 / 부서명</div>
                                        <div class="wd-35 wd-lg-35 wd-xl-35 text-nowrap">구분</div>
                                    </div>
                                </div>
                                <div class="card-body px-0 py-1" style="height: 240px; overflow: auto">
                                    <div class="list-group list-group-flush">
                                        @Html.Raw(RenderACl(ViewBag.R.app["acllist"]))
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer justify-content-center">
                                <button class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.OrganChart" onclick="_zw.fn.org('all', 'y', this)">@Resources.Global.OrganChart</button>
                                <button class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.Delete" data-zm-menu="delete">@Resources.Global.Delete</button>
                            </div>
                        </div>
                        <div class="col-4 pt-2">
                            <h6>문서에 대한 권한 설정</h6>
                            <ul class="nav flex-column ml-3">
                                <li class="nav-item my-1">
                                    <label class="custom-control custom-checkbox mb-0">
                                        <input type="checkbox" class="custom-control-input" value="V" aria-controls="acl" />
                                        <span class="custom-control-label">보기</span>
                                    </label>
                                </li>
                                <li class="nav-item my-1">
                                    <label class="custom-control custom-checkbox mb-0">
                                        <input type="checkbox" class="custom-control-input" value="R" aria-controls="acl" />
                                        <span class="custom-control-label">읽기</span>
                                    </label>
                                </li>
                                <li class="nav-item my-1">
                                    <label class="custom-control custom-checkbox mb-0">
                                        <input type="checkbox" class="custom-control-input" value="E" aria-controls="acl" />
                                        <span class="custom-control-label">수정</span>
                                    </label>
                                </li>
                                <li class="nav-item my-1">
                                    <label class="custom-control custom-checkbox mb-0">
                                        <input type="checkbox" class="custom-control-input" value="D" aria-controls="acl" />
                                        <span class="custom-control-label">삭제</span>
                                    </label>
                                </li>
                                <li class="nav-item my-1">
                                    <label class="custom-control custom-checkbox mb-0">
                                        <input type="checkbox" class="custom-control-input" value="S" aria-controls="acl" />
                                        <span class="custom-control-label">보안</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
