@using System.Data;
@using System.Text;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@using ZumNet.Framework.Util;
@{
    bool bOwner = ViewBag.R.app["creurid"].ToString() == Session["URID"].ToString() ? true : false;
    bool bDeletable = true;
    bool bDetail = false;

    foreach (var j in ViewBag.R.app.attachlist)
    {
        if (j["islocked"].ToString() == "Y") //반출 중인 경우 삭제 불가
        {
            bDeletable = false; break;
        }
    }
}
@functions{
    private string ShowFileMenu(JToken info)
    {
        StringBuilder sb = new StringBuilder();

        if (info["islocked"].ToString() == "Y")
        {
            sb.Append("<button type=\"button\" class=\"btn btn-lg btn-outline-default borderless p-1\" style=\"line-height: 1px\">");
            sb.Append("<span class=\"fas fa-cloud-download-alt\"></span>");
            sb.Append("</button>");

            if (info["courid"].ToString() == ViewBag.R.current["urid"].ToString()) //반출 사용자만 반입 가능
            {
                sb.AppendFormat("<button type=\"button\" class=\"btn btn-lg btn-outline-success borderless p-1\" style=\"line-height: 1px\" data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"반입\" onclick=\"_zw.mu.checkIn({0})\">", info["attachid"].ToString());
                sb.Append("<span class=\"fas fa-cloud-upload-alt\"></span>");
                sb.Append("</button>");
            }
            else
            {
                sb.Append("<button type=\"button\" class=\"btn btn-lg btn-outline-default borderless p-1\" style=\"line-height: 1px\">");
                sb.Append("<span class=\"fas fa-cloud-upload-alt\"></span>");
                sb.Append("</button>");
            }
        }
        else
        {
            sb.AppendFormat("<button type=\"button\" class=\"btn btn-lg btn-outline-success borderless p-1\" style=\"line-height: 1px\" data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"반출\" onclick=\"_zw.mu.checkOut({0})\">", info["attachid"].ToString());
            sb.Append("<span class=\"fas fa-cloud-download-alt\"></span>");
            sb.Append("</button>");
            sb.Append("<button type=\"button\" class=\"btn btn-lg btn-outline-default borderless p-1\" style=\"line-height: 1px\">");
            sb.Append("<span class=\"fas fa-cloud-upload-alt\"></span>");
            sb.Append("</button>");
        }

        //sb.AppendFormat("<button type=\"button\" class=\"btn btn-lg btn-outline-info borderless p-1\" style=\"line-height: 1px\" data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"버전정보\" onclick=\"_zw.mu.showFileVer({0})\">", info["attachid"].ToString());
        //sb.Append("<span class=\"fas fa-info-circle\"></span>");
        //sb.Append("</button>");
        sb.AppendFormat("<button type=\"button\" class=\"btn btn-lg btn-outline-info borderless p-1\" style=\"line-height: 1px\" data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"버전정보\" aria-controls=\"vw-toggle-{0}\" onclick=\"_zw.mu.showFileVer('card', {0})\">", info["attachid"].ToString());
        sb.Append("<i class=\"fas fa-arrow-circle-down\"></i>");
        sb.Append("</button>");

        return sb.ToString();
    }

    private string RenderFile()
    {
        StringBuilder sb = new StringBuilder();

        sb.Append("<div class=\"zf-upload w-100\">");
        sb.Append("<div class=\"zf-upload-select d-flex align-items-center\">");

        sb.Append("<form id=\"uploadForm\" name=\"uploadForm\" action=\"/Common/Upload\" method=\"post\" enctype=\"multipart/form-data\" target=\"ifrView\">");
        sb.Append("<div class=\"custom-file\">");
        sb.Append("<input type=\"file\" class=\"custom-file-input\" id=\"file1\" name=\"file1\" />");
        sb.Append("<input name=\"completed\" type=\"hidden\" value=\"parent._zw.fu.complete\" />");
        sb.Append("<label class=\"custom-file-label\" for=\"customFile\">파일 선택</label>");
        sb.Append("</div>"); //custom-file
        sb.Append("</form>");

        sb.Append("<div class=\"d-none\" data-help=\"file\">");
        sb.Append("<div data-for=\"name\"></div>");
        sb.Append("</div>"); //data-help

        sb.Append("</div>"); //zf-upload-select

        sb.Append("<div class=\"zf-upload-bar mt-1 d-none\">");
        sb.Append("<button class=\"btn btn-sm btn-primary px-5\" type=\"button\" disabled=\"\">");
        sb.Append("<span class=\"spinner-border spinner-border-sm\" role=\"status\" aria-hidden=\"true\"></span>");
        sb.Append("<span class=\"ml-2\">uploading...</span>");
        sb.Append("</button>");
        sb.Append("</div>"); //zf-upload-bar

        sb.Append("<div class=\"zf-upload-list border rounded mt-1 px-2 pt-2 pb-0 d-none\">");

        var jArr = new JArray();
        sb.AppendFormat("<textarea id=\"__FILEINFO\" style=\"display:none\">{0}</textarea>", JsonConvert.SerializeObject(jArr));
        sb.Append("</div>");
        sb.Append("</div>"); //zf-upload

        return sb.ToString();
    }

    private string RenderACl(JArray info)
    {
        StringBuilder sb = new StringBuilder();

        if (info.Count > 0)
        {
            string sType = "";
            foreach(JToken j in info)
            {
                if (j["tgttype"].ToString() == "DN") sType = "전사";
                else if (j["tgttype"].ToString() == "GR") sType = "부서";
                else if (j["tgttype"].ToString() == "UR") sType = "사용자";
                else sType = "";

                sb.AppendFormat("<a href=\"javascript:void(0)\" onclick=\"_zw.fn.selectAcl();\" class=\"list-group-item list-group-item-action py-1 d-flex\" data-for=\"{0}.{1}\" acl=\"{2}\">"
            , j["tgttype"].ToString(), j["tgtid"].ToString(), j["acl"].ToString());
                sb.AppendFormat("<span class=\"wd-65 wd-lg-65 wd-xl-65 text-nowrap\">{0}</span>", j["tgtname"].ToString());
                sb.AppendFormat("<span class=\"wd-35 wd-lg-35 wd-xl-35 text-nowrap\">{0}</span>", sType);
                sb.Append("</a>");
            }
        }
        else
        {
            sb.AppendFormat("<a href=\"javascript:void(0)\" onclick=\"_zw.fn.selectAcl();\" class=\"list-group-item list-group-item-action py-1 d-flex\" data-for=\"DN.{0}\" acl=\"_____V\">", Session["DNID"].ToString());
            sb.Append("<span class=\"wd-65 wd-lg-65 wd-xl-65 text-nowrap\">크레신</span>");
            sb.Append("<span class=\"wd-35 wd-lg-35 wd-xl-35 text-nowrap\">전사</span>");
            sb.Append("</a>");

        }
        return sb.ToString();
    }
}
<!-- Header -->
<div class="flex-grow-0">
    <div class="zf-menu d-flex justify-content-between container-p-x m-0 @(ViewBag.R.wnd.ToString() == "" ? "mt-1 pt-3" : "py-2")" style="@(ViewBag.R.wnd.ToString() == "" ? "padding-bottom: .65rem !important" : "")">
        <div class="d-flex align-items-center font-weight-bold">
            @if (ViewBag.R.wnd.ToString() == "")
            {
                <div class="h5 mb-0">
                    <a href="javascript:void(0)" class="messages-sidebox-toggler d-none d-md-block d-lg-none align-self-center px-2 mr-3" data-toggle="modal" data-target=".messages-sidebox"><i class="fe-more-vertical"></i></a>
                </div>
            }

            <div class="btn-group">
                <button class="btn btn-default font-weight-bold" onclick="_zw.mu.readMsg('reload');" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.Refresh"><i class="fe-refresh-cw"></i><span class="d-none d-sm-inline-block ml-1">@Resources.Global.Refresh</span></button>
                @if (ViewBag.R.current["operator"].ToString() == "Y" || ZumNet.Framework.Util.StringHelper.HasAcl(ViewBag.R.current["acl"].ToString(), "W"))
                {
                    @*<button class="btn btn-default font-weight-bold" onclick="_zw.mu.writeMsg('@ViewBag.R.xfalias');" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.New"><i class="fe-edit-2"></i><span class="d-none d-sm-inline-block ml-1">@Resources.Global.New</span></button>*@
                }
                @if (ViewBag.R.current["operator"].ToString() == "Y" || ZumNet.Framework.Util.StringHelper.HasAcl(ViewBag.R.current["appacl"].ToString(), "E") || bOwner)
                {
                    <button class="btn btn-default font-weight-bold" onclick="_zw.mu.editMsg('@ViewBag.R.xfalias');" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.Modify"><i class="far fa-edit text-primary"></i><span class="d-none d-sm-inline-block ml-1">@Resources.Global.Modify</span></button>
                }
                @if (bDeletable && (ViewBag.R.current["operator"].ToString() == "Y" || ZumNet.Framework.Util.StringHelper.HasAcl(ViewBag.R.current["appacl"].ToString(), "D") || bOwner))
                {
                    <button class="btn btn-default font-weight-bold" onclick="_zw.mu.deleteMsg();" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.Delete"><i class="fe-trash-2"></i><span class="d-none d-sm-inline-block ml-1">@Resources.Global.Delete</span></button>
                }
            </div>
        </div>
        <div>
            @if (ViewBag.R.wnd.ToString() == "")
            {
                <div class="btn-group">
                    <button class="btn btn-default" onclick="_zw.mu.goList();" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.List"><i class="fas fa-list"></i><span class="d-none d-sm-inline-block ml-1">@Resources.Global.List</span></button>
                    <button class="btn btn-default" onclick="_zw.mu.readMsg('prev');" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.Previous"><i class="fas fa-chevron-left"></i></button>
                    <button class="btn btn-default" onclick="_zw.mu.readMsg('next');" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.Next"><i class="fas fa-chevron-right"></i></button>
                </div>
            }
            @if (ViewBag.R.wnd.ToString() != "")
            {
                <div class="btn-group">
                    <button class="btn btn-default" onclick="window.close();" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.Close"><i class="fe-log-out"></i></button>
                </div>
            }
        </div>
    </div>
</div>
<!-- / Header -->

<div class="flex-grow-1@(ViewBag.R.wnd.ToString() == "" ? " position-relative" : "")" style="border-top: 2px solid #eee">
    <div class="z-list-scroll" style="@(ViewBag.R.wnd.ToString() == "" ? "" : "top: 48px")">
        <div class="pb-3 border-bottom">
            <div class="d-block d-sm-none container-p-x mt-3">
                <div class="mb-2 text-muted">@Html.Raw(ViewBag.SiteMap)</div>
                <h5 class="mb-0">@ViewBag.R.app["subject"]</h5>
            </div>
            <div class="d-none d-sm-flex justify-content-between container-p-x mt-3 mt-2">
                <h5 class="mb-0">@ViewBag.R.app["subject"]</h5>
                <div class="text-muted">@Html.Raw(ViewBag.SiteMap)</div>
            </div>
            <div class="d-flex justify-content-between container-p-x mt-2">
                <div class="">@ViewBag.R.app["creur"] / @ViewBag.R.app["credept"] / @ZumNet.Web.Bc.CommonUtils.LvDate(ViewBag.R.app["docdate"].ToString(), true)</div>
                <div class="text-nowrap">
                    <span class="d-inline-block mr-2 text-info" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.ViewCount"><i class="fe-eye"></i> @ViewBag.R.app["viewcount"]</span>
                    @if (bDetail)
                    {
                        <span class="d-inline-block text-danger" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.CommentCount"><i class="far fa-comment-dots"></i> @ViewBag.R.app["cmntcount"]</span>
                    }
                </div>
            </div>
        </div>

        @if (Convert.ToInt32(ViewBag.R.app["attachcount"]) > 0)
        {
            <div class="container-p-x pt-3 mb-3">
                <h6 class="mb-2">
                    <i class="fas fa-paperclip"></i> 파일정보
                    @if (Convert.ToInt32(ViewBag.R.app["attachcount"]) > 1)
                    {
                        <span class="text-danger ml-1">@ViewBag.R.app["attachcount"]</span><span class="text-muted ml-1">@ViewBag.R.app["attachsize"]</span>
                    }
                </h6>
                <div class="zf-attach">
                    @if (ZumNet.Framework.Util.StringHelper.HasAcl(ViewBag.R.current["appacl"].ToString(), "R"))
                    {
                        @*<div class="zf-uploader" id="__DextUpload"></div>*@
                        foreach (var j in ViewBag.R.app.attachlist)
                        {
                            <div class="border px-2 pt-2 pb-1 mr-1">
                                <div class="d-flex align-items-center">
                                    <div class="mr-2">
                                        <i class="@ZumNet.Web.Bc.CommonUtils.GetFileExt(j["ext"].ToString())"></i>
                                    </div>
                                    <div class=""><a href="/Common/Download?fn=@Server.UrlEncode(SecurityHelper.ToBase64(j["filename"].ToString()))&fp=@Server.UrlEncode(SecurityHelper.ToBase64("\\" + j["filepath"].ToString() + "\\" + j["savedname"].ToString()))" target="_blank">@j["filename"]</a></div>
                                    <div class="ml-2 text-muted">@ZumNet.Web.Bc.CommonUtils.StrFileSize(j["size"].ToString())</div>
                                    @if (ViewBag.R.app["rsvd1"].ToString() == "" && ViewBag.R.app["rsvd2"].ToString() == "") //이관문서 X
                                    {
                                        if (ViewBag.R.current["operator"].ToString() == "Y" || ZumNet.Framework.Util.StringHelper.HasAcl(ViewBag.R.current["appacl"].ToString(), "E") || bOwner)
                                        {
                                            <div class="ml-2 d-flex">
                                                @Html.Raw(ShowFileMenu(j))
                                            </div>
                                        }
                                    }
                                </div>
                                @if (j["islocked"].ToString() == "Y")
                                {
                                    <div class="d-flex align-items-center">
                                        <div class="ml-3 pl-1 text-danger"> * 반출 : <a href="javascript:void(0)" class="z-lnk-navy-n" onclick="_zw.fn.viewUserSimpleInfo(@j["courid"].ToString())">@j["cour"].ToString() (@j["codate"].ToString())</a></div>
                                        <div class="ml-3 text-danger">반입예정 : @j["ciexpdate"].ToString()</div>
                                    </div>
                                }
                                else
                                {
                                    <div class="d-none"></div>
                                }
                                <div class="d-none" data-controls="vw-toggle-@j["attachid"]"></div>
                        </div>
                            }
                        }
                        else
                        {
                            foreach (var j in ViewBag.R.app.attachlist)
                            {
                                <div class="d-flex align-items-center border px-2 pt-2 pb-1 mr-1">
                                    <div class="mr-2">
                                        <i class="@ZumNet.Web.Bc.CommonUtils.GetFileExt(j["ext"].ToString())"></i>
                                    </div>
                                    @*<div class=""><a href="/Common/Download?fn=@Server.UrlEncode(SecurityHelper.ToBase64(j["filename"].ToString()))&fp=@Server.UrlEncode(SecurityHelper.ToBase64("\\" + j["filepath"].ToString() + "\\" + j["savedname"].ToString()))" target="_blank">@j["filename"]</a></div>*@
                                    <div class=""><a href="javascript:void(0)" onclick="bootbox.alert('읽기 권한이 없습니다!')">@j["filename"]</a></div>
                                    <div class="ml-2 text-muted">@ZumNet.Web.Bc.CommonUtils.StrFileSize(j["size"].ToString())</div>
                                </div>
                            }
                        }
                </div>
                </div>
        }

    <div class="container-p-x mb-3">
        @*<div class="form-group row mb-1">
            <div class="col-form-label col-sm-2">문서등급</div>
            <div class="col-sm-4 pt-2"></div>
            <div class="col-form-label col-sm-2">보존년한</div>
            <div class="col-sm-4 pt-2"></div>
        </div>*@

        <div class="form-group row mb-1">
            <div class="col-form-label col-sm-2">개정번호</div>
            <div class="col-sm-4 pt-2">@ViewBag.R.app["rsvd1"]</div>
            <div class="col-form-label col-sm-2">키워드</div>
            <div class="col-sm-4 pt-2">@ViewBag.R.app["rsvd2"]</div>
        </div>

        <div class="form-group row mb-1">
            <div class="col-form-label col-sm-2">설명</div>
            <div class="col-sm-10 pt-2">@Html.Raw(StringHelper.ReplaceReply(ViewBag.R.app["body"].ToString()))</div>
        </div>        
    </div>  
        
    <div class="container-p-x py-3">
        <div id="_doc_acl" class="">
            <div class="form-group row mb-1">
                <div class="col-form-label col-sm-2"><i class="fas fa-user-lock"></i> 보안</div>
                <div class="col-sm-10 pt-2">
                    <label class="custom-control custom-checkbox mb-0">
                        <input type="checkbox" class="custom-control-input" disabled data-for="acl" @(ViewBag.R.app["inherited"].ToString() == "Y" ? " checked" : "") ) />
                        <span class="custom-control-label">상위 폴더에서 권한 상속 받음</span>
                    </label>
                </div>
            </div>
            <div class="">
                <div class="row">
                    <div class="col-8">
                        <div class="card p-2">
                            <div class="card-header bg-light py-1 px-2">
                                <div class="d-flex align-items-center">
                                    <div class="wd-65 wd-lg-65 wd-xl-65 text-nowrap px-2">성명 / 부서명</div>
                                    <div class="wd-35 wd-lg-35 wd-xl-35 text-nowrap">구분</div>
                                </div>
                            </div>
                            <div class="card-body px-0 py-1" style="height: 200px; overflow: auto">
                                <div class="list-group list-group-flush">
                                    @Html.Raw(RenderACl(ViewBag.R.app["acllist"]))
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 pt-2">
                        <h6>문서에 대한 권한 설정</h6>
                        <ul class="nav flex-column ml-3">
                            <li class="nav-item my-1">
                                <label class="custom-control custom-checkbox mb-0">
                                    <input type="checkbox" class="custom-control-input" value="V" aria-controls="acl" />
                                    <span class="custom-control-label">보기</span>
                                </label>
                            </li>
                            <li class="nav-item my-1">
                                <label class="custom-control custom-checkbox mb-0">
                                    <input type="checkbox" class="custom-control-input" value="R" aria-controls="acl" />
                                    <span class="custom-control-label">읽기</span>
                                </label>
                            </li>
                            <li class="nav-item my-1">
                                <label class="custom-control custom-checkbox mb-0">
                                    <input type="checkbox" class="custom-control-input" value="E" aria-controls="acl" />
                                    <span class="custom-control-label">수정</span>
                                </label>
                            </li>
                            <li class="nav-item my-1">
                                <label class="custom-control custom-checkbox mb-0">
                                    <input type="checkbox" class="custom-control-input" value="D" aria-controls="acl" />
                                    <span class="custom-control-label">삭제</span>
                                </label>
                            </li>
                            <li class="nav-item my-1">
                                <label class="custom-control custom-checkbox mb-0">
                                    <input type="checkbox" class="custom-control-input" value="S" aria-controls="acl" />
                                    <span class="custom-control-label">보안</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

        @if (bDetail)
        {
            if (Convert.ToInt32(ViewBag.R.app["replycount"]) > 1)
            {
                <div class="border-top container-p-x py-3">
                    <h6 class="mb-2"><i class="fas fa-reply"></i> @Resources.Global.ReplyWrite @Resources.Global.List</h6>
                    <ul class="list-group messages-list">
                        @foreach (var j in ViewBag.R.app.replylist)
                        {
                            <li class="list-group-item list-group-item-action d-flex align-items-center@(j["msgid"].ToString() == ViewBag.R["appid"].ToString() ? " bg-light" : "")" xf="" appid="@j["msgid"]" acl="" auth="">
                                <div class="wd-99 flex-fill text-truncate d-flex align-items-center">
                                    @if (Convert.ToInt32(j["depth"]) > 0)
                                    {
                                        for (int k = 1; k < Convert.ToInt32(j["depth"]); k++)
                                        {
                                            <span class="px-1"></span>
                                        }
                                        <i class="fe-corner-down-right text-big text-warning font-weight-bold mx-1"></i>
                                    }
                                    <a class="text-truncate" href="javascript:void(0)" onclick="_zw.mu.readMsg();">@j["subject"].ToString()</a>
                                </div>
                                <div class="w-100 d-sm-none py-0"></div>

                                <div class="wd-99 wd-lg-34 wd-xl-32 d-flex">
                                    @if (Convert.ToInt32(j["depth"]) > 0)
                                    {
                                        <div class="d-sm-none">
                                            <span class="d-inline-block">&nbsp;&nbsp;&nbsp;</span>
                                            @for (int k = 0; k < Convert.ToInt32(j["depth"]); k++)
                                            {
                                                <span class="d-inline-block">&nbsp;</span>
                                            }
                                        </div>
                                    }
                                    <div class="wd-20 wd-lg-35 wd-xl-35 t-sm text-sm-center pr-2">
                                        <span class="">@j["displayname"]</span>
                                    </div>

                                    <div class="wd-20 wd-lg-35 wd-xl-30 t-sm text-sm-center pr-2">
                                        <span class="">@ZumNet.Web.Bc.CommonUtils.LvDate(j["credate"].ToString())</span>
                                    </div>

                                    <div class="text-right text-pink flex-fill pr-1">
                                        <span class="">@j["viewcount"]</span>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            }
            @Html.Partial("~/Views/Common/_ListComment.cshtml")
        }
    </div>
</div>
<script type="text/template" class="zf-checkout-template">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">반출 정보</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body py-2">
                <div class="form-group row mb-1">
                    <label class="col-4 col-form-label font-weight-bold">파일명</label>
                    <div class="col-8 input-group align-items-center" data-for="filename"></div>
                </div>
                <div class="form-group row mb-3">
                    <label class="col-4 col-form-label font-weight-bold">파일크기</label>
                    <div class="col-8 input-group align-items-center" data-for="filesize"></div>
                </div>
                <div class="form-group row mb-1">
                    <label class="col-4 col-form-label font-weight-bold">문서등급</label>
                    <div class="col-8 input-group align-items-center" data-for="doclevel"></div>
                </div>
                <div class="form-group row mb-3">
                    <label class="col-4 col-form-label font-weight-bold">보존년한</label>
                    <div class="col-8 input-group align-items-center" data-for="keepyear"></div>
                </div>
                <div class="form-group row mb-1">
                    <label class="col-4 col-form-label font-weight-bold">반출자</label>
                    <div class="col-8 input-group align-items-center">@Session["URName"]</div>
                </div>
                <div class="form-group row mb-2">
                    <label class="col-4 col-form-label font-weight-bold">반납예정일</label>
                    <div class="col-8 input-group align-items-center">
                        <input type="text" class="form-control datepicker mr-sm-2" value="" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-zm-menu="confirm">@Resources.Global.Confirm</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Global.Cancel</button>
            </div>
        </div>
    </div>
</script>
<script type="text/template" class="zf-checkin-template">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">원문 파일 반입 정보</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="mb-2">
                    <label class="custom-control custom-radio m-0 mr-3">
                        <input type="radio" class="custom-control-input" name="rdoState" id="rdo01" value="0" checked="" />
                        <span class="custom-control-label">원문 파일 수정하지 않음</span>
                    </label>
                </div>
                <div class="mb-3">
                    <label class="custom-control custom-radio m-0 mr-3">
                        <input type="radio" class="custom-control-input" name="rdoState" id="rdo02" value="1" />
                        <span class="custom-control-label">원문 파일 수정 반영</span>
                    </label>
                </div>
                <div class="form-group row mb-3">
                    <label class="col-3 col-form-label font-weight-bold">반입 파일</label>
                    <div class="col-9">
                        @Html.Raw(RenderFile())
                    </div>
                </div>
                <div class="">
                    <label class="custom-control custom-checkbox m-0 mr-3">
                        <input type="checkbox" class="custom-control-input" name="ckbNewVer" disabled />
                        <span class="custom-control-label">새 버전을 등록하고 수정 사항을 반영</span>
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-zm-menu="confirm">@Resources.Global.Confirm</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Global.Cancel</button>
            </div>
        </div>
    </div>
</script>
