@using System.Data;
@using System.Text;
@using System.Threading;
@using Newtonsoft.Json;

@{
    ViewBag.Title = ViewBag.R["ttl"];
    Layout = "~/Views/Shared/Layouts/_Layout2Flex.cshtml";

    string sCurrentLocale = Thread.CurrentThread.CurrentUICulture.Name;

    //int maxPage = ZumNet.Web.Bc.CommonUtils.IsMobile() ? 5 : 10;
    //int totalCount = Convert.ToInt32(ViewBag.R.lv.total.Value);
    //int pageCount = Convert.ToInt32(ViewBag.R.lv.count.Value);
    //int pageIndex = Convert.ToInt32(ViewBag.R.lv.page.Value);
    //int totalPage = totalCount / pageCount;

    //if (totalCount % pageCount > 0) { totalPage++; }
    //if (pageIndex > totalPage) { pageIndex = totalPage; }

    //string sPage = String.Format("{0} {1} {2} ({3} / {4} {5})", Resources.Global.Total, totalCount.ToString(), Resources.Global.Count, pageIndex.ToString(), totalPage.ToString(), Resources.Global.Page);
}

@section Styles {
    @Styles.Render("~/bundle/vendor/css/jstree/themes/default/style")
    @Styles.Render("~/bundle/vendor/css/bootstrap-datepicker/bootstrap-datepicker")
    @Styles.Render("~/bundle/vendor/css/pages/messages")
}

@section Scripts {
    @Scripts.Render("~/bundle/vendor/js/jstree/jstree")
    @Scripts.Render("~/bundle/vendor/js/bootstrap-datepicker/bootstrap-datepicker")
    @Scripts.Render("~/Scripts/Docs/List.js")

    @if (sCurrentLocale != "" && sCurrentLocale.Substring(0, 2) != "en")
    {
        <script src="/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.@(sCurrentLocale.Substring(0, 2)).js" charset="UTF-8"></script>
    }
    <script type="text/javascript">(function () {_zw.V = @Html.Raw(JsonConvert.SerializeObject(ViewBag.R))}());</script>
}

<!--
=================================================================
**************************** CONTENT ****************************
-->
<!-- `.messages-wrapper` fills all available space of container -->
<div class="messages-wrapper">

    <!-- sidebox -->
    <div class="messages-sidebox messages-scroll bg-body border-right">
        <div class="z-mobile-navbar"></div>

        <div class="py-3 px-4">
            <div class="media align-items-center">
                <div class="media-body">
                    <a id="__NewMessage" href="javascript:void(0)" class="btn btn-teal rounded-pill btn-block"><i class="fas fa-plus mr-2"></i>@Resources.Global.ComposeNew</a>
                </div>
                <a href="javascript:void(0)" class="messages-sidebox-toggler d-none text-muted text-large font-weight-light pl-4">&times;</a>
            </div>
            @*<div class="row mt-3">
                <div class="col-6 text-center px-0">
                    <a class="" href="/Board/Recent"><i class="mdi mdi-clock-check-outline"></i> @Resources.Global.RecentPosts</a>
                </div>
                <div class="col-6 text-center px-1">
                    <a class="" href="/Board/Save"><i class="mdi mdi-circle-edit-outline"></i> @Resources.Global.TempBox2</a>
                </div>

            </div>*@
        </div>

        <hr class="border-light mx-4 mt-0 mb-3">

        <!-- sidebox tree -->
        <div id="__FolderTree" class="px-3"></div>
        <!-- / sidebox tree -->
    </div>
    <!-- / sidebox -->
    <!-- content -->
    <div class="d-flex flex-column w-100">
        <!-- Header -->
        <div class="flex-grow-0">
            <div class="d-flex justify-content-between container-p-x pt-3 pb-2 m-0">
                <div class="d-flex align-items-center font-weight-bold">
                    <div class="h5 mb-0">
                        <a href="javascript:void(0)" class="messages-sidebox-toggler d-none d-md-block d-lg-none align-self-center px-2 mr-3" data-toggle="modal" data-target=".messages-sidebox"><i class="fe-more-vertical"></i></a>
                    </div>

                    <div class="h5 mb-0 z-ttl">
                        <i class="mdi mdi-file-table-box-multiple-outline"></i> &nbsp;<span>@ViewBag.Title</span>
                    </div>
                </div>
                <div class="d-flex align-items-center z-lv-page" id="__ListCount">
                    @Html.Partial("_ListCount")
                </div>

            </div>

            <hr class="border-light m-0 d-none">

            <div class="d-flex align-items-center container-p-x pb-2">
                <div class="z-lv-menu btn-group-sm">
                    <button class="btn btn-outline-secondary text-big" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.Refresh" data-zv-menu="refresh"><i class="fe-refresh-cw"></i></button>
                    @if (ViewBag.R.current["operator"].ToString() == "Y" || ZumNet.Framework.Util.StringHelper.HasAcl(ViewBag.R.current["acl"].ToString().Substring(0, 6), "W"))
                    {
                        <button class="btn btn-outline-primary text-big" data-toggle="tooltip" data-placement="bottom" title="@Resources.Global.ComposeNew" data-zv-menu="write"><i class="fe-edit-2"></i></button>
                    }
                </div>
                <div class="px-1 flex-grow-1"></div>
                <div class="d-flex z-lv-cond">
                    <div class="datepicker input-group input-daterange z-lv-date mr-1">
                        <input type="text" class="form-control start-date px-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text">~</span>
                        </div>
                        <input type="text" class="form-control end-date px-1">
                    </div>
                    <div class="input-group z-lv-search">
                        <select class="custom-select">
                            <option>@Resources.Global.Select...</option>
                            <option>@Resources.Global.Title</option>
                            <option>@Resources.Global.Writer</option>
                        </select>
                        <input type="text" class="form-control" placeholder="@Resources.Global.Search">
                        <span class="input-group-append">
                            <button class="btn btn-secondary" type="button"><i class="fe-search"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Header -->

        <div class="flex-grow-0 z-lv-hdr">
            <ul class="list-group d-none d-sm-block">
                <li class="list-group-item list-group-item-action d-flex align-items-center container-p-x" style="background-color: rgba(255, 217, 25, 0.2)">
                    <div class="d-none d-md-block wd-lg-6 wd-xl-4 text-center">
                        <span class="flex-fill">@Resources.Global.SeqNo</span>
                    </div>

                    <div class="wd-12 wd-lg-10 wd-xl-8 text-center text-truncate">
                        <span class="flex-fill">@Resources.Global.AccessRights</span>
                    </div>

                    <div class="flex-fill text-truncate text-center">
                        <a href="javascript:void(0)">@Resources.Global.Title</a>
                    </div>

                    <div class="d-none d-md-block wd-lg-15 wd-xl-15 pl-2">
                        <a href="javascript:void(0)">@Resources.Global.DocNumber</a>
                    </div>

                    <div class="wd-lg-32 wd-xl-32 d-flex">
                        <div class="d-none d-md-block wd-lg-35 wd-xl-35 text-center pr-2">
                            <a href="javascript:void(0)">@Resources.Global.WriteDept</a>
                        </div>
                        <div class="wd-md-40 wd-lg-25 wd-xl-25 text-center pr-2">
                            <a href="javascript:void(0)">@Resources.Global.Writer</a>
                        </div>

                        <div class="wd-md-40 wd-lg-23 wd-xl-25 text-center">
                            <a href="javascript:void(0)">@Resources.Global.Date_Created</a>
                        </div>

                        <div class="text-right text-pink flex-fill">
                            <span class="">@Resources.Global.ViewCount</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="flex-grow-1 position-relative">
            <!-- Remove `.messages-scroll` and add `.flex-grow-1` if you don't need scroll -->
            <div class="messages-content flex-grow-0 z-lv-item">
                <ul id="__ListView" class="list-group messages-list">
                    @Html.Partial("_ListView")
                </ul>
                <ul class="pagination pagination-sm justify-content-center pt-3 border-top" id="__ListPage">
                    @Html.Partial("_ListPagination")
                </ul>
            </div>
        </div>
    </div>
    <!-- / content -->

</div><!-- / .messages-wrapper -->
