@using System.Data;
@using System.Text;
@using System.Threading;
@using Newtonsoft.Json;

@{
    ViewBag.Title = Resources.Global.ComposeDoc;

    if (ViewBag.R.wnd.ToString() == "popup")
    {
        Layout = "~/Views/Shared/Layouts/_LayoutBlank.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/Layouts/_Layout2Flex.cshtml";
    }

    //첨부파일 임시 저장 폴더
    string sUploadPath = "/" + ZumNet.Framework.Configuration.Config.Read("UploadPath") + "/" + Session["LogonID"].ToString();
    ZumNet.Framework.Web.Utility.SetUploadFolder(sUploadPath);

    string sCurrentLocale = Thread.CurrentThread.CurrentUICulture.Name;
}

@section Styles {
    @Styles.Render("~/bundle/vendor/css/bootstrap-datepicker/bootstrap-datepicker")
    @if (ViewBag.R.wnd.ToString() == "")
    {
        @Styles.Render("~/bundle/vendor/css/jstree/themes/default/style")
        @Styles.Render("~/bundle/vendor/css/pages/messages")
    }
}

@section Scripts {
    @if (ViewBag.R.wnd.ToString() == "")
    {
        @Scripts.Render("~/bundle/vendor/js/jstree/jstree")
    }
    @Scripts.Render("~/bundle/vendor/js/bootstrap-datepicker/bootstrap-datepicker")
    @Scripts.Render("~/bundle/vendor/js/bootstrap-maxlength/bootstrap-maxlength")
    @Scripts.Render("~/bundle/vendor/js/vanilla-text-mask/vanilla-text-mask")
    @Scripts.Render("~/bundle/vendor/js/vanilla-text-mask/text-mask-addons")

    @Scripts.Render("~/Scripts/Docs/edm.js")

    @if (ViewBag.R.wnd.ToString() == "" && sCurrentLocale != "" && sCurrentLocale.Substring(0, 2) != "en")
    {
        <script src="/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.@(sCurrentLocale.Substring(0, 2)).js" charset="UTF-8"></script>
    }

    @Scripts.Render("~/External/dext5upload/js/dext5upload.js")

    <script type="text/javascript">
        $(function () {
            _zw.V = @Html.Raw(JsonConvert.SerializeObject(ViewBag.R));

            //editor, uploader
            if ($('#' + _zw.T.uploader.holder).length > 0) {
                DEXT5UPLOAD.config.ButtonBarEdit = 'add,remove,remove_all';

                DEXT5UPLOAD.config.UploadHolder = _zw.T.uploader.holder;
                DEXT5UPLOAD.config.Lang = _zw.T.uploader.lang;
                new Dext5Upload(_zw.T.uploader.id);
            }

            $('#_doc_acl :checkbox[data-for="acl"]').click(function () {
                if ($(this).prop('checked')) {
                    //$('#_doc_Info').addClass('d-none');
                    $('#_doc_acl > div:last()').removeClass('d-none');
                    $('#_doc_acl .modal-footer .btn[data-zm-menu!="delete"]').focus();
                } else {
                    //$('#_doc_Info').removeClass('d-none');
                    $('#_doc_acl > div:last()').addClass('d-none');
                }
            });

            $('#_doc_acl :checkbox[aria-controls="acl"]').click(function () {
                var selected = $('#_doc_acl .list-group-item-action.active[data-for]');
                var sAcl = selected.attr('acl');

                if ($(this).val() == 'V') sAcl = sAcl.substr(0, 5) + ($(this).prop('checked') ? 'V' : '_');
                else if ($(this).val() == 'R') sAcl = sAcl.substr(0, 3) + 'M' + ($(this).prop('checked') ? 'R' : '_') + sAcl.substr(5); //읽기권한 경우 M 추가
                else if ($(this).val() == 'E') sAcl = sAcl.substr(0, 2) + ($(this).prop('checked') ? 'E' : '_') + sAcl.substr(3);
                else if ($(this).val() == 'D') sAcl = sAcl.substr(0, 1) + ($(this).prop('checked') ? 'D' : '_') + sAcl.substr(2);
                else if ($(this).val() == 'S') sAcl = ($(this).prop('checked') ? 'S' : '_') + sAcl.substr(1);

                selected.attr('acl', sAcl); //console.log(selected.attr('acl'));
            });

            $('#_doc_acl .modal-footer .btn[data-zm-menu="delete"]').click(function () {
                var selected = $('#_doc_acl .list-group-item-action.active[data-for]');
                var vId = selected.attr('data-for').split('.');
                if (vId[0] == 'DN') bootbox.alert('삭제 할 수 없는 항목입니다!');
                else selected.remove();
            });
        });
    </script>
}

@if (ViewBag.R.wnd.ToString() == "popup")
{
    <div class="" id="__FormView">
        @Html.Partial("_Write")
    </div>
}
else
{
    <!--
    =================================================================
    **************************** CONTENT ****************************
    -->
    <!-- `.messages-wrapper` fills all available space of container -->
    <div class="messages-wrapper">

        <!-- sidebox -->
        @Html.Partial("~/Views/Common/_LeftMenu.cshtml")
        <!-- / sidebox -->
        <!-- content -->
        <div class="d-flex flex-column w-100" id="__FormView">
            @Html.Partial("_Write")
        </div>
        <!-- / content -->

    </div><!-- / .messages-wrapper -->
}

<script type="text/template" class="zf-acl-template">
    <a href="javascript:void(0)" onclick="_zw.fn.selectAcl();" class="list-group-item list-group-item-action py-1 d-flex" data-for="{$id}" acl="_____V">
        <span class="wd-65 wd-lg-65 wd-xl-65 text-nowrap">{$dn}</span>
        <span class="wd-35 wd-lg-35 wd-xl-35 text-nowrap">{$type}</span>
    </a>
</script>

